<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns="http://www.w3.org/1999/xhtml"
	  lang="en">
<head>
	<title>Partials: CsView/SelectorGrid</title>
</head>
<body>
<f:section name="Main">
	<div class="row row-downloads" data-ng-cloak>

		<div data-ng-repeat="result in results" class="col-md-6">
			<article data-equal-heights-after-repeat=".row-downloads article">
				<span class="mark fa" data-ng-class="'fileico-'+result._source.extension"></span>
				<div class="media">
					<div class="media-left" data-ng-show="showThumbnails">
						<img data-ng-src="{{result._source.thumbnail}}" />
					</div>
					<div class="media-body">
						<span class="cat">{{getFieldValue('maingroup', result)}}</span>

						<h3>{{result._source.title}}</h3>
						<h4>{{getFieldValue('mediatype', result)}}</h4>

						<div class="row">
							<div class="col-xs-9">
								<select data-ng-model="result.selectedDownload" data-ng-init="result.selectedDownload = '{v:l(id: 'general.downloadcenter.selectLanguage')}'" class="form-control form-country selectpicker" name="language" id="language">
									<option disabled selected><v:l id="general.downloadcenter.selectLanguage"></v:l></option>
									<option data-ng-repeat="download in result._source.downloads" value="{{download.url}}">{{download.lang|uppercase}}</option>
								</select>
							</div>
							<div class="col-xs-3">
                                <span class="btn btn-primary btn-download disabled" data-ng-if="(result.selectedDownload == '{v:l(id: "general.downloadcenter.selectLanguage")}')"><span class="fa fa-download"></span></span>
								<a target="_blank" class="btn btn-primary btn-download" data-ng-if="!(result.selectedDownload == '{v:l(id: "general.downloadcenter.selectLanguage")}')" data-ng-href="{{result.selectedDownload}}" data-ng-class="{'disabled': result.selectedDownload == '{v:l(id: "general.downloadcenter.selectLanguage")}'}"><span class="fa fa-download"></span></a>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</f:section>
</body>
</html>
