<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	  xmlns:b="http://typo3.org/ns/Baumer/Baumer/ViewHelpers">
<head>
	<title>Partials: CsView/ProductDetailsHead</title>
</head>
<body>
<f:section name="Main">
	<div data-ng-controller="ProductboxCtrl">
		<div class="bottom-line clearfix">
			<div class="row">
				<div class="col-md-9">
					<div class="product-data">
						<v:variable.set name="productImage" value="{v:variable.get(useRawKeys:1, name: 'record.data.GroupedAttributes.{settings.configurator.attributes.productImage}.0.Links.0.FormattedValue')}" />
						<f:if condition="{productImage}">
							<img src="{productImage}" alt="{record.data.Label}" class="img-responsive" />
						</f:if>
						<v:variable.set name="datasheet" value="{v:variable.get(useRawKeys:1, name: 'record.data.GroupedAttributes.{settings.configurator.attributes.datasheet}.0.Links.0.FormattedValue')}" />
						<f:if condition="{datasheet}">
							<div class="product-datasheet">
								<p><strong><v:l key="configurator.dataSheet" /></strong></p>
								<p class="text-dark"><v:l key="configurator.atAGlance" /></p>
								<a class="download-datasheet" href="{datasheet}" target="_blank">
									<span class="fa fa-download"></span>
									<v:l key="configurator.downloadDatasheet" />
								</a>
							</div>
						</f:if>
					</div>
					<div class="product-main">
						<v:variable.set name="mainGroup" value="{v:variable.get(useRawKeys:1, name: 'record.data.Class.Label')}" />
						<f:if condition="{mainGroup}">
							<p class="product-category">{mainGroup}</p>
						</f:if>
						<h1 class="csc-firstHeader">{record.data.Label}</h1>

						<v:variable.set name="benefits" value="{v:variable.get(useRawKeys:1, name: 'record.data.GroupedAttributes.{settings.configurator.attributes.benefits}.0')}" />
						<b:isEmptyAttribute value="{benefits.FormattedValue}">
							<f:else>
								<h3>{benefits.TranslatedName}</h3>
								<ul>
									<f:for each="{benefits.FormattedValue}" as="val">
										<li>{val}</li>
									</f:for>
								</ul>
							</f:else>
						</b:isEmptyAttribute>

						<v:variable.set name="highlights" value="{v:variable.get(useRawKeys:1, name: 'record.data.GroupedAttributes.{settings.configurator.attributes.highlights}.0')}" />
						<b:isEmptyAttribute value="{highlights.FormattedValue}">
							<f:else>
								<h3>{highlights.TranslatedName}</h3>
								<ul>
									<f:for each="{highlights.FormattedValue}" as="val">
										<li>{val}</li>
									</f:for>
								</ul>
							</f:else>
						</b:isEmptyAttribute>

						<v:variable.set name="pictograms" value="{v:variable.get(useRawKeys:1, name: 'record.data.GroupedAttributes.{settings.configurator.attributes.pictograms}.0.Links')}" />
						<ul class="list-inline text-center">
							<f:for each="{pictograms}" as="pictogram">
								<li class="pictogram">
									<img src="{pictogram.FormattedValue}" alt="{pictogram.Label}" class="img-responsive" />
								</li>
							</f:for>
						</ul>

					</div>
				</div>
				<div class="col-md-3">
					<div class="product-request">
						<h3 class="request"><v:l key="configurator.pInquiry" /></h3>
						<f:if condition="{record.sapId}">
							<f:then>
								<span class="text-dark"><v:l key="configurator.pCode" /></span>
								<p class="frame">
									<span data-ng-show="productCode.length > 0">{{productCode}}</span>
									<span data-spinner data-ng-hide="productCode.length > 0"></span>
								</p>
							</f:then>
							<f:else>
								<span class="text-dark"><v:l key="configurator.pCode" /></span>
								<p class="frame">
									<span>{record.label}</span>
								</p>
							</f:else>
						</f:if>
						<button data-ng-disabled="productCode.length == 0" class="btn btn-add-request" data-ng-click="addToPlWidget()">
							<span data-ng-hide="adding"><span class="fa fa-star"></span> <v:l key="ali.add" /></span>
							<div data-spinner data-ng-hide="!(adding)"></div>
						</button>
						<button data-ng-disabled="loading" class="btn btn-request" data-ng-click="addToFormWidget()">
							<span data-ng-hide="addingInquiry"><span class="fa fa-envelope-o"></span> <v:l key="configurator.inquireNow" /></span>
							<div data-spinner data-ng-hide="!(addingInquiry)"></div>
						</button>
						<a data-ng-href="tel:{{contactAddressData.cleanPhone}}" data-ng-if="contactAddressData.phone" class="btn btn-info"><i class="fa fa-phone"></i> {{contactAddressData.phone}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:section>
