<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	  xmlns:b="http://typo3.org/ns/Baumer/Baumer/ViewHelpers">
<head>
	<title>Partials: CsView/ProductDetailsTable</title>
</head>
<body>
<f:section name="Main">
	<div class="row">
		<div class="col-xs-12">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs konfigurator" role="tablist">
				<f:if condition="{techdata}">
					<li role="presentation" class="active"><a href="#configurator-data" role="tab" data-toggle="tab"><v:l key="configurator.footer.techData" /></a></li>
					<v:variable.set name="firstTabActive" value="1" />
				</f:if>
				<f:if condition="{downloads}">
					<li role="presentation" class="{f:if(condition:'{firstTabActive}', else:'active')}"><a href="#configurator-download" role="tab" data-toggle="tab"><v:l key="configurator.footer.downloads" /></a></li>
					<v:variable.set name="firstTabActive" value="1" />
				</f:if>
				<f:comment>
					<f:if condition="{accessories.Value}">
						<li role="presentation" class="{f:if(condition:'{firstTabActive}', else:'active')}"><a href="#configurator-supplies" role="tab" data-toggle="tab"><v:l key="configurator.footer.accessory" /></a></li>
						<v:variable.set name="firstTabActive" value="1" />
					</f:if>
					<f:if condition="{shipping}">
						<li role="presentation" class="{f:if(condition:'{firstTabActive}', else:'active')}"><a href="#configurator-type" role="tab" data-toggle="tab"><v:l key="configurator.footer.storage" /></a></li>
					</f:if>
				</f:comment>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content konfigurator">

				<f:if condition="{techdata}">
					<f:render section="Pane-Techdata" arguments="{techdata: techdata}" />
				</f:if>

				<f:if condition="{downloads}">
					<f:render section="Pane-Downloads" arguments="{downloads: downloads}" />
				</f:if>

				<f:comment>
					<f:if condition="{accessories.Value}">
						<f:render section="Pane-Accessories" arguments="{accessories: accessories}" />
					</f:if>

					<f:if condition="{shipping}">
						<f:render section="Pane-Shipping" arguments="{_all}" />
					</f:if>
				</f:comment>
			</div>
		</div>
	</div>
</f:section>

<f:section name="Pane-Techdata">
	<b:groupBySection as="sections" attributes="{techdata}" />
	<div role="tabpanel" class="tab-pane active" id="configurator-data" data-columns>
		<f:for each="{sections}" as="section" iteration="sectionIt">
			<b:isEmptySection value="{section}">
				<f:else>
					<div class="item">
						<h5>{section.TranslatedSectionTitle}</h5>
						<table class="table table-striped">
							<tbody>
							<f:for each="{section.Attributes}" as="attribute">
								<b:isEmptyAttribute value="{attribute.Value}">
									<f:else>
										<tr>
											<td class="data-property">{attribute.TranslatedName}</td>
											<td class="data-value">
												<ul class="list-unstyled">
												<f:for each="{attribute.FormattedValue}" as="val">
													<li>{val}</li>
												</f:for>
												</ul>
											</td>
											<f:if condition="{attribute.Documentation}">
												<td class="data-info">
													<button class="btn btn-default tip" data-toggle="tooltip" data-placement="top" title="{attribute.Documentation}">
														<i class="fa fa-info"></i>
													</button>
												</td>
											</f:if>
										</tr>
									</f:else>
								</b:isEmptyAttribute>
							</f:for>
							</tbody>
						</table>
					</div>
				</f:else>
			</b:isEmptySection>
		</f:for>
	</div>
</f:section>

<f:section name="Pane-Downloads">
	<div role="tabpanel" class="tab-pane" id="configurator-download">
		<div class="col-md-12">
			<f:for each="{downloads}" as="download">
				<h5>{download.TranslatedName}</h5>
				<table class="table table-striped">
					<tbody>
					<f:for each="{download.Links}" as="file">
						<b:mamFileAttributes as="mamAttributes" mamFileId="{file.ID}" />
						<v:variable.set name="fileLangAttribute" value="{v:variable.get(useRawKeys:1, name: 'mamAttributes.Attributes.{settings.mamImport.languageAttributeId}')}" />
						<tr>
							<td class="download-first">{file.Label}</td>
							<td>{fileLangAttribute.FormattedValue -> v:format.replace(substring:"\n", replacement:'/')}</td>
							<td class="download-file-info">
								<span style="text-transform: uppercase;">{file.FileExtension}</span> ({file.FileSize -> f:format.bytes()})
								<f:if condition="{file.Language}"><br /><v:l key="configurator.footer.language" />: {file.Language}</f:if>
							</td>
							<td class="download-lang">
								<a target="_blank" href="{file.FormattedValue}" class="btn btn-sm btn-primary btn-download" title="{v:l(id:'product_details_table.download')}"><span class="fa fa-download"></span></a>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</f:for>
		</div>
	</div>
</f:section>

<f:section name="Pane-Accessories">
	<f:comment><!-- TODO: format accessories --></f:comment>

	<f:comment>
		<div role="tabpanel" class="tab-pane" id="configurator-supplies">
			<f:for each="{accessories}" as="accessoryGrouped">
				<div class="col-md-6">
					<h5>{accessoryGrouped.mainGroup.title}</h5>
					<table>
						<tbody>
						<f:for each="{accessoryGrouped.accessories}" as="accessory">
							<tr>
								<td class="supplies-details">
									<f:link.action pageUid="{settings.productfinder.detailUid}" controller="ProductFamily" action="showHeader" pluginName="ProductfinderHeader" arguments='{productFamily:accessory, mainGroup:mainGroup}'>
										<f:image src="{accessory.image.uid}" treatIdAsReference="TRUE" title="{accessory.image.originalResource.title}" alt="{accessory.image.originalResource.title}" width="122" height="83" />
										<button class="btn btn-default"><v:l>productfinder.list.buttons.details</v:l></button>
									</f:link.action>
								</td>
								<td class="supplies-info">
									<div class="info-wrapper">
										<h5>{accessory.title}</h5>
										{accessory.mainBenefits}
										<button class="btn btn-request"><i class="sprite-cart"></i><v:l>cpl.makeInquiry</v:l></button>
									</div>
								</td>
							</tr>
						</f:for>
						</tbody>
					</table>
				</div>
			</f:for>
		</div>
	</f:comment>
</f:section>

<f:section name="Pane-Shipping">
	<f:comment><!-- TODO: replace dummy with real data --></f:comment>

	<f:comment>
		<div role="tabpanel" class="tab-pane" id="configurator-type">
			<div class="col-md-12">
				<h5>Lagertypen liefern wir in Einzelstücken innerhalb von 24 Stunden bzw. innerhalb eines Arbeitstags ab Produktionswerk aus.</h5>
				<ul class="list-unstyled">
					<li><a href="" class="link-arrow">EIL580P-TT12.5FF.01024</a></li>
					<li><a href="" class="link-arrow">EIL580P-TT12.5FF.01024</a></li>
					<li><a href="" class="link-arrow">EIL580P-TT12.5FF.01024</a></li>
					<li><a href="" class="link-arrow">EIL580P-TT12.5FF.01024</a></li>
					<li><a href="" class="link-arrow">EIL580P-TT12.5FF.01024</a></li>
				</ul>
				<a href="" class="link-arrow">EIL580P-TT12.5FF.01024</a>
			</div>
		</div>
	</f:comment>
</f:section>
