<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	<head>
		<title>Partials: CsView/SelectorGrid</title>
	</head>
	<body>
		<f:section name="Main">
			<div data-ng-if="displayView == 'grid'" class="selectorResultGrid row" data-ng-cloak>

				<div data-ng-repeat="result in results" class="col-md-4">
					<div class="product-grid-container">
						<h4 class="text-center">
							<a data-ng-if="result._source.url" data-ng-href="{{result._source.url}}">{{result._source.label}}</a>
							<span data-ng-if="!result._source.url && !hasKmat(result._source)">{{result._source.label}}</span>
						</h4>
						<figure>
							<a data-ng-if="result._source.url && hasKmat(result._source)" data-ng-href="{{result._source.url}}" data-ng-show="result._source.data.GroupedAttributes[imageAttributeId]">
								<img class="img-responsive" data-ng-src="{{result._source.data.GroupedAttributes[imageAttributeId][0].Links[0].FormattedValue}}">
							</a>
                            <img class="img-responsive" ng-if="!hasKmat(result._source)" data-ng-src="{{result._source.data.GroupedAttributes[imageAttributeId][0].Links[0].FormattedValue}}">
                        </figure>
						<a data-ng-if="result._source.url && hasKmat(result._source)" class="btn btn-default selector-details" data-ng-href="{{result._source.url}}">
							<v:l>productfinder.list.buttons.details</v:l>
						</a>
						<table class="table table-striped tech-table">
							<tr data-ng-repeat="listAttribute in result._source.data.GroupedAttributes[listAttributeId]"
								data-ng-if="listAttribute.FormattedValue[0].length > 0"
								data-equal-heights-after-repeat=".selectorResultGrid .product-grid-container">
								<td>{{listAttribute.TranslatedName}}</td>
								<td>
									<ul>
										<li class="tableValue" data-ng-repeat="value in listAttribute.FormattedValue | ensureArray | removeBlankItems">
											{{value}}
										</li>
									</ul>
								</td>
							</tr>
						</table>
						<div class="buttons">
							<div class="cont">
								<a data-ng-href="{{result._source.data.GroupedAttributes[datasheetAttributeId][0].Links[0].FormattedValue}}"
								   data-ng-hide="!result._source.data.GroupedAttributes[datasheetAttributeId] || result._source.data.GroupedAttributes[datasheetAttributeId][0].FormattedValue.length === 0"
								   class="button"
								   target="_blank"
								   title="{v:l(key:'productfinder.download_datasheet')}">
									<span class="fa fa-download"></span>
									<v:l>productfinder.download_datasheet</v:l>
								</a>
								<a data-ng-click="addToPlWidget(result)" class="button request-product" title="{v:l(key:'productfinder.request_product')}">
									<span data-ng-hide="result.adding"><span class="fa fa-star"></span> <v:l>productfinder.request_product</v:l></span>
									<div data-spinner data-ng-show="result.adding"></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</f:section>
	</body>
</html>
