<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns="http://www.w3.org/1999/xhtml"
	  lang="en">
<head>
	<title>Partials: CsView/SelectorToolbar</title>
</head>
<body>
<f:section name="Main">

	<div class="toolbar clearfix">
		<div class="productcount pull-left">
			<v:l>productfinder.results_found</v:l>
		</div>
		<div class="toolbar-options">
			<div class="view">
				<v:l>productfinder.view</v:l>
				<a data-ng-click="switchView('list')" title="{v:l(key:'productfinder.view.list')}" data-ng-class="{clickable: displayView=='grid'}">
					<i class="fa fa-bars" data-ng-class="{active: displayView=='list'}"></i>
				</a>
				<a data-ng-click="switchView('grid')" title="{v:l(key:'productfinder.view.gallery')}" data-ng-class="{clickable: displayView=='list'}">
					<i class="fa fa-th" data-ng-class="{active: displayView=='grid'}"></i>
				</a>
			</div>
			<div class="perpage">
				<v:l>productfinder.products_per_page</v:l>
				<select data-ng-options="n as n for n in [6,12,48,96]" data-ng-change="search()" data-ng-model="itemsPerPage" name="productsperpage" class="selectpicker"></select>
			</div>
		</div>
	</div>

</f:section>
</body>
</html>
