<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	<head>
		<title>Partials: CsView/SelectorList</title>
	</head>
	<body>
		<f:section name="Main">
			<table data-ng-if="displayView == 'list'" class="selectorResultTable" data-ng-cloak>
				<thead>
					<tr>
						<th><v:l>productfinder.list.heading.product</v:l></th>
						<th data-ng-click="sortBy(tableAttribute)" data-ng-repeat="tableAttribute in tableAttributes">
							{{tableAttribute.TranslatedName}}
							<span class="sortDirection" data-ng-if="tableAttribute.ID == sortingAttributeId">
								<i data-ng-if="sortDirection == 'asc'" class="fa fa-sort-up"></i>
								<i data-ng-if="sortDirection == 'desc'" class="fa fa-sort-down"></i>
							</span>
							<span class="sortDirection" data-ng-if="tableAttribute.ID != sortingAttributeId">
								<i class="fa fa-unsorted"></i>
							</span>
						</th>
						<th><v:l>productfinder.list.heading.actions</v:l></th>
					</tr>
				</thead>

				<tbody>
				<tr class="resultRow" data-ng-repeat="result in results">
					<td class="img">
						<h4>
							<a data-ng-href="{{result._source.url}}" ng-if="hasKmat(result._source)">{{result._source.label}}</a>
                            <span ng-if="!hasKmat(result._source)">{{result._source.label}}</span>
						</h4>
						<figure>
							<a data-ng-href="{{result._source.url}}" ng-if="hasKmat(result._source)" data-ng-show="result._source.data.GroupedAttributes[imageAttributeId]">
								<img class="img-responsive" data-ng-src="{{result._source.data.GroupedAttributes[imageAttributeId][0].Links[0].FormattedValue}}">
							</a>
							<img ng-if="!hasKmat(result._source)" class="img-responsive" data-ng-src="{{result._source.data.GroupedAttributes[imageAttributeId][0].Links[0].FormattedValue}}">
						</figure>
						<a data-ng-if="result._source.url && hasKmat(result._source)" class="btn btn-default selector-details" data-ng-href="{{result._source.url}}">
							<v:l>productfinder.list.buttons.details</v:l>
						</a>
					</td>
					<td data-ng-repeat="column in result._source.data.GroupedAttributes[listAttributeId]">
						<ul>
							<li class="tableValue" data-ng-repeat="value in column.FormattedValue | ensureArray | removeBlankItems">{{value}}</li>
						</ul>
					</td>
					<td>
						<a data-ng-href="{{result._source.data.GroupedAttributes[datasheetAttributeId][0].mainDatasheet}}"
						   data-ng-hide="!result._source.data.GroupedAttributes[datasheetAttributeId] || result._source.data.GroupedAttributes[datasheetAttributeId][0].FormattedValue.length === 0"
						   target="_blank"
						   class="download-datasheet">
							<v:l>productfinder.download_datasheet</v:l>
						</a><a class="request-product" data-ng-click="addToPlWidget(result)" title="{v:l(key:'productfinder.request_product')}">
							<span data-ng-hide="result.adding"><v:l>ali.add</v:l></span>
							<div data-spinner data-ng-show="result.adding"></div>
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</f:section>
	</body>
</html>
