<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns="http://www.w3.org/1999/xhtml"
	  lang="en">
<head>
	<title>Partials: CsView/SelectorFacets</title>
</head>
<body>
<f:section name="Main">

	<div class="filters">
		<div class="f-header clearfix">
			<button data-ng-cloak data-ng-hide="filtersExpanded" data-ng-click="toggleFiltersExpanded()"
					class="close-filter btn btn-default pull-right">
				<v:l>productfinder.open_all_filters</v:l>
			</button>
			<button data-ng-cloak data-ng-show="filtersExpanded" data-ng-click="toggleFiltersExpanded()"
					class="close-filter btn btn-default pull-right open">
				<v:l>productfinder.close_all_filters</v:l>
			</button>
		</div>

		<div class="row">
			<div data-ng-cloak class="filter col-sm-6 col-md-3" data-ng-repeat="facet in availableFacets" data-ng-class="{'force-clear': $index%4 === 0}">
				<div class="filterCatWrapper" data-ng-class="{open: (filtersExpanded || facet.expanded)}">
					<div class="filterCat" data-ng-click="facet.expanded = !facet.expanded" data-ng-class="{open: (filtersExpanded || facet.expanded)}">
						<div class="filterCatHeader">
							<span class="clickable">{{facet.key}}</span>
						</div>
						<div class="filterCatFlyout" data-ng-show="filtersExpanded">
							<div class="checkbox"
								 data-ng-repeat="term in sortFacetValues(facet.value.buckets)"
								 data-ng-if="term.key.length > 0"
								 data-ng-class="{disabled: term.doc_count == 0, checked: isFiltered(facet.key, term.key)}">
										<div class="checkbox-label lab"
											 data-ng-show="term.doc_count == 0" >
											<span class="check"></span>
											<span class="filterCatLabel">{{term.key}}</span>
											<span class="filterCatCount" data-ng-if="term.doc_count > 0">[{{term.doc_count}}]</span>
										</div>
										<div class="checkbox-label clickable"
											  data-ng-show="term.doc_count > 0"
											  data-ng-model="newFacet"
											  data-ng-click="toggleFilter(facet.key, term.key)">
											<span class="check"></span>
											<span class="filterCatLabel">{{term.key}}</span>
											<span class="filterCatCount">[{{term.doc_count}}]</span>
										</div>
							</div>
						</div>
					</div>
					<div class="filterCatSelected" data-ng-show="attributeIsFiltered(facet.key)">
						<div class="checkbox checked"
							 data-ng-repeat="term in facet.value.buckets"
							 data-ng-if="isFiltered(facet.key, term.key)">
									<div class="checkbox-label clickable"
										 data-ng-click="toggleFilter(facet.key, term.key)">
										<span class="check"></span>
										<span class="filterCatLabel">{{term.key}}</span>
										<span class="filterCatCount">[{{term.doc_count}}]</span>
									</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end row -->

		<div class="f-footer">
			<span class="clickable link-arrow-left" data-ng-click="resetFilters()">
				<v:l>productfinder.reset_all_filters</v:l>
			</span>
		</div>
	</div>

</f:section>
</body>
</html>
