<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">
		<v:asset.style
			name="baumer-job"
			path="{f:uri.resource(extensionName:'baumer', path:'Style/partials/job-list.css')}" />
		<v:asset.script
			name="AngularJobsController,"
			dependencies="AngularJS,AngularBaumerApp,Underscore"
			path="{f:uri.resource(path:'Javascript/jobListController.js')}"
			movable="true"/>
		<div class="job-list" data-ng-controller="JobListController">


			<div class="header">
				<h1><v:l>tx_umantis_domain_model_job.joboffer</v:l></h1>
			</div>

			<div class="filters">
				<div class="f-header clearfix">
					<button data-ng-hide="filtersExpanded" data-ng-click="toggleFilterExpansion()" class="close-filter btn btn-default pull-right"><v:l extensionName="baumer">filters.open_all_filters</v:l></button>
					<button data-ng-show="filtersExpanded" data-ng-click="toggleFilterExpansion()" class="close-filter btn btn-default pull-right open"><v:l extensionName="baumer">filters.close_all_filters</v:l></button>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="filterCatWrapper" data-ng-class="{open: filtersExpanded}">
							<div class="filterCat" data-ng-class="{open: filtersExpanded}">
								<div class="filterCatHeader">
									<span class="clickable"><v:l>tx_umantis_domain_model_job.company</v:l></span>
								</div>
								<div class="filterCatFlyout" data-ng-show="filtersExpanded">
									<div class="checkbox" data-ng-class="{checked: isFilteredByCompany(company)}" data-ng-repeat="company in availableCompanies">
										<span class="clickable" data-ng-click="updateCompanyFilter(company)">
											<span class="check"></span> {{company}}
										</span>
									</div>
								</div>
							</div>
							<div class="filterCatSelected" data-ng-hide="filterCompanies.length == 0">
								<div class="checkbox checked" data-ng-repeat="filterCompany in filterCompanies">
									<span class="clickable" data-ng-click="updateCompanyFilter(filterCompany)">
										<span class="check"></span> {{filterCompany}}
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="filterCatWrapper" data-ng-class="{open: filtersExpanded}">
							<div class="filterCat" data-ng-class="{open: filtersExpanded}">
								<div class="filterCatHeader">
									<span class="clickable"><v:l>tx_umantis_domain_model_job.department</v:l></span>
								</div>
								<div class="filterCatFlyout" data-ng-show="filtersExpanded">
									<div class="checkbox" data-ng-class="{checked: isFilteredByDepartment(department)}" data-ng-repeat="department in availableDepartments">
										<span class="clickable" data-ng-click="updateDepartmentFilter(department)">
											<span class="check"></span> {{department}}
										</span>
									</div>
								</div>
							</div>
							<div class="filterCatSelected" data-ng-hide="filterDepartments.length == 0">
								<div class="checkbox checked" data-ng-repeat="filterDepartment in filterDepartments">
									<span class="clickable" data-ng-click="updateDepartmentFilter(filterDepartment)">
										<span class="check"></span> {{filterDepartment}}
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="filterCatWrapper" data-ng-class="{open: filtersExpanded}">
							<div class="filterCat" data-ng-class="{open: filtersExpanded}">
								<div class="filterCatHeader">
									<span class="clickable"><v:l>tx_umantis_domain_model_job.country</v:l></span>
								</div>
								<div class="filterCatFlyout" data-ng-show="filtersExpanded">
									<div class="checkbox" data-ng-class="{checked: isFilteredByCountry(country)}" data-ng-repeat="country in availableCountries">
										<span class="clickable" data-ng-click="updateCountryFilter(country)">
											<span class="check"></span> {{country}}
										</span>
									</div>
								</div>
							</div>
							<div class="filterCatSelected" data-ng-hide="filterCountries.length == 0">
								<div class="checkbox checked" data-ng-repeat="filterCountry in filterCountries">
									<span class="clickable" data-ng-click="updateCountryFilter(filterCountry)">
										<span class="check"></span> {{filterCountry}}
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="f-footer">
					<span class="clickable" data-ng-click="resetFilters()"> Reset all filters</span>
				</div>
			</div>

			<div class="row row-jobs">
				<div data-ng-repeat="job in filteredJobs = (jobs | filter:filterJobs)" class="col-md-6">
					<article>
						<span class="mark">{{job.internalCode}}</span>
						<span class="cat">{{job.department}}</span>

						<h3>
							<a href="{{job.url}}">{{job.title}}</a>
						</h3>
						<h4>{{job.company}} <span>({{job.country}}, {{job.location}})</span></h4>
					</article>
				</div>
			</div>

			<hr class="sep" />

			<div class="row row-bottom">
				<div class="col-md-4">
					<div class="item equal-height">
						<h3><v:l>tx_umantis_domain_model_job.jobabo.title</v:l></h3>

						<p><v:l>tx_umantis_domain_model_job.jobabo</v:l></p>
						<a class="link-arrow-left" href="#" title=""><v:l>tx_umantis_domain_model_job.title</v:l></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="item equal-height">
						<h3><v:l>tx_umantis_domain_model_job.speculativeapplication.title</v:l></h3>

						<p><v:l>tx_umantis_domain_model_job.speculativeapplication</v:l></p>
						<a class="link-arrow-left" href="#" title=""><v:l>tx_umantis_domain_model_job.speculativeapplication.title</v:l></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="item equal-height">
						<h3><v:l>tx_umantis_domain_model_job.applicantlogin.title</v:l></h3>

						<p><v:l>tx_umantis_domain_model_job.applicantlogin</v:l></p>
						<a class="link-arrow-left" href="#" title=""><v:l>tx_umantis_domain_model_job.applicantlogin.title</v:l></a>
					</div>
				</div>
			</div>


		</div>
		<script type="text/javascript">
			var jobs = <f:format.raw> {jobs} </f:format.raw>;
			var jobLinks = {};
			<f:for each="{jobModels}" as="job">
				jobLinks['{job.internalCode}'] = '{f:uri.action(action:"show",arguments:{job: job})}';
			</f:for>
		</script>
	</f:section>
</div>
