<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	<f:layout name="Default" />

	<f:section name="main">
		<div class="job-page">
			<v:asset.style
				name="baumer-job"
				path="{f:uri.resource(extensionName:'baumer', path:'Style/partials/job.css')}" />

			<div class="banner">
				<f:if condition="{job.layoutImage.layoutImage}">
					<f:then>
						<f:image class="img-responsive" src="{job.layoutImage.layoutImage.uid}" treatIdAsReference="TRUE" alt="{job.title}" />
					</f:then>
					<f:else>
						<img class="img-responsive" src="typo3conf/ext/baumer/Resources/Public/Images/examples/banner_job.jpg" alt="alternative text" />
					</f:else>
				</f:if>
			</div>

			<div class="header">
				<h1>
					<f:format.raw>{job.slogan}</f:format.raw>
				</h1>
				<h2>
					<f:format.raw>{job.companyDescription}</f:format.raw>
				</h2>
			</div>

			<blockquote>
				<span class="fa fa-quote-left fa-2x pull-left"></span>
				<f:format.raw>{job.introduction}</f:format.raw>
				<span class="fa fa-quote-right fa-2x pull-right"></span>
			</blockquote>

			<h2 class="subtitle">{job.title}
				<small>({job.internalCode})</small>
			</h2>

			<p id="description">
				<f:format.raw>{job.jobDescription}</f:format.raw>
			</p>

			<div class="box" id="challenge">
				<h5>
					<f:format.raw>{job.challenge}</f:format.raw>
				</h5>
				<ul>
					<f:format.raw>{job.offer}</f:format.raw>
				</ul>
			</div>

			<div class="box">
				<h5>
					<f:format.raw>{job.profileTitle}</f:format.raw>
				</h5>
				<ul>
					<f:format.raw>{job.profileText}</f:format.raw>
				</ul>
			</div>

			<hr />

			<div class="row row-bottom">
				<div class="col-md-6">
					<div class="box-info">
						<f:format.raw>{job.contactPersonText}</f:format.raw>
					</div>
				</div>
				<div class="col-md-6">
					<div class="buttons">
						<f:link.action class="btn btn-gray btn-lg" action="pdf" arguments="{job: job}">
							<span class="fa fa-file-pdf-o"></span>
						</f:link.action>
						<f:if condition="{job.companyLayout.showApplyButton}">
							<f:link.external class="btn btn-orange btn-lg" uri="{job.applicationUrl}" target="_blank"><v:l>apply_for_job</v:l></f:link.external>
						</f:if>
					</div>
				</div>
			</div>

			<f:link.action class="link-back" action="list"><v:l>back_to_list</v:l></f:link.action>
		</div>
	</f:section>
</div>
