<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default" />

	<f:section name="main">
		<div class="job-application pull-left" style="padding: 1px; border: 2px solid {job.companyLayout.borderColor};">

				<div class="pull-left" style="width: 390px; margin-right: 20px;">
					<f:image src="{job.layoutImage.layoutImage.uid}" treatIdAsReference="TRUE" alt="" />
				</div>
				<div class="pull-left" style="width: 590px; height: 650px; padding-right: 15px; overflow: hidden;">
					<h1 style="color: {job.companyLayout.baseColor};">
						<f:format.raw>{job.slogan}</f:format.raw>
					</h1>
					<p style="color: {job.companyLayout.baseColor};"><f:format.raw>{job.companyDescription}</f:format.raw></p>

					<p><f:format.raw>{job.introduction}</f:format.raw></p>

					<h2 style="color: {job.companyLayout.baseColor}; margin-top: 0px;">{job.title}
						<small>({job.internalCode})</small>
					</h2>
					<p>{job.jobDescription}</p>

					<strong style="color: {job.companyLayout.baseColor};">{job.challenge}</strong>
					<ul>
						<f:format.raw>{job.offer}</f:format.raw>
					</ul>

					<strong style="color: {job.companyLayout.baseColor};">{job.profileTitle}</strong>
					<ul>
						<f:format.raw>{job.profileText}</f:format.raw>
					</ul>

					<p><f:format.raw>{job.finishingText}</f:format.raw></p>

					<div class="clearfix">
						<p class="pull-left" style="color: {job.companyLayout.footerColor};">
							<f:format.raw>{job.contactPersonText}</f:format.raw>
						</p>
						<f:if condition="{job.companyLayout.footerImage}">
							<div class="pull-right">
								<f:image src="{job.companyLayout.footerImage.uid}" treatIdAsReference="TRUE" alt="" />
							</div>
						</f:if>
					</div>
				</div>
		</div>
		<style>
			ul > li {
				padding-left: 15px;
				list-style-type: none;
				background: url('{f:uri.image(image:job.companyLayout.listImage)}') no-repeat scroll 0 1px transparent!important;
			}
		</style>
	</f:section>
</div>
