.lt-ie9 {
  /*
     * table style for ie8
     */
}
.lt-ie9 .col-md-3, .lt-ie9 .col-md-9, .lt-ie9 .col-md-6, .lt-ie9 .col-md-4, .lt-ie9 .col-md-5, .lt-ie9 .col-md-7, .lt-ie9 .col-md-8,
.lt-ie9 .col-sm-3, .lt-ie9 .col-sm-9, .lt-ie9 .col-sm-6, .lt-ie9 .col-sm-4, .lt-ie9 .col-sm-5, .lt-ie9 .col-sm-7, .lt-ie9 .col-sm-8 {
  float: left;
}
.lt-ie9 .col-md-3, .lt-ie9 .col-sm-3 {
  width: 25%;
}
.lt-ie9 .col-md-4, .lt-ie9 .col-sm-4 {
  width: 33.33333333%;
}
.lt-ie9 .col-md-5, .lt-ie9 .col-sm-5 {
  width: 30%;
}
.lt-ie9 .col-md-6, .lt-ie9 .col-sm-6 {
  width: 50%;
}
.lt-ie9 .col-md-8, .lt-ie9 .col-sm-8 {
  width: 66.66666667%;
}
.lt-ie9 .col-md-7, .lt-ie9 .col-sm-7 {
  width: 70%;
}
.lt-ie9 .col-md-9, .lt-ie9 .col-sm-9 {
  width: 75%;
}
.lt-ie9 .container {
  width: 960px !important;
}
.lt-ie9 #header .row .logo-box {
  float: left;
  width: 222px;
}
.lt-ie9 #header .row .nav-service {
  float: right;
  width: 730px;
}
.lt-ie9 .nav-wrapper {
  border: 1px solid #dadada;
  position: relative;
}
.lt-ie9 .nav-wrapper .col-md-2 {
  position: absolute;
  top: 0;
  right: 0;
}
.lt-ie9 .nav_main > li.hassub > ul {
  border: 1px solid #dadada;
}
.lt-ie9 .nav_main > li.hassub > ul.subnav {
  border-top: 0;
}
.lt-ie9 .nav_main > li.hassub > ul:before {
  content: '';
  display: block;
  height: 6px;
  background-color: #0061ae;
  position: relative;
  left: 0;
}
.lt-ie9 .nav_main > li.hassub.sub-col-1 ul:before {
  left: -1px;
}
.lt-ie9 .nav_main > li.hassub.sub-col-4 .row .col, .lt-ie9 .nav_main > li.hassub.sub-articles .row .col {
  float: left;
  width: 25%;
}
.lt-ie9 .nav_main > li.active ul, .lt-ie9 .nav_main > li.sfhover ul {
  left: -1px;
}
.lt-ie9 .table-striped tbody tr.odd {
  background-color: #f9f9f9;
}
.lt-ie9 .toolbar .toolbar-options .sortby .bootstrap-select, .lt-ie9 .toolbar .toolbar-options .order .bootstrap-select {
  width: 120px;
}
.lt-ie9 .toolbar .toolbar-options .perpage .bootstrap-select {
  display: inline-block;
  width: 40px;
}
.lt-ie9 #header .nav-service .nav li a .fa {
  display: inline-block;
  margin-right: 5px;
}
.lt-ie9 .fa, .lt-ie9 .link-arrow-left:before,
.lt-ie9 .filterCatWrapper .filterCatHeader a:before,
.lt-ie9 .filterCatWrapper .checkbox.checked .check:before {
  font-family: FontAwesome !important;
}
.lt-ie9 .filterCatWrapper .checkbox.checked .check:before {
  top: 0;
}
.lt-ie9 #footer .specials nav ul li a:before {
  font-family: FontAwesome !important;
}
.lt-ie9 #footer .box-top .row-bottom .the-content nav ul li a:before {
  font-family: FontAwesome !important;
}
.lt-ie9 .home .section article figure .fa {
  background-color: #89b4d5;
}
.lt-ie9 .home .section article figure .fa.bg-green {
  background-color: #98bd29;
}
.lt-ie9 .alert {
  padding-left: 15px;
}
.lt-ie9 .alert .fa {
  display: none;
}
.lt-ie9 .checkbox input, .lt-ie9 .customers .newsletter-message input {
  visibility: visible;
  margin-left: 0;
  position: inherit;
}
.lt-ie9 .checkbox label:before, .lt-ie9 .checkbox label:after, .lt-ie9 .customers .newsletter-message label:before, .lt-ie9 .customers .newsletter-message label:after {
  display: none;
}
.lt-ie9 .customers .newsletter-message label {
  display: inline-block;
  padding: 0;
  background: none;
}
