<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template for the search results view for EXT:solr</title>
</head>
<body>

<!-- ###SOLR_SEARCH### begin -->

<div id="tx-solr-search" class="search-page" data-ng-controller="SearchCtrl">

	<!-- ###SOLR_SEARCH_FORM### begin -->
	<div class="box-search">
		###FORM.SUGGEST_URL###
		<form role="search" action="###FORM.ACTION###"  method="GET" accept-charset="###FORM.ACCEPT-CHARSET###">
			<div class="form-group">
				<input class="form-control" autocomplete="off" type="text" name="q" value="###FORM.Q###" placeholder="###LLL:EXT:baumer/Resources/Private/Language/Extensions/Solr/locallang.xlf:search.placeholder_search###"  />
				<button class="btn btn-default" type="submit">
					<span class="fa fa-search"></span>
				</button>
			</div>
			<input type="hidden" name="id" value="###FORM.ACTION_ID###" />
			<input type="hidden" name="###FORM.ACTION_LANGUAGE_PARAMETER###" value="###FORM.ACTION_LANGUAGE###" />
			###FORM.HIDDEN_PARAMETER_FIELDS###
		</form>
		###FORM.DEBUG_QUERY###
	</div>
	<!-- ###SOLR_SEARCH_FORM### end -->



	<!-- ###SOLR_SEARCH_FORM_ADVANCED### begin -->

	<!-- ###SOLR_SEARCH_FORM_ADVANCED### end -->



	<!-- ###SOLR_SEARCH_ERRORS### begin -->

	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">###LLL:EXT:baumer/Resources/Private/Language/Extensions/Solr/locallang.xlf:search.errors.close###</span>
		</button>
		###LLL:error_errors###
		<!-- ###LOOP:ERRORS### begin -->
		<ul>
		<!-- ###LOOP_CONTENT### -->
			<li>
			###ERROR.MESSAGE###
			</li>
		<!-- ###LOOP_CONTENT### -->
		</ul>
		<!-- ###LOOP:ERRORS### end -->
	</div>

	<!-- ###SOLR_SEARCH_ERRORS### end -->



	<!-- ###SOLR_SEARCH_RESULTS### begin -->

	<div class="filters">

		<div class="f-header clearfix">
			<button ng-hide="filtersExpanded" ng-click="toggleFilterExpansion()" class="close-product-filter btn btn-default pull-right">###LLL:EXT:baumer/Resources/Private/Language/Extensions/Solr/locallang.xlf:search.filters.open_all###</button>
			<button ng-show="filtersExpanded" ng-click="toggleFilterExpansion()" class="close-product-filter btn btn-default pull-right open">###LLL:EXT:baumer/Resources/Private/Language/Extensions/Solr/locallang.xlf:search.filters.close_all###</button>
		</div>

		<!-- ###SOLR_SEARCH_SORTING### begin -->
		<div id="tx-solr-sorting" class="secondaryContentSection">
			<h3>###LLL:EXT:baumer/Resources/Private/Language/Extensions/Solr/locallang.xlf:search.sorting.sortBy###</h3>
			<div class="btn-group-vertical">
				<!-- ###LOOP:SORT### begin -->
				<!-- ###LOOP_CONTENT### -->
				<button type="button" class="btn btn-default">
					###SORT_INDICATOR:###SORT.CURRENT_DIRECTION###### ###SORT.LINK###
				</button>
				<!-- ###LOOP_CONTENT### -->
				<!-- ###LOOP:SORT### end -->
			</div>
		</div>
		<!-- ###SOLR_SEARCH_SORTING### end -->


		<!-- ###SOLR_SEARCH_FACETING### begin -->
		<div class="row" id="available-facets">
			<!-- ###AVAILABLE_FACETS### begin -->
				<!-- ###SINGLE_FACET### begin -->
				<div class="col-md-3">
					<div class="filterCatWrapper" data-ng-class="{open: filtersExpanded}">
						<div class="filterCat" data-ng-class="{open: filtersExpanded}">
							<div class="filterCatHeader"><span class="clickable">###FACET.label###</span></div>
							<span style="display: none;" data-ng-init="filters.###FACET.name###.label = '###FACET.label###'" ></span>
							<span style="display: none;" data-ng-init="filters.###FACET.name###.selectedValues = []" ></span>
							<div class="filterCatFlyout" data-ng-show="filtersExpanded">
								<!-- ###SINGLE_FACET_OPTION### begin -->
								<!-- ###LOOP:FACET_LINKS### begin -->
								<!-- ###LOOP_CONTENT### -->
									<!-- ###IF:###FACET_LINK.selected###|==|1|ng### -->
										<span style="display: none;" data-ng-init="filters.###FACET_LINK.facet_name###.selectedValues.push('###FACET_LINK.TEXT###')"></span>
										<span style="display: none;" data-ng-init="filters.###FACET_LINK.facet_name###.removeLink = '###FACET_LINK.URL###'"></span>
									<!-- ###IF:###FACET_LINK.selected###|==|1|ng### -->
								<div class="checkbox ###IF:###FACET_LINK.selected###|==|1|check### checked ###IF:###FACET_LINK.selected###|==|1|check### ">
									<a href="###FACET_LINK.URL###">
										<span class="check"></span> ###FACET_LINK.TEXT### <span class="pull-right">[###FACET_LINK.COUNT###]</span>
									</a>
								</div>
								<!-- ###LOOP_CONTENT### -->
								<!-- ###LOOP:FACET_LINKS### end -->
								<!-- ###SINGLE_FACET_OPTION### end -->
							</div>
						</div>
						<div class="filterCatSelected" data-ng-show="filters.###FACET.name###.selectedValues.length > 0">
							<div class="checkbox checked" data-ng-repeat="selectedValue in filters.###FACET.name###.selectedValues">
								<a href="{{filters.###FACET.name###.removeLink}}">
									<span class="check"></span> {{selectedValue}}
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- ###SINGLE_FACET### end -->
			<!-- ###AVAILABLE_FACETS### end -->
		</div>

			<!-- ###USED_FACETS### begin -->
			<div class="f-footer">
				<a class="link-arrow-left" href="###REMOVE_ALL_FACETS.url###">###REMOVE_ALL_FACETS.text###</a>
			</div>
			<!-- ###USED_FACETS### end -->

		<!-- ###SOLR_SEARCH_FACETING### end -->

		<!-- ###SOLR_SEARCH_RESULTSPERPAGESWITCH### begin -->
		<!-- ###SOLR_SEARCH_RESULTSPERPAGESWITCH### end -->

	</div>


	<div>

		<!-- ###FACET:datatype_stringS### begin -->
		<!-- ###SINGLE_FACET### begin -->

		<ul class="nav nav-tabs">

			<!-- ###SINGLE_FACET_OPTION### begin -->
			<!-- ###LOOP:FACET_LINKS### begin -->
			<!-- ###LOOP_CONTENT### -->

			<li ###IF:###FACET_LINK.selected###|==|1|tab###
				class="active"
				###IF:###FACET_LINK.selected###|==|1|tab###
				>
				<a href="###FACET_LINK.URL###" title="###FACET_LINK.TEXT###">
					###HTMLSPECIALCHARSDECODE:###FACET_LINK.TEXT######
					<span class="count">###FACET_LINK.COUNT###</span>
				</a>
			</li>

			<!-- ###LOOP_CONTENT### -->
			<!-- ###LOOP:FACET_LINKS### end -->
			<!-- ###SINGLE_FACET_OPTION### end -->

		</ul>
		<!-- ###SINGLE_FACET### end -->
		<!-- ###FACET:datatype_stringS### end -->

		<div class="tab-content">

			<div class="tab-pane active">

				###FLUIDRESULT:Results###
				###FLUIDRESULT:Results###

			</div>

		</div>

		###RESULTS.PAGEBROWSER###

	</div>



	<!-- ###SOLR_SEARCH_RESULTS### end -->



	<!-- ###SOLR_SEARCH_NO_RESULTS### begin -->
	<div class="alert alert-info">
		###NO_RESULTS.NOTHING_FOUND###
		###NO_RESULTS.SUGGESTION###
	</div>
	<!-- ###SOLR_SEARCH_NO_RESULTS### end -->
</div>

<div id="tx-solr-search-functions">

	<!-- ###SOLR_SEARCH_LASTSEARCHES### end -->
	<div id="tx-solr-lastsearches" class="secondaryContentSection">
		<div class="csc-header">
			<h3 class="csc-firstHeader">###LLL:lastSearches###</h3>
		</div>
		<ul>
			<!-- ###LOOP:LASTSEARCHES### begin -->
			<!-- ###LOOP_CONTENT### -->
			<li>
				###LINK:###LASTSEARCH.Q###|###LASTSEARCH.PID###|###LASTSEARCH.PARAMETERS###|0|rel="nofollow"###
			</li>
			<!-- ###LOOP_CONTENT### -->
			<!-- ###LOOP:LASTSEARCHES### end -->
		</ul>
	</div>
	<!-- ###SOLR_SEARCH_LASTSEARCHES### end -->

	<!-- ###SOLR_SEARCH_FREQUENTSEARCHES### begin -->
	<div id="tx-solr-frequent-searches" class="secondaryContentSection">
		<div class="csc-header">
			<h3 class="csc-firstHeader">###LLL:frequentSearches###</h3>
		</div>
		<ul>
			<!-- ###LOOP:FREQUENTSEARCHES### begin -->
			<!-- ###LOOP_CONTENT### -->
			<li class="###TERM.CLASS###">###LINK:###TERM.TERM###|###TERM.PID###|###TERM.PARAMETERS###|0|rel="nofollow"###</li>
			<!-- ###LOOP_CONTENT### -->
			<!-- ###LOOP:FREQUENTSEARCHES### end -->
		</ul>
	</div>
	<!-- ###SOLR_SEARCH_FREQUENTSEARCHES### end -->

</div>

<!-- ###SOLR_SEARCH### end -->



<!-- ###SOLR_SEARCH_UNAVAILABLE### begin -->
	###LLL:searchUnavailable###
<!-- ###SOLR_SEARCH_UNAVAILABLE### end -->

<!-- ###SOLR_SEARCH_ERROR### begin -->
	###LLL:searchFailed###
<!-- ###SOLR_SEARCH_ERROR### end -->

</body>
</html>
