{namespace n=Tx_News_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Detail.html" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
	<v:asset.style path="{f:uri.resource(path:'Style/partials/newsdetail.css', extensionName:'baumer')}"
				   name="newsdetail"
				   standalone="true"/>
	<f:if condition="{newsItem}">
		<f:then>
			<div class="news-detail">
				<div class="header">
					<nav class="categories">
						<f:for each="{newsItem.categories}" as="category">
							<f:link.action class="cat" pageUid="{settings.list.pageUid}" title="{category.title}" arguments="{overwriteDemand:{categories:category.uid}}">
								{category.title}
							</f:link.action>
						</f:for>
					</nav>
					<h1><f:format.raw>{newsItem.title}</f:format.raw></h1>
					<h2><f:format.raw>{newsItem.teaser}</f:format.raw></h2>
					<h4 class="time"><n:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</n:format.date></h4>
				</div>
				<div class="the-content">
					<f:if condition="{newsItem.falMedia}">
						<figure class="header-image">
							<f:for each="{newsItem.falMedia}" as="mediaElement">
								<f:if condition="{mediaElement.originalResource.type} == 2">
									<f:if condition="{settings.detail.media.image.lightbox}">
										<f:then>
											<a rel="{settings.detail.media.image.lightbox}" title="{mediaElement.caption}" href="{f:uri.image(src:'{mediaElement.uid}' treatIdAsReference:1 maxWidth:'800')}">
												<f:image src="{mediaElement.uid}"
														 treatIdAsReference="1"
														 title="{mediaElement.originalResource.title}"
														 alt="{mediaElement.originalResource.alternative}"
														 width="{settings.detail.media.image.width}"
														 height="{settings.detail.media.image.height}" />
											</a>
										</f:then>
										<f:else>
											<f:image src="{mediaElement.uid}"
													 treatIdAsReference="1"
													 title="{mediaElement.originalResource.title}"
													 alt="{mediaElement.originalResource.alternative}"
													 width="{settings.detail.media.image.width}"
													 height="{settings.detail.media.image.height}" />
										</f:else>
									</f:if>
								</f:if>
							</f:for>
						</figure>
					</f:if>
					<f:format.html>{newsItem.bodytext}</f:format.html>
				</div>

				<f:comment>

					Related Links

				</f:comment>
				<f:if condition="{newsItem.relatedLinks}">
					<div class="links">
						<h4>
							<span class="fa fa-link"></span>
							<f:translate key="related-links" />
						</h4>
						<nav>
							<f:for each="{newsItem.relatedLinks}" as="relatedLink">
								<f:link.page pageUid="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">
									<span class="fa fa-file-text-o"></span> {f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}
									<f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
								</f:link.page>
							</f:for>
						</nav>
					</div>
				</f:if>

				<f:comment>

					Related Files (FAL & legacy)

				</f:comment>
				<f:if condition="{v:math.sum(a:'{f:count(subject:newsItem.relatedFiles)}', b:'{f:count(subject:newsItem.falRelatedFiles)}')}">
					<div class="links">
						<h4>
							<span class="fa fa-download"></span>
							<f:translate key="related-files" />
						</h4>
						<nav>
							<f:for each="{newsItem.falRelatedFiles}" as="relatedFile">
								<n:format.fileDownload file="{relatedFile.originalResource.publicUrl}" configuration="{settings.relatedFiles.download}">
									<span class="fa fa-download"></span>&nbsp;
									<f:if condition="{relatedFile.originalResource.title}">
										<f:then>
											{relatedFile.originalResource.title}
										</f:then>
										<f:else>
											{relatedFile.originalResource.name}
										</f:else>
									</f:if>
								</n:format.fileDownload>
							</f:for>
							<f:for each="{newsItem.relatedFiles}" as="relatedFile">
								<n:format.fileDownload file="uploads/tx_news/{relatedFile.file}" configuration="{settings.relatedFiles.download}">
									<span class="fa fa-download"></span>&nbsp;
									<f:if condition="{relatedFile.title}">
										<f:then>
											{relatedFile.title}
										</f:then>
										<f:else>
											{relatedFile.file}
										</f:else>
									</f:if>
								</n:format.fileDownload>
							</f:for>
						</nav>
					</div>
				</f:if>
			</div>
		</f:then>
		<f:else>
			<p><v:l>search-noresult</v:l></p>
		</f:else>
	</f:if>
</f:section>
