{namespace n=Tx_News_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="General" />
<f:section name="content">
	<v:asset.style path="{f:uri.resource(path:'Style/partials/newslist.css', extensionName:'baumer')}"
				   name="newslist"
				   standalone="true"/>
	<div class="news-list">
		<f:if condition="{news}">
			<f:then>
				<v:variable.set name="selectedCategories" value="{v:iterator.explode(glue:',', content:demand.categories)}" />
				<f:if condition="{settings.hidePagination}">
					<f:then>
						<f:render partial="List/List" section="Main" arguments="{_all}" />
					</f:then>
					<f:else>
						<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit}">
							<f:render partial="List/List" section="Main" arguments="{_all}" />
						</n:widget.paginate>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<div class="no-news-found">
					<v:l key="list_nonewsfound" />
				</div>
			</f:else>
		</f:if>
	</div>
</f:section>
