{namespace n=Tx_News_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="General" />
<f:section name="content">
	<v:asset.script path="{f:uri.resource(path:'Javascript/news.js', extensionName:'baumer')}"
				    name="news" />
	<div class="news-list">
		<v:variable.set name="selectedCategories" value="{v:iterator.explode(glue:',', content:demand.categories)}" />
		<v:variable.set name="selectableCategoryGroups" value="{v:iterator.explode(glue:',', content:settings.selectableCategoryGroups)}" />
		<script type="text/javascript">
			var selectedCategories = {v:format.json.encode(value:selectedCategories)};
			var newsCategorySelectionUrl = '{f:uri.action(arguments:{overwriteDemand:{categories:'XXXXX'}}, noCacheHash:1)}';
		</script>
		<f:if condition="{categories}">
			<f:then>
				<div class="filters">
					<div class="f-header clearfix">
						<button class="close-filter btn btn-default pull-right">
							<span class="inner-close-filter" style="display: inline;"><v:l key="news.open_all" extensionName="Baumer" /></span>
							<span class="inner-close-filter" style="display: none;"><v:l key="news.close_all" extensionName="Baumer" /></span>
						</button>
					</div>
					<div class="row">
						<f:for each="{categories}" as="categoryGroup">
							<v:condition.iterator.contains haystack="{selectableCategoryGroups}" needle="{categoryGroup.item.uid}">
								<div class="col-md-3">
									<div class="filterCatWrapper">
										<div class="filterCat">
											<div class="filterCatHeader"><a href="#" class="orange-drop">{categoryGroup.item.title}</a></div>
											<div class="filterCatFlyout" style="display: none;">
												<f:for each="{categoryGroup.children}" as="category">
													<div class="checkbox {v:condition.iterator.contains(haystack:selectedCategories, needle:category.item.uid, then:'checked')}">
														<span class="clickable {v:condition.iterator.contains(haystack:selectedCategories, needle:category.item.uid, then:'category-deselector', else:'category-selector')}" id="selectCat{category.item.uid}" data-cat-uid="{category.item.uid}">
															<span class="check"></span> {category.item.title}
														</span>
													</div>
												</f:for>
											</div>
										</div>
										<f:if condition="{selectedCategories}">
											<v:variable.set name="selectedCatCurGroupContent" value="{f:render(section:'selectedCategoryFilter', arguments:{categoryGroup:categoryGroup, selectedCategories:selectedCategories})}" />
											<f:if condition="{v:format.trim(content:selectedCatCurGroupContent)}">
												<div class="filterCatSelected">
													<f:format.raw>{selectedCatCurGroupContent}</f:format.raw>
												</div>
											</f:if>
										</f:if>
									</div>
								</div>
							</v:condition.iterator.contains>
						</f:for>
					</div>
					<div class="f-footer">
						<f:link.action class="link-arrow-left"><v:l key="news.reset_all" extensionName="Baumer" /></f:link.action>
					</div>
				</div>
			</f:then>
			<f:else>
				<f:translate key="list_nocategoriesfound" />
			</f:else>
		</f:if>
	</div>
</f:section>

<f:section name="selectedCategoryFilter">
	<f:for each="{categoryGroup.children}" as="category">
		<v:condition.iterator.contains haystack="{selectedCategories}" needle="{category.item.uid}">
			<div class="checkbox checked">
				<span class="clickable category-deselector" data-cat-uid="{category.item.uid}">
					<span class="check"></span> {category.item.title}
				</span>
			</div>
		</v:condition.iterator.contains>
	</f:for>
</f:section>
