<!-- ###master_input### -->
	<div class="form-group">
		<label for="###fieldname###">###LLL:label_###fieldname###### <span class="required">###required_###fieldname######</span></label>
		<input class="form-control ###is_error### ###is_error_###fieldname######" data-ng-model="form.###fieldname###" data-ng-init="form.###fieldname### = '###value_###fieldname######'" name="###formValuesPrefix###[###fieldname###]" placeholder="###LLL:placeholder_###fieldname######" value="###value_###fieldname######" ###requiredMarker_###fieldname######>
		<span class="error" data-ng-show="###formValuesPrefix###.###fieldname###.$invalid && (###formValuesPrefix###.###fieldname###.$dirty || validateAll)">
			<span class="fa fa-warning"></span> ###LLL:error_###fieldname###_required###
		</span>
	</div>
<!-- ###master_input### -->

<!-- ###master_hidden### -->
	<input type="hidden" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######">
<!-- ###master_hidden### -->

<!-- can receive param1 to set type="param1" -->
<!-- ###master_input_type### -->
	<div class="form-group">
		<label for="###fieldname###">###LLL:label_###fieldname######  <span class="required">###required_###fieldname######</span></label>
		<input type="###param1###" data-ng-model="form.###fieldname###" data-ng-init="form.###fieldname### = '###value_###fieldname######'" class="form-control ###is_error### ###is_error_###fieldname######" name="###formValuesPrefix###[###fieldname###]" placeholder="###LLL:placeholder_###fieldname######" value="###value_###fieldname######" ###requiredMarker_###fieldname######>
		<span class="error" data-ng-show="###formValuesPrefix###.###fieldname###.$invalid && (###formValuesPrefix###.###fieldname###.$dirty || validateAll)">
			<span class="fa fa-warning"></span> ###LLL:error_###fieldname###_required###
		</span>
	</div>
<!-- ###master_input_type### -->

<!-- ###master_textarea### -->
	<div class="form-group">
		<label for="###fieldname###">###LLL:label_###fieldname######  <span class="required">###required_###fieldname######</span></label>
		<textarea class="form-control ###is_error### ###is_error_###fieldname######" data-ng-model="form.###fieldname###" data-ng-init="form.###fieldname### = '###value_###fieldname######'" name="###formValuesPrefix###[###fieldname###]" placeholder="###LLL:placeholder_###fieldname######" ###requiredMarker_###fieldname######>###value_###fieldname######</textarea>
		<span class="error" data-ng-show="###formValuesPrefix###.###fieldname###.$invalid && (###formValuesPrefix###.###fieldname###.$dirty || validateAll)">
			<span class="fa fa-warning"></span> ###LLL:error_###fieldname###_required###
		</span>
	</div>
<!-- ###master_textarea### -->

<!-- ###master_select_salutation### -->
	<div class="form-group">
		<label for="salutation">###LLL:label_###fieldname###### <span class="required">###required_###fieldname######</span></label>
		<select data-ng-model="form.###fieldname###" class="form-control selectpicker form-salutation ###is_error### ###is_error_###fieldname######" name="###formValuesPrefix###[###fieldname###]" ###requiredMarker_###fieldname###### data-ng-init="form.###fieldname### = '###value_###fieldname######'">
			<option ###selected_salutation_0### value="###LLL:value_salutation.99###">###LLL:label_salutation.99###</option>
			<option ###selected_salutation_1### value="###LLL:value_salutation.1###">###LLL:label_salutation.0###</option>
			<option ###selected_salutation_2### value="###LLL:value_salutation.2###">###LLL:label_salutation.1###</option>
		</select>
		<span class="error" data-ng-show="###formValuesPrefix###.###fieldname###.$invalid && (###formValuesPrefix###.###fieldname###.$dirty || validateAll)">
			<span class="fa fa-warning"></span> ###LLL:error_###fieldname###_required###
		</span>
		###validate_salutation###
	</div>
<!-- ###master_select_salutation### -->

<!-- ###master_submit### -->
	<div class="form-group">
		<button class="btn btn-warning" ###submit_nextStep### type="submit" >
			<span>###LLL:label_submit### <span class="fa fa-envelope-o"></span></span>
			<span data-spinner data-ng-hide="!(inProgress)"></span>
		</button>
	</div>
<!-- ###master_submit### -->

<!-- ###master_select_country### -->
	<div class="form-group">
		<label for="country">###LLL:label_country### <span class="required">###required_###fieldname######</span></label>
		<select data-ng-model="form.country" data-ng-init="form.###fieldname### = '###value_###fieldname######'" class="form-control selectpicker form-country ###is_error### ###is_error_country###" name="country" data-live-search="true" ###requiredMarker_country###>
			<option value="###LLL:value_country.0###">###LLL:label_country.0###</option>
			###country_options###
		</select>
		<span class="error" data-ng-show="###formValuesPrefix###.country.$invalid && (###formValuesPrefix###.country.$dirty || validateAll)">
			<span class="fa fa-warning"></span> ###LLL:error_country_required###
		</span>
		###validate_country###
	</div>
<!-- ###master_select_country### -->

<!-- ###master_select_industry### -->
<div class="form-group">
	<label for="industry">###LLL:label_industry###</label>
	<select class="form-control selectpicker ###is_error### ###is_error_industry###" data-ng-model="form.industry" name="industry" ###requiredMarker_industry###>
		<option value="###LLL:value_industry.0###">###LLL:label_industry.0###</option>
		<option value="###LLL:value_industry.1###">###LLL:label_industry.1###</option>
		<option value="###LLL:value_industry.2###">###LLL:label_industry.2###</option>
		<option value="###LLL:value_industry.3###">###LLL:label_industry.3###</option>
		<option value="###LLL:value_industry.4###">###LLL:label_industry.4###</option>
		<option value="###LLL:value_industry.5###">###LLL:label_industry.5###</option>
		<option value="###LLL:value_industry.6###">###LLL:label_industry.6###</option>
		<option value="###LLL:value_industry.7###">###LLL:label_industry.7###</option>
		<option value="###LLL:value_industry.8###">###LLL:label_industry.8###</option>
		<option value="###LLL:value_industry.9###">###LLL:label_industry.9###</option>
	</select>
	<span class="error" data-ng-show="###formValuesPrefix###.industry.$invalid && ###formValuesPrefix###.industry.$dirty">
		<span class="fa fa-warning"></span> ###LLL:error_industry_required###
	</span>
	###validate_industry###
</div>
<!-- ###master_select_industry### -->

<!-- ###master_checkbox### -->
	<div class="checkbox">
		<input id="###formValuesPrefix###.###fieldname###" type="checkbox" data-ng-model="form.###fieldname###" data-ng-init="form.###fieldname### = '###value_###fieldname######'" class="###is_error### ###is_error_###fieldname######" name="###formValuesPrefix###[###fieldname###]" value="1" ###checked_###fieldname###_1### ###requiredMarker_###fieldname###### />
		<label for="###formValuesPrefix###.###fieldname###">
			###LLL:label_###fieldname###### <span class="required">###required_###fieldname######</span>
		</label>
		<span class="error" data-ng-show="###formValuesPrefix###.###fieldname###.$invalid && (###formValuesPrefix###.###fieldname###.$dirty || validateAll)">
			<span class="fa fa-warning"></span> ###LLL:error_###fieldname###_required###
		</span>
	</div>
<!-- ###master_checkbox### -->

<!-- ###master_select_newslettertopic### -->
	<div class="form-group">
		<label for="topic">###LLL:label_###fieldname###### <span class="required">###required_###fieldname######</span></label>
		<select data-ng-model="form.###fieldname###" class="form-control selectpicker ###is_error### ###is_error_###fieldname######" name="###formValuesPrefix###[###fieldname###]" multiple size="4" ###requiredMarker_###fieldname######>
			###topic_options###
		</select>
		<span class="error" data-ng-show="###formValuesPrefix###.###fieldname###.$invalid && (###formValuesPrefix###.###fieldname###.$dirty || validateAll)">
			<span class="fa fa-warning"></span> ###LLL:error_###fieldname###_required###
		</span>
		###validate_salutation###
	</div>
<!-- ###master_select_newslettertopic### -->
