<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Default"/>

	<f:section name="Main">
		<f:if condition="{currentProductListJson}">
			<script type="text/javascript">
				var currentProductList = <f:format.raw >{currentProductListJson}</f:format.raw >;
			</script>
		</f:if>
		<section class="product-inquiry" data-ng-controller="ProductListCtrl as productListCtrl" ng-cloak>
			<div class="header">
				<h1>
					<v:l key="cpl.title"/>
				</h1>
				<span data-ng-if="currentProductList.lineItems.length > 0">
					<h3 data-ng-if="currentProductList.name">{{currentProductList.name}}</h3>
					<h3 data-ng-if="!currentProductList.name">
						<v:l key="cpl.newList"/>
					</h3>
					<h3 data-ng-if="currentProductList.code">
						<v:l>cpl.modal.share.code</v:l>
						: {{currentProductList.code}}
					</h3>
				</span>

			</div>
			<div class="buttons-top">
				<f:render partial="ProductList/LoadNSaveButtons" section="Main"/>
			</div>

			<table data-ng-if="currentProductList.lineItems.length > 0" class="table">
				<colgroup>
					<col width="100"/>
					<col>
					<col width="280"/>
					<col width="80"/>
					<col width="80"/>
					<col width="80"/>
				</colgroup>
				<tr>
					<th class="first">
						<v:l key="cpl.table.product"/>
					</th>
					<th></th>
					<th>
						<v:l key="cpl.table.note"/>
					</th>
					<th>
						<v:l key="cpl.table.amount"/>
					</th>
					<th>
						<v:l key="cpl.table.price"/>
					</th>
					<th class=last""></th>
				</tr>
				<tr data-ng-repeat-start="lineItem in currentProductList.lineItems" class="{{$index % 2 == 0? 'even' : 'odd'}}">
					<td class="first middle">
						<figure>
							<img class="img-responsive" data-ng-src="{{imageUrl(lineItem)}}" width="83" height="56"/>
						</figure>
					</td>
					<td>
						<div class="desc">
							<h5>{{groupTitle(lineItem)}}</h5>
							<span data-ng-if="url(lineItem)">
								<a data-ng-href="{{url(lineItem)}}" title="{v:l(key:'cpl.openInPFinder')}">
									<h4 class="configuration" data-toggle="tooltip"
										data-original-title="{{configuration(lineItem)}}">
										{{configuration(lineItem)}}</h4>
								</a>
							</span>
							<span data-ng-if="!url(lineItem)">
								<h4 class="configuration">{{configuration(lineItem)}}</h4>
							</span>
						</div>
					</td>
					<td class="middle">
						<textarea class="form-control" data-ng-model="lineItem.note">{{lineItem.note}}</textarea>
					</td>
					<td class="center middle">
						<input class="form-control form-amount" type="text" data-ng-model="lineItem.amount"/>
					</td>
					<td class="center middle">
						<div class="desc">
							<h5 ng-if="lineItem.price">{{lineItem.price | currency: '€': 2}}</h5>
							<h5 ng-if="!lineItem.price">{v:l(key:'configurator.priceOnRequest')}</h5>
							<p ng-if="lineItem.shipping">{v:l(key:'configurator.deliveryTime', arguments:{0:'lineItem.shipping'})}</p>
							<p ng-if="!lineItem.shipping">{v:l(key:'configurator.deliveryTimeOnRequest')}</p>
						</div>
					</td>
					<td class="center middle last">
						<f:render partial="ProductList/DeleteButton" section="LineItem"
								  arguments="{model: 'lineItem'}"/>
					</td>
				</tr>
				<tr data-ng-repeat-end>
					<td></td>
					<td colspan="2">
						<div class="desc">
							<div class="line-item-configuration" data-ng-show="lineItem.attributes.length > 0">
								<a data-ng-click="lineItem.showAttributes = !lineItem.showAttributes" data-ng-switch
								   on="lineItem.showAttributes" class="btn-show-config" title="{v:l(key:'cpl.showConfig')}">
									<span data-ng-switch-default><v:l key="cpl.showConfig"/> <span
											class="fa fa-angle-down"></span></span>
									<span data-ng-switch-when="true"><v:l key="cpl.hideConfig"/> <span
											class="fa fa-angle-down"></span></span>
								</a>
								<div data-ng-show="lineItem.showAttributes">
									<div data-ng-repeat="container in lineItem.attributes">
										<p class="lead">{{container.translatedName}}</p>
										<table class="table table-striped attributes">
											<tr class="{{$index % 2 == 0? 'even' : 'odd'}}"
												data-ng-repeat="attribute in container.parameters"
												data-ng-if="attribute.value.substring(0,3) !== '[&]'">
												<td><strong>{{attribute.label}}</strong></td>
												<td>{{attribute.value | reformatAttributeValue}}</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td colspan="3"></td>
					</tr>
			</table>
			<hr>
			<p><strong>{v:l(key:'cpl.disclaimer')}:</strong> {v:l(key:'cpl.disclaimerBody')}</p>
			<p class="alert alert-warning alert-filter">
				<v:l key="cpl.goToPFinder1"/>
				<a data-ng-click="openPFinder()">
					<v:l key="cpl.goToPFinder2"/>
				</a>
				<v:l key="cpl.goToPFinder3"/>
				<a name="add product" data-ng-click="initNewLineItem()">
					<v:l key="cpl.goToPFinder4"/>
				</a>
			</p>
			<div class="toolbar" data-ng-show="addNewLineItemMode">
				<f:render partial="ProductList/AddProduct" section="Main"/>
			</div>

			<div class="remark" data-ng-if="currentProductList.lineItems.length > 0">
				<h4>
					<v:l key="cpl.youComment"/>
				</h4>
				<textarea class=form-control"" data-ng-model="currentProductList.description"></textarea>

				<div class="buttons-bottom">
					<div class="actions">
						<f:render partial="ProductList/DeleteButton" section="WholeProductList"
								  arguments="{model:'currentProductList'}"/>
					</div>
					<f:link.page class="btn btn-orange btn-icon-right pull-right"
								 pageUid="{settings.productInquiryFormPid}" additionalAttributes="{ng-click: 'saveProductList()'}">
						<v:l key="cpl.makeInquiry"/>
						<span class="fa fa-envelope-o"></span>
					</f:link.page>
				</div>
			</div>
		</section>
		<f:if condition="{outOfCodeValidityPeriod}">
			<p class="alert alert-warning alert-icon">
				<span class="fa fa-warning"></span>
				<v:l key="cpl.codeExpired" arguments="{code:code}"/>
			</p>
		</f:if>
		<p class="alert alert-warning alert-icon" data-ng-if="currentProductList.lineItems.length == 0">
			<span class="fa fa-warning"></span>
			<v:l key="cpl.noItems"/>
		</p>
		</section>

		<f:render partial="ProductList/LoadModal" section="Main"/>
		<f:render partial="ProductList/SaveModal" section="Main"/>

	</f:section>
</div>
