<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="Main">

		<f:if condition="{productListsJson}">
			<script type="text/javascript">
				var productLists = <f:format.raw>{productListsJson}</f:format.raw>;
			</script>
		</f:if>


		<f:comment>

			Angular app productListApp starts here

		</f:comment>
		<div data-ng-controller="ProductListCtrl as productListCtrl" class="productLists">

			<f:comment>

				Fields for a product list
				This part expects a JS var array of name 'productLists' to render.

			</f:comment>

			<div data-ng-if="productLists.length == 0">
				<p><v:l key="pl.noLists" /></profile></p>
			</div>

			<div data-ng-if="productLists.length > 0">
				<table class="table table-striped table-hover named-encoway-configurations">
					<thead>
						<tr>
							<th><v:l key="pl.table.id" /></th>
							<th><v:l key="pl.table.date" /></th>
							<th><v:l key="pl.table.title" /></th>
							<th><v:l key="pl.table.products" /></th>
							<th><v:l key="pl.table.actions" /></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="UserProductList in productLists">
							<td>{{productList.code}}</td>
							<td>{{productList.crdate * 1000 | date}}</td>
							<td>{{productList.name}}</td>
							<td>{{productList.lineItems.length}}</td>
							<td>
								<div class="actions">
									<a class="action" data-ng-href="{{productList.linkUrl}}">
										<span class="fa fa-pencil"></span>
									</a>&nbsp;&nbsp;
									<a class="action" data-ng-click="shareExisting(productList)">
										<span class="fa fa-share-alt"></span>
									</a>&nbsp;&nbsp;
									<f:render partial="ProductList/DeleteButton" section="ProductList" arguments="{model: 'productList'}" />
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</f:section>
</div>
