<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Default" />
	<f:section name="Main">
		<script type="text/javascript">
			var currentMainGroup = <f:format.raw>{currentMainGroup}</f:format.raw>;
			<f:if condition="{productMainGroupsJson}">
				var PRODUCT_MAIN_GROUPS = <f:format.raw>{productMainGroupsJson}</f:format.raw>;
			</f:if>
			<f:if condition="{formSelectedInquiryJson}">
				var formSelectedInquiry = <f:format.raw>{formSelectedInquiryJson}</f:format.raw>;
			</f:if>
			<f:if condition="{currentContactAddressJson}">
				var CONTACT_ADDRESS = <f:format.raw>{currentContactAddressJson}</f:format.raw>;
			</f:if>

			var encowayConfigurationUrl = "{f:uri.action(action: 'load',    controller: 'Encoway',       pluginName: 'CsView',              extensionName: 'baumer',              arguments: {shortCode: 'XXXXX', csViewRecord: 'YYYYY'}, additionalParams: {cHash: 1}, pageUid: settings.productfinder.detailUid, noCacheHash: 1)}"
			var amiradaConfigurationUrl = "{f:uri.action(action: 'show',    controller: 'ProductFinder', pluginName: 'ProductFinder',       extensionName: 'baumerproductfinder', arguments: {url:       'XXXXX'}, pageUid: productFinderPageUid,             noCacheHash: 1)}"
			var productListUrl          = "{f:uri.action(action: 'current', controller: 'ProductList',   pluginName: 'ProductListCheckout', extensionName: 'baumer',              arguments: {code:      'XXXXX'}, pageUid: settings.productListPage,         noCacheHash: 1)}"
			var directConfigurationUrl  = "{f:uri.action(action: 'configurator', controller: 'CsView',   pluginName: 'CsView', extensionName: 'baumer', arguments: {csViewRecord: 'XXXXX'}, pageUid: settings.productfinder.detailUid, noCacheHash: 1)}"
		</script>
	</f:section>
</div>
