{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:render partial="Page/Header" section="Assets" />

<f:render partial="Page/Header" section="Main" />

<div class="main container home">
	<f:render section="Main" />
</div>


<!-- Page footer -->
<f:render partial="Page/Footer" section="Main" />


<f:render partial="Page/Sidebar" section="Main" />
