{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:asset.script
	name="modernizr"
	standalone="true"
	movable="false"
	path="EXT:baumer/Resources/Private/Libraries/modernizr/modernizr.js" />
<v:asset.script
	name="jquery"
	group="headerScripts"
	path="EXT:baumer/Resources/Private/Libraries/jquery/jquery-built.js" />
<v:asset.script
	name="bootstrap"
	dependencies="jquery"
	group="headerScripts"
	path="EXT:baumer/Resources/Private/Libraries/bootstrap-sass/bootstrap-sass-built.js" />
<v:asset.script
	name="bootstrap-select"
	dependencies="jquery,bootstrap"
	group="headerScripts"
	path="EXT:baumer/Resources/Private/Libraries/bootstrap-select/bootstrap-select-built.js" />
<v:asset.style
	name="bootstrap-select-css"
	path="EXT:baumer/Resources/Private/Libraries/bootstrap-select/bootstrap-select-built.css" />
<v:asset.script
	name="bxslider"
	dependencies="jquery"
	path="EXT:baumer/Resources/Private/Libraries/bxslider-4/bxslider-4-built.js" />
<v:asset.script
	name="waypoints"
	dependencies="jquery,bxslider"
	path="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"
	external="true" />
<v:asset.script
	name="baumer-landingpagejs"
	dependencies="jquery,bxslider,bootstrap-select,waypoints"
	path="EXT:baumer/Resources/Private/Javascript/layoutLandingpage.js" />

<v:asset.style
	name="baumer-landingpage"
	standalone="true"
	path="{f:uri.resource(path:'Style/landingpage/style.css')}" />
<v:asset.style
	name="baumer-landingpage-animate"
	standalone="true"
	path="{f:uri.resource(path:'Style/partials/animate.css')}" />
<v:page.header>
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="{f:uri.resource(path:'Style/landingpage/ie8.css')}" />
	<![endif]-->
	<!--[if lt IE 10]>
	<link rel="stylesheet" href="{f:uri.resource(path:'Style/landingpage/ie-animate-reset.css')}" />
	<![endif]-->
</v:page.header>


<header id="header">
	<div class="nav-cont">
		<div class="container">
			<div class="nav-wrapper">
				<div class="clearfix">
					<v:page.menu classFirst="first" entryLevel="0">
						<ul class="nav_main col-md-10" id="nav_main" >
							<f:for each="{menu}" as="subPage" iteration="mainIteration">
								<li class="{f:if(condition:'{subPage.hasSubPages}', then:'hassub')}{f:if(condition:'{mainIteration.isFirst}', then:' first')}{f:if(condition:'{mainIteration.isLast}', then:' last')} {subPage.navigation_layout}">
									<f:link.page pageUid="{subPage.uid}">{subPage.title}</f:link.page>

									<f:if condition="{subPage.navigation_layout} == 'sub-col-4'">
										<f:render partial="Page/Menus" section="fourCol" arguments="{_all}" />
									</f:if>
									<f:if condition="{subPage.navigation_layout} == 'sub-col-1'">
										<f:render partial="Page/Menus" section="oneCol" arguments="{_all}"  />
									</f:if>
									<f:if condition="{subPage.navigation_layout} == 'sub-articles'">
										<f:render partial="Page/Menus" section="fourColImage" arguments="{_all}"  />
									</f:if>
									<f:if condition="{subPage.navigation_layout} == ''">
										<f:render partial="Page/Menus" section="oneCol" arguments="{_all}"  />
									</f:if>
								</li>
							</f:for>
						</ul>
					</v:page.menu>

					<div class="col-md-2">
						<div class="search">
							<div id="searchOverlay">
								<div class="searchFormWrapper">
									<form id="searchForm" role="search" method="get" action="{f:uri.page(pageUid: settings.searchPageUid)}">
										<input type="hidden" name="id" value="{settings.searchPageUid}" />
										<input autocomplete="off" type="text" placeholder="Suche baumer.com" tabindex="1" name="q" id="searchfield" />
									</form>
								</div>
								<div class="btnSearch">
									<button type="button" class="btn btn-default">
										<span class="fa fa-search"></span>
									</button>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<button class="menu-toggle">
			Menü
			<span class="fa fa-navicon"></span>
		</button>
		<h1 class="logo">
			<a href="{v:site.url()}" title="Baumer - Passion for Sensors">
				<img class="img-responsive" src="{f:uri.resource(path: 'Images/logo.jpg')}" alt="Baumer - Passion for Sensors" />
			</a>
		</h1>

		<div id="banner">
			<div class="row">
				<div class="col-md-7">
					<h2>Eine neue Dimension</h2>
					<h3>Der PosCon 3D</h3>
					<h4>Distanzunabhängige Messung der Positionen von Objektkanten.</h4>

					<p class="excerpt">
						Der leistungsstärkste Sensor seiner Klasse.verfügt über Merkmale,
						die bisher nur in aufwändigen Laser-Messsystemen angeboten werden
					</p>

					<h5>Messen Sie mit dem PosCon 3D</h5>
					<ul class="list-check">
						<li>Die Positionen von Kanten</li>
						<li>Die Objektbreite oder die Breite einer Lücke</li>
						<li>Die Mittenposition eines Objekts</li>
					</ul>
				</div>
				<div class="col-md-5">
					<figure>
						<img class="img-responsive" src="typo3conf/ext/baumer/Resources/Public/Images/examples/produktgruppe.png" alt="Banner image" />
					</figure>
				</div>
			</div>
			<div class="actions">
				<a href="#" class="btn btn-default btn-lg btn-icon-left" title="Produkvideo starten">
					<span class="fa fa-play-circle-o"></span>
					Produkvideo starten
				</a>
				<a href="#" class="btn btn-orange btn-lg btn-icon-left" title="Produkvideo starten">
					<span class="fa fa-cubes"></span>
					Produktfinder
				</a>
			</div>
			<figure class="mini-logo">
				<img class="img-responsive" src="typo3conf/ext/baumer/Resources/Public/Images/examples/banner_minilogo.png" alt="mini Logo" />
			</figure>
		</div>
	</div>
</header>


<f:render section="Main" />


<section class="container section section-features">
	<article>
		<div class="hgroup">
			<h2 class="the-title">Leistungsstark &amp; flexibel</h2>
			<h3 class="the-subtitle">Der sehr kompakte Sensor benötigt weder Reflektor, Auswertgerät noch externe Software.</h3>
		</div>
		<div class="the-content">
			Messung ohne aufwändige Ausrichtung des Sensors. Die Messwerte werden direkt in mm ausgegeben,
			zeitaufwändige Umrechnungen übernimmt der PosCon 3D durch eine integrierte, leistungsfähige
			Koordinatentransformation. Distanzunabhängige Messung auch bei Höhenschlag eines Objektes.
			Kosteneinsparungen im desgin-in und der Inbetriebnahme durch eine flexible Montage zu von bis zu +/- 30 °
			zur Referenzfläche
		</div>
		<a class="link" href="#" title="Mehr Erfahren">Mehr Erfahren</a>
	</article>
	<hr class="line-sep" />
	<article>
		<div class="hgroup">
			<h2 class="the-title">Zuverlässig</h2>
			<h3 class="the-subtitle">Der Sensor misst zuverlässig auf Objekte unterschiedlichster Farben und Oberflächen</h3>
		</div>
		<div class="the-content">
			Distanzunabhängige Messung auch bei Höhenschlag eines Objektes. Selbst erhebliche Fremdlichteinflüsse beeinträchtigen die
			Messung nicht. Wartungsarm: Der Sensor funktioniert ohne separaten schmutzanfälligen Reflektor. Optimale
			Prozessunterstützung durch den integrierten Verschmutzungsalarm (geringes Empfangssignal). Industrie 4.0:
			Der konfigurierbare Schaltausgang kann zur Prozessüberwachung genutzt werden (beispielsweise als
			Grenzwertschalter).
		</div>
		<a class="link" href="#" title="Mehr Erfahren">Mehr Erfahren</a>
	</article>
	<hr class="line-sep" />
	<article>
		<div class="hgroup">
			<h2 class="the-title">Leistungsstark & flexibel</h2>
			<h3 class="the-subtitle">Der sehr kompakte Sensor benötigt weder Reflektor, Auswertgerät noch externe Software.</h3>
		</div>
		<div class="the-content">
			Messung ohne aufwändige Ausrichtung des Sensors. Die Messwerte werden direkt in mm ausgegeben,
			zeitaufwändige Umrechnungen übernimmt der PosCon 3D durch eine integrierte, leistungsfähige
			Koordinatentransformation. Distanzunabhängige Messung auch bei Höhenschlag eines Objektes.
			Kosteneinsparungen im desgin-in und der Inbetriebnahme durch eine flexible Montage zu von bis zu +/- 30 °
			zur Referenzfläche
		</div>
		<a class="link" href="#" title="Mehr Erfahren">Mehr Erfahren</a>
	</article>
</section>

<section class="jumbotron jumbotron-one">
	<span class="i-mark fa fa-lightbulb-o"></span>
	<div class="container text-center">
		<h2 class="the-title">Das Funktionsprinzip.</h2>
		<h3 class="the-subtitle">
			Der sehr kompakte Sensor benötigt weder Reflektor,
			Auswertgerät noch extern zu installierende Software.
		</h3>
		<div class="the-content">
			Die vom PosCon 3D projizierte Laserlinie reflektiert an der Objektoberfläche und wird mittels Triangulationsprinzip auf einen 2-dimensionalen optischen
			Empfänger abgebildet, wobei das speziell entwickelte Mehrlinsensystem die notwendige Güte der optischen Abbildung gewährleistet. Entlang der Laserlinie werdendie exakten Abstandswerte zur Objektoberfläche gemessen und mittels nachfolgender cleverer Algorithmik und leistungsfähiger
			Koordinatentransformation die Ausgabewerte berechnet.
		</div>
		<a class="btn btn-default btn-lg btn-icon-right" href="#" title="Jetzt informieren">
			Jetzt informieren
			<span class="fa fa-angle-right"></span>
		</a>
	</div>
</section>

<section class="container section section-sensor">
	<div class="text-center">
		<h2 class="the-title">PosCon3D – Der intelligente Sensor.</h2>
		<h3 class="the-subtitle">Kantenmessung in einer neuen Dimension</h3>
	</div>

	<div class="container">
		<div class="box-sensor" style="background-image: url('typo3conf/ext/baumer/Resources/Public/Images/examples/sensor_00.png');">
			<div class="box-info box-info-top-left">
				<div class="overflow">
					<div class="cont">
						<h5>Integrierte koordinatentrasformatio</h5>
						<ul>
							<li>Messung ohne aufwändige Ausrichtungen des Sensor.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="box-info box-info-top-right">
				<div class="overflow">
					<div class="cont">
						<h5>Innovatives Touch-Display</h5>
						<ul>
							<li>Funktionen werden über das Display ausgewählt und gespeichert.</li>
							<li>Messwert wird in Millimeter</li>
							<li>Keine Installation einer Software nötig.</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="box-info box-info-right-top">
				<div class="overflow">
					<div class="cont">
						<h5><i>qTarget</i></h5>
						<ul>
							<li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</li>
							<li>Dolor sit amet, consetetur elitr, sadipscing.</li>
							<li>Ipsum dolor sit amet, consetetur sadipscing elitr.</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="box-info box-info-bottom">
				<div class="overflow">
					<div class="cont">
						<h5><i>Lorem ipsum dolor</i></h5>
						<ul>
							<li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</li>
							<li>Dolor sit amet, consetetur elitr, sadipscing.</li>
							<li>Ipsum dolor sit amet, consetetur sadipscing elitr.</li>
							<li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</li>
							<li>Dolor sit amet, consetetur elitr, sadipscing.</li>
							<li>Ipsum dolor sit amet, consetetur sadipscing elitr.</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="box-info box-info-right-bottom">
				<div class="overflow">
					<div class="cont">
						<h5><i>Lorem ipsum dolor</i></h5>
						<ul>
							<li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</li>
							<li>Dolor sit amet, consetetur elitr, sadipscing.</li>
							<li>Ipsum dolor sit amet, consetetur sadipscing elitr.</li>
							<li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</li>
							<li>Dolor sit amet, consetetur elitr, sadipscing.</li>
							<li>Ipsum dolor sit amet, consetetur sadipscing elitr.</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="box-info box-info-left-top">
				<div class="overflow">
					<div class="cont">
						<h5><i>qTarget</i></h5>
						<ul>
							<li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</li>
							<li>Dolor sit amet, consetetur elitr, sadipscing.</li>
							<li>Ipsum dolor sit amet, consetetur sadipscing elitr.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="box-info box-info-left-bottom">
				<div class="overflow">
					<div class="cont">
						<h5><i>Lorem ipsum dolor</i></h5>
						<ul>
							<li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</li>
							<li>Dolor sit amet, consetetur elitr, sadipscing.</li>
							<li>Ipsum dolor sit amet, consetetur sadipscing elitr.</li>
							<li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</li>
							<li>Dolor sit amet, consetetur elitr, sadipscing.</li>
							<li>Ipsum dolor sit amet, consetetur sadipscing elitr.</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>

</section>

<section class="jumbotron jumbotron-blue section-form">
	<div class="container">
		<span class="i-mark fa fa-truck"></span>
		<div class="content">
			<div class="row">
				<div class="col-md-7">
					<h2 class="the-title">PosCon 3D StarterKit bestellen</h2>
					<h4 class="the-subtitle">
						Überzeugen Sie sich selbst von der Leistungsfähigkeit
						unseres neuen PosCon 3D Kantensensors
					</h4>
					<ul class="ul">
						<li>PosCon 3D Sensor</li>
						<li>Ein Montageset</li>
						<li>Stromversorgung und Verbindungskabel</li>
						<li>Einen USB Stick mit Datenblatt, Bedienungs- und Montageanleitung</li>
					</ul>
				</div>
				<div class="col-md-5">
					<figure>
						<img class="img-responsive center-block" src="typo3conf/ext/baumer/Resources/Public/Images/examples/jumbotron_blue.png" alt="alternative text" />
					</figure>
				</div>
			</div>
			<form>
				<div class="row">
					<div class="col-md-6">
						<div class="animate-left">
							<h4>Ihre persönliche Daten</h4>
							<div class="form-group">
								<label>Anrede *</label>
								<select class="form-control">
									<option>Wählen Sie Ihre Anrede</option>
									<option>Herr</option>
									<option>Damen</option>
								</select>
							</div>
							<div class="form-group">
								<label for="fx-firstname">Vorname *</label>
								<input id="fx-firstname" class="form-control" type="text" name="firstname" />
							</div>
							<div class="form-group">
								<label for="fx-lastname">Nachname *</label>
								<input id="fx-lastname" class="form-control" type="text" name="lastname" />
							</div>
							<div class="form-group">
								<label for="fx-email">E-Mail *</label>
								<input id="fx-email" class="form-control" type="text" name="email" />
							</div>
							<div class="form-group">
								<label for="fx-phone">Telefon</label>
								<input id="fx-phone" class="form-control" type="text" name="phone" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="animate-right">
							<h4>Ihre Firmendaten</h4>
							<div class="form-group">
								<label for="fx-company">Firma *</label>
								<input id="fx-company" class="form-control" type="text" name="company" />
							</div>
							<div class="form-group">
								<label for="fx-street">Straße, Hausnummer *</label>
								<div class="row">
									<div class="col-md-8">
										<input id="fx-street" class="form-control" type="text" name="street" />
									</div>
									<div class="col-md-4">
										<input id="fx-house-number" class="form-control" type="text" name="house_number" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="fx-zip">PLZ, Ort *</label>
								<div class="row">
									<div class="col-md-4">
										<input id="fx-zip" class="form-control" type="text" name="zip" />
									</div>
									<div class="col-md-8">
										<input id="fx-city" class="form-control" type="text" name="city" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Land *</label>
								<select class="form-control">
									<option>Wählen Sie Ihr Land</option>
									<option>option 1</option>
									<option>option 2</option>
								</select>
							</div>
							<div class="form-group">
								<label>Branche *</label>
								<select class="form-control">
									<option>Wählen Sie Ihre Branche</option>
									<option>option 1</option>
									<option>option 2</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group animate-bottom">
					<label for="fx-message">Nachricht *</label>
					<textarea id="fx-message" class="form-control" placeholder="Ihre Nachricht an uns ..."></textarea>
				</div>
				<div class="action text-center">
					<button class="btn btn-orange btn-lg btn-icon-left">
						<span class="fa fa-envelope-o"></span>
						StarterKit anfragen
					</button>
				</div>
			</form>
		</div>
	</div>
</section>

<section class="container section section-applications">
	<h2 class="the-title">Anwendungsbereiche</h2>
	<div class="row">
		<article class="col-md-4">
			<h3 class="the-subtitle">
				Solarwafer-Positionierung <br />
				in der Elektronikindustrie
			</h3>
			<figure>
				<img class="img-responsive" src="typo3conf/ext/baumer/Resources/Public/Images/examples/landingpage_article_00.jpg" alt="alternative text" />
			</figure>
			<div class="the-content">
				Die Solarwafer und die Bedruckungsmaske müssen vor dem Metallisierungsprozess genau aufeinander
				ausgerichtet werden. Die sehr genaue Positionierung der Metallisierungsmaske gewährleistet der PosCon 3D
				auch dann, wenn er platzbedingt abgewinkelt montiert werden muss.
			</div>
		</article>
		<article class="col-md-4">
			<h3 class="the-subtitle">
				Solarwafer-Positionierung <br />
				in der Elektronikindustrie
			</h3>
			<figure>
				<img class="img-responsive" src="typo3conf/ext/baumer/Resources/Public/Images/examples/landingpage_article_00.jpg" alt="alternative text" />
			</figure>
			<div class="the-content">
				Die Solarwafer und die Bedruckungsmaske müssen vor dem Metallisierungsprozess genau aufeinander
				ausgerichtet werden. Die sehr genaue Positionierung der Metallisierungsmaske gewährleistet der PosCon 3D
				auch dann, wenn er platzbedingt abgewinkelt montiert werden muss.
			</div>
		</article>
		<article class="col-md-4">
			<h3 class="the-subtitle">
				Solarwafer-Positionierung <br />
				in der Elektronikindustrie
			</h3>
			<figure>
				<img class="img-responsive" src="typo3conf/ext/baumer/Resources/Public/Images/examples/landingpage_article_00.jpg" alt="alternative text" />
			</figure>
			<div class="the-content">
				Die Solarwafer und die Bedruckungsmaske müssen vor dem Metallisierungsprozess genau aufeinander
				ausgerichtet werden. Die sehr genaue Positionierung der Metallisierungsmaske gewährleistet der PosCon 3D
				auch dann, wenn er platzbedingt abgewinkelt montiert werden muss.
			</div>
		</article>
		<article class="col-md-4">
			<h3 class="the-subtitle">
				Solarwafer-Positionierung <br />
				in der Elektronikindustrie
			</h3>
			<figure>
				<img class="img-responsive" src="typo3conf/ext/baumer/Resources/Public/Images/examples/landingpage_article_00.jpg" alt="alternative text" />
			</figure>
			<div class="the-content">
				Die Solarwafer und die Bedruckungsmaske müssen vor dem Metallisierungsprozess genau aufeinander
				ausgerichtet werden. Die sehr genaue Positionierung der Metallisierungsmaske gewährleistet der PosCon 3D
				auch dann, wenn er platzbedingt abgewinkelt montiert werden muss.
			</div>
		</article>
		<article class="col-md-4">
			<h3 class="the-subtitle">
				Solarwafer-Positionierung <br />
				in der Elektronikindustrie
			</h3>
			<figure>
				<img class="img-responsive" src="typo3conf/ext/baumer/Resources/Public/Images/examples/landingpage_article_00.jpg" alt="alternative text" />
			</figure>
			<div class="the-content">
				Die Solarwafer und die Bedruckungsmaske müssen vor dem Metallisierungsprozess genau aufeinander
				ausgerichtet werden. Die sehr genaue Positionierung der Metallisierungsmaske gewährleistet der PosCon 3D
				auch dann, wenn er platzbedingt abgewinkelt montiert werden muss.
			</div>
		</article>
		<article class="col-md-4">
			<h3 class="the-subtitle">
				Solarwafer-Positionierung <br />
				in der Elektronikindustrie
			</h3>
			<figure>
				<img class="img-responsive" src="typo3conf/ext/baumer/Resources/Public/Images/examples/landingpage_article_00.jpg" alt="alternative text" />
			</figure>
			<div class="the-content">
				Die Solarwafer und die Bedruckungsmaske müssen vor dem Metallisierungsprozess genau aufeinander
				ausgerichtet werden. Die sehr genaue Positionierung der Metallisierungsmaske gewährleistet der PosCon 3D
				auch dann, wenn er platzbedingt abgewinkelt montiert werden muss.
			</div>
		</article>
	</div>
</section>

<section class="jumbotron section-download">
	<span class="i-mark fa fa-download"></span>
	<div class="container">
		<div class="text-center">
			<h2 class="the-title">PosCon 3D Zusatzmaterial.</h2>
			<h3 class="the-subtitle">
				Registrieren Sie sich, um weitere Dokumente wie<br />
				Datenblätter, Bedienungs- und Montageanleitungen,<br />
				CAD-Modelle oder Trainingsvideos direkt auf der nächsten Seite angezeigt zu bekommen.
			</h3>
		</div>
		<form>
			<div class="row row-form">
				<div class="col-md-6">
					<div class="animate-left">
						<h4>Ihre persönliche Daten</h4>
						<div class="form-group">
							<label>Anrede*</label>
							<select class="form-control">
								<option>Wählen Sie Ihre Anrede</option>
								<option>option 1</option>
								<option>option 2</option>
								<option>option 3</option>
							</select>
						</div>
						<div class="form-group">
							<label for="firstname">Nachname*</label>
							<input class="form-control" id="firstname" type="text" name="firstname" placeholder="Nachname*" />
						</div>
						<div class="form-group">
							<label for="lastname">Vorname*</label>
							<input class="form-control" id="lastname" type="text" name="lastname" placeholder="Vorname*" />
						</div>
						<div class="form-group">
							<label for="email">E-Mail*</label>
							<input class="form-control" id="email" type="text" name="email" placeholder="E-Mail" />
						</div>
						<div class="form-group">
							<label for="tel">telefon</label>
							<input class="form-control" id="tel" type="text" name="tel" placeholder="Telefon"/>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="animate-right">
						<h4>Ihre Firmendaten</h4>
						<div class="form-group">
							<label for="company">Firma</label>
							<input class="form-control" id="company" type="text" name="company" placeholder="Firma" />
						</div>
						<div class="form-group">
							<label for="street">Straße, Hausnummer*</label>
							<div class="row">
								<div class="col-md-8">
									<input class="form-control" id="street" type="text" name="street" />
								</div>
								<div class="col-md-4">
									<input class="form-control" id="house-number" type="text" name="house_number" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="zip">PLZ, Ort</label>
							<div class="row">
								<div class="col-md-4">
									<input class="form-control" id="zip" type="text" name="zip" />
								</div>
								<div class="col-md-8">
									<input class="form-control" id="city" type="text" name="city" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Land*</label>
							<select class="form-control">
								<option>Wählen Sie Ihr Land</option>
								<option>option 1</option>
								<option>option 2</option>
								<option>option 3</option>
							</select>
						</div>
						<div class="form-group">
							<label>Branche</label>
							<select class="form-control">
								<option>Wählen Sie Ihre Branche</option>
								<option>option 1</option>
								<option>option 2</option>
								<option>option 3</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>


<!-- Page footer -->
<f:render partial="Page/Footer" section="Main" />
