{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:render partial="Page/Header" section="Assets" />

<f:render partial="Page/Header" section="Main" />


<v:asset.style
	name="baumer-productpage"
	standalone="true"
	path="{f:uri.resource(path:'Style/partials/produktseite.css')}" />

<div class="main container product-site">
	<f:render partial="Page/Subnavigation" section="Main" />

	<f:render section="Main" />
</div>


<!-- Page footer -->
<f:render partial="Page/Footer" section="Main" />


<f:render partial="Page/Sidebar" section="Main" />
