{namespace bam=Baumer\Baumer\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="Main">
		<div class="panel-group" id="glossary">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" data-toggle="buttons">
					<label data-target="div[id^='glossary-panel-']" class="btn btn-default active">
						<input type="radio" name="glossary-letter" checked> <v:l>glossary.list.all</v:l>
					</label>

					<bam:groupedByFirstLetter each="{glossaryEntries}" as="temp" groupBy="title" groupKey="letter">
						<label data-target="#glossary-panel-{letter}" class="btn btn-default">
							<input type="radio" name="glossary-letter"> {letter}
						</label>
					</bam:groupedByFirstLetter>
				</div>
			</div>
			<br/>

			<bam:groupedByFirstLetter each="{glossaryEntries}" as="groupedEntries" groupBy="title" groupKey="letter" iteration="it">
				<div id="glossary-panel-{letter}" class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#glossary" href="#glossary-body-{letter}">{letter}</a>
						</h4>
					</div>
					<div id="glossary-body-{letter}" class="panel-collapse collapse {f:if(condition:it.isFirst, then:'in')}">
						<div class="panel-body">
							<f:for each="{groupedEntries}" as="glossaryEntry">
								<f:link.action action="show" arguments="{page: glossaryEntry}">{glossaryEntry.title}</f:link.action>
								<br/>
							</f:for>
						</div>
					</div>
				</div>
			</bam:groupedByFirstLetter>

		</div>

	</f:section>

</div>
