<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="Main">

		<f:link.action action="list"><v:l>glossary.back</v:l></f:link.action>

		<h1>{page.title}</h1>

		<v:content.render hideUntranslated="true" column="0" pageUid="{page.uid}" />
	</f:section>

</div>
