<ul>
	<f:for each="{addresses}" as="address">
		<li>
			<f:if condition="{address.name}">
				<f:then>{address.name}</f:then>
				<f:else>{address.firstName} {address.middleName} {address.lastName}</f:else>
			</f:if>
		</li>
	</f:for>
</ul>
