<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Content"/>

    <f:section name="Configuration">
        <flux:form id="container" options="{group: 'Bourdon FCEs', sorting: 800}">
            <flux:field.checkbox name="isFullscreen" default="false" requestUpdate="true"/>
            <flux:field.checkbox name="textCenter" default="false"/>
            <f:if condition="{isFullscreen}">
                <flux:field.select name="color" items="white, blue" default="white"/>
            </f:if>
        </flux:form>
        <flux:grid>
            <flux:grid.row>
                <flux:grid.column style="width: 100%;" name="column1"/>
            </flux:grid.row>
        </flux:grid>
    </f:section>

    <f:section name="Preview">
        <b>
            <f:if condition="{color == 'blue'}"><span>{color} </span></f:if>
            <f:if condition="{isFullscreen}"><span>fullscreen </span></f:if>
            container</b>
    </f:section>

    <f:section name="Main">
        <f:if condition="{isFullscreen}">
            <f:then>
                <f:if condition="{textCenter}">
                    <f:then>
                        <div class="container-fluid text-center container-{color}">
                            <flux:content.render area="column1"/>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="container-fluid container-{color}">
                            <flux:content.render area="column1"/>
                        </div>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <f:if condition="{textCenter}">
                    <f:then>
                        <div class="container text-center container-{color}">
                            <flux:content.render area="column1"/>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="container container-{color}">
                            <flux:content.render area="column1"/>
                        </div>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </f:section>
</div>
