<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="expandableBox" options="{group: 'Bourdon FCEs', sorting: 800}">
			<flux:field.input name="toggleText" required="1"/>
		</flux:form>
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column style="width: 100%;" name="column1"/>
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column style="width: 100%; border-top: 1px solid gray;" name="column2"/>
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Preview">
		<b>Expandable box</b>
	</f:section>

	<f:section name="Main">
		<div class="expandable container">
			<div class="row">
				<div class="col-md-8 col-md-push-2">
					<div class="expandable-upper">
						<flux:content.render area="column1"/>
					</div>
					<a class="text-center expandable-toggle" href="#"><span class="icon-rounded-big-2"></span>{toggleText}</a>

					<div class="expandable-lower" style="display: none;">
						<flux:content.render area="column2"/>
					</div>
				</div>
			</div>
		</div>
	</f:section>
</div>
