<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="tabs" options="{group: 'Bourdon FCEs', sorting: 800}">
			<flux:form.sheet name="tabs" >
				<flux:form.section name="tab">
					<flux:form.object name="tab" label="{tabTitle}">
						<flux:field.input name="tabTitle" label="Tab title" required="true"/>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
		</flux:form>

		<!-- Define the backend layout -->
		<flux:grid>
			<!-- If we have tabs in use -->
			<f:if condition="{tab -> f:count()} > 0">
				<f:for each="{tab}" as="tabThing" iteration="iteration">
					<!-- Every tab that has been configured in the sheet above will be output as a column in the backend layout -->
					<flux:grid.row>
						<flux:grid.column name="content.tab{iteration.index}" label="{f:if(condition: tabThing.tab.tabTitle, then: 'Tab, {tabThing.tab.tabTitle}', else: 'Tab, {iteration.cycle}')}"/>
					</flux:grid.row>
				</f:for>
			</f:if>
		</flux:grid>
    </f:section>

    <f:section name="Main">
		<v:variable.set name="tabList" value="{tab}" />
		<ul class="nav nav-tabs responsive" role="tablist">
			<f:for each="{tabList}" as="tabObject" iteration="iteration">
				<v:variable.set name="tab" value="{tabObject.tab}" />
				<li role="presentation" class="{f:if(condition: iteration.isFirst, then:'active')}"><a href="#tab{iteration.index}" aria-controls="tab{iteration.index}" role="tab" data-toggle="tab">{tab.tabTitle}</a></li>
			</f:for>
		</ul>
		<div class="tab-content responsive">
			<f:for each="{tabList}" as="tabObject" iteration="iteration">
				<v:variable.set name="tab" value="{tabObject.tab}" />
				<div role="tabpanel" class="tab-pane {f:if(condition: iteration.isFirst, then:'active')}" id="tab{iteration.index}">
					<flux:content.render area="content.tab{iteration.index}" />
				</div>
			</f:for>
		</div>
    </f:section>
</div>
