<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Page" />

	<f:section name="Configuration">

		<!-- Make this page type configurable -->
		<flux:form id="contentPage" label="Content Page" options="{sorting: 200, icon: '{f:uri.resource(path: \'Icons/Page/bourdon_contentpage.png\')}'}">
			<flux:form.sheet name="sections">
				<flux:form.section name="sections">
					<flux:form.object name="section" label="{sectionTitle}">
						<flux:field.input name="sectionTitle" label="Section title" required="true"/>
						<flux:field.checkbox name="headlineUppercase" label="Headline uppercase" default="false"/>
						<flux:field.checkbox name="textCentered" label="Centered text" default="false"/>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:form.sheet name="widgets">
				<flux:form.section name="widgets">
					<flux:form.object name="widget" label="{widgetTitle}">
						<flux:field.input name="widgetTitle" label="Widget title" required="true"/>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:form.sheet name="menu" description="Configure the appearance of this page in menus">
				<flux:field.inline.fal name="mainMenuImage" required="false" maxItems="1" minItems="0" />
			</flux:form.sheet>
		</flux:form>

		<!-- Define the backend layout -->
		<flux:grid>
			<!-- We have one fixed defined column on top -->
			<flux:grid.row>
				<flux:grid.column name="Headline" label="Headline" colPos="111" />
			</flux:grid.row>
			<!-- If we have sections in use -->
			<f:if condition="{sections -> f:count()} > 0">
				<f:for each="{sections}" as="section" iteration="iteration">
					<!-- Every section that has been configured in the sheet above will be output as a column in the backend layout -->
					<flux:grid.row>
						<flux:grid.column name="content.222{iteration.index}" colPos="222{iteration.index}" label="{f:if(condition: section.section.sectionTitle, then: 'Section, {section.section.sectionTitle}', else: 'Content, section {iteration.cycle}')}"/>
					</flux:grid.row>
				</f:for>
			</f:if>
			<!-- If we have widgets in use -->
			<f:if condition="{widgets -> f:count()} > 0">
				<f:for each="{widgets}" as="widget" iteration="iteration">
					<!-- Every widgets that has been configured in the sheet above will be output as a column in the backend layout -->
					<flux:grid.row>
						<flux:grid.column name="content.333{iteration.index}" colPos="333{iteration.index}" label="{f:if(condition: widget.widget.widgetTitle, then: 'Widget, {widget.widget.widgetTitle}', else: 'Content, widget {iteration.cycle}')}"/>
					</flux:grid.row>
				</f:for>
			</f:if>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<div class="section section-primary">
			<div class="container">
				<h1>{page.title}</h1>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 content-head">
					<v:page.breadCrumb class="breadcrumb hidden-xs"/>
					<v:content.render column="111" />
				</div>
				<div class="col-sm-8 col-md-9 page-content">
					<f:for each="{sections}" as="sectionObject" iteration="iteration">
						<v:variable.set name="section" value="{sectionObject.section}" />
						<v:variable.set name="classList" value="section"/>
						<f:if condition="{section.textCentered}">
							<f:then>
								<v:variable.set name="classList" value="{classList} text-center"/>
							</f:then>
						</f:if>
						<div class="{classList}">
							<v:content.render column="222{iteration.index}" />
						</div>
					</f:for>
				</div>
				<div class="col-sm-4 col-md-3">
					<f:for each="{widgets}" as="widgetObject" iteration="iteration">
						<v:variable.set name="widget" value="{widgetObject.widget}" />
						<div class="widget">
							<h3>{widget.widgetTitle}</h3>
							<div class="widget-content">
								<v:content.render column="333{iteration.index}" />
							</div>
						</div>
					</f:for>
				</div>
			</div>
		</div>
	</f:section>

</div>
