<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Page"/>

	<f:section name="Configuration">
		<flux:form id="searchResults" label="Search Result" options="{sorting: 300, icon: '{f:uri.resource(path: \'Icons/Page/bourdon_searchresults.png\')}'}"/>
	</f:section>

	<f:section name="Main">
		<script>
			var SEARCH_CONFIG = {searchConfig -> f:format.raw()};
			var CS_ATTRIBUTES = {csAttributes -> f:format.raw()};
			var FILE_ATTRIBUTES = {fileAttributes -> f:format.raw()};
		</script>
		<v:asset.script
			name="AngularSearch"
			dependencies="AngularBaumerApp"
			path="EXT:baumer/Resources/Private/Javascript/searchController.js"
			standalone="true"
			movable="true"/>


		<div class="search" data-ng-controller="SearchCtrl">
			<div class="productfilter container">
				<div class="row">
					<div class="headerWrap col-sm-12" data-ng-show="searchIsAvailable" data-ng-cloak>
						<h1>{v:l(id:'search.result_for')}: {{q}}</h1>
						<div class="input-group">
							<input title="{v:l(id:'search')}" placeholder="{v:l(id:'search.placeholder')}" class="form-control input-lg" name="q" data-ng-change="search()" data-ng-model="q" autocomplete="off" />
							<span class="input-group-btn">
								<button class="btn btn-info btn-lg" data-ng-click="search()" type="button">
									<span class="icon icon-magnifier"></span>
								</button>
							</span>
						</div>
					</div>
					<div class="headerWrap col-sm-12" data-ng-hide="searchIsAvailable" data-ng-cloak>
						<p class="lead">{v:l(id:'search.we_are_sorry')}</p>
					</div>
				</div>

				<f:comment>
				<div class="filters" data-ng-cloak>
					<a href="#" data-ng-click="searchTypes.PRODUCTS.hidden = !searchTypes.PRODUCTS.hidden" class="btn btn-gray" data-ng-class="{'filter-disabled': searchTypes.PRODUCTS.hidden}"><v:l>products</v:l> {{searchTypes.PRODUCTS.totalItems}}</a>
					<a href="#" data-ng-click="searchTypes.PAGES.hidden = !searchTypes.PAGES.hidden" class="btn btn-gray" data-ng-class="{'filter-disabled': searchTypes.PAGES.hidden}"><v:l>pages</v:l> {{searchTypes.PAGES.totalItems}}</a>
					<a href="#" data-ng-click="searchTypes.FILES.hidden = !searchTypes.FILES.hidden" class="btn btn-gray" data-ng-class="{'filter-disabled': searchTypes.FILES.hidden}"><v:l>downloads</v:l> {{searchTypes.FILES.totalItems}}</a>
					<div class="f-footer">
						<span class="clickable link-arrow-left" data-ng-click="resetFilters()"><v:l>productfinder.reset_all_filters</v:l></span>
					</div>
				</div>
				</f:comment>

			</div>
			<div class="container search-results">

				<div class="alert alert-info" data-ng-if="showSuggestion" data-ng-cloak>
					{v:l(id:'search.suggestion')} <a data-ng-click="doSearch(suggestion)">{{suggestion}}</a>
				</div>

				<div class="alert alert-warning" data-ng-if="showNoResults" data-ng-cloak>
					{v:l(id:'search.no_results')}
				</div>

				<div class="alert alert-warning" data-ng-hide="searchIsAvailable" data-ng-cloak>
					{v:l(id:'search.unavailable')}
				</div>

				<div data-tabset data-ng-cloak>
					<div data-tab data-ng-if="searchTypes.PRODUCTS.totalItems > 0">
						<div data-tab-heading>
							<v:l>{v:l(id:'search.type.product')}</v:l>
							<span class="count">{{searchTypes.PRODUCTS.totalItems}}</span>
						</div>
						<f:render section="Results-Products" />
					</div>
					<div data-tab data-ng-if="searchTypes.FILES.totalItems > 0">
						<div data-tab-heading>
							<v:l>{v:l(id:'search.type.download')}</v:l>
							<span class="count">{{searchTypes.FILES.totalItems}}</span>
						</div>
						<f:render section="Results-Downloads" />
					</div>
					<div data-tab data-ng-if="searchTypes.PAGES.totalItems > 0">
						<div data-tab-heading>
							<v:l>{v:l(id:'search.type.page')}</v:l>
							<span class="count">{{searchTypes.PAGES.totalItems}}</span>
						</div>
						<f:render section="Results-Pages" />
					</div>
				</div>

			</div>
		</div>
	</f:section>

	<f:comment>====== PRODUCTS RESULT ======</f:comment>
	<f:section name="Results-Products">
		<div class="search-results-section" data-ng-if="!searchTypes.PRODUCTS.hidden">
			<div class="row search-results-content selectorResultGrid">
				<div class="col-md-4" data-ng-repeat="result in searchTypes.PRODUCTS.results" data-ng-cloak>
					<div class="product-grid-container" data-equal-heights-after-repeat=".selectorResultGrid .product-grid-container">
						<h4 class="text-center">
							<a data-ng-if="result._source.url" data-ng-href="{{result._source.url}}">{{result._source.label}}</a>
							<span data-ng-if="!result._source.url">{{result._source.label}}</span>
						</h4>
						<figure>
							<a data-ng-if="result._source.url" data-ng-href="{{result._source.url}}" data-ng-show="result._source.data.GroupedAttributes[imageAttributeId]">
								<img class="img-responsive" data-ng-src="{{result._source.data.GroupedAttributes[imageAttributeId][0].Links[0].FormattedValue}}">
							</a>
						</figure>
						<a data-ng-if="result._source.url && hasKmat(result._source)" class="btn btn-default selector-details" data-ng-href="{{result._source.url}}">
							<v:l>productfinder.list.buttons.details</v:l>
						</a>
						<table>
							<tr data-ng-repeat="galleryAttribute in result._source.data.GroupedAttributes[galleryAttributeId]"
								data-ng-if="galleryAttribute.FormattedValue[0].length > 0">
								<td>{{galleryAttribute.TranslatedName}}</td>
								<td>
									<ul>
										<li class="tableValue" data-ng-repeat="value in galleryAttribute.FormattedValue | ensureArray | removeBlankItems">
											{{value}}
										</li>
									</ul>
								</td>
							</tr>
						</table>
						<div class="buttons">
							<div class="cont">
								<a data-ng-href="{{result._source.data.GroupedAttributes[datasheetAttributeId][0].Links[0].FormattedValue}}"
								   data-ng-if="result._source.data.GroupedAttributes[datasheetAttributeId][0].FormattedValue.length > 0"
								   class="button"
								   target="_blank"
								   title="{v:l(key:'productfinder.download_datasheet')}">
									<span class="fa fa-download"></span>
									<v:l>productfinder.download_datasheet</v:l>
								</a>
								<a data-ng-click="addToPlWidget(result)" class="button request-product" title="{v:l(key:'productfinder.request_product')}">
									<span data-ng-hide="result.adding"><span class="fa fa-star"></span> <v:l>productfinder.request_product</v:l></span>
									<div data-spinner data-ng-show="result.adding"></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center">
				<div data-pagination data-ng-hide="searchTypes.PRODUCTS.totalItems <= searchTypes.PRODUCTS.itemsPerPage" data-ng-click="search()" data-items-per-page="searchTypes.PRODUCTS.itemsPerPage" data-boundary-links="true" data-total-items="searchTypes.PRODUCTS.totalItems" data-ng-model="searchTypes.PRODUCTS.currentPage"></div>
			</div>
		</div>
	</f:section>

	<f:comment>====== PAGES RESULT ======</f:comment>
	<f:section name="Results-Pages">
		<div class="search-results-section"  data-ng-if="!searchTypes.PAGES.hidden">
			<div class="row search-results-content">
				<div class="col-md-6" data-ng-repeat="result in searchTypes.PAGES.results" data-ng-cloak>
					<article class="search-results-box">
						<h3><a data-ng-href="{{result._source.url}}">{{result._source.title}}</a></h3>

						<p> {{result._source.content|limitTo:200}}
							<a data-ng-href="{{result._source.url}}" class="btn btn-sm btn-primary pull-right"><v:l>more</v:l></a>
						</p>
					</article>
				</div>
			</div>
			<div class="text-center">
				<div data-pagination data-ng-hide="searchTypes.PAGES.totalItems <= searchTypes.PAGES.itemsPerPage" data-ng-click="search()" data-items-per-page="searchTypes.PAGES.itemsPerPage" data-boundary-links="true" data-total-items="searchTypes.PAGES.totalItems" data-ng-model="searchTypes.PAGES.currentPage"></div>
			</div>
		</div>
	</f:section>

	<f:comment>====== DOWNLOADS RESULT ======</f:comment>
	<f:section name="Results-Downloads">
		<div class="search-results-section"  data-ng-if="!searchTypes.FILES.hidden">
			<div class="row search-results-content row-downloads">
				<div data-ng-repeat="result in searchTypes.FILES.results" class="col-md-6" data-ng-cloak>
					<article data-equal-heights-after-repeat=".row-downloads article">
						<span class="mark fa" data-ng-class="'fileico-'+result._source.extension"></span>
						<div class="media">
							<div class="media-left" data-ng-if="result._source.thumbnail">
								<img data-ng-src="{{result._source.thumbnail}}" />
							</div>
							<div class="media-body">
								<span class="cat">{{getFieldValue('maingroup', result)}}</span>

								<h3>{{getFieldValue('title', result)}}</h3>
								<h4>{{getFieldValue('mediatype', result)}}</h4>

								<div class="row">
									<div class="col-xs-9">
										<select data-ng-model="result.selectedDownload" data-ng-init='result.selectedDownload = "{v:l(id: "general.downloadcenter.selectLanguage")}"' class="form-control form-country selectpicker" name="language" id="language">
											<option disabled selected><v:l id="general.downloadcenter.selectLanguage"></v:l></option>
											<option data-ng-repeat="download in result._source.downloads" value="{{download.url}}">{{download.lang | uppercase}}</option>
										</select>
									</div>
									<div class="col-xs-3">
										<a target="_blank" class="btn btn-primary btn-download" data-ng-href="{{result.selectedDownload}}" data-ng-class="{'disabled': result.selectedDownload == '{v:l(id: "general.downloadcenter.selectLanguage")}'}"><span class="fa fa-download"></span></a>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="text-center">
				<div data-pagination data-ng-hide="searchTypes.FILES.totalItems <= searchTypes.FILES.itemsPerPage" data-ng-click="search()" data-items-per-page="searchTypes.FILES.itemsPerPage" data-boundary-links="true" data-total-items="searchTypes.FILES.totalItems" data-ng-model="searchTypes.FILES.currentPage"></div>
			</div>
		</div>
	</f:section>
</div>
