<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Page" />

	<f:section name="Configuration">

		<!-- Make this page type configurable -->
		<flux:form id="sections" label="Sections" options="{sorting: 100, icon: '{f:uri.resource(path: \'Icons/Page/bourdon_general.png\')}'}">
			<flux:form.sheet name="sections" description="Define the page sections">
				<flux:form.section name="sections">
					<flux:form.object name="section" label="{sectionTitle}">
						<flux:field.input name="sectionTitle" label="Section title" required="true"/>
						<flux:field.checkbox name="textCentered" label="Centered text" default="false"/>
						<flux:field.checkbox name="fullWidth" label="Full-width" default="false" requestUpdate="true"/>
						<flux:field.select displayCond="{fullWidth}" name="backgroundColor" label="Background color" items="white, blue" required="true"/>
						<flux:field.checkbox displayCond="{fullWidth}" name="contentContainer" label="Content Container" default="false"/>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:form.sheet name="menu" description="Configure the appearance of this page in menus">
				<flux:field.inline.fal name="mainMenuImage" required="false" maxItems="1" minItems="0" />
			</flux:form.sheet>
		</flux:form>

		<!-- Define the backend layout -->
		<flux:grid>
			<!-- If we have sections in use -->
			<f:if condition="{sections -> f:count()} > 0">
				<f:for each="{sections}" as="section" iteration="iteration">
					<!-- Every section that has been configured in the sheet above will be output as a column in the backend layout -->
					<flux:grid.row>
						<flux:grid.column name="content.{iteration.index}" colPos="{iteration.index}" label="{f:if(condition: section.section.sectionTitle, then: section.section.sectionTitle, else: 'Content, section {iteration.cycle}')}" />
					</flux:grid.row>
				</f:for>
			</f:if>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<f:for each="{sections}" as="sectionObject" iteration="iteration">
			<v:variable.set name="section" value="{sectionObject.section}" />
			<v:variable.set name="classList" value="section"/>
			<f:if condition="{section.fullWidth}">
				<f:else>
					<v:variable.set name="classList" value="{classList} container"/>
				</f:else>
			</f:if>
			<f:if condition="{section.backgroundColor} == 'blue'">
				<f:then>
					<v:variable.set name="classList" value="{classList} section-primary"/>
				</f:then>
			</f:if>
			<f:if condition="{section.textCentered}">
				<f:then>
					<v:variable.set name="classList" value="{classList} text-center"/>
				</f:then>
			</f:if>
			<div class="{classList}">
				<f:if condition="{section.contentContainer}">
					<f:then>
						<div class="container">
							<v:content.render column="{iteration.index}" />
						</div>
					</f:then>
					<f:else>
						<v:content.render column="{iteration.index}" />
					</f:else>
				</f:if>
			</div>
		</f:for>
	</f:section>

</div>
