<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Page" />

	<f:section name="Configuration">
		<flux:form id="simple" label="Simple" options="{sorting: 300, icon: '{f:uri.resource(path: \'Icons/Page/bourdon_general.png\')}'}">
		</flux:form>
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="0" label="Main" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<!--TYPO3SEARCH_begin-->
		<v:content.render column="0" />
		<!--TYPO3SEARCH_end-->
	</f:section>
</div>
