<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Partials: Page/Breadcrumb</title>
</head>
<body>

<f:section name="Main">
	<ul class="breadcrumb">
		<v:page.breadCrumb classCurrent="active" linkCurrent="false" as="breadcrumbs">
			<f:for each="{breadcrumbs}" as="breadcrumb" iteration="iteration">
				<li><f:link.page pageUid="{breadcrumb.uid}" class="{breadcrumb.class}">{breadcrumb.linktext}</f:link.page></li>
			</f:for>
		</v:page.breadCrumb>

		<v:render.uncache partial="Page/Amiradabreadcrumb" section="Amirada" />
	</ul>
</f:section>

<f:section name="Amirada">
	<v:render.request action="breadcrumb" controller="ProductFinder" extensionName="BaumerProductFinder" pluginName="productfinder" vendorName="Baumer" />
</f:section>

</body>
</html>
