<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
	<head>
		<title>Partials: Page/Breadcrumb</title>
	</head>
	<body>

	<f:section name="Main">
			<v:page.breadCrumb class="breadcrumb" classActive="" classCurrent="active" linkCurrent="false" />
	</f:section>

	</body>
</html>
