<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:section name="header">
		<div class="headerWrapGradient">
			<header id="header">
				<div class="container">
					<div class="row">
						<div class="logo-box col-md-4">
							<a href="/" title="Baumer">
								<img class="img-responsive" src="{f:uri.resource(path: 'Images/logo.jpg')}" alt="Baumer - Passion for Sensors"/>
							</a>
						</div>
					</div>
				</div>
			</header>
		</div>
	</f:section>

	<f:section name="languages">
		<div class="main container languages-page">
			<div class="header">
				<h1 id="country-select-title"><v:l>chooselanguage.title</v:l></h1>

				<h2 id="country-select"><v:l>chooselanguage.select</v:l></h2>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="box-languages">
						<h2 id="country-eu"><v:l>chooselanguage.continent.europe</v:l></h2>
						<div class="row">
							<f:render section="flag" arguments="{link: 98, flag: 'DE', name: 'Germany'}"/>
							<f:render section="flag" arguments="{link: 99, flag: 'CH', name: 'Swizerland'}"/>
							<f:render section="flag" arguments="{link: 134, flag: 'FR', name: 'France'}"/>
							<f:render section="flag" arguments="{link: 140, flag: 'IT', name: 'Italy'}"/>
							<f:render section="flag" arguments="{link: 110, flag: 'BE', name: 'Benelux'}"/>
							<f:render section="flag" arguments="{link: 182, flag: 'DK', name: 'Denmark'}"/>
							<f:render section="flag" arguments="{link: 200, flag: 'ES', name: 'Spain'}"/>
							<f:render section="flag" arguments="{link: 155, flag: 'PL', name: 'Poland'}"/>
							<f:render section="flag" arguments="{link: 201, flag: 'GB', name: 'Great Britain'}"/>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="box-languages">
						<h2 id="country-asia"><v:l>chooselanguage.continent.asia</v:l></h2>
						<div class="row">
							<f:render section="flag" arguments="{link: 128, flag: 'CN', name: 'China'}"/>
							<f:render section="flag" arguments="{link: 161, flag: 'IN', name: 'India'}"/>
							<f:render section="flag" arguments="{link: 188, flag: 'SG', name: 'South East Asia'}"/>
							<f:render section="flag" arguments="{link: 146, flag: 'AE', name: 'UAE'}"/>
							<f:render section="flag" arguments="{link: 194, flag: 'KR', name: 'South Korea'}"/>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="box-languages">
						<h2  id="country-america"><v:l>chooselanguage.continent.america</v:l></h2>
						<div class="row">
							<f:render section="flag" arguments="{link: 91,flag: 'US', name: 'USA'}"/>
							<f:render section="flag" arguments="{link: 122, flag: 'CA', name: 'Canada'}"/>
							<f:render section="flag" arguments="{link: 116, flag: 'BR', name: 'Brazil'}"/>
							<f:render section="flag" arguments="{link: 207, flag: 'VE', name: 'Venezuela'}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<f:render section="nativLanguage" />
	</f:section>

	<f:section name="flag">
		<div class="col-md-6">
			<div class="box-flag">
				<a href="{f:uri.page(pageUid: link)}">
					<div class="box-flag-header">
						<img src="{f:uri.resource(path: 'Images/flags/48/{flag}.png')}" alt="{name}"/>

						<h3 id="country-{flag}">{name}</h3>
					</div>
				</a>
			</div>
		</div>
	</f:section>

	<f:section name="nativLanguage">
		<!-- set language -->
		<script>
			var userLang = navigator.language || navigator.userLanguage;
			var language = userLang.substr(0, 2).toUpperCase();
			var translations = {
				'DE' : {
					'select-title' : 'Baumer International',
					'select' : 'Wählen Sie ihr Land',
					'eu' : 'Europa',
					'asia' : 'Asien',
					'america' : 'Amerika',
					'DE': 'Deutschland',
					'CH': 'Schweiz',
					'FR': 'Frankreich',
					'IT': 'Italien',
					'BE': 'Belgien',
					'DK': 'Dänemark',
					'ES': 'Spanien',
					'PL': 'Polen',
					'GB': 'Großbritannien',
					'CN': 'China',
					'IN': 'Indien',
					'SG': 'Süd Ost Asien',
					'AE': 'Vereinigte Emirate',
					'KR': 'Südkorea',
					'US': 'USA',
					'CA': 'Kanada',
					'BR': 'Brasilien',
					'VE': 'Venezuela'
				}
			};

			if(translations[language] !== undefined) {
				for (var translation in translations[language]){
					if(document.getElementById('country-' + translation)) {
						document.getElementById('country-' + translation).innerHTML = translations[language][translation];
					}
				}
			}
		</script>
	</f:section>

	<f:section name="footer">
		<footer id="footer">
			<div class="box-bottom">
				<div class="container">
					<small class="copyright"><v:l>footer.copyright</v:l> <f:format.date format="Y">now</f:format.date></small>
					<nav>
						<v:page.menu.list pages="{menu}" />
					</nav>
				</div>
			</div>
		</footer>
	</f:section>

</div>
