<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
	<head>
		<title>Partials: Page/Footer</title>
	</head>
	<body>

		<f:section name="Main">

			<v:asset.script name="footer-slider" dependencies="bxslider">
				/*
				 * Animation slide to specials articles on the footer. This slide uses bxSlider plugin.
				 * http://bxslider.com/
				 */
				(function($){
					var footerSpecials = $('#footer .specials-slider');
					var footerSpecialItems = $('article', footerSpecials);
					var footerSpecialsOptions = {
						slideWidth: 260,
						slideMargin: 0,
						pager: false,
						prevText: '<span class="fa fa-angle-left"></span>',
						nextText: '<span class="fa fa-angle-right"></span>'
					}

					if(footerSpecials.length) {
						if(footerSpecialItems.length > 1) {
							footerSpecials.bxSlider(footerSpecialsOptions);
						}
					}
				})(jQuery);
			</v:asset.script>

			<footer id="footer">
				<nav class="social-buttons">
					<a href="#" title="Facebook">
						<span class="fa fa-facebook"></span>
						Facebook
					</a>
					<a href="#" title="Twitter">
						<span class="fa fa-twitter"></span>
						Twitter
					</a>
					<a href="#" title="Youtube">
						<span class="fa fa-youtube"></span>
						Youtube
					</a>
				</nav>
				<div class="box-top">
					<div class="container">
						<div class="subscription">
							<h3 class="title"><v:l>footer.newsletter.title</v:l></h3>
							<f:form pageUid="{settings.newsletterFormPageUid}">
								<div class="input-subscription">
									<input class="form-control" type="text" name="email" placeholder="{v:l(key:'general.forms.enter_email')}" />
									<button class="btn btn-default"><v:l>general.forms.send</v:l></button>
								</div>
							</f:form>
						</div>
						<hr class="hidden-xs hidden-sm"/>
						<div class="row row-bottom hidden-xs hidden-sm">
							<div class="col-md-4 col-left">
								<h3 class="title"><v:l>footer.slider.title</v:l></h3>

								<div class="specials">
									<div class="specials-slider">
										<v:content.render pageUid="{settings.footerPageUid}" column="42" />
									</div>
								</div>
							</div>
							<div class="col-md-8 col-right">
								<h2 class="title"><v:l>footer.content.title</v:l></h2>

								<div class="the-content">
									<v:content.render pageUid="{settings.footerPageUid}" column="55" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="box-bottom">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-sm-push-6">
								<nav>
									<v:page.menu pageUid="{settings.footerPageUid}">
										<ul>
											<f:for each="{menu}" as="subPage">
												<li>
													<f:link.page pageUid="{subPage.uid}">{subPage.title}</f:link.page>
												</li>
											</f:for>
										</ul>
									</v:page.menu>
								</nav>
							</div>
							<div class="col-sm-6 col-sm-pull-6">
								<small class="copyright"><v:l>footer.copyright</v:l> <f:format.date format="Y">now</f:format.date> </small>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</f:section>

	</body>
</html>

