<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:section name="Default">
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="100" name="header" label="Header" style="width: 100%" />
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column colPos="0" name="content" label="Content" style="width: 100%" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Product">
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="0" name="content" label="Content" colspan="2" />
				<flux:grid.column colPos="5" name="sidebar" label="Sidebar" colspan="1" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="OneColumn">
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="0" name="content" label="Content" style="width: 100%" />
			</flux:grid.row>
		</flux:grid>
	</f:section>
</div>
