<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
	<head>
		<title>Partials: Page/Header</title>
	</head>
	<body>

		<f:section name="Assets">
			<v:page.header content='<!--[if lt IE 9]><link rel="stylesheet" href="typo3conf/ext/baumer/Resources/Public/Style/ie8.css" /><script src="typo3conf/ext/baumer/Resources/Private/Libraries/modernizr/modernizr-built.js"></script><![endif]-->' />

			<v:asset.style
				name="bootstrap-select-css"
				path="EXT:baumer/Resources/Private/Libraries/bootstrap-select/bootstrap-select-built.css" />

			<v:asset.script
				name="bxslider"
				dependencies="jquery"
				path="EXT:baumer/Resources/Private/Libraries/bxslider-4/bxslider-4-built.js" />
			<v:asset.script
				name="baumer-layout"
				dependencies="jquery"
				group="headerScripts"
				path="EXT:baumer/Resources/Private/Javascript/layout.js" />
			<v:asset.style
					name="baumer"
					standalone="true"
					path="EXT:baumer/Resources/Public/Style/style.css" />
			<v:asset.style
				name="baumer-contents"
				standalone="true"
				path="EXT:baumer/Resources/Public/Style/partials/style-contents.css" />

			<f:comment>
			<v:asset.script
				name="jquery-ui"
				dependencies="jquery"
				group="headerScripts"
				path="EXT:baumer/Resources/Private/Libraries/jquery-ui/jquery-ui-built.js" />
			</f:comment>

			<f:comment>

				Mobile header toggles

			</f:comment>
			<v:asset.script
				name="HeaderToggles"
				dependencies="jquery"
				path="EXT:baumer/Resources/Private/Javascript/headerToggles.js"
				movable="true"/>

			<f:comment>

				Title Tag

			</f:comment>
			<v:variable.set name="title_tag">{v:page.info(field:'tx_baumer_title_tag')}</v:variable.set>
			<f:if condition="{title_tag}">
				<f:then>
					<v:page.header.title title="{title_tag}" />
				</f:then>
				<f:else>
					<v:page.header.title title="{v:page.info(field:'title')}" />
				</f:else>
			</f:if>
		</f:section>

		<f:section name="Main">
			<header id="header" class="header">
				<div class="container clearfix">
					<div class="header-wrap">
						<a class="logo" href="{v:site.url()}" title="Baumer - Passion for Sensors">
							<img src="{f:uri.resource(path: 'Images/logo.jpg')}" alt="Baumer - Passion for Sensors" />
						</a>
						<div class="mobile-toggles">
							<a class="btn btn-orange" id="products-toggle"><i class="fa fa-star-o"></i></a>
							<a class="btn" id="search-toggle"><span class="fa fa-search"></span></a>
							<a class="btn" id="menu-toggle"><i class="fa fa-bars"></i></a>
						</div>
						<f:render partial="ProductList/Widget" section="Main" />
						<form class="searchform" id="searchForm" role="search" method="get" action="{f:uri.page(pageUid: settings.searchPageUid)}">
							<input type="hidden" name="id" value="{settings.searchPageUid}" />
							<input autocomplete="off" type="text" placeholder="Suche baumer.com" tabindex="1" name="q" id="searchfield" class="form-control"/>
							<button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
						</form>
						<nav class="nav-container">
							<f:render partial="Page/Menus" section="MainNav" />
							<f:render partial="Page/Menus" section="MetaMenu" />
						</nav>

					</div>
				</div>
			</header>

		</f:section>

	</body>
</html>
