<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
	<head>
		<title>Partials: Page/Menus</title>
	</head>
	<body>

  		<f:section name="MetaMenu">
			<ul class="nav-meta">
				<li><a href="#"><span class="fa fa-download"></span><v:l>metamenu.downloads</v:l></a></li>
				<li><a href="#"><v:l>metamenu.career</v:l></a></li>
				<li class="service-login">
					<f:security.ifAuthenticated>
						<f:then>
							<f:link.page pageUid="{settings.loginPageUid}" additionalParams="{logintype: 'logout', tx_felogin_pi1: {noredirect: '0'}}"><span class="fa fa-lock"></span> Logout</f:link.page>
							<f:cObject typoscriptObjectPath="lib.tx_baumer.feUserJs" />
						</f:then>
						<f:else>
							<f:link.page pageUid="{settings.loginPageUid}"><span class="fa fa-lock"></span> <v:l>metamenu.login</v:l></f:link.page>
							<script type="text/javascript">
								var feUser = {
									uid: 0,
									productLists: []
								};
							</script>
						</f:else>
					</f:security.ifAuthenticated>
				</li>
				<li class="lang last"><a href="#"><f:image src="{f:uri.resource(path: 'Icons/temp/flag-schland.png')}" class="flag-mini" alt="<v:l>metamenu.language.germany</v:l>" /><v:l>metamenu.language.germany</v:l></a></li>
			</ul>
		</f:section>

		<f:section name="MainNav">
			<v:page.menu classFirst="first" entryLevel="0">
				<ul class="nav-main">
					<f:for each="{menu}" as="subPage" iteration="mainIteration">
						<li class="{f:if(condition:'{subPage.hasSubPages}', then:'hassub')}{f:if(condition:'{mainIteration.isFirst}', then:' first')}{f:if(condition:'{mainIteration.isLast}', then:' last')} {subPage.navigation_layout}">
							<f:link.page pageUid="{subPage.uid}">{subPage.title}</f:link.page>
						</li>
					</f:for>
				</ul>
			</v:page.menu>
		</f:section>

		<f:section name="fourCol">
			<v:page.menu pageUid="{subPage.uid}">
				<ul class="subnav">
					<li class="row">
						<v:variable.set name="col" value="1" />
						<f:for each="{menu}" as="subPage1" iteration="posCol">
							<f:if condition="{posCol.isFirst} == 1">
								<f:then><div class="col"></f:then>
								<f:else>
									<f:if condition="{subPage1.navigation_column} != {col}">
										<f:then></div><div class="col"></f:then>
									</f:if>
								</f:else>
							</f:if>
							<v:variable.set name="col" value="{subPage1.navigation_column}" />
							<f:if condition="{subPage1.media}">
								<f:then><f:render section="imageBlock" arguments="{_all}"  /></f:then>
								<f:else><f:render section="subMenu" arguments="{_all}"  /></f:else>
							</f:if>
							<f:if condition="{posCol.isLast}">
								<f:then></div></f:then>
							</f:if>
						</f:for>
					</li>
				</ul>
			</v:page.menu>
		</f:section>

		<f:section name="fourColImage">
			<v:page.menu pageUid="{subPage.uid}">
				<ul class="subnav">
					<li class="row">
						<f:for each="{menu}" as="subPage1" iteration="posCol">
							<div class="col">
								<f:render section="imageBlockSingle" arguments="{_all}"  />
							</div>
						</f:for>
					</li>
				</ul>
			</v:page.menu>
		</f:section>

		<f:section name="oneCol">
			<v:page.menu pageUid="{subPage.uid}">
				<ul class="subnav">
					<f:for each="{menu}" as="subPage1" iteration="posCol">
						<li class="{f:if(condition:'{subPage.hasSubPages}', then:'hassub')}{f:if(condition:'{posCol.isFirst}', then:' first')}{f:if(condition:'{posCol.isLast}', then:' last')}{f:if(condition:'{posCol.isOdd}', then:' odd', else: ' even')}">
							<f:link.page  pageUid="{subPage1.uid}">{subPage1.title}</f:link.page>
							<v:page.menu pageUid="{subPage1.uid}">
								<ul>
									<f:for each="{menu}" as="subPage2" iteration="posCol2">
										<li class="{f:if(condition:'{posCol2.isFirst}', then:' first')}{f:if(condition:'{posCol2.isLast}', then:' last')}">
											<f:link.page pageUid="{subPage2.uid}">{subPage2.title}</f:link.page>
										</li>
									</f:for>
								</ul>
							</v:page.menu>
						</li>
					</f:for>
				</ul>
			</v:page.menu>
		</f:section>

		<f:section name="subMenu">
			<div class="item">
				<f:link.page  pageUid="{subPage1.uid}">{subPage1.title}</f:link.page>
				<v:page.menu pageUid="{subPage1.uid}">
					<ul>
						<f:for each="{menu}" as="subPage2" iteration="posCol2">
							<li class="{f:if(condition:'{posCol2.isFirst}', then:' first')}{f:if(condition:'{posCol2.isLast}', then:' last')}">
								<f:link.page pageUid="{subPage2.uid}">{subPage2.title}</f:link.page>
							</li>
						</f:for>
					</ul>
				</v:page.menu>
			</div>
		</f:section>

		<f:section name="imageBlock">
			<div class="item item-mil">
				<figure>
					<f:for each="{v:page.resources.fal(uid: subPage1.uid)}" as="image">
						<f:image treatIdAsReference="TRUE" src="{image.id}" alt="{image.alternative}" title="{f:if(condition: image.title, then: '{image.title}: ')}{image.description}" class="img-responsive" />
					</f:for>
				</figure>
				<v:page.menu pageUid="{subPage1.uid}">
					<f:for each="{menu}" as="subPage2" iteration="posCol2">
						<f:link.page pageUid="{subPage2.uid}" class="{f:if(condition:'{subPage2.navigation_icon}', then: 'link-icon')}">
							<f:if condition="{subPage2.navigation_icon}">
								<span class="fa fa-{subPage2.navigation_icon}"></span>
							</f:if>
							{subPage2.title}</f:link.page>
					</f:for>
				</v:page.menu>
			</div>
		</f:section>

		<f:section name="imageBlockSingle">
			<div class="item item-mil">
				<figure>
					<f:for each="{v:page.resources.fal(uid: subPage1.uid)}" as="image">
						<f:link.page  pageUid="{subPage1.uid}" class="title">
							<f:image treatIdAsReference="TRUE" src="{image.id}" alt="{image.alternative}" title="{f:if(condition: image.title, then: '{image.title}: ')}{image.description}" class="img-responsive" />
						</f:link.page>
					</f:for>
				</figure>
				<f:link.page  pageUid="{subPage1.uid}" class="title">{subPage1.title}</f:link.page>
				<p>{subPage1.navigation_text}</p>
			</div>
		</f:section>

	</body>
</html>
