<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
	<head>
		<title>Partials: Page/Sidebar</title>
	</head>
	<body>
		<f:section name="Main">
			<div id="pull-out">
				<div class="sidebarWrapper">
					<div class="sidebar-flap">
						<button id="togglePfinder">
							<span class="fa fa-cubes"></span>
							<span class="text">
								<f:translate key="tx_baumer_layout_sidebar.productfinder" />
							</span>
						</button>
						<button id="toggleContactForm">
							<span class="fa fa-envelope"></span>
							<span class="text">
								<f:translate key="tx_baumer_layout_sidebar.contactform" />
							</span>
						</button>
					</div>
					<div class="sidebar-content">
						<div id="panelPfinder">
							<f:render partial="Page/SidebarPfinder" section="Main" />
						</div>

						<div id="panelContactForm">
							<f:render partial="Page/SidebarContactform" section="Main" />
						</div>
					</div>
				</div>
			</div>
		</f:section>
	</body>
</html>
