<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Partials: Page/Breadcrumb</title>
</head>
<body>

<f:section name="Main">
	<div class="subnavi">
		<div class="bar">
			<f:render partial="Page/Subnavigation" section="Subnavitoggle" />
			<f:render partial="Page/Breadcrumb" section="Main" />
		</div>
		<f:render partial="Page/Subnavigation" section="Subnavigation" />
	</div>
</f:section>

<f:section name="Amirada">
	<div class="subnavi">
		<div class="bar">
			<f:render partial="Page/Subnavigation" section="Subnavitoggle" />
			<f:render partial="Page/Amiradabreadcrumb" section="Main" />
		</div>
		<f:render partial="Page/Subnavigation" section="Subnavigation" />
	</div>
</f:section>

<f:section name="Subnavitoggle">
	<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.treeLevel')} >= {settings.submenu.minTreeLevel}">
		<a class="toggle-dropdown" href="#" title="<v:l>subnavigation.title</v:l>">
			<span class="i-square">
				<span class="i-bar"></span>
				<span class="i-bar"></span>
				<span class="i-bar"></span>
			</span>
			<v:l>subnavigation.title</v:l>
		</a>
	</f:if>
</f:section>

<f:section name="Subnavigation">
	<div class="subnavi-dropdown" style="display: none;">
		<div class="cont">
			<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.treeLevel')} >= {settings.submenu.minTreeLevel}">
				<v:page.menu expandAll="0" levels="10" entryLevel="{settings.submenu.entryLevel}" />
			</f:if>
		</div>
	</div>
</f:section>

</body>
</html>
