map $http_accept_language $lang {
  default en;
  ~de de;
  ~fr fr;
  ~en en;
}

server {
  listen                *:80;

  server_name           <%= @basedomain -%><% if @server_aliases -%>
<% Array(@server_aliases).each do |val| -%> ~^((.+)\.)?<%= val -%><% end -%>
<% end -%>;

  <% if defined? @auth_basic -%>
    auth_basic           "<%= @auth_basic %>";
  <% end -%>
  <% if defined? @auth_basic_user_file -%>
    auth_basic_user_file <%= @auth_basic_user_file %>;
  <% end -%>

  index  index.html index.htm index.php;

  # Country selection

    set $sd de;
    if ($geoip_country_code  = DE) {
      set $sd de;
    }
    if ($geoip_country_code  = BE) {
      set $sd be;
    }
    if ($geoip_country_code  = CA) {
      set $sd ca;
    }
    if ($geoip_country_code  = CN) {
      set $sd cn;
    }
    if ($geoip_country_code  = DK) {
      set $sd dk;
    }
    if ($geoip_country_code  = FI) {
      set $sd dk;
    }
    if ($geoip_country_code  = NO) {
      set $sd dk;
    }
    if ($geoip_country_code  = ES) {
      set $sd es;
    }
    if ($geoip_country_code  = CM) {
      set $sd fr;
    }
    if ($geoip_country_code  = EG) {
      set $sd fr;
    }
    if ($geoip_country_code  = FR) {
      set $sd fr;
    }
    if ($geoip_country_code  = MA) {
      set $sd fr;
    }
    if ($geoip_country_code  = NG) {
      set $sd fr;
    }
    if ($geoip_country_code  = SN) {
      set $sd fr;
    }
    if ($geoip_country_code  = ZA) {
      set $sd fr;
    }
    if ($geoip_country_code  = IN) {
      set $sd in;
    }
    if ($geoip_country_code  = KR) {
      set $sd kr;
    }
    if ($geoip_country_code  = BH) {
      set $sd me;
    }
    if ($geoip_country_code  = KW) {
      set $sd me;
    }
    if ($geoip_country_code  = OM) {
      set $sd me;
    }
    if ($geoip_country_code  = QA) {
      set $sd me;
    }
    if ($geoip_country_code  = SA) {
      set $sd me;
    }
    if ($geoip_country_code  = AE) {
      set $sd me;
    }
    if ($geoip_country_code  = AU) {
      set $sd sg;
    }
    if ($geoip_country_code  = ID) {
      set $sd sg;
    }
    if ($geoip_country_code  = JP) {
      set $sd sg;
    }
    if ($geoip_country_code  = MY) {
      set $sd sg;
    }
    if ($geoip_country_code  = NZ) {
      set $sd sg;
    }
    if ($geoip_country_code  = PH) {
      set $sd sg;
    }
    if ($geoip_country_code  = SG) {
      set $sd sg;
    }
    if ($geoip_country_code  = TW) {
      set $sd sg;
    }
    if ($geoip_country_code  = TH) {
      set $sd sg;
    }
    if ($geoip_country_code  = VN) {
      set $sd sg;
    }
    if ($geoip_country_code  = UK) {
      set $sd uk;
    }
    if ($geoip_country_code  = AR) {
      set $sd ve;
    }
    if ($geoip_country_code  = BO) {
      set $sd ve;
    }
    if ($geoip_country_code  = CL) {
      set $sd ve;
    }
    if ($geoip_country_code  = CO) {
      set $sd ve;
    }
    if ($geoip_country_code  = GP) {
      set $sd ve;
    }
    if ($geoip_country_code  = MQ) {
      set $sd ve;
    }
    if ($geoip_country_code  = PE) {
      set $sd ve;
    }
    if ($geoip_country_code  = VE) {
      set $sd ve;
    }
    if ($geoip_country_code  = CH) {
      set $sd ch;
    }
    if ($geoip_country_code  = US) {
      set $sd us;
    }

    if ($host = "bourdon.baumer.com") {
      return 301 $scheme://$sd.bourdon.baumer.com$request_uri;
    }

  access_log            /var/log/nginx/<%= @basedomain %>.access.log;
  error_log             /var/log/nginx/<%= @basedomain %>.error.log;

  root  <%= @projectroot %>/htdocs;

  <% if @content_serv -%>
  <% if @content_serv.is_a?(Array) -%>
  location /CsEndpoint {
  <% Array(@content_serv).each do |val| -%>
      allow <%= val -%>;
  <% end -%>
    deny all;
    try_files $uri $uri/ /index.php?$args;
  }
  <% end -%>
  <% end -%>

  location = / {
      # Language detection
      if ($lang = de){
        set $rd D;
      }
      if ($lang = en){
        set $rd E;
      }
      if ($lang = fr){
        set $rd F;
      }
      if ($host = "de.bourdon.baumer.com") {
        set $rd "${rd}D";
      }
      if ($host = "be.bourdon.baumer.com") {
        set $rd "${rd}B";
      }
      if ($host = "ca.bourdon.baumer.com") {
        set $rd "${rd}C";
      }
      if ($host = "ch.bourdon.baumer.com") {
        set $rd "${rd}CH";
      }

      if ($rd = DD) {
      #  return 301 $scheme://de.bourdon.baumer.com/de/;
      }
      if ($rd = DB) {
      #  return 301 $scheme://be.bourdon.baumer.com/de/;
      }
      if ($rd = DC) {
      #  return 301 $scheme://ca.bourdon.baumer.com/de/;
      }
      if ($rd = DCH) {
      #  return 301 $scheme://ch.bourdon.baumer.com/de/;
      }
      if ($rd = ED) {
      #  return 301 $scheme://de.bourdon.baumer.com/en/;
      }
      if ($rd = EB) {
      #  return 301 $scheme://be.bourdon.baumer.com/en/;
      }
      if ($rd = EC) {
      #  return 301 $scheme://ca.bourdon.baumer.com/en/;
      }
      if ($rd = ECH) {
      #  return 301 $scheme://ch.bourdon.baumer.com/en/;
      }
      if ($rd = FCH) {
      #  return 301 $scheme://ch.bourdon.baumer.com/fr/;
      }
      if ($rd = E) {
      #  return 301 $scheme://$host/en/;
      }
  }

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ /\. {
    deny all;
  }

  location ~ \.php$ {
    include /etc/nginx/fastcgi_params;
    fastcgi_pass unix:/var/run/php7.0-fpm.sock;
    fastcgi_connect_timeout 3m;
    fastcgi_param TYPO3_CONTEXT <%= @typo3_context %>;
    fastcgi_read_timeout 3m;
    fastcgi_send_timeout 3m;
  }

  location (\.(bak|config|sql(\.zip|\.gz|\.bz2)?|ini|log|sh|inc|swp|t3d)|~)$ {
    deny all;
  }


  location /pfinder-api {

    if ($request_method ~* "(DELETE|PUT)") {
      return 403;
      break;
    }
    if ($request_uri ~* "(_update|_create)") {
      return 403;
      break;
    }

    proxy_pass          <%= @elasticsearch_backend %>;
    proxy_read_timeout  90;
    proxy_connect_timeout  90;
    proxy_redirect  off;
    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    rewrite ^/pfinder-api/?(.*) /$1 break;
  }


  location ~ ^/typo3conf/ext/[^/]+/Configuration/ {
    deny all;
  }

  location ~ ^/typo3conf/ext/[^/]+/Resources/Private/ {
    deny all;
  }

  location ~ ^/fileadmin/mam/[^/]+/secure/ {
    deny all;
  }

  location ^/fileadmin/(.*/)?_recycler_/ {
    deny all;
  }

  rewrite ^/typo3/install(\/?.*)$ /typo3/sysext/install/Start/Install.php redirect;

}
