server {
  listen                *:80;

  server_name           ~^profile\.(.+)$;

  index  index.html index.htm index.php;

  access_log            /var/log/nginx/xhprof.access.log;
  error_log             /var/log/nginx/xhprof.error.log;

  root  <%= @docroot_xhprof %>;

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ /\. {
    deny all;
  }

  location ~ \.php$ {
    include /etc/nginx/fastcgi_params;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_connect_timeout 3m;
    fastcgi_read_timeout 3m;
    fastcgi_send_timeout 3m;
  }

}
