<script id="template/modal/backdrop.html" type="text/ng-template">
	<div class="modal-backdrop fade {{ backdropClass }}"
		 data-ng-class="{in: animate}"
		 data-ng-style="{'z-index': 1040 + (index && 1 || 0) + index*10}"
		></div>
</script>
<script id="template/modal/window.html" type="text/ng-template">
	<div tabindex="-1" role="dialog" class="modal fade" data-ng-class="{in: animate}" data-ng-style="{'z-index': 1050 + index*10, display: 'block'}" data-ng-click="close($event)">
		<div class="modal-dialog" data-ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}"><div class="modal-content" modal-transclude></div></div>
	</div>
</script>
