//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: $line-height-computed 0;
	border-radius: $border-radius-base;

	> li {
		display: inline; // Remove list-style and block-level defaults
		> a,
		> span {
			position: relative;
			float: left; // Collapse white-space
			white-space: nowrap;
			width: 24px;
			height: 24px;
			line-height: 22px;
			text-decoration: none;
			color: $pagination-color;
			background-color: $pagination-bg;
			border: 1px solid $pagination-border;
			margin-left: 3px;
			padding-left: 5px;
		}
		&:first-child {
			> a,
			> span {
				margin-left: 0;
			}
		}
		&:last-child {
			> a,
			> span {
			}
		}
	}

	> li > a,
	> li > span {
		&:hover,
		&:focus {
			color: $pagination-hover-color;
			background-color: $pagination-hover-bg;
			border-color: $pagination-hover-border;
		}
	}

	> .active > a,
	> .active > span {
		&,
		&:hover,
		&:focus {
			z-index: 2;
			color: $pagination-active-color;
			background-color: $pagination-active-bg;
			border-color: $pagination-active-border;
			cursor: default;
		}
	}

	> .disabled {
		> span,
		> span:hover,
		> span:focus,
		> a,
		> a:hover,
		> a:focus {
			color: $pagination-disabled-color;
			background-color: $pagination-disabled-bg;
			border-color: $pagination-disabled-border;
			cursor: not-allowed;
		}
	}
	> .current {
		> a,
		> a:hover,
		> a:focus {
			cursor: default;
			color: #000;
		}
	}
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
	@include pagination-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-base, $border-radius-large);
}

// Small
.pagination-sm {
	@include pagination-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-base, $border-radius-small);
}
