<!-- ###TEMPLATE_FORM1### begin -->
	<div class="row">
		<div class="col-md-8">
			<form action="###REL_URL###" id="###formID###" method="post" name="###formValuesPrefix###" class="###formValuesPrefix###">
				###master_select_salutation_salutation###
				<div class="row">
					<div class="col-md-6">
						###master_input_firstname###
					</div>
					<div class="col-md-6">
						###master_input_lastname###
					</div>
				</div>
				###master_input_type_email;email###
				###master_select_newslettertopic_topic###
				###master_submit###
			</form>
		</div>
		<div class="col-md-4"></div>
	</div>
<!-- ###TEMPLATE_FORM1### end -->

<!-- ###TEMPLATE_SUBMITTEDOK### begin -->
	You subscribed to our newsletter
<!-- ###TEMPLATE_SUBMITTEDOK### end -->
