<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title>Partials: Add a Product</title>
</head>
<body>
<f:section name="Main">
	<form name="addProduct" data-ng-submit="false" id="{formId}">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label><v:l key="ali.mainGroup" /></label>
					<select class="selectpicker"
							name="mainGroup"
							required
							data-ng-model="newLineItem.mainGroup"
							data-live-search="true"
							data-ng-options="mainGroup.uid as mainGroup.title for mainGroup in productMainGroups">
						<option value=""><v:l key="ali.mainGroup" /></option>
					</select>
					<span class="error" data-ng-show="addProduct.mainGroup.hasVisited && addProduct.mainGroup.$invalid">
						<span class="fa fa-warning"></span> <v:l key="ali.error.mainGroup" />
					</span>
				</div>
				<div class="form-group">
					<div class="form-group">
						<label for="f-title"><v:l key="ali.pCode" /></label>
						<input class="form-control form-control-title" id="f-title" type="text" name="title" placeholder="{v:l(key:'ali.placeholder.pCode')}" required data-ng-model="newLineItem.configuration">
						<span class="error" data-ng-show="addProduct.title.$invalid && addProduct.title.$dirty">
							<span class="fa fa-warning"></span> <v:l key="ali.error.pCode" />
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="f-note"><v:l key="ali.note" /></label>
					<input class="form-control form-control-title" id="f-note" type="text" name="note" placeholder="{v:l(key:'ali.placeholder.note')}" data-ng-model="newLineItem.note">
				</div>
				<div class="form-group">
					<label for="f-amount"><v:l key="ali.amount" /></label>
					<input class="form-control form-control-amount" id="f-amount" type="number" name="amount" required min="1" data-ng-model="newLineItem.amount" data-ng-model-options="{ updateOn: 'default blur' }"/>
					<span class="error" data-ng-show="addProduct.amount.$invalid">
						<span class="fa fa-warning"></span> <v:l key="ali.error.amount" />
					</span>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button class="btn btn-default" data-ng-click="addToPlWidget(newLineItem)"  data-ng-disabled="addProduct.$invalid">
				<span class="fa fa-star"></span>&nbsp;<v:l key="ali.add" />
			</button>

			<a class="btn btn-remove" data-ng-click="trashNewLineItem()">
				<span class="fa fa-trash"></span>
			</a>
		</div>
	</form>
</f:section>
