<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title>Partials: DeleteButton (requires Angular JS context)</title>
</head>
<body>
	<f:section name="LineItem">
		<div class="actions">
			<button class="action delete" title="{v:l(key: 'list_product_lists.delete_tool')}" data-ng-hide="{model}.onTheBrinkOfDestruction" data-ng-click="{model}.onTheBrinkOfDestruction = true">
				<span class="fa fa-times-circle"></span>
			</button>
			<div class="tooltip-actions" data-ng-show="{model}.onTheBrinkOfDestruction">
				<span class="lab">
					<span class="fa fa-exclamation-triangle"></span><v:l key="cpl.confirmDelete" />:
				</span>
				<button class="btn btn-remove" data-ng-click="removeFromCurrentProductList($index, $event)">
					<span class="fa fa-check"></span>
				</button>
				<button class="btn btn-gray" data-ng-click="{model}.onTheBrinkOfDestruction = false">
					<span class="fa fa-times"></span>
				</button>
			</div>
		</div>
	</f:section>

	<f:section name="ProductList">
		<a class="action delete" title="{v:l(key: 'list_product_lists.delete_tool')}" data-ng-click="{model}.onTheBrinkOfDestruction = true">
			<span class="fa fa-times-circle"></span>
		</a>
		<div class="tooltip-actions" data-ng-show="{model}.onTheBrinkOfDestruction">
			<span class="lab">
				<span class="fa fa-exclamation-triangle"></span><v:l key="cpl.confirmDelete" />:
			</span>
			<button class="btn btn-remove" data-ng-click="deleteProductList($index, $event)">
				<span class="fa fa-check" data-ng-hide="{model}.deleting"></span>
				<spinner data-ng-show="{model}.deleting"/>
			</button>
			<button class="btn btn-gray" data-ng-click="{model}.onTheBrinkOfDestruction = false">
				<span class="fa fa-times"></span>
			</button>
		</div>
	</f:section>

	<f:section name="WholeProductList">
		<button class="btn btn-default btn-icon-right pull-left" data-ng-click="{model}.onTheBrinkOfDestruction = true">
			<v:l key="Delete Product Inquiry" />
			<span class="fa fa-trash"></span>
		</button>
		<div class="tooltip-actions" data-ng-show="{model}.onTheBrinkOfDestruction">
			<span class="lab">
				<span class="fa fa-exclamation-triangle"></span><v:l key="cpl.confirmDelete" />:
			</span>
			<button class="btn btn-remove" data-ng-click="clearCurrentProductList()">
				<span class="fa fa-check" data-ng-hide="{model}.deleting"></span>
				<spinner data-ng-show="{model}.deleting"/>
			</button>
			<button class="btn btn-gray" data-ng-click="{model}.onTheBrinkOfDestruction = false">
				<span class="fa fa-times"></span>
			</button>
		</div>
	</f:section>
</body>
</body>
