<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title>Partials: ProductList/LoadModal</title>
</head>
<body>
<f:section name="Main">
	<script type="text/ng-template" id="loadModalContent.html">
		<div class="modal-header">
			<button type="button" class="close" aria-label="Close" data-ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
			<h3 class="modal-title"><v:l>loadmodal.title</v:l></h3>
		</div>
		<div class="modal-body">
			<form name="loadPl" data-ng-submit="false">
				<p><v:l key="cpl.modal.load.enterCode" /></p>
				<input class="form-control" type="text"
					   placeholder="Product List Code"
					   name="plCode"
					   data-ng-model="code"
					   data-ng-disabled="isLoading"
					   required
					   data-ng-pattern="productListCodeRegex"
					   data-ng-model-options="{ updateOn: 'default blur' }" />
				<p class="error" data-ng-show="loadPl.plCode.$invalid && loadPl.plCode.$dirty">
					<span class="fa fa-warning"></span> <v:l key="pl_widget.error.code" />
				</p>
			</form>

		</div>
		<div class="modal-footer">
			<span data-ng-show="isLoading" class="spinner"></span>
			<button class="btn btn-default" data-ng-click="load()" data-ng-if="!isloading" data-ng-disabled="loadPl.plCode.$invalid"><v:l key="cpl.modal.load.load" /></button>
		</div>
	</script>
</f:section>
