<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title>Product List Load'n'Save buttons</title>
</head>
<body>
<f:section name="Main">
	<v:security.allow anyFrontendUser="TRUE">
		<!--<button class="btn btn-default" data-ng-click="openSaveModal()" data-ng-if="currentProductList.lineItems.length > 0">
			<span class="fa fa-sign-in"></span>&nbsp;<v:l key="pl_widget.saveProducts" />
		</button>-->
	</v:security.allow>
	<button class="btn btn-default" data-ng-click="openShareModal(false)" data-ng-if="currentProductList.lineItems.length > 0">
		<span class="fa fa-share-alt"></span>&nbsp;<v:l key="pl_widget.shareProducts" />
	</button>
	<button class="btn btn-default" data-ng-click="openLoadModal()">
		<span class="fa fa-folder-open"></span>&nbsp;<v:l key="pl_widget.loadProducts" />
	</button>
</f:section>
