<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
    <title>Partials: ProductList/SaveModal</title>
</head>
<body>
<f:section name="Main">
    <v:security.allow anyFrontendUser="TRUE">
        <script type="text/ng-template" id="saveModalContent.html">
            <div data-ng-if="feUserAuthorized">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-ng-click="close()"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">
                        <v:l key="cpl.modal.save.title"/>
                    </h3>
                </div>
                <div class="modal-body save-modal">
                    <form name="sharePlForm">
                        <p>
                            <v:l key="cpl.modal.save.enterTitle"/>
                        </p>
                        <input class="form-control" type="text" data-ng-model="productList.name" name="name"/>
                        <div class="text-center update-select">
                            <div data-ng-if="UserProductList.updateable">
                                <label class="">
                                    <input type="radio" data-ng-value="true" data-ng-model="productList.update"
                                           name="upOrSave" id="option1" autocomplete="off" checked>
                                    <v:l key="cpl.modal.save.update"/>
                                </label>&nbsp;&nbsp;
                                <label class="">
                                    <input type="radio" data-ng-value="false" data-ng-model="productList.update"
                                           name="upOrSave" id="option2" autocomplete="off">
                                    <v:l key="cpl.modal.save.new"/>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span data-ng-show="isSaving" class="spinner"></span>
                    <button class="btn btn-primary" data-ng-click="save()" data-ng-hide="isSaving">
                        <v:l key="cpl.modal.save.save"/>
                    </button>
                </div>
            </div>
            <div data-ng-if="!feUserAuthorized">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-ng-click="close()"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">
                        <v:l key="cpl.modal.save.loginTitle"/>
                    </h3>
                </div>
                <div class="modal-body save-modal">
                    <f:cObject typoscriptObjectPath="lib.tx_baumer.feLogin"/>
                    <span class="line-or"><span><v:l key="pl_widget.or"/></span></span>
                    <div class="text-center">
                        <f:link.page pageUid="{settings.registerPageUid}" class="btn btn-default">
                            <v:l key="cpl.modal.save.register"/>
                        </f:link.page>
                    </div>
                </div>
            </div>
        </script>
    </v:security.allow>
</f:section>
