<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title>Partials: ProductList/ShareModal</title>
</head>
<body>
<f:section name="Main">
	<script type="text/ng-template" id="shareModalContent.html">
		<div class="modal-header">
			<button type="button" class="close" aria-label="Close" data-ng-click="close()"><span aria-hidden="true">&times;</span></button>
			<h3 class="modal-title"><v:l key="cpl.modal.share.title" /></h3>
		</div>
		<div class="modal-body">
			<div data-ng-hide="codeAvailable">
				<form name="sharePlForm">
					<p><v:l key="cpl.modal.save.enterTitle" /></p>
					<input class="form-control" type="text" data-ng-model="productList.name" name="name" />
				</form>
			</div>

			<div class="share-response-detail" data-ng-show="codeAvailable">
				<h3>{{productList.name}}</h3>
				<h5><v:l key="cpl.modal.share.code" />: <span>{{productList.code}}</span></h5>
				<p><v:l key="cpl.modal.share.instructions" /> <strong>{{productList.title}}</strong></p>
				<a data-ng-href="{{productList.linkUrl}}" data-ng-if="productList.linkUrl" title="{v:l(key:'cpl.modal.share.open')} {{productList.title}}">{{productList.linkUrl}}</a>
			</div>
		</div>
		<div class="modal-footer">
			<span data-ng-show="isSaving" class="spinner"></span>
			<button class="btn btn-primary" data-ng-click="saveForSharing()" data-ng-if="!codeAvailable"><v:l key="cpl.modal.share.generate" /></button>
		</div>
	</script>
</f:section>
