<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title>Current product list widget</title>
</head>
<body>
<f:section name="Main">
	<f:comment>

		Product List Widget

	</f:comment>
	<div class="my-products" id="pl-widget" data-ng-controller="ProductListCtrl as productListWidgetCtrl" ng-cloak>

		<f:comment>

			Product list widget Tab

		</f:comment>
		<f:link.page pageUid="{settings.productListPage}" class="btn btn-orange pl-widget-tab" additionalAttributes="{ng-cloak:''}">
			<span class="fa fa-star" data-ng-show="currentProductList.lineItems.length > 0"></span><span class="fa fa-star-o" data-ng-show="currentProductList.lineItems.length == 0"></span><span>&nbsp;<v:l key="pl_widget.my_products" />&nbsp;(<span id="pl-widget-counter">{{currentProductList.lineItems.length}}</span>)</span>
		</f:link.page>

		<f:comment>

			Product list widget

		</f:comment>
		<div id="pl-widget-cont">

			<f:comment>Empty product list widget</f:comment>

			<div data-ng-if="currentProductList.lineItems.length == 0 && !widgetInTransition">
				<div class="pl-mess">
					<h3><v:l key="pl_widget.sorry" /></h3>
					<p><v:l key="pl_widget.noItemsInList" /></p>
				</div>
				<div class="configure-button">
					<p><v:l key="pl_widget.configureNew" /></p>
					<div class="row">
						<div class="col-xs-6">
							<button title="{v:l(key:'pl_widget.pFinder')}" class="btn btn-orange" data-ng-click="openPFinder()">
								<v:l key="pl_widget.pFinder" />
								<span class="fa fa-cubes"></span>
							</button>
						</div>
						<div class="col-xs-6">
							<form role="search" class="productSearch" method="get" action="{f:uri.page(pageUid: settings.searchPageUid)}" >
								<div class="input-btn">
									<input class="product-list-search" autocomplete="off" type="text" placeholder="Search product" tabindex="1" name="q">
									<button class="load"><span class="fa fa-search"></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<span class="line-or"><span><v:l key="pl_widget.or"/></span></span>
				<form id="loadExistingProductListInput" name="code" data-ng-submit="loadProductList(productListCode, true)">
					<label for="product-list-search">
						<v:l key="pl_widget.codeOrSearch" />
					</label>
					<div class="input-btn">
						<input class="product-list-search" placeholder="Product List Code"
							   type="text"
							   name="plCode"
							   data-ng-model="productListCode"
							   required
							   data-ng-pattern="productListCodeRegex"
							   data-ng-model-options="{ updateOn: 'default blur' }">
						<label for="product-list-search"><span class="fa fa-keyboard-o"></span></label>
						<button class="load" data-ng-disabled="code.plCode.$invalid" >
							<v:l key="pl_widget.load"/>
							<span class="fa fa-folder-open-o"></span>
						</button>
					</div>
					<span class="error" data-ng-show="code.plCode.$invalid && code.plCode.$dirty">
						<span class="fa fa-warning"></span> <v:l key="pl_widget.error.code"/>
					</span>
				</form>

				<div data-ng-if="feUser.productLists.length > 0">
					<span class="line-or"><span><v:l key="pl_widget.or"/></span></span>
					<form action="#" onsubmit="event.preventDefault(); return false;">
						<label for="loadExistingProductListSelect">
							<v:l key="pl_widget.selectPl"/>
						</label>
						<select class="form-control selectpicker" id="loadExistingProductListSelect"
								data-ng-model="userPl.selected"
								data-ng-options="userPl.code as userPl.name for userPl in feUser.productLists"
								data-ng-change="loadProductList(userPl.selected, true)">
							<option value=""><v:l key="pl_widget.pleaseSelect"/></option>
						</select>
					</form>
				</div>
			</div>

			<f:comment>

				Product list widget with at least one line item

			</f:comment>
			<div class="pl-product-list" data-ng-if="currentProductList.lineItems.length > 0 && !widgetInTransition">
				<div class="pl-widget-item" data-ng-repeat="lineItem in currentProductList.lineItems | limitTo:4">
					<figure>
						<img data-ng-src="{{imageUrl(lineItem)}}" width="83" height="56"/>
					</figure>
					<div class="desc">
						<h5 class="group">{{groupTitle(lineItem)}}</h5>
						<a data-ng-href="{{url(lineItem)}}" title="Open {{configuration(lineItem)}} in product finder">
							<h4 class="configuration">{{configuration(lineItem)}}</h4>
						</a>
					</div>
					<f:render partial="ProductList/DeleteButton" section="LineItem" arguments="{model: 'lineItem'}" />
				</div>

				<f:link.page pageUid="{settings.productListPage}" class="more"
					additionalAttributes="{data-ng-if: 'currentProductList.lineItems.length > 4'}">
					&hellip; {{currentProductList.lineItems.length - 4}} <v:l key="pl_widget.more" />
				</f:link.page>

				<div class="buttons">
					<f:link.page pageUid="{settings.productListPage}" class="btn-request btn-icon-left">
						<span class="fa fa-star"></span>&nbsp;<v:l key="pl_widget.goToMyProducts" />
					</f:link.page>
				</div>
			</div>


			<f:comment>

				Shown, when widget will/can change after Ajax request.

			</f:comment>
			<div class="text-center" data-ng-if="widgetInTransition">
				<spinner></spinner>
			</div>
		</div>
	</div>
	<f:render partial="ProductList/ShareModal" section="Main"/>
	<f:render partial="AngularBootstrap/Modal" />
	<f:cObject typoscriptObjectPath="lib.tx_baumer.productDataJson" />
</f:section>
