<f:layout name="Default" />

<f:section name="Main">
	<div class="well">
		<!--<button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
		<div class="row">
			<div class="col-md-9">
				<div class="row">
				<f:for each="{flyoutResults}" as="flyoutResult">
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<a class="figure" href="{flyoutResult.url}" title="{flyoutResult.title}">
								<img src="{flyoutResult.thumbnail_stringS}" width="180" height="100" alt="{flyoutResult.title}">
							</a>
							<div class="caption">
								<h3 class="shorttitle">{flyoutResult.titleshort_stringS}</h3>
								<p>
									<f:format.crop maxCharacters="100" append="&nbsp;...">{flyoutResult.abstract}</f:format.crop>
								</p>
							</div>
						</div>
					</div>
				</f:for>
				</div>
			</div>
			<div class="col-md-3">
				<ul class="list-unstyled">
					<f:for each="{autocompleteResults}" as="keywordCount" key="keyword">
						<li>
							<f:link.page pageUid="{settings.searchPageUid}" additionalParams="{q : '{keyword}'}">
							{keyword} ({keywordCount})
							</f:link.page>
						</li>
					</f:for>
				</ul>
			</div>
		</div>
	</div>
</f:section>
