<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<head>
	<title>Partial: Overlays/Login</title>
</head>
<body>

<f:section name="Main">
	<div class="layover-menu white" id="contact-overlay">
		<div class="container">
			<div class="layover-menu-header">
				<span class="layover-menu-header-title"><v:l>frontpage.buttonbar.contact.subtitle</v:l></span>
				<a href="#" class="pull-right layover-menu-header-close"><v:l>general.close</v:l><span class="icon-cross"></span></a>
			</div>
			<div class="layover-menu-content" id="layover-contact-form">
				<f:render partial="Page/ContactForm" section="Main" />
			</div>
		</div>
	</div>
</f:section>
</body>
</html>
