<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<head>
	<title>Partial: Overlays/MyProducts</title>
</head>
<body>

<f:section name="Main">
	<div class="layover-menu white" id="myproducts-overlay">
		<div class="container">
			<div class="layover-menu-header">
				<span class="layover-menu-header-title"><v:l>header.my_products</v:l></span>
				<a href="#" title="{v:l(id: 'general.close')}" class="pull-right layover-menu-header-close"><v:l>general.close</v:l><span class="icon-cross"></span></a>
			</div>
			<div class="layover-menu-content">
				<f:render partial="ProductList/Widget" section="Main" />
			</div>
		</div>
	</div>
</f:section>
</body>
</html>
