<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<head>
	<title>Partial: Overlays/Search</title>
</head>
<body>

<f:section name="Main">
	<div class="layover-menu white" id="search-overlay">
		<div class="container">
			<div class="layover-menu-header">
				<span class="layover-menu-header-title"><v:l>general.overlay.search.action</v:l></span>
				<a href="#" title="{v:l(id:'general.close')}" class="pull-right layover-menu-header-close"><v:l>general.close</v:l><span class="icon-cross"></span></a>
			</div>
			<div class="layover-menu-content">
				<form class="form-horizontal" action="{f:uri.page(pageUid:settings.searchPageUid)}">
					<div class="form-group">
						<div class="col-sm-12">
							<input type="hidden" name="id" value="{settings.searchPageUid}" />
							<input autocomplete="off" type="text" name="q" class="form-control" id="searchform" placeholder="<v:l>general.overlay.search.placeholder</v:l>">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="pull-right btn btn-primary"><span class="icon-rounded-big-2"></span>&nbsp; <v:l>general.overlay.search.submit</v:l></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</f:section>
</body>
</html>
