<!-- ###TEMPLATE_FORM1### begin -->
<div data-ng-controller="FormController" formname="###formValuesPrefix###" formuid="###form_uid###">
	<form id="###formValuesPrefix###" method="post" name="###formValuesPrefix###" class="form-product-inquiry ###formValuesPrefix###" data-ng-submit="processForm()" novalidate>
		<div class="row">
			<div class="col-md-6">
				<h2 class="form-title">###LLL:label_title###</h2>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="receiver"><h5>###LLL:label_receiver###  <span class="required">*</span></h5></label>
					<select name="receiver" id="receiver" class="form-control selectpicker" data-ng-model="selectedAddress" data-ng-options="contactAddress as (contactAddress.company + ' - ' + contactAddress.zip + ' ' + contactAddress.city + ' - ' + contactAddress.country) for contactAddress in contactAddressData" required>
						<option value="">###LLL:label_receiver.0###</option>
					</select>
						<span class="error" data-ng-show="###formValuesPrefix###.receiver.$invalid && (###formValuesPrefix###.receiver.$dirty || validateAll)">
							<span class="fa fa-warning"></span> ###LLL:error_receiver_required###
						</span>
				</div>
				<div class="addressBox" data-ng-if="selectedAddress">
					<div class="inner">
						<h3>{{selectedAddress.company}}</h3>
						<div class="row">
							<div class="col-md-6">
								{{selectedAddress.address}}<br />
								{{selectedAddress.zip}} {{selectedAddress.city}}<br />
								{{selectedAddress.country}}
							</div>
							<div class="col-md-6">
								<span class="fa fa-phone"></span> <a data-ng-href="tel:{{selectedAddress.cleanPhone}}">{{selectedAddress.phone}}</a><br />
								<span class="fa fa-print"></span> {{selectedAddress.fax}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="border-line">
			<div class="row">
				<div class="col-md-6">
					<h5 class="form-subtitle">###LLL:label_personal_data###</h5>
					###master_select_salutation_salutation###
					###master_input_firstname###
					###master_input_lastname###
					###master_input_phone###
					###master_input_type_email;email###
				</div>
				<div class="col-md-6">
					<h5 class="form-subtitle">###LLL:label_company_data###</h5>

					###master_input_company###

					###master_input_street###

					<div class="row">
						<div class="col-md-4">
							###master_input_zip###
						</div>
						<div class="col-md-8">
							###master_input_city###
						</div>
					</div>

					###master_select_country_country###

					###master_select_industry###
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					###master_checkbox_newsletter###
				</div>
			</div>
		</div>

		<div class="row form-actions">
			<div class="col-md-6">
				<a class="btn btn-default" href="#" title="###LLL:label_quit###">###LLL:label_quit###</a>
			</div>
			<div class="col-md-6">
				<div class="pull-right">
					###master_submit###
				</div>
			</div>
		</div>
	</form>
</div>
<!-- ###TEMPLATE_FORM1### end -->

<!-- ###TEMPLATE_SUBMITTEDOK### begin -->
<div class="col-md-6">
</div>
<div class="col-md-8 col-sm-12 col-md-offset-2">
	###LLL:contactform_submitted###
	<h4>###LLL:productinquiry_sentto###</h4>
	<div class="addressBox">
		<div class="inner">
			<h3>{{selectedAddress.company}}</h3>
			{{selectedAddress.address}}<br />
			{{selectedAddress.zip}} {{selectedAddress.city}}<br />
			{{selectedAddress.country}}
			<h3>###LLL:contactform_yourbaumer###</h3>
		</div>
	</div>
</div>
<!-- ###TEMPLATE_SUBMITTEDOK### end -->

<!-- ###TEMPLATE_EMAIL_USER_PLAIN### begin -->
Salutation: ###value_salutation###
Name: ###value_firstname### ###value_lastname###
E-Mail: ###value_email###
<!-- ###IF_phone### -->
Phone: ###value_phone###
<!-- ###IF_END### -->

<!-- ###IF_company### -->
Company: ###value_company###
<!-- ###IF_END### -->
<!-- ###IF_industry### -->
Industry: ###value_industry###
<!-- ###IF_END### -->
<!-- ###IF_street || zip || city || country### -->
Address:
<!-- ###IF_END### -->
<!-- ###IF_street### -->
###value_street###
<!-- ###IF_END### -->
<!-- ###IF_zip && city### -->
###value_zip### ###value_city###
<!-- ###IF_END### -->
<!-- ###IF_country### -->
###value_country###
<!-- ###IF_END### -->

Message:
###value_message###

<!-- ###IF_products### -->
Products:
###product_table_text###
<!-- ###IF_END### -->
<!-- ###TEMPLATE_EMAIL_USER_PLAIN### end -->

<!-- ###TEMPLATE_EMAIL_USER_HTML### begin -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<style>a img,hr{border:none}img,table.container table.row{display:block}a,img{text-decoration:none}#outlook a{padding:0}body{width:100%!important;min-width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}.ExternalClass{width:100%}.ExternalClass,.ExternalClass div,.ExternalClass font,.ExternalClass p,.ExternalClass span,.ExternalClass td{line-height:100%}#backgroundTable{margin:0;padding:0;width:100%!important;line-height:100%!important}img.center,table.column,table.columns{margin:0 auto}img{outline:0;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;float:left;clear:both}center{width:100%;min-width:580px}table{border-spacing:0;border-collapse:collapse}td{word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important}table,td,tr{padding:0;vertical-align:top;text-align:left}hr{color:#d9d9d9;background-color:#d9d9d9;height:1px}table.body{height:100%;width:100%}table.container{width:580px;margin:0 auto;text-align:inherit}h1.center,h2.center,h3.center,h4.center,h5.center,h6.center,span.center,table.center,td.center{text-align:center}table.row{padding:0;width:100%;position:relative}td.wrapper{padding:10px 20px 0 0;position:relative}table.column td,table.columns td{padding:0 0 10px}table.column td.sub-column,table.column td.sub-columns,table.columns td.sub-column,table.columns td.sub-columns{padding-right:10px}td.sub-column,td.sub-columns{min-width:0}table.container td.last,table.row td.last{padding-right:0}table.one{width:30px}table.two{width:80px}table.three{width:130px}table.four{width:180px}table.five{width:230px}table.six{width:280px}table.seven{width:330px}table.eight{width:380px}table.nine{width:430px}table.ten{width:480px}table.eleven{width:530px}table.twelve{width:580px}table.one center{min-width:30px}table.two center{min-width:80px}table.three center{min-width:130px}table.four center{min-width:180px}table.five center{min-width:230px}table.six center{min-width:280px}table.seven center{min-width:330px}table.eight center{min-width:380px}table.nine center{min-width:430px}table.ten center{min-width:480px}table.eleven center{min-width:530px}table.twelve center{min-width:580px}table.one .panel center{min-width:10px}table.two .panel center{min-width:60px}table.three .panel center{min-width:110px}table.four .panel center{min-width:160px}table.five .panel center{min-width:210px}table.six .panel center{min-width:260px}table.seven .panel center{min-width:310px}table.eight .panel center{min-width:360px}table.nine .panel center{min-width:410px}table.ten .panel center{min-width:460px}table.eleven .panel center{min-width:510px}table.twelve .panel center{min-width:560px}.body .column td.one,.body .columns td.one{width:8.333333%}.body .column td.two,.body .columns td.two{width:16.666666%}.body .column td.three,.body .columns td.three{width:25%}.body .column td.four,.body .columns td.four{width:33.333333%}.body .column td.five,.body .columns td.five{width:41.666666%}.body .column td.six,.body .columns td.six{width:50%}.body .column td.seven,.body .columns td.seven{width:58.333333%}.body .column td.eight,.body .columns td.eight{width:66.666666%}.body .column td.nine,.body .columns td.nine{width:75%}.body .column td.ten,.body .columns td.ten{width:83.333333%}.body .column td.eleven,.body .columns td.eleven{width:91.666666%}.body .column td.twelve,.body .columns td.twelve{width:100%}td.offset-by-one{padding-left:50px}td.offset-by-two{padding-left:100px}td.offset-by-three{padding-left:150px}td.offset-by-four{padding-left:200px}td.offset-by-five{padding-left:250px}td.offset-by-six{padding-left:300px}td.offset-by-seven{padding-left:350px}td.offset-by-eight{padding-left:400px}td.offset-by-nine{padding-left:450px}td.offset-by-ten{padding-left:500px}td.offset-by-eleven{padding-left:550px}table.column .text-pad,table.columns .text-pad{padding-left:10px;padding-right:10px}table.column .left-text-pad,table.column .text-pad-left,table.columns .left-text-pad,table.columns .text-pad-left{padding-left:10px}table.column .right-text-pad,table.column .text-pad-right,table.columns .right-text-pad,table.columns .text-pad-right{padding-right:10px}.block-grid{width:100%;max-width:580px}.block-grid td{display:inline-block;padding:10px}.two-up td{width:270px}.three-up td{width:173px}.four-up td{width:125px}.five-up td{width:96px}.six-up td{width:76px}.seven-up td{width:62px}.eight-up td{width:52px}span.center{display:block;width:100%}img.center{float:none}.hide-for-desktop,.show-for-small{display:none}body,h1,h2,h3,h4,h5,h6,p,table.body,td{color:#222;font-family:Helvetica,Arial,sans-serif;font-weight:400;padding:0;margin:0;text-align:left;line-height:1.3}h1,h2,h3,h4,h5,h6{word-break:normal}h1{font-size:40px}h2{font-size:36px}h3{font-size:32px}h4{font-size:28px}h5{font-size:24px}h6{font-size:20px}h1.subject{color:#FFF}a,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#2ba6cb}body,p,table.body,td{font-size:14px;line-height:19px}p.lead,p.lede,p.leed{font-size:18px;line-height:21px}p{margin-bottom:10px}small{font-size:10px}a:active,a:hover{color:#2795b6!important}a:visited,h1 a:active,h1 a:visited,h2 a:active,h2 a:visited,h3 a:active,h3 a:visited,h4 a:active,h4 a:visited,h5 a:active,h5 a:visited,h6 a:active,h6 a:visited{color:#2ba6cb!important}.panel{background:#fff;border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:10px!important}.sub-grid table{width:100%}.sub-grid td.sub-columns{padding-bottom:0}table.button,table.large-button,table.medium-button,table.small-button,table.tiny-button{width:100%;overflow:hidden}table.button td,table.large-button td,table.medium-button td,table.small-button td,table.tiny-button td{display:block;width:auto!important;text-align:center;background:#2ba6cb;border:1px solid #2284a1;color:#fff;padding:8px 0}table.button:active td,table.button:hover td,table.button:visited td,table.large-button:hover td,table.medium-button:hover td,table.small-button:hover td,table.tiny-button:hover td{background:#2795b6!important}table.tiny-button td{padding:5px 0 4px}table.small-button td{padding:8px 0 7px}table.medium-button td{padding:12px 0 10px}table.large-button td{padding:21px 0 18px}table.button td a,table.large-button td a,table.medium-button td a,table.small-button td a,table.tiny-button td a{font-weight:700;text-decoration:none;font-family:Helvetica,Arial,sans-serif;color:#fff;font-size:16px}table.button td a:visited,table.button:active td a,table.button:hover td a,table.button:visited td a,table.large-button td a:visited,table.large-button:active td a,table.large-button:hover td a,table.medium-button td a:visited,table.medium-button:active td a,table.medium-button:hover td a,table.small-button td a:visited,table.small-button:active td a,table.small-button:hover td a,table.tiny-button td a:visited,table.tiny-button:active td a,table.tiny-button:hover td a{color:#fff!important}table.tiny-button td a{font-size:12px;font-weight:400}.bold,.template-label{font-weight:700}table.small-button td a{font-size:16px}table.medium-button td a{font-size:20px}table.large-button td a{font-size:24px}table.secondary td{background:#e9e9e9;border-color:#d0d0d0;color:#555}table.secondary td a{color:#555}table.secondary:hover td{background:#d0d0d0!important;color:#555}table.secondary td a:visited,table.secondary:active td a,table.secondary:hover td a{color:#555!important}table.success td{background:#5da423;border-color:#457a1a}table.success:hover td{background:#457a1a!important}table.alert td{background:#c60f13;border-color:#970b0e}table.alert:hover td{background:#970b0e!important}table.radius td{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}table.round td{-webkit-border-radius:500px;-moz-border-radius:500px;border-radius:500px}body.outlook p{display:inline!important}@media only screen and (max-width:600px){table[class=body] img{width:auto!important;height:auto!important}table[class=body] center{min-width:0!important}table[class=body] .container{width:95%!important}table[class=body] .row{width:100%!important;display:block!important}table[class=body] .wrapper{display:block!important;padding-right:0!important}table[class=body] .column,table[class=body] .columns{table-layout:fixed!important;float:none!important;width:100%!important;padding-right:0!important;padding-left:0!important;display:block!important}table[class=body] .wrapper.first .column,table[class=body] .wrapper.first .columns{display:table!important}table[class=body] table.column td,table[class=body] table.columns td{width:100%!important}table[class=body] .column td.one,table[class=body] .columns td.one{width:8.333333%!important}table[class=body] .column td.two,table[class=body] .columns td.two{width:16.666666%!important}table[class=body] .column td.three,table[class=body] .columns td.three{width:25%!important}table[class=body] .column td.four,table[class=body] .columns td.four{width:33.333333%!important}table[class=body] .column td.five,table[class=body] .columns td.five{width:41.666666%!important}table[class=body] .column td.six,table[class=body] .columns td.six{width:50%!important}table[class=body] .column td.seven,table[class=body] .columns td.seven{width:58.333333%!important}table[class=body] .column td.eight,table[class=body] .columns td.eight{width:66.666666%!important}table[class=body] .column td.nine,table[class=body] .columns td.nine{width:75%!important}table[class=body] .column td.ten,table[class=body] .columns td.ten{width:83.333333%!important}table[class=body] .column td.eleven,table[class=body] .columns td.eleven{width:91.666666%!important}table[class=body] .column td.twelve,table[class=body] .columns td.twelve{width:100%!important}table[class=body] td.offset-by-eight,table[class=body] td.offset-by-eleven,table[class=body] td.offset-by-five,table[class=body] td.offset-by-four,table[class=body] td.offset-by-nine,table[class=body] td.offset-by-one,table[class=body] td.offset-by-seven,table[class=body] td.offset-by-six,table[class=body] td.offset-by-ten,table[class=body] td.offset-by-three,table[class=body] td.offset-by-two{padding-left:0!important}table[class=body] .right-text-pad,table[class=body] .text-pad-right{padding-left:10px!important}table[class=body] .left-text-pad,table[class=body] .text-pad-left{padding-right:10px!important}table[class=body] .hide-for-small,table[class=body] .show-for-desktop{display:none!important}table[class=body] .hide-for-desktop,table[class=body] .show-for-small{display:inherit!important}}</style><style>table.facebook td{background:#3b5998;border-color:#2d4473}table.facebook:hover td{background:#2d4473!important}table.twitter td{background:#00acee;border-color:#0087bb}table.twitter:hover td{background:#0087bb!important}table.google-plus td{background-color:#DB4A39;border-color:#C00}table.google-plus:hover td{background:#C00!important}.template-label{color:#fff;font-size:11px}.callout .wrapper{padding-bottom:20px}.callout .panel{background:#ECF8FF;border-color:#b9e5ff}.header{background:#FFF}.subject{background:#09497a}.footer .wrapper{background:#ebebeb}.footer h5{padding-bottom:10px}table.columns .text-pad{padding-left:10px;padding-right:10px}table.columns .left-text-pad{padding-left:10px}table.columns .right-text-pad{padding-right:10px}@media only screen and (max-width:600px){table[class=body] .right-text-pad{padding-left:10px!important}table[class=body] .left-text-pad{padding-right:10px!important}}</style>
	</head>
	<body>
		<table class="body">
			<tr>
				<td class="center" align="center" valign="top">
					<center>
						<table class="row header">
							<tr>
								<td class="center" align="center">
									<center>
										<table class="container">
											<tr>
												<td class="wrapper last">
													<table class="twelve columns">
														<tr>
															<td class="twelve columns">
																<img src="###LLL:mail_logo_src###" height="78px">
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</center>
								</td>
							</tr>
						</table>

						<table class="row subject">
							<tr>
								<td class="center" align="center">
									<center>
										<table class="container">
											<tr>
												<td class="wrapper last">
													<table class="twelve columns">
														<tr>
															<td>
																<h1 class="subject">###LLL:mail_title###</h1>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</center>
								</td>
							</tr>
						</table>
						<table class="container">
							<tr>
								<td>
									<table class="row">
										<tr>
											<td class="wrapper last">
												<table class="twelve columns">
													<tr>
														<td colspan="5">
															<p>###LLL:mail_dear### ###value_salutation### ###value_lastname###,<br/>
																<br/>
																###LLL:mail_thanks###
																<!-- ###IF_products### -->
																<br/>
																<br/>
																###LLL:mail_product###
																<!--###IF_END### -->
															</p>
														</td>
													</tr>
													<!-- ###IF_products### -->
													<tr class="panel">
														<td>###LLL:mail_tablehead_product###</td>
														<td>###LLL:mail_tablehead_note###</td>
														<td>###LLL:mail_tablehead_amount###</td>
														<td>###LLL:mail_tablehead_price###</td>
														<td>###LLL:mail_tablehead_shipping###</td>
													</tr>
													###product_table_html###
													<!--###IF_END### -->
												</table>
											</td>
										</tr>
										<tr>
											<table class="twelve columns">
												<tr>
													<td></td>
												</tr>
											</table>
										</tr>
									</table>
									<table class="row callout">
										<tr>
											<td class="wrapper last">
												<table class="twelve columns">
													<tr>
														<td>
															<p>###LLL:mail_regards###</p>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
									<table class="row">
										<tr>
											<td class="wrapper last">
												<table class="twelve columns">
													<tr>
														<td align="center">
															<center>
																<p style="text-align:center;">
																	<a href="###LLL:mail_link_url_terms###">###LLL:mail_link_label_terms###</a> |
																	<a href="###LLL:mail_link_url_privacy###">###LLL:mail_link_label_privacy###</a></p>
															</center>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>

								</td>
							</tr>
						</table>
					</center>
				</td>
			</tr>
		</table>
		<script type="text/javascript">
			/* <![CDATA[ */!function(){try{var t,e,r,n,a,c,i=document.getElementsByTagName("a"),l=document.createElement("textarea");for(r=0;i.length-r;r++)try{if(e=i[r].getAttribute("href"),e&&e.indexOf("/cdn-cgi/l/email-protection")>-1&&e.length>28){if(t="",n=28+e.indexOf("/cdn-cgi/l/email-protection"),e.length>n){for(a=parseInt(e.substr(n,2),16),n+=2;e.length>n&&"X"!=e.substr(n,1);n+=2)c=parseInt(e.substr(n,2),16)^a,t+=String.fromCharCode(c);n+=1,t+=e.substr(n,e.length-n)}l.innerHTML=t.replace(/</g,"&lt;").replace(/>/g,"&gt;"),i[r].setAttribute("href","mailto:"+l.value)}}catch(g){}}catch(g){}}();/* ]]> */
		</script>
	</body>
</html>
<!-- ###TEMPLATE_EMAIL_USER_HTML### end -->

<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### begin -->
###productInquiryName###

Name: ###value_salutation### ###value_firstname### ###value_lastname###
E-Mail: ###value_email###
<!-- ###IF_phone### -->
Phone: ###value_phone###
<!-- ###IF_END### -->

<!-- ###IF_company### -->
Company: ###value_company###
<!-- ###IF_END### -->
<!-- ###IF_industry### -->
Industry: ###value_industry###
<!-- ###IF_END### -->
<!-- ###IF_street || zip || city || country### -->
Address:
<!-- ###IF_END### -->
<!-- ###IF_street### -->
###value_street###
<!-- ###IF_END### -->
<!-- ###IF_zip && city### -->
###value_zip### ###value_city###
<!-- ###IF_END### -->
<!-- ###IF_country### -->
###country_name_en###
<!-- ###IF_END### -->

Message:
###value_message###

<!-- ###IF_request=1 || request=2### -->
<!-- ###IF_products### -->
Products:
###product_table_text###
<!-- ###IF_END### -->
<!-- ###IF_END### -->
<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### end -->

<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### begin -->
<h2>###productInquiryName###</h2>
<table width="800px" cellpadding="5" cellspacing="0" border="0">
	<tr>
		<td valign="top">
			<h4>Personal Data</h4>
			<p>
				Name: ###value_salutation### ###value_firstname### ###value_lastname###<br>
				E-Mail: ###value_email###
				<!-- ###IF_phone### -->
				<br>Phone: ###value_phone###
				<!-- ###IF_END### -->
			</p>
		</td>
		<td valign="top">
			<h4>Company Data</h4>
			<p>
				<!-- ###IF_company### -->
				Company: ###value_company###
				<!-- ###IF_END### -->
				<!-- ###IF_industry### -->
				<br>Industry: ###value_industry###
				<!-- ###IF_END### -->
				<!-- ###IF_street || zip || city || country### -->
				<br>Address:
				<!-- ###IF_END### -->
				<!-- ###IF_street### -->
				<br>###value_street###
				<!-- ###IF_END### -->
				<!-- ###IF_zip && city### -->
				<br>###value_zip### ###value_city###
				<!-- ###IF_END### -->
				<!-- ###IF_country### -->
				<br>###country_name_en###
				<!-- ###IF_END### -->
			</p>

		</td>
	</tr>
	<tr>
		<td colspan="2">
			<h4>Text:</h4>
			###value_message###
		</td>
	</tr>
	<!-- ###IF_request=1 || request=2### -->
	<!-- ###IF_products### -->
	<tr>
		<td colspan="2">
			<table width="100%" cellpadding="5" cellspacing="0" border="1">
				<tr class="panel">
					<td>###LLL:mail_tablehead_product###</td>
					<td>###LLL:mail_tablehead_note###</td>
					<td>###LLL:mail_tablehead_amount###</td>
					<td>###LLL:mail_tablehead_price###</td>
					<td>###LLL:mail_tablehead_shipping###</td>
				</tr>
				###product_table_html###
			</table>
		</td>
	</tr>
	<!--###IF_END### -->
	<!-- ###IF_END### -->
</table>
<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### end -->
