.breadcrumb {
  margin: 40px 0;
  font-weight: 500;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  a {
    color: $text-color;
    &:hover,
    &:focus {
      color: $brand-primary;
    }
  }
  > li {
    + li {
      &:before {
        font-family: "bourdon" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "p";
        font-size: 75%;
      }
    }
  }
}
