// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin custom-button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  box-shadow: none !important;
  outline: none !important;
  border: 0 none;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
    box-shadow: none !important;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

.btn {
  text-transform: uppercase;
  @include button-size(9px, 15px, 16px, 1.75);
  vertical-align: middle;
  border: 0 none;
  &:active {
    box-shadow: none !important;
  }
}

.btn-request {
  background-color: rgb(192, 192, 192);
}

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large);
}

.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small);
}

.btn-blue,
.btn-primary {
  @include custom-button-variant($white, $brand-primary, $brand-primary);
}

.btn-gray {
  @include custom-button-variant($text-color, $gray-light, $gray-light);
}

.btn-orange {
  @include custom-button-variant($white, $color-red-stage, $color-red-stage);
}

.btn-green {
  @include custom-button-variant($white, $color-atlantis, $color-atlantis);
}

.btn-black {
  @include custom-button-variant($white, $text-color, $text-color);
}

.btn-danger {
  @include custom-button-variant($white, $brand-danger, $brand-danger);
}

.btn-outline {
  @include custom-button-variant($gray, $white, $color-silver);
  background-color: transparent !important;
  border: 2px solid $text-color;
  color: $text-color;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  z-index: 0;
  @include transition(color .125s ease-in-out);
  &:before {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    @include scale(0);
    @include transition(transform .125s ease-in-out, background-color .125s ease-in-out);
  }
  &:hover,
  &:focus {
    color: $white;
    &:before {
      @include scale(1);
      background-color: $text-color;
      @include transition(transform .125s ease-in-out, background-color .125s ease-in-out);
    }
  }
  &.btn-blue {
    border-color: $brand-primary;
    color: $brand-primary;
    &:hover,
    &:focus {
      color: $white;
      &:before {
        background-color: $brand-primary;
      }
    }
  }
  &.btn-gray {
    border-color: $gray-light;
    color: $gray-light;
    &:hover,
    &:focus {
      color: $text-color;
      &:before {
        background-color: $gray-light;
      }
    }
  }
}
