.content-head {
  h1,
  h2,
  h3 {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

.page-content {
  h3 {
    font-weight: 500;
    margin: 40px 0 25px 0;
  }
  .row {
    text-align: left;
    h2 {
      font-size: 24px;
      font-weight: 500;
      border-bottom: 1px solid $border-color;
      padding-bottom: 15px;
      margin-bottom: 25px;
    }
  }
  .ce-bodytext {
    margin-bottom: 40px;
  }
}
