.contact-box {
  margin-top: 30px;
  font-weight: 300;
  h4 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
  }
  p {
    margin-bottom: 30px;
  }
  @media (min-width: $screen-md) {
    &:nth-child(4n+1) {
      clear: both;
    }
  }
  @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
    &:nth-child(2n+1) {
      clear: both;
    }
  }
}
