.divider {
  border: 0 none;
  display: block;
  width: 100%;
  height: 1px;
  text-align: center;
  margin: 100px auto;
  color: $text-color;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 55%;
    width: 40%;
    margin-left: -25%;
    height: 1px;
    background-color: lighten($color-silver, 10%);
    display: inline-block;
  }
  &-icon {
    &:after {
      height: 60px;
      width: 60px;
      line-height: 60px;
      font-size: 40px;
      background-color: $white;
      text-align: center;
      position: absolute;
      top: -30px;
      left: 50%;
      margin-left: -30px;
      font-family: "bourdon" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "a";
    }
  }
}
