@import "compass";
@import "../twbs-override/variables";

.row-downloads {
  article {
    position: relative;
    padding: 20px;
    border: 1px solid $border-color;
    margin-bottom: 30px;
    @include transition(border-color $transition-default);
    .mark {
      position: absolute;
      top: -5px;
      right: 10px;
      background-color: $brand-danger;
      width: 42px;
      height: 42px;
      line-height: 38px;
      text-align: center;
      color: #fff;
      font-size: ceil(($font-size-base * 1.1));
      &:after {
        content: '';
        position: absolute;
        right: -5px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 0 5px;
        border-color: transparent transparent transparent darken($brand-danger, 20);
      }
      &.fa-file-zip-o {
        background-color: $blue;
        &:after {
          border-color: transparent transparent transparent darken($blue, 20);
        }
      }

    }
    .cat {
      display: inline-block;
      color: $gray-dark;
      margin-bottom: 5px;
      padding-right: 40px;
      white-space: pre;
    }
    .media-left {
      width: 150px;
      img {
        height: 200px;
        width: auto;
      }
    }
    h3 {
      font-size: ceil(($font-size-base * 1.35));
      margin-bottom: 5px;
      margin-top: 5px;
      line-height: 1.2;
    }
    h4 {
      margin-bottom: 20px;
      font-size: $font-size-base;
    }
    .buttons {
      a {
        margin-right: 2px;
        margin-bottom: 4px;
      }
    }
    &:hover {
      border-color: darken($border-color, 20);
    }
  }
  .media,
  .media-body {
    overflow: visible;
  }
  .btn-download{
    width: 38px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    text-align: center;
  }
}

#textfilter {
  border-width: 0;
  background: transparent;
  border-bottom-width: 2px;
  padding: 0;
  height: 55px;
  font-size: 35px;
  font-weight: 300;
  margin: 50px 0 50px 0;
  color: $color-wild-sand;
  @include placeholder {
    color: $color-alto;
  }
  &:focus {
    border-color: inherit;
  }
;
}
