.bootstrap-select {
  .btn.dropdown-toggle {
    background-color: $white;
    border: 1px solid $border-color;
    height: 38px;
    color: $text-color;
    padding: 6px 25px 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: none !important;
    outline: none !important;
    text-transform: none !important;
    &.hover,
    &:hover {
      background-color: $white;
      color: $text-color;
      border-color: $border-color;
    }
    &.active,
    &:active,
    &.focus,
    &:focus {
      background-color: $white !important;
      color: $text-color !important;
      border-color: $brand-primary !important;
    }
  }
  &.open {
    .btn.dropdown-toggle {
      background-color: $border-color;
      z-index: 15;
    }
  }
}
