.expandable {
  &-upper {
    margin-bottom: 30px;
  }
  &-toggle {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    [class^="icon-"] {
      font-size: 13px;
      margin-right: 8px;
      @include transition(transform $transition-default);
    }
    &:hover,
    &:focus {
      [class^="icon-"] {
        @include translateX(5px);
      }
    }
  }
  &-lower {
    margin-top: 30px;
  }
}
