.fancy-cols {
  h2 {
    text-align: left;
    font-size: 22px;
    padding: 20px 0;
    position: relative;
    display: inline-block;
    &:after {
      width: 50%;
      height: 1px;
      background-color: $text-color;
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
    }
  }
}
