.filters {
  margin-bottom: 40px;
  &.pull-right {
    margin-bottom: 0;
  }
  @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .filter:nth-child(2n+1) {
      clear: both;
    }
  }
  @media (min-width: $screen-md) {
    .filter:nth-child(4n+1) {
      clear: both;
    }
  }

  .f-header {
    margin-bottom: 25px;
    .close-filter {
      min-width: 180px;
      text-align: left;
      background-color: $color-alto;
      &:hover {
        background-color: darken($color-alto, 5%);
      }
      &:after {
        font-family: "bourdon" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: 'B';
        color: $white;
        position: relative;
        margin-left: 10px;
      }
      &.open {
        &:after {
          content: 'C';
        }
      }
    }
  }
  .f-footer {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
    a, .clickable {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 14px;
      &:before {
        font-family: "bourdon" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: 'p';
        font-size: 75%;
        margin-right: 10px;
      }
    }
  }
  .filterCatWrapper {
    position: relative;
    min-height: 36px;
    margin-bottom: 15px;
    font-size: 14px;
    [data-ng-click] {
      @extend a;
    }
    &.open {
      .filterCatSelected {
        display: none;
      }
      .filterCatFlyout {
        display: block !important;
      }
    }
    .filterCatSelected {
      border: 1px solid $border-color;
      border-top: 0;
      padding: 1px 10px;
      margin-bottom: 5px;
      background-color: $white;
    }
    .filterCatHeader {
      font-size: 14px;
      background-color: $white;
      border: 1px solid $border-color;
      padding: 10px 15px;
      a, .clickable {
        position: relative;
        display: block;
        color: #000;
        &:before {
          font-family: "bourdon" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: inherit;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: 's';
          font-size: 16px;
          color: $brand-primary;
          position: absolute;
          top: -1px;
          right: 0;
        }
      }
      &.selected {
        a, .clickable {
          color: $color-atlantis;
          font-weight: 400;
        }
      }
    }
    .filterCatFlyout {
      padding: 1px 10px;
      background-color: $white;
      border: 1px solid $border-color;
      border-top: 0;
      position: absolute;
      width: 100%;
      z-index: 10;
      display: none;
      .disabled {
        cursor: not-allowed;
        .lab {
          color: $gray;
        }
      }
    }
    .filterCat {
      &.filterSet {
        .filterCatHeader {
          color: #000;
          a, .clickable {
            color: #000;
          }
        }
      }
      &:hover {
        .filterCatHeader {
          position: relative;
          z-index: 20;
        }
        .filterCatFlyout {
          display: block !important;
        }
      }
      &.open {
        position: relative;
        &:hover {
          color: $blue;
          position: relative;
          width: 100%;
        }
        .filterCatFlyout {
          position: relative;
        }
      }
    }
    .checkbox {
      .checkbox-label {
        padding-right: 30px;
        .filterCatCount {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .check {
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid $border-color;
        background-color: $white;
      }
      input[type = "checkbox"] {
        display: none;
      }
      a, .lab, .clickable {
        padding-left: 20px;
        display: block;
        position: relative;
      }
      .lab {
        @include opacity(0.4);
      }
      .filter-value {
        display: inline-block;
      }
      &.disabled .check {
        color: $gray-light;
      }
      &.checked .check {
        background-color: $color-wild-sand;
        &:before {
          content: '';
          position: absolute;
          background-color: $brand-primary;
          top: 24%;
          left: 24%;
          width: 60%;
          height: 60%;
        }
      }
    }
  }
}

.productfilter {
  .filters {
    .f-header {
      .close-filter {
        background-color: darken($brand-primary, 5%);
        &:hover {
          background-color: darken($brand-primary, 10%);
        }
      }
    }
  }
}
