@font-face {
  font-family: 'Roboto';
  src: url('../Fonts/Roboto/roboto-light-webfont.eot');
  src: url('../Fonts/Roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../Fonts/Roboto/roboto-light-webfont.woff2') format('woff2'),
  url('../Fonts/Roboto/roboto-light-webfont.woff') format('woff'),
  url('../Fonts/Roboto/roboto-light-webfont.ttf') format('truetype'),
  url('../Fonts/Roboto/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('../Fonts/Roboto/roboto-medium-webfont.eot');
  src: url('../Fonts/Roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../Fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
  url('../Fonts/Roboto/roboto-medium-webfont.woff') format('woff'),
  url('../Fonts/Roboto/roboto-medium-webfont.ttf') format('truetype'),
  url('../Fonts/Roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('../Fonts/Roboto/roboto-regular-webfont.eot');
  src: url('../Fonts/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../Fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('../Fonts/Roboto/roboto-regular-webfont.woff') format('woff'),
  url('../Fonts/Roboto/roboto-regular-webfont.ttf') format('truetype'),
  url('../Fonts/Roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: 400;
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('../Fonts/Roboto/roboto-thin-webfont.eot');
  src: url('../Fonts/Roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../Fonts/Roboto/roboto-thin-webfont.woff2') format('woff2'),
  url('../Fonts/Roboto/roboto-thin-webfont.woff') format('woff'),
  url('../Fonts/Roboto/roboto-thin-webfont.ttf') format('truetype'),
  url('../Fonts/Roboto/roboto-thin-webfont.svg#robotothin') format('svg');
  font-weight: 100;
  font-style: normal;

}
