#footer {
  text-align: center;
  margin: 50px 0 0 0;
  > .container .footer-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 5px solid $color-silver;
    line-height: 30px;
    > .pull-left {
      text-transform: uppercase;
      font-weight: 500;
      padding: 20px 0;
    }
    > .social-buttons {
      padding: 20px 0;
      > a {
        height: 30px;
        width: 30px;
        line-height: 30px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 10px;
        background-color: $text-color;
        color: $white;
      }
    }
    > .pull-right {
      padding: 20px 0;
    }
  }
  .footer-nav {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 0;
      li {
        display: inline-block;
        line-height: 20px;
        margin: 5px 0;
        font-size: 16px;
        a {
          font-weight: 300;
          color: $gray-dark;
          &:focus,
          &:hover {
            color: $text-color;
          }
        }
        + li {
          padding-left: 7px;
          margin-left: 7px;
          border-left: 1px solid $gray;
        }
      }
    }
  }
}

.newsletter-container {
  text-align: center;
  margin-top: 100px;
  padding-top: 20px;
  border-top: 5px solid $color-silver;
  .input-subscription {
    position: relative;
    .btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 38px;
      line-height: 18px;
    }
  }
}
