.form-control {
  box-shadow: none !important;
  &:focus {
    border-color: $brand-primary;
  }
}

label {
  &.required,
  .required {
    color: $brand-danger;
  }
}

.error{
  color: $brand-danger;
}

.checkbox {
  input[type="checkbox"] {
    position: absolute;
    left: 0;
    margin-left: 0;
  }
}
