body {
  font-family: 'Roboto', sans-serif;
  font-weight: $font-weight-normal;
  overflow-x: hidden;
  &:before {
    display: block;
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1110;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity $transition-default);
    pointer-events: none;
  }
  &.overlay-open {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

*:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  @include transition(color $transition-default, background-color $transition-default);
}

h2.section-head {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: 0;
}

ul,
ol {
  padding: 0;
  margin-left: 20px;
}

.container {
  &-blue {
    background-color: $brand-primary;
  }
}

.dropdown-menu {
  margin-top: -1px;
  box-shadow: none !important;
}

[data-ng-click] {
  cursor: pointer;
}

.spinner {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid $text-color;
  border-top-color: $gray;
  vertical-align: top;
  @include animation-name(spin);
  @include animation-iteration-count(infinite);
  @include animation-duration(1.5s);
  @include animation-timing-function(linear);
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.uppercase {
  text-transform: uppercase;
}

button,
.btn,
option {
  &.disabled {
    pointer-events: auto !important;
    cursor: not-allowed !important;
  }
}

.ce-media img {
  @extend .img-responsive;
}
