body {
  padding-top: 154px;
}

#header {
  background-color: $white;
  padding-top: 38px;
  @media (min-width: $screen-lg){
    padding-top: 28px;
  }
  text-align: right;
  width: 100%;
  z-index: 100;
  @extend .clearfix;
  .logo {
    display: block;
    float: left;
    img {
      height: 78px;
      width: auto;
      display: inline-block;
      @include transition(height $transition-default);
    }
  }
  .header-container {
    padding: 0 80px;
  }
  .search-trigger,
  .contact-trigger,
  .myproducts-trigger,
  .login-trigger {
    text-transform: uppercase;
    color: $color-silver;
    padding: 14px 0;
    display: inline-block;
    font-weight: 500;
    vertical-align: middle;
    position: relative;
    @include transition(padding $transition-default);
    > [class*=" hidden-"],
    > [class^="hidden-"] {
      visibility: visible;
      @include transition(all $transition-default);
    }
    > [class*=" icon-"],
    > [class^="icon-"] {
      display: inline-block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: $color-silver;
      color: $white !important;
      line-height: 49px;
      text-align: center;
      font-size: 20px;
      margin: 0 7.5px;
      @include transition(all $transition-default);
      &.change {
        @include box-shadow(0 0 0 5px $color-silver-chalice);
      }
    }
    .visible-on-hover {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      right: 100%;
      background-color: $white;
      padding: 3px 8px;
      top: 50%;
      @include transform(translateY(-50%) scale(0));
      @include transform-origin(right center);
      border: 2px solid $color-silver;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      white-space: nowrap;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: -7px;
        width: 12px;
        height: 12px;
        border: 2px solid $color-silver;
        border-bottom: 0;
        border-left: 0;
        background-color: $white;
        @include transform(translateY(-50%) rotate(45deg));
      }
    }
    &:hover {
      color: darken($color-silver, 25%);
      > [class*=" icon-"],
      > [class^="icon-"] {
        background-color: darken($color-silver, 25%);
      }
      .visible-on-hover {
        opacity: 1;
        visibility: visible;
        @include transform(translateY(-50%) scale(1));
      }
    }
    .item-counter {
      position: absolute;
      top: 14px;
      right: 0;
      background-color: $color-endeavour;
      color: white;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      @media (max-width: $screen-sm-max) {
        top: 11px;
        right: -3px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
      }
    }
  }
  .myproducts-trigger {
    color: $color-bourdon;
    > [class*=" icon-"],
    > [class^="icon-"] {
      background-color: $color-bourdon;
    }
    &:hover {
      color: darken($color-bourdon, 10%);
      > [class*=" icon-"],
      > [class^="icon-"] {
        background-color: darken($color-bourdon, 10%);
      }
    }
  }
  .menu-trigger {
    position: absolute;
    display: inline-block;
    top: 58px;
    right: 25px;
    padding: 10px;
    &-wrapper {
      position: relative;
      margin-bottom: 16px;
      &,
      &:before,
      &:after {
        pointer-events: none;
        display: block;
        height: 3px;
        width: 25px;
        background-color: $text-color;
        @include transition(width $transition-default);
      }
      &:before,
      &:after {
        position: absolute;
        right: 0;
        content: '';
      }
      &:before {
        top: 8px;
      }
      &:after {
        top: 16px;
      }
    }
    &:hover,
    &:focus {
      .menu-trigger {
        &-wrapper {
          &:before {
            width: 15px;
          }
          &:after {
            width: 20px;
          }
        }
      }
    }
  }
  &.hideable {
    @include translateY(-100%);
    @include transition(transform $transition-default, box-shadow $transition-default);
    padding-top: 10px;
    box-shadow: none;
    .logo {
      img {
        height: 55px;
      }
    }
    .search-trigger,
    .contact-trigger,
    .myproducts-trigger {
      padding: 2px 0;
      .item-counter {
        top: 0;
        @media (max-width: $screen-sm-max) {
          top: -3px;
        }
      }
    }
    @media (min-width: 1338px) {
      .menu-trigger {
        top: 18px;
        right: 25px;
        font-size: 35px;
      }
    }
  }
  &.open {
    @include translateY(0);
    @include box-shadow(0 1px 0 0 rgba(0,0,0,0.075));
  }
  &.forced-open {
    @include translateY(0);
    padding-top: 38px;
    @media (min-width: $screen-lg){
      padding-top: 28px;
    }
    box-shadow: none;
  }
  &.clipped {
    position: fixed;
    top: 0;
    bottom: auto;
  }
}

@media (max-width: 1337px) {
  // BEST BREAKPOINT EVER!!!
  #header {
    .menu-trigger {
      position: relative;
      top: 14px;
      right: auto;
    }
  }
}

@media (max-width: $screen-xs-max) {
  #header {
    padding-top: 20px;
    .header-container {
      padding: 0 20px;
    }
    .logo {
      display: block;
      float: left;
      padding-top: 10px;
      padding-bottom: 10px;
      img {
        height: 42px !important;
      }
    }
    .search-trigger,
    .contact-trigger,
    .myproducts-trigger {
      padding: 14px 0;
      > [class*=" icon-"],
      > [class^="icon-"] {
        height: 42px;
        width: 42px;
        line-height: 41px;
        text-align: center;
        font-size: 18px;
        margin: 0 0 0 5px;
        @include transition(all $transition-default);
      }
    }
    .menu-trigger {
    }
  }
}
