.header-teaser {
  height: 615px;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  margin-bottom: 140px;
  > .container {
    position: relative;
    height: 100%;
  }
  &-menu {
    position: absolute;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    right: 0;
    bottom: -40px;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    @include transition(bottom $transition-default, opacity $transition-default);
    li {
      border-bottom: 1px solid #305979;
      line-height: 40px;
      white-space: nowrap;
      background-color: $color-bourdon;
      list-style: none;
      color: $white;
      font-size: 18px;
      text-transform: uppercase;
      a {
        color: inherit;
        font-size: 20px;
        font-weight: 500;
        padding: 20px 50px 20px 30px;
        display: inline-block;
        [class*=" icon-"],
        [class^="icon-"] {
          font-size: 25px;
          margin-right: 15px;
          @include transition(transform $transition-default);
        }
      }
      &:hover,
      &:focus {
        a {
          [class*=" icon-"],
          [class^="icon-"] {
            @include translateX(5px);
          }
        }
      }
      $i: 10; // max menu items is 10
      @while $i > 1 {
        &:nth-child(#{$i}) {
          background-color: darken($color-bourdon, ($i - 1)*3%);
        }
        $i: $i - 1;
      }
      .layover-menu {
        position: absolute;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        visibility: hidden;
        overflow: visible;
        max-height: none;
        box-shadow: none !important;
        @media (max-width: $screen-sm-max) {
          overflow-y: scroll;
          height: 100%;
          overflow-x: hidden;
        }
        @include translateY(-100%);
        @include transition(transform $transition-default, opacity $transition-default);
        &-entry {
          &-title {
            font-weight: 500;
            display: block;
          }
          &-desc {
              font-weight: 100;
              font-size: 13px;
              display: inline-block;
              line-height: 1.65;
              text-transform: none;
          }
        }
        ul {
          &.menu-list {
            padding: 50px 0;
            li {
              border-bottom: none;
            }
          }
          &.sub-menu-list {
            li {
              a {
                font-weight: 300;
                padding: 5px 0 5px 35px;
                &:before {
                  font-family: "bourdon" !important;
                  font-style: normal !important;
                  font-weight: normal !important;
                  font-variant: normal !important;
                  text-transform: none !important;
                  speak: none;
                  line-height: inherit;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  content: "p";
                  margin-right: 10px;
                  font-size: 80%;
                  @include translateX(0);
                  @include transition(transform $transition-default);
                  position: absolute;
                  left: 15px;
                }
              }
            }
          }
          li {
            background-color: transparent !important;
            display: block;
            &.col-sm-6.col-md-4 {
              @media (min-width: $screen-md-min) {
                &:nth-child(3n + 1) {
                  clear: both;
                }
              }
              @media (max-width: $screen-sm-max) {
                &:nth-child(2n + 1) {
                  clear: both;
                }
              }
            }
            a {
              padding: 12px 0px;
              background-color: transparent;
              white-space: normal;
              display: block;
              &:hover,
              &:focus {
                background-color: none;
              }
            }
          }
        }
      }
    }
    &-title {
      padding: 20px 30px;
      background-color: $color-denim !important;
    }
  }
  &.overlay-menu-triggered {
    .header-teaser-menu {
      bottom: 0;
      opacity: 0;
    }
  }
  &.overlay-menu-open {
    padding: 0;
    > .container {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .header-teaser-menu {
      position: fixed;
      overflow: auto;
      z-index: 150;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: hidden;
      padding: 0;
      margin: 0;
      li {
        .layover-menu {
          &.open {
            opacity: 1;
            visibility: visible;
            @include translateY(0);
          }
        }
      }
    }
  }
  &.overlay-menu-closed {
    .header-teaser-menu {
      opacity: 0;
      li {
        .layover-menu {
          &,
          &.open {
            @include translateY(-100%);
          }
        }
      }
    }
  }
}
