@charset "UTF-8";

@font-face {
  font-family: "bourdon";
  src: url("../Fonts/Bourdon/bourdon.eot");
  src: url("../Fonts/Bourdon/bourdon.eot?#iefix") format("embedded-opentype"),
  url("../Fonts/Bourdon/bourdon.woff") format("woff"),
  url("../Fonts/Bourdon/bourdon.ttf") format("truetype"),
  url("../Fonts/Bourdon/bourdon.svg#bourdon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
}

[data-icon]:before {
  font-family: "bourdon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.fa,
.fa:before {
  font-family: "bourdon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-manometer:before {
  content: "a";
}

.icon-book:before {
  content: "b";
}

.icon-file-favorite:before {
  content: "c";
}

.icon-alert:before {
  content: "d";
}

.icon-cd:before {
  content: "e";
}

.icon-hierarchy:before {
  content: "f";
}

.icon-keynote:before {
  content: "g";
}

.icon-scale:before {
  content: "h";
}

.icon-thermometer-low:before {
  content: "i";
}

.icon-beaker:before {
  content: "j";
}

.icon-magnifier:before {
  content: "k";
}

.fa-envelope-o:before,
.icon-mail:before,
.icon-mail-2:before {
  content: "l";
}

.icon-twitter:before {
  content: "m";
}

.icon-facebook:before {
  content: "n";
}

.icon-google-plus:before {
  content: "o";
}

.icon-rounded-big-2:before {
  content: "p";
}

.icon-cross:before {
  content: "q";
}

.icon-chevron-medium-thin-3:before {
  content: "r";
}

.icon-chevron-medium-thin-4:before {
  content: "s";
}

.fa-times:before,
.icon-close:before {
  content: "t";
}

.fa-star:before,
.icon-star:before {
  content: "u";
}

.icon-download:before {
  content: "v";
}

.fa-info:before,
.icon-information:before {
  content: "w";
}

.icon-rounded-big-1:before {
  content: "x";
}

.icon-sort-row:before {
  content: "y";
}

.icon-sort-thumbnails:before {
  content: "z";
}

.icon-caret-up-down:before {
  content: "A";
}

.icon-caret-down-two:before {
  content: "B";
}

.icon-caret-up-two:before {
  content: "C";
}

.icon-align-justify:before {
  content: "D";
}

.icon-lock-2:before {
  content: "E";
}

.icon-angle-double-left:before {
  content: "F";
}

.icon-angle-double-right:before {
  content: "G";
}

.icon-angle-left:before {
  content: "H";
}

.icon-angle-right:before {
  content: "I";
}

.fa-phone:before,
.icon-telephone:before {
  content: "J";
}

.fa-pencil:before,
.icon-pencil-2:before {
  content: "K";
}

.fa-trash:before,
.icon-bin-2:before {
  content: "M";
}

.fa-map-marker:before,
.icon-marker-1:before {
  content: "N";
}

.fa-file-archive-o:before,
.fileico-zip:before,
.icon-file-archive-o:before {
  content: "L";
}

.fa-file-code-o:before,
.icon-file-code-o:before {
  content: "O";
}

.fa-file-audio-o:before,
.icon-file-audio-o:before {
  content: "P";
}

.fa-file-excel-o:before,
.fileico-xls:before,
.fileico-xlsx:before,
.icon-file-excel-o:before {
  content: "Q";
}

.fa-file-image-o:before,
.icon-file-image-o:before {
  content: "R";
}

.fa-file-pdf-o:before,
.fileico-pdf:before,
.icon-file-pdf-o:before {
  content: "S";
}

.fa-file-o:before,
.icon-file-o:before {
  content: "T";
}

.fa-file-powerpoint-o:before,
.fileico-ppt:before,
.fileico-pptx:before,
.icon-file-powerpoint-o:before {
  content: "U";
}

.fa-file-text-o:before,
.icon-file-text-o:before {
  content: "V";
}

.fa-file-word-o:before,
.fileico-doc:before,
.fileico-docx:before,
.icon-file-word-o:before {
  content: "W";
}

.fa-file-video-o:before,
.icon-file-video-o:before {
  content: "X";
}

.fa-download:before,
.icon-download-1:before {
  content: "Y";
}

.icon-user:before {
  content: "Z";
}

.fa-check:before,
.icon-check:before {
  content: "0";
}

.fa-times-circle:before,
.icon-close-circle:before {
  content: "1";
}

.fa-folder-open:before,
.icon-folder:before {
  content: "\32";
}
.fa-sign-in:before,
.icon-folder-favorite:before {
  content: "\33";
}
.fa-share-alt:before,
.icon-share:before {
  content: "\34";
}
.fa-cubes:before,
.icon-cubes:before {
  content: "\35";
}
.fa-save:before,
.icon-save:before {
  content: "\36";
}
.fa-link:before,
.icon-link:before {
  content: "\37";
}
.icon-star-filled:before {
  content: "\38";
}
.icon-mail-filled:before {
  content: "\39";
}
.fa-youtube-alt:before,
.icon-youtube-alt:before {
    content: "\21";
}
.fa-fax:before,
.icon-print:before {
    content: "\22";
}
.fa-globe:before,
.icon-globe-1:before {
    content: "\23";
}
