@mixin icon-button-variant($color, $background) {
  color: $color;
  background-color: $background;
  &:after {
    background-color: darken($background, 5%);
    @include transition(background-color $transition-default);
  }
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 5%);
    [class*=" icon-"],
    [class^="icon-"] {
      @include scale(1.25);
    }
    &:after {
      @include transition(background-color $transition-default);
      background-color: darken($background, 10%);
    }
  }
  &:active,
  &.active {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
    }
  }
}

.btn-icon {
  line-height: 25px;
  padding: 20px 80px;
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
  margin-top: 20px !important;
  overflow:hidden;
  [class*=" icon-"],
  [class^="icon-"] {
    @include transition(transform $transition-default);
    display: block;
    font-size: 24px;
    height: 100%;
    line-height: 25px;
    padding: 20px 30px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  &:after {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 65px;
    text-align: center;
    line-height: 25px;
    padding: 20px 0;
    font-family: "bourdon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "p";
  }
  &.btn-blue {
    @include icon-button-variant($white, $brand-primary);
  }
  &.btn-gray {
    @include icon-button-variant($text-color, $gray-light);
    border: 0 none;
    &:after {
      @include transition(color $transition-default);
      color: darken($gray-light, 20%);
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
      &:after {
        color: darken($gray-light, 30%);
      }
    }
  }
}
