.image-teaser {
  margin-top: 50px;

  &-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
  }
  &-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
  }
  &-text {
    font-size: 14px;
    font-weight: 300;
  }
}
