.layover-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: $brand-primary;
  padding: 70px 0;
  z-index: 110;
  visibility: hidden;
  text-align: left;
  @include translateY(-100%);
  @include transition(all $transition-default);
  @include box-shadow(0 3px 0 0 rgba(0, 0, 0, 0.125));
  &-entry {
    a {
      &:hover {
        background-color: transparent !important;
      }
    }
  }
  > .container {
    position: relative;
  }
  &.open {
    @include translateX(0);
    visibility: visible;
  }
  #searchform {
    border-width: 0;
    border-bottom-width: 2px;
    padding: 0;
    height: 55px;
    font-size: 35px;
    font-weight: 300;
    margin: 100px 0 50px 0;
    @include placeholder {
      color: $color-alto;
    }
  ;
  }
  &-header {
    &-title {
      font-weight: 100;
      font-size: 42px;
      line-height: 60px;
      &-pre {
        display: block;
        font-size: 14px;
      }
    }
    &-close {
      font-size: 14px !important;
      font-weight: 100 !important;
      padding: 0 !important;
      position: absolute;
      top: 0;
      right: 0;
      [class*=" icon-"],
      [class^="icon-"] {
        margin-left: 30px;
        font-size: 25px;
      }
    }
  }
  &.white {
    background-color: $white;
    color: $text-color;
    a:not(.btn) {
      color: $text-color;
      &:hover {
        color: $brand-primary;
      }
    }
  }
  &#myproducts-overlay {
    .alert {
      margin-top: 15px;
      h3 {
        margin-top: 0;
      }
    }
    h4 {
      text-transform: uppercase;
      font-weight: 700;
    }
    .form-horizontal {
      h5 {
        margin-top: 25px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    input.form-control {
      height: 49px;
      + button {
        position: absolute;
        bottom: 0;
        right: 10px;
      }
    }
  }
  &#login-overlay {
    .layover-menu-content {
      @extend .row;
      > div {
        @extend .col-md-6;
        @extend .clearfix;
      }
    }
  }
  .Tx-Formhandler {
    margin-top: 25px;
    .row {
      margin-bottom: 15px;
      .row {
        margin-bottom: 0;
      }
    }
  }
}
