ul.ce-bullets {
  list-style: none;
  li {
    position: relative;
    padding-left: 18px;
    line-height: 200%;
    &:before {
      font-family: "bourdon" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: 'I';
      position: absolute;
      left: 0;
      @include transition(transform $transition-default);
      @include translateX(0);
    }
    &:hover {
      &:before {
        @include translateX(15%);
      }
    }
  }
}
