.member-area {
  padding-top: 40px;
  .header {
    h1 {
      margin-top: 0;
    }
  }
  h2 {
    font-weight: 300;
  }
  .sidebar-nav {
    ul {
      list-style: none;
      border-right: 1px solid $border-color;
      li {
        a {
          display: block;
          font-size: 16px;
          text-transform: uppercase;
          height: 58px;
          line-height: 58px;
          white-space: nowrap;
          color: $gray;
          padding: 0 20px 0 10px;
          text-align: right;
          border-right: 4px solid transparent;
          background-color: transparent;
          @include transition(color $transition-default, background-color $transition-default);
          &:hover {
            border-color: $brand-primary;
            color: $text-color;
          }
        }
        .active {
          background-color: $gray-lighter;
          border-color: $brand-primary;
          color: $text-color;
        }
      }
    }
  }
  .newsletter-message {
    input[type=checkbox] {
      visibility: hidden;
      position: absolute;
    }
    input[type=checkbox]:checked + label {
      background-color: lighten($brand-success, 20);
      color: darken($brand-success, 20);
      @include transition-property(all);
      @include transition-duration(300ms);
      &:after {
        content: '\f00c';
        font-family: 'FontAwesome';
        line-height: 30px;
        text-align: center;
        font-size: $font-size-large;
      }
    }
    label {
      position: relative;
      display: block;
      padding: 20px 20px 20px 60px;
      background-color: $gray-light;
      cursor: pointer;
      @include transition-property(all);
      @include transition-duration(300ms);
      &:before, &:after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 20px;
        margin-top: -15px;
      }
      &:before {
        background-color: #fff;
      }
    }
  }

  .box-top-actions {
    margin-bottom: 20px;
  }

  .box {
    margin-bottom: 60px;
    .box-table, .box-header {
      display: table;
      .cell-left, .cell-right, .cell-middle {
        display: table-cell;
        vertical-align: middle;
        padding: 12px 15px;
      }
      .cell-left {
        width: 100%;
        border: 1px solid $border-color;
        border-right: 0;
      }
    }
    .box-header {
      font-size: $font-size-large;
      background-color: lighten($gray-light, 5);
      .cell-left {
        font-size: $font-size-large;
        text-transform: uppercase;
        a {
          display: inline-block;
          position: relative;
          color: $text-color;
          padding-left: 25px;
          font-weight: 300;
          .fa {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
    .box-cont {
      border: 1px solid $border-color;
      border-top: 0;
      padding: 20px;
      .box-actions {
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid $gray-light;
        &:after {
          content: '';
          clear: both;
          display: block;
        }
        .btn {
          float: right;
        }
      }
    }
    .box-table {
      margin: 4px 0;
      background-color: #fff;
      @include transition-property(background-color);
      @include transition-duration(250ms);
      .cell-left {
        .title {
          font-size: $font-size-medium;
          margin-bottom: 0;
          line-height: 1.3;
          margin-top: 0;
          small {
            font-size: $font-size-medium;
            color: $gray-dark;
          }
        }
        .subtitle {
          color: $gray-dark;
          margin-top: 0;
          margin-bottom: 5px;
          font-size: $font-size-base;
        }
      }
      &:hover {
        background-color: $gray-light;
        @include transition-property(background-color);
        @include transition-duration(250ms);
      }
    }
  }

  .address {
    .box {
      margin-bottom: 30px;
      .box-header {
        .btn {
          &.active {
            @include box-shadow(none);
            color: #fff;
            background-color: $brand-success;
            border-color: $brand-success;
            cursor: default;
          }
        }
      }
    }
  }

  .newsletter {
    .newsletter-message {
      margin-bottom: 40px;
    }
    .box-checkbox {
      margin-bottom: 40px;
      .title {
        font-size: $font-size-large;
        text-transform: uppercase;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $border-color;
      }
      .row {
        > div {
          .cont {
            padding: 0 5px;
          }
        }
      }
      .col-middle {
        border: 1px solid lighten($border-color, 10);
        border-top: 0;
        border-bottom: 0;
      }
      .checkbox {
        padding: 4px 10px;
        &.checkbox-header {
          padding: 10px;
          background-color: $gray-light;
        }
      }
    }
  }
  #baumer-registration-password,
  #baumer-registration-edit {
    @extend .row;
    div.form-group {
      @extend .col-md-6;
      &:last-child {
        @extend .col-xs-12;
      }
      .btn {
        float: right;
      }
    }
  }
  #baumer-registration-edit {
    div.form-group {
      &:nth-child(4) {
        @extend .col-md-2;
      }
      &:nth-child(5) {
        @extend .col-md-4;
      }
    }
  }
  .Tx-Formhandler {
    margin-bottom: 75px;
  }
}
