.desktop-menu-container {
  @extend .container;
  max-width: 100%;
}

.menu-desktop {
  $transition-delay-base: 0s; // delays closing transition for a bit to prevent user fails when 1px off hover
  $transition-delay-accumulated: $transition-delay-base + $transition-short-duration;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: left;
  background-color: $white;
  font-size: 0;
  > li {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    @include transition(background-color $transition-short);
    @include transition-delay($transition-delay-accumulated);
    > a {
      display: inline-block;
      padding: 13px 15px;
      @include transition(color $transition-short);
      @include transition-delay($transition-delay-accumulated);
    }
    + li {
      @include box-shadow(inset 1px 0 0 0 rgba(0, 0, 0, 0.075));
    }
    > ul {
      position: absolute;
      width: auto;
      top: 100%;
      left: 0;
      margin: 0;
      border: 0 none;
      padding: 0;
      visibility: hidden;
      background-color: $brand-primary;
      @include transform-origin(top center);
      @include scaleY(0);
      @include transition(transform $transition-short, visibility $transition-short);
      @include transition-delay($transition-delay-base);
      a {
        color: $white;
      }
      li {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        text-transform: none;
        text-align: left;
        display: block;
        white-space: nowrap;
        border: 0 none;
        box-shadow: none;
        a {
          display: block;
          padding: 8px 12px;
          background-color: $brand-primary;
          cursor: pointer;
          pointer-events: initial;
          @include transition(background-color $transition-short);
          &:hover,
          &:focus,
          &:active {
            background-color: darken($brand-primary, 10%);
          }
        }
      }
    }
    &.open {
      @include transition-delay(0.000s);
      background-color: $brand-primary;
      > a {
        @include transition-delay(0.000s);
        color: $white;
      }
      > ul {
        @include scaleY(1);
        visibility: visible;
        @include transition-delay($transition-short-duration);
      }
    }
    &.language-menu-lg {
      float: right;
      box-shadow: none;
      -webkit-box-shadow: none;
      .dropdown {
        padding: 13px 15px;
        vertical-align: middle;
        button {
          background: #ffffff;
          border: none;
          font-size: 15px;
          font-weight: 400;
          text-transform: uppercase;
          svg {
              vertical-align: middle;
          }
        }
        svg {
            display: inline;
            height: 13px;
            max-width: 20px;
            margin-bottom: 4px;
        }
      }
    }
  }
}

.hideable {
  .menu-desktop {
    bottom: (-10px - 50px); //#header padding-bottom - height
  }
}
