#main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1111;
  height: 100%;
  width: 375px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $brand-primary;
  color: $white;
  visibility: hidden;
  @include translateX(100%);
  @include transition(transform $transition-default, visibility $transition-default);
  &.open {
    visibility: visible;
    @include translateX(0);
  }
  a {
    color: $white;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      text-transform: uppercase;
      background-color: lighten($brand-primary, 5%);
      a:not(.register-btn) {
        padding: 15px 30px;
        margin-bottom: 1px;
        line-height: 45px;
        display: block;
        background-color: lighten($brand-primary, 5%);
        &:before {
          font-family: "bourdon" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: inherit;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "p";
          margin-right: 10px;
          font-size: 80%;
          @include translateX(0);
          @include transition(transform $transition-default);
          display: inline-block;
        }
        &:hover,
        &:focus {
          background-color: darken($brand-primary, 5%);
          &:before {
            @include translateX(3px);
          }
        }
      }
      &.open {
        > a:before {
          @include rotate(90deg);
        }
      }
      ul {
        display: none;
        li {
          font-size: 90%;
          text-transform: none;
          a {
            font-weight: 300;
            padding: 10px 15px 10px 55px;
            margin-bottom: 1px;
            line-height: 35px;
          }
        }
      }
      &.account {
        > a:before {
          content: "Z";
          font-size: 2rem;
          vertical-align: -4px;
        }
        &.open > a:before {
          @include rotate(0deg);
        }
      }
      &.language-menu-md {
        margin-top: 18px;
        a:before {
          content: none !important;
        }
        a {
          img {
            margin: 0 10px 3px 0;
          }
        }
        svg {
            display: inline;
            height: 13px;
            max-width: 24px;
            vertical-align: middle;
        }
      }
    }
  }
  .close-menu {
    display: block;
    padding: 0 30px;
    height: 75px;
    line-height: 75px;
    text-transform: uppercase;
    user-select: none;
    &:hover,
    &:focus {
      background-color: darken($brand-primary, 10%);
    }
    .icon-close {
      font-size: 22px;
    }
  }
  .login-form {
    padding: 10px 30px;
    text-transform: none;
  }
}

.overlay-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
}
