.pl-product-list {
  @extend .row;
  margin-top: 20px;
  .pl-widget-item {
    @extend .clearfix;
    @extend .col-md-4;
    position: relative;
    margin-bottom: 20px;
    .pl-widet-product {
      position: relative;
      @extend .clearfix;
      border: 1px solid $border-color;
      padding: 10px;
    }
    figure, .desc {
      float: left;
    }
    figure {
      width: 83px;
      img {
        @extend .img-responsive;
      }
    }
    .desc {
      padding: 0 20px;
      width: 240px;
      h5, h4 {
        margin: 0;
      }
      h5 {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 5px;
      }
      h4 {
        color: $brand-primary;
        font-size: 18px;
        text-transform: uppercase;
        overflow: hidden;
        max-width: 200px;
        display: inline-block;
        text-overflow: ellipsis;
      }
    }
    .delete {
      @extend .btn;
      position: absolute;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 18px;
      top: 10px;
      right: 10px;
      text-align: center;
      padding: 0;
    }
  }
}


