.product-inquiry, .productLists {
  .header {
    margin-bottom: 30px;
  }
  .remark {
    h4 {
      font-weight: bold;
    }
    textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      border: 1px solid $border-color;
    }
  }
  .buttons-top {
    @extend .clearfix;
    margin-bottom: 10px;
    .btn {
      float: right;
      margin-left: 5px;
    }
  }
  .buttons-bottom {
    @extend .clearfix;
    margin-top: 20px;

    .actions .tooltip-actions {
      margin-top: -10px;
      right: auto;
      left: 120px;
    }
  }
  .table {
    > tbody {
      > tr {
        > th {
          &:nth-child(5) {
            min-width: 95px;
          }
        }
      }
    }
    tr:nth-child(odd) {
      td {
        border-top: none;
      }
    }
    tr {
      td {
        .checkbox label {
          top: -14px;
        }
        .form-amount {
          text-align: center;
        }
        &.first {
          width: 116px;
          figure {
            margin-right: 20px;
          }
        }
        .desc {
          h4, h5 {
            margin-top: 0;
          }
          h5 {
            font-size: $font-size-base;
            font-weight: normal;
            margin-bottom: 10px;
          }
          h4 {
            font-size: 18px;
            color: $blue-special;
            text-transform: uppercase;
            margin-bottom: 20px;
            overflow: hidden;
            max-width: 320px;
            display: inline-block;
            text-overflow: ellipsis;
            margin-bottom: 7px;
          }
          .line-item-configuration {
            .btn-show-config {
              font-size: $font-size-base;
              padding: 4px 6px;
              font-weight: normal;
              background-color: $gray-another;
              color: $gray-dark;
              cursor: pointer;
              .fa {
                margin-left: 4px;
              }
            }
            p.lead {
              display: none;
            }
            table {
              border: none;
              td {
                vertical-align: top;
                border-top: 1px solid $color-alto !important;
                padding: 10px;
                width: 50%;
                font-size: 14px;
                color: $gray-dark;
                strong {
                  font-weight: inherit;
                }
              }
            }
          }
          table.attributes {
            margin-top: 10px;
            border: 1px solid $gray-border;
            padding: 10px;
            background-color: $gray-back;

            td {
              border: none;
            }
            tr.even {
              background-color: white;
            }

          }
        }
      }
    }
  }
  .alert-filter {
    margin: 30px 0;
    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .toolbar {
    background-color: #F2F2F2;
    padding: 20px;
    margin-bottom: 30px;
    label {
      display: block;
    }
    .bootstrap-select {
      width: 100% !important;
    }
    .checkbox {
      background-color: #F9F9F9;
      padding: 10px;
      margin-bottom: 20px;
    }
  }
}

/*
 * Dialog style
 */
.modal-dialog {
  .modal-body {
    .share-response-detail {
      h3 {
        margin-bottom: 8px;
      }
      h5 {
        span {
          border: 1px solid $blue-special;
          display: inline-block;
          padding: 5px 8px;
          color: $blue-special;
        }
      }
      a {
        display: block;
        background-color: #E6E6E6;
        color: #444;
        text-transform: none;
        padding: 10px;
        margin-top: 20px;
        overflow-x: auto;
        word-break: break-all;
        &:hover {
          background-color: darken(#E6E6E6, 8);
          color: #212121;
        }
      }
    }
  }
  .save-modal {
    .border-line {
      padding-right: 0;
      margin-right: 0;
      border: none;
    }
    .update-select {
      margin-top: 10px;
      .btn.active {
        background: $orange-special;
      }
    }
  }
}

