.product-data {
  @extend .col-md-4;
  padding-left: 0;
  color: $gray-darker;
  .product-datasheet {
    padding: 30px;
    background-color: $gray-light;
    strong {
      display: block;
      border-bottom: 2px solid $color-alto;
      font-size: 20px;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }
  }
}

.pictogram {
  max-width: 100px;
  max-height: 100px;
}

.product-main {
  @extend .col-md-8;
  .product-category {
    &:empty {
      display: none;
    }
  }
  h1 {
    margin-top: 0;
  }
}

.product-request {
  padding: 30px;
  background-color: $gray-light;
  color: $text-color;
  h3 {
    display: block;
    font-size: 20px;
    margin-top: 0;
    font-weight: 700;
  }
  .text-dark {
    @extend .small;
  }
  .frame {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-block;
    @extend .btn-outline;
    pointer-events: all;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    font-size: 13px !important;
    &:before {
      display: none;
    }
    &:hover {
      color: $black;
    }
  }

  .btn-add-request {
    @extend .btn-primary;
  }

  .btn {
    @extend .btn-sm;
    @extend .btn-block;
    min-height: 34px;
    font-size: 12px;
    white-space: normal;
  }

  .fa-phone {
    font-size: 15px;
  }

  .product-datasheet {
    padding-bottom: 30px;
    .datasheet-download {
      @extend .clearfix;
      position: relative;
      .bootstrap-select {
        display: inline-block;
        width: 75%;
      }
      .btn-download {
        width: 38px;
        height: 38px;
        padding: 0;
        line-height: 38px;
        display: inline-block;
        float: right;
      }
      .dropdown-toggle {
        white-space: nowrap;

      }
    }
  }

  .price-shipping {
    padding: 10px 0 20px;
    text-align: right;
    .price {
      font-size: 18px;
    }
    .shipping {
        color: $color-denim;
        font-size: 22px;
        font-weight: 400;
    }
  }

}

#configurator-data,
#configurator-download,
#configurator-conflict {
  font-size: 14px;
  > .col-md-12 {
    padding: 0;
  }
  ul {
    margin: 0;
  }
  td {
    border: 1px solid $table-border-color;
    border-left: 0 none;
    &:first-child {
      border-left: 1px solid $table-border-color;
      width: 332px;
      @media (max-width: $screen-xs-max) {
        width: auto;
      }
    }
    &:nth-child(3),
    &:nth-child(4) {
      width: 150px;
      @media (max-width: $screen-xs-max) {
        width: auto;
      }
    }
  }
  h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 0;
    padding: 10px;
    background-color: $brand-primary;
    color: $white;
  }
}

.selectorResultTable {
  table {
    padding-top: 56px;
    thead {
      position: absolute;
      top: 0;
    }
    &.fixed {
      thead {
        position: fixed;
        width: 100%;
        max-width: 1140px;
        display: table;
        margin: 0 auto;
        z-index: 10;
      }
    }
  }
  td {
    span {
      position: relative;
      padding-left: 18px;
      line-height: 200%;
      &:before {
        font-family: "bourdon" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: 'I';
        position: absolute;
        left: 0;
        @include transition(transform $transition-default);
        @include translateX(0);
      }
      &:hover {
        &:before {
          @include translateX(15%);
        }
      }
    }
  }
}

.productcode-nonterminal {
  color: $color-red-stage;
}

.configurator-blue-bar {
  background-color: $brand-primary;
  color: $white;
  position: relative;
  padding: 40px 0 1px 0;
  margin-bottom: 58px;
  &:after {
    position: absolute;
    content: '';
    display: block;
    background-color: $brand-primary;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include scaleX(5);
    z-index: -1;
  }
  .filterCatSelected {
    color: $gray;
  }
  .modal {
    color: $black;
  }
}

[data-ng-controller="ConfiguratorCtrl"] {
  padding-top: 0;
}

[data-ng-controller="ProductboxCtrl"] {
  margin-bottom: 0;
  padding-bottom: 30px;
}

#configurator-loader,
#configurator-availability {
  width: 100%;
  height: 100%;
  z-index: 999;
  min-height: 200px;
  .gear-animation {
    @extend .spinner;
    border: 2px solid $gray;
    border-top-color: $white;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
  }
}

#configurator-loader {
  .text-center {
    display: none;
  }
}

#configurator-availability {
  .text-center {
    margin-top: 0;
  }
}

.send-link, .save-configuration {
  background-color: $color-alto;
  &:hover {
    background-color: darken($color-alto, 5%);
  }
}

#selected-parameters {
  margin-bottom: 20px;
  > p {
    margin-bottom: .5em;
  }
  .parameter-list {
    display: inline;
  }
  .selected-parameter {
    background-color: $color-alto;
    color: $text-color;
    padding: 5px;
    margin: 2px;
    .fa {
      line-height: 21px;
      font-size: 18px;
      vertical-align: text-top;
    }
  }
}
