.productfilter {
  background-color: $brand-primary;
  color: $white;
  position: relative;
  padding: 30px 0 1px 0;
  margin-bottom: 58px;
  &:after {
    position: absolute;
    content: '';
    display: block;
    background-color: $brand-primary;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include scaleX(5);
    z-index: -1;
  }
  .headerWrap {
    h1 {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 42px;
    }
    h2 {
      text-align: left;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 400;
    }
  }
  > .row {
    margin: 0;
    margin-bottom: 5px;
    & > [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
  & > div.col-md-3 {
    margin-bottom: 5px;
  }

  .col-md-3:nth-child(4n+4) {
    .filterCatWrapper {
      margin-right: 0;
    }
  }
  .close-product-filter {
    margin-top: 40px;
  }
}

.pagination {
  > .first, .last, .prev, .next {
    > a, > a:hover, > a:focus {
      color: $blue-special;
      font-size: 20px;
      vertical-align: top;
      &:before {
        font-family: "bourdon" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        top: -1px;
      }
    }
  }
  > .first {
    a {
      &:before {
        content: 'F';
      }
    }
  }
  > .last {
    a {
      &:before {
        content: 'G';
      }
    }
  }
  > .prev {
    a {
      &:before {
        content: 'H';
      }
    }
  }
  > .next {
    a {
      &:before {
        content: 'I';
      }
    }
  }
  .current {
    font-weight: bold;
  }
  > .points {
    > a, > a:hover, > a:focus {
      cursor: default;
      color: $gray;
      border: 0;
      background: none;
      display: none;
    }
  }
}

.selectedFilter {
  i.fa {
    color: $orange-special;
    font-size: pem(16px);
    font-weight: lighter;
    cursor: pointer;
  }
}

.selectedFilterProperty {
  color: $gray;
  margin-right: 10px;
  + .selectedFilterProperty {
    margin-left: -5px;
  }
}

.selectorResult {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.selectorResultSorting {
  color: $gray;
  margin-bottom: 5px;
  .glyphicon {
    color: #DADADA;
    margin-left: 3px;
    &.active {
      color: $blue;
    }
  }

  .sort {
    @include clearfix;
    float: right;
    border-left: 1px solid $gray-border;
    padding: 0 0 0 15px;
    margin-left: 15px;
    line-height: 1em;

    label {
      font-weight: normal;
      float: left;
      margin-right: 1em;
      margin-bottom: 0;
      margin-top: 7px;
    }

    .item {
      margin-right: 25px;
    }
  }

  .resultToggleView {
    cursor: pointer;
    border-left: none 0 transparent;
    padding: 0;
    margin-top: 4px;
  }
  .selectWrapper {
    float: left;
  }

}

// please calculate the max-width per JS
.displayOnPage, .ascDesc {
  width: 60px;
}

.sorting {
  width: 100px;
}

.toolbar {
  margin-bottom: 20px;
  color: $gray;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  .productcount, .toolbar-options {
    line-height: 29px;
  }
  .productcount {
    float: left;
  }
  .toolbar-options {
    float: right;
    & > div {
      float: left;
      padding: 0 15px;
      border-left: solid 1px $gray-border;
      &:first-child {
        border-left: none;
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    .view {
      a {
        color: $gray-dark;
      }
      .active {
        color: $blue;
      }
      .fa {
        margin-left: 4px;
        &:before {
          font-family: "bourdon" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: inherit;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        &.fa-bars {
          &:before {
            content: 'y';
          }
        }
        &.fa-th {
          &:before {
            content: 'z';
          }
        }
      }
    }
    .bootstrap-select {
      float: right;
      margin-left: 10px;
      margin-top: 2px;
      width: auto !important;
      button {
        padding-right: 25px;
        @extend .btn-xs;
        @extend .btn-gray;
        font-size: 14px;
        height: 26px;
      }
      .dropdown-menu {
        a {
          @extend .btn-sm;
          font-size: 14px;
        }
      }
      & > .selectpicker {
        padding: 4px 18px 4px 8px;

        .filter-option {
          font-weight: normal;
        }
        .caret {
          right: 7px;
        }
      }
    }
  }
}

.selectorResultTable {
  $border-color: $gray-border;
  font-size: 14px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid $color-alto;
  border-bottom: 0 none;
  thead {

  }
  th {
    text-align: left;
    font-weight: normal;
    background-color: $gray-light;
    padding: 0 10px;
    color: $gray;
    line-height: 55px;
    white-space: nowrap;
    a {
      color: $gray;
      &:focus,
      &:hover {
        color: $gray-darker;
      }
    }
    &:nth-last-child(1) {
      border-right: transparent none 0;
    }
    .sortbox {
      display: block;
      position: relative;
      padding-right: 10px;
      &:after {
        font-family: "FontAwesome";
        position: absolute;
        right: -5px;
        top: 0;
        font-size: 12px;
        content: "\f0dc";
      }
      &.desc:after {
        content: "\f0dd";
      }
      &.asc:after {
        content: "\f0de";
      }
    }
  }
  td {
    text-align: left;
    border-bottom: 1px solid $color-alto;
    padding: 10px;
    vertical-align: top;
    font-size: 16px;
    font-weight: 300;
    &.img {
      width: 200px;
      h4 {
        padding: 1px 4px 5px 4px;
        margin: 0;
        font-size: inherit;
        font-weight: 300;
        line-height: inherit;
      }
      figure {
        width: 200px;
        background-color: $white;
        a {
          display: block;
        }
        img {
          max-width: 100%;
          height: auto;
          display: block;
        }
      }
      .btn {
        padding: 4px 12px;
        width: 100%;
      }
    }
    ul, ol {
      text-align: left;
      padding-left: 2em;
      margin-left: 0;
      padding: 0;
      list-style: none;
    }
    .spinner {
      padding: 0 !important;
    }
    &:last-child {
      min-width: 80px;
    }
  }
  .download-datasheet,
  .request-product {
    position: relative;
    display: inline-block;
    font-size: 0;
    &:before {
      font-family: "bourdon" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 18px;
      color: $brand-primary;
      line-height: 24px;
    }
  }

  .download-datasheet {
    &:before {
      content: 'v';
    }
  }
  .request-product {
    margin-left: 20px;
    &:before {
      content: 'u';
    }
    * {
      position: absolute;
    }
  }
  tr:nth-child(even) {
    background-color: $color-wild-sand;
  }
}

.fa {
  font-family: "bourdon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;

  &.fa-download {
    &:before {
      content: 'v';
    }
  }
  &.fa-sort-up {
    &:before {
      content: 'C';
    }
  }
  &.fa-sort-down {
    &:before {
      content: 'B';
    }
  }
  &.fa-unsorted {
    &:before {
      content: 'A';
    }
  }
}

.selectorResultGrid {
  .product-grid-container {
    position: relative;
    border: 1px solid $gray-border;
    padding: 15px 15px 0 15px;
    margin-bottom: 20px;
    img.img-responsive {
      width: 100%;
      height: auto;
    }
    figure {
      min-height: 250px;
    }
    .btn {
      width: 100%;
    }
    .buttons {
      height: 95px;
      margin-left: -15px;
      margin-right: -15px;
      text-align: center;
      .cont {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        .button {
          width: 100%;
          display: block;
          border-top: 1px solid $border-color;
          background-color: $color-wild-sand;
          padding: 12px 0;
          @include transition-property(all);
          @include transition-duration(250ms);
          .fa {
            margin-right: 4px;
            color: $orange-special;
            @include transition-property(color);
            @include transition-duration(250ms);
          }
          &:hover {
            border-color: $blue-special;
            background-color: $blue-special;
            color: $white;
            @include transition-property(all);
            @include transition-duration(250ms);
            .fa {
              color: $white;
              @include transition-property(color);
              @include transition-duration(250ms);
            }
          }
        }
      }
    }
    table {
      margin: 0;
      font-size: 14px;
      td,
      th {
        vertical-align: top;
        border-top: 1px solid $gray-border;
        padding: 10px;
        width: 50%;
      }
      td {
        color: $gray-dark;
        ul {
          margin: 0;
          list-style: none;
        }
      }
      tr:first-child {
        td,
        th {
          border: 0;
        }
      }
    }
    .download-datasheet,
    .request-product {
      position: relative;
      display: block;
      padding: 20px 15px 20px 45px;
      &:before {
        @extend .fa;
        color: $orange-special;
        width: 24px;
        text-align: center;
      }
    }
    .download-datasheet {
      border-bottom: 1px solid $border-color;
      &:before {
        content: '\f019';
      }
    }
  }
}
