.search {
  .nav-tabs {
    margin-top: 0;
  }
  .filters {
    .btn {
      padding-left: 42px;
      position: relative;
      &:after,
      &:before {
        content: '';
        display: block;
        background-color: $color-atlantis;
        position: absolute;
        @include transition(all $transition-default);
        @include rotate(45deg);
      }
      &,
      &.filter-disabled:hover {
        &:after,
        &:before {
          background-color: $color-atlantis;
        }
        &:before {
          height: 15px;
          width: 2px;
          left: 25px;
          top: 16px;
        }
        &:after {
          height: 2px;
          width: 7px;
          left: 15px;
          top: 25px;
        }
      }
      &.filter-disabled,
      &:hover {
        &:after,
        &:before {
          background-color: $brand-danger;
        }
        &:before {
          height: 16px;
          left: 23px;
          top: 15px;
        }
        &:after {
          width: 16px;
          left: 16px;
          top: 22px;
        }
      }
    }
  }
  &-results {
    .count {
      font-size: $font-size-small;
      line-height: 22px;
      vertical-align: middle;
      font-weight: 400;
      background-color: $color-wild-sand;
      padding: 2px 8px;
    }
    &-section {
      margin-top: 40px;
      > h2 {
        border-bottom: 1px solid $nav-tabs-border-color;
        margin-top: 100px;
        color: $brand-primary;
        text-transform: uppercase;
        font-weight: 500;
        padding-bottom: 15px;
        margin-bottom: 25px;
      }
      &:first-child {
        > h2 {
          margin-top: 50px;
        }
      }
    }
    &-box {
      position: relative;
      padding: 20px;
      border: 1px solid $border-color;
      margin-bottom: 30px;
      @include transition(border-color $transition-default);
      h3 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
      &:hover {
        border-color: darken($border-color, 20);
      }
    }
  }
}
