.section-primary {
  background-color: $brand-primary;
  color: $white;
  padding-top: 40px;
  padding-bottom: 80px;
  h1,
  h2,
  h3 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 46px;
  }
}

.section {
  &.text-center {
    > a {
      &.btn {
        &:last-child {
          margin-bottom: 100px;
        }
      }
    }
  }
}
