.nav-tabs {
  border-bottom: 1px solid $nav-tabs-border-color;
  margin-top: 20px;
  > li {
    float: left;
    > a {
      border: 0 none !important;
      background-color: transparent !important;
      color: $nav-tabs-border-color;
      margin-right: 35px;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 500;
      padding-left: 0;
      &:hover {
        color: $brand-primary;
      }
    }
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $brand-primary;
        cursor: default;
      }
    }
  }
}
