.widget {
  padding: 30px;
  background-color: $gray-light;
  h3 {
    display: block;
    border-bottom: 2px solid $color-alto;
    font-size: 20px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 0;
    font-weight: 700;
  }
  + .widget {
    margin-top: 50px;
  }
  &-content {
    h2 {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 500;
    }
  }
}
