<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Default"/>

	<f:section name="Main">
		<f:comment>

			Angular JS App with ConfiguratorCtrl

		</f:comment>
		<div data-ng-controller="ConfiguratorCtrl">


			<div style="position: relative;">

				<div class="row" data-ng-hide="notAvailable" data-ng-cloak>
					<div class="col-sm-12">
						<h2><v:l key="configurator.title" />:<br><span data-ng-bind-html="productCode | wrapProductCode"></span></h2>
						<p ng-if="variant"><v:l>configurator.variant</v:l> {{variant}}</p>
						<p ng-if="!variant">&nbsp;</p>
					</div>

					<div class="col-sm-12" data-ng-hide="loading">
                        <div class="row">
                            <div class="btn-group col-md-9">
                                <f:comment>========== Save the configuration in user profile if logged in ==========</f:comment>
                                <v:security.allow anyFrontendUserGroup="true">
                                    <button data-ng-click="save()"
                                            data-toggle="modal"
                                            data-target="#modal-save-profile"
                                            class="btn save-configuration">
                                        <span class="fa fa-save"></span>
                                    </button>
                                    <f:render section="saveConfigurationModal" />
                                </v:security.allow>
                                <f:render section="selectedParameters" />
                            </div>

                            <div class="col-md-3 filters">
                                <f:render section="configurationExpandFilters" />
                            </div>

                        </div>
					</div>
				</div>

				<f:render section="loadingAnimation" />
				<f:render section="configuratorUnavailable" />

				<section data-ng-cloak data-ng-model="loading" data-ng-hide="loading || notAvailable">
					<div class="filters">
						<f:render section="configurationParameters" />
						<f:render section="resolveConflictedParameters" />
						<f:render section="lastSelectionFailed" />
						<f:render section="configurationReset" />
					</div>
				</section>
			</div>
		</div>
		<script type="text/javascript">
			<![CDATA[var encowayConfiguratorUrls = {
				getParameters: "]]>{f:uri.action(pageType:1444292478, controller:'Encoway', extensionName: 'baumer', pluginName: 'Configurator', action:'getParameters', arguments:{csViewRecord: csViewRecord})}<![CDATA[",
				variant: "]]>{f:uri.action(pageType: 1444292478, controller:'Encoway', extensionName: 'baumer', pluginName: 'Configurator', action:'variant', arguments:{csViewRecord: csViewRecord})}<![CDATA[",
				priceShipping: "]]>{f:uri.action(pageType: 1444292478, controller:'Encoway', extensionName: 'baumer', pluginName: 'Configurator', action:'getPriceShippingByTypekey')}<![CDATA[",
				setParameter: "]]>{f:uri.action(pageType: 1444292478, controller:'Encoway', extensionName: 'baumer', pluginName: 'Configurator', action:'setParameter', arguments:{csViewRecord: csViewRecord})}<![CDATA[",
				unsetParameter: "]]>{f:uri.action(pageType: 1444292478, controller:'Encoway', extensionName: 'baumer', pluginName: 'Configurator', action:'unsetParameter', arguments:{csViewRecord: csViewRecord})}<![CDATA[",
				saveConfiguration: "]]>{f:uri.action(pageType: 1444292478, controller:'Encoway', extensionName: 'baumer', pluginName: 'Configurator', action:'saveConfiguration', arguments:{csViewRecord: csViewRecord})}<![CDATA[",
				saveNamedConfiguration: "]]>{f:uri.action(pageType: 1444292478, controller:'Encoway', extensionName: 'baumer', pluginName: 'Configurator', action:'saveNamedConfiguration')}<![CDATA[",
				confirmOperation: "]]>{f:uri.action(pageType: 1444292478, controller:'Encoway', extensionName: 'baumer', pluginName: 'Configurator', action:'confirmOperation', arguments:{csViewRecord: csViewRecord})}<![CDATA[",
				heartBeat: "]]>{f:uri.action(pageType: 1444292478, controller:'Encoway', extensionName: 'baumer', pluginName: 'Configurator', action:'heartBeat', arguments:{csViewRecord: csViewRecord})}<![CDATA[",
				reset: "]]>{f:uri.action(pageType: 1444292478, controller:'Encoway', extensionName: 'baumer', pluginName: 'Configurator', action:'reset', arguments:{csViewRecord: csViewRecord})}<![CDATA[",
				absolute: "]]>{f:uri.action(absolute: 1, action: 'load', noCacheHash: 1)}<![CDATA["]]>
			}
		</script>
	</f:section>

	<f:comment>========== Selected Parameters ==========</f:comment>
	<f:section name="selectedParameters">
		<section data-ng-cloak>
			<p><v:l>configurator.selected_filters</v:l></p>
			<ul class="list-inline">
				<li data-ng-attr-title="{{selectedParameterValue.parameterName}}" class="selected-parameter"
					data-ng-repeat="selectedParameterValue in selectedParameterValues"
					ng-if="selectedParameterValue.selectedValues.length > 0 && selectedParameterValue.selectedValues[0].value != '&'">
					<span ng-repeat="value in selectedParameterValue.selectedValues"
						  ng-if="value.value != '&'">
					{{value.translatedValue | removeValueIdentifier}}{{$last ? '' : ', '}}</span>{{$last ? '' : '; '}}
				</li>
			</ul>
		</section>
	</f:section>

	<f:comment>========== Loading animation ==========</f:comment>
	<f:section name="loadingAnimation">
		<section data-ng-show="loading" id="configurator-loader">
			<div class="center-block">
				<h1 class="text-center">
					<v:l>configurator.loading</v:l>
				</h1>
				<div class="gear-animation">
					<i class="fa fa-gear fa-spin"></i>
					<i class="fa fa-gear fa-spin fa-spin-reverse"></i>
					<i class="fa fa-gear fa-spin"></i>
				</div>
			</div>
		</section>
	</f:section>


	<f:comment>========== Configurator not available ==========</f:comment>
	<f:section name="configuratorUnavailable">
		<section data-ng-show="notAvailable" id="configurator-availability" data-ng-cloak>
			<div class="center-block">
				<h1 class="text-center">
					<v:l>configurator.unavailable</v:l>
				</h1>
				<div class="configurator-unavailable">
					<i class="fa fa-cogs"></i>
					<i class="fa fa-ban"></i>
				</div>
			</div>
		</section>
	</f:section>

	<f:comment>========== Last Selection Failed ==========</f:comment>
	<f:section name="lastSelectionFailed">
		<section ng-show="lastSelectionFailed" id="configurator-lastSelectionFailed">
			<h3>{v:l(key:'configurator.lastSelectionFailed_headline')}</h3>
			<p>{v:l(key:'configurator.lastSelectionFailed_body')}<p>
				<p class="text-center"><button class="btn btn-blue" ng-click="lastSelectionFailed = false;">{v:l(key:'configurator.back')}</button></p>
		</section>
	</f:section>


	<f:comment>========== Displaying the parameters ==========</f:comment>
	<f:section name="configurationParameters">
		<section data-ng-repeat="(containerKey, container) in containers" data-ng-cloak ng-hide="conflictMode || lastSelectionFailed">
			<p class="lead container-title">{{container.translatedName}}</p>
			<div class="row" data-ng-repeat="chunk in container.parameters">
				<div class="col-md-3" data-ng-repeat="parameter in chunk">
					<div class="filterCatWrapper" data-ng-class="{open: filtersExpanded}">
						<div class="filterCat" data-ng-class="{open: filtersExpanded}">
							<div class="filterCatHeader"
								 data-ng-class="{'mandatory': (parameter.mandatory && !parameter.terminal), 'success': parameter.terminal, 'selected':parameterIsSelected(parameter)}">
								<a href="#">{{parameter.translatedName}}</a>
							</div>

							<f:comment>========== If parameter is a list with only one selectable value ==========</f:comment>
							<div class="filterCatFlyout" data-ng-if="parameter.valueType=='STRING'" data-ng-show="filtersExpanded">
								<div class="checkbox"
									 data-ng-click="update(parameter, value, !value.selected, (containerKey != 0 || value.selectable || value.selected && parameter.undoable))"
									 data-ng-repeat="value in parameter.values"
									 data-ng-class="{checked: value.selected}">
									<span data-ng-class="{clickable : (containerKey != 0 || value.selectable || (value.selected && parameter.undoable)), lab: (containerKey == 0 && !(value.selectable || value.selected))}">
										<span class="check"></span> {{value.translatedValue}}
									</span>
								</div>

							</div>

							<f:comment>========== If parameter is an numeric input field, we display a slider ==========</f:comment>
							<div class="filterCatFlyout" data-ng-if="parameter.valueType=='RANGE_DOUBLE'" data-ng-show="filtersExpanded">
								<div data-ng-if="parameter.valueType=='RANGE_DOUBLE'">
									Range from {{parameter.minValue}} to {{parameter.maxValue}}
									<f:comment>@TODO modify slider to apply data-ng-change event on release</f:comment>
									<span slider data-ng-model="parameter.slideValue" min="{{parameter.minValue}}" max="{{parameter.maxValue}}" step="1"></span>
									<button type="button" class="btn-default btn" data-ng-click="update(parameter, parameter.slideValue, true)">Set
									</button>
								</div>
							</div>
						</div>
						<div class="filterCatSelected" data-ng-show="parameterContainsSelectedValues(parameter)">
							<div class="checkbox checked" data-ng-repeat="value in parameter.values | filter:{selected : true}">
								<span class="clickable" data-ng-show="parameter.undoable" data-ng-click="update(parameter, null, false, true)">
									<span class="check"></span> {{value.translatedValue}}
								</span>
								<span data-ng-show="!parameter.undoable">
									{{value.translatedValue}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</f:section>

	<f:comment>========== Displaying the Resolve Conflict Dialog ==========</f:comment>
	<f:section name="resolveConflictedParameters">
		<section ng-if="conflictMode" id="configurator-conflict">
			<h3>{v:l(key:'configurator.conflict_headline')}</h3>
			<p>{v:l(key:'configurator.conflict_explanation_body')}<p>
			<div class="item">
				<h5>{v:l(key:'configurator.conflict_last_selection')}:</h5>
				<table class="table table-striped">
					<tr>
						<td>{{lastChangedParameter.parameter.translatedName}}</td>
						<td>{{lastChangedParameter.translatedValue}}</td>
					</tr>
				</table>
			</div>
			<div class="item">
				<h5>{v:l(key:'configurator.conflict_conflicted_selections')}:</h5>
				<table class="table table-striped">
					<tr ng-repeat="parameter in affectedParameters">
						<td>{{parameter.translatedName}}</td>
						<td>
							<span ng-repeat="selectedValue in (selectedParameterValues | filter:{parameterId:parameter.id})[0].selectedValues">{{selectedValue.translatedValue}}{{$last ? '' : ', '}}</span>
							<hr>
							<p>{v:l(key:'configurator.conflict_comp_options')}:</p>
							<table class="table table-striped attributes">
							<tr data-ng-repeat="value in parameter.values">
								<td>
									<a data-ng-click="update(parameter, value, !value.selected, true)">
										{{value.translatedValue}}</a>
								</td>
							</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<p class="text-center"><button class="btn btn-blue" ng-click="cancelConflictMode()">{v:l(key:'configurator.conflict_cancel')}</button></p>
		</section>
	</f:section>

	<f:comment>========== The toggle-expand filter button ==========</f:comment>
	<f:section name="configurationExpandFilters">
		<div class="f-header clearfix">
			<button data-ng-hide="filtersExpanded" data-ng-click="toggleFiltersExpanded()" class="close-filter btn pull-right"><v:l>productfinder.open_all_filters</v:l></button>
			<button data-ng-show="filtersExpanded" data-ng-click="toggleFiltersExpanded()" class="close-filter btn pull-right open"><v:l>productfinder.close_all_filters</v:l></button>
		</div>
	</f:section>

	<f:comment>========== The footer containing the reset functionality ==========</f:comment>
	<f:section name="configurationReset">
		<div class="f-footer">
			<a class="btn btn-gray" data-ng-hide="showConfigurationReset" data-ng-click="showConfigurationReset = true">
				<v:l>configurator.reset</v:l>
			</a>
			<div class="tooltip-actions" data-ng-show="showConfigurationReset">
				<div class="lab">
					<v:l key="configurator.resetConfirmation" />:
				</div>
				<button class="btn btn-remove" data-ng-click="resetConfiguration()">
					<span class="fa fa-check"></span>
				</button>
				<button class="btn btn-gray" data-ng-click="showConfigurationReset = false">
					<span class="fa fa-times"></span>
				</button>
			</div>
		</div>
	</f:section>

	<f:comment>========== Save configuration in feUser profile ==========</f:comment>
	<f:section name="saveConfigurationModal">
		<div id="modal-save-profile" class="modal fade" tabindex="-1" role="dialog"
			 aria-labelledby="saveConfiguration" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><i
							class="fa fa-times"></i><span class="sr-only">{v:l(id:'configurator.close')}</span></button>
						<h4 class="modal-title">{v:l(id:'configurator.save_in_profile_dialog_title')}</h4>
					</div>
					<div class="modal-body">
						<p>{v:l(id:'configurator.save_in_profile_dialog_text')}</p>
						<div class="row">
							<div class="col-sm-4">
								<select data-ng-model="productList" class="form-control">
									<option value="" selected disabled>{v:l(id:'configurator.project_independent')}</option>
									<f:for each="{productLists}" as="productList">
										<option value="{productList.uid}">{productList.name}</option>
									</f:for>
								</select>
							</div>
							<div class="col-sm-8">
								<div class="form-group">
									<div class="input-group">
										<input
											placeholder="{v:l(key:'tx_baumer_domain_model_encoway_configuration.title')}"
											class="form-control" type="text"
											data-ng-model="configurationTitle"/>
										<span class="input-group-btn">
											<button data-dismiss="modal"
													data-ng-click="saveToProfile()"
													data-ng-if="encowayConfigurationId"
													class="btn btn-primary">{v:l(id:'configurator.save')}
											</button>
											<i class="fa fa-gear fa-spin"
											   data-ng-if="!encowayConfigurationId"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:section>


</div>
