<div class="row-list">
	<f:for each="{results}" as="result">
		<article class="clearfix">
			<!--
			Score: {result.score}
			Document ID:  {result.id}
			-->
			<figure>
				<a href="{result.url}">
					<img class="img-responsive" src="typo3conf/ext/baumer/Resources/Public/Images/examples/download_1.jpg" alt="" />
				</a>
			</figure>
			<div class="cont-right">
				<h3>
					<a href="{result.url}">
						{result.title}
					</a>
				</h3>
				<a href="{result.url}" class="btn btn-gray btn-icon-right">
					{f:translate(key: 'LLL:EXT:baumer/Resources/Private/Language/Extensions/Solr/locallang.xlf:search.results.download')}: {result.filesize}
					<span class="fa fa-download"></span>
				</a>
				<v:security.allow anyBackendUser="TRUE">
					<f:if condition="{result.score_analysis}">
						<f:format.raw>{result.score_analysis}</f:format.raw>
					</f:if>
				</v:security.allow>
			</div>
		</article>
		<hr>
	</f:for>
</div>
