<div class="row-list">
	<f:for each="{results}" as="result">
		<article>
			<!--
			Score: {result.score}
			Document ID:  {result.id}
			-->
			<h3>
				<a href="{result.url}">{result.title}</a>
			</h3>
			<p class="excerpt">
				<f:format.raw>{result.content}</f:format.raw>
				<v:security.allow anyBackendUser="TRUE">
					<f:if condition="{result.score_analysis}">
						<f:format.raw>{result.score_analysis}</f:format.raw>
					</f:if>
				</v:security.allow>
			</p>
		</article>
		<hr>
	</f:for>
</div>

