<div class="row row-news">
	<f:for each="{results}" as="result">
	<article class="col-md-4">
		<!--
		Score: {result.score}
		Document ID:  {result.id}
		-->
		<figure>
			<a href="{result.url}">
				<img class="img-responsive" src="typo3conf/ext/baumer/Resources/Public/Images/examples/article_01.jpg" alt="title name" />
				<span class="fa fa-angle-right"></span>
			</a>
		</figure>
		<div class="cont">
			<nav class="categories">
				<f:for each="{result.categories}" as="category">
					<a class="cat" href="#">{category}</a>
				</f:for>
			</nav>
			<h3>
				<a href="{result.url}">{result.title}</a>
			</h3>
			<h4>
				{result.date}
			</h4>
			<p>
				<f:format.raw>{result.content}</f:format.raw>
			</p>
			<v:security.allow anyBackendUser="TRUE">
				<f:if condition="{result.score_analysis}">
					<f:format.raw>{result.score_analysis}</f:format.raw>
				</f:if>
			</v:security.allow>
		</div>
	</article>
	</f:for>
</div>
