<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="BlankPage"/>

	<f:section name="Configuration">
		<flux:form id="chooseLanguage" label="Choose Language" options="{icon: '/typo3conf/ext/baumer/Resources/Public/Icons/placeholder.png'}">
			<flux:field.input name="menu" />
			<f:render partial="Page/Configuration" section="Default"/>
		</flux:form>
	</f:section>

	<f:section name="Main">
		<v:asset.style
			name="baumer-lang"
			standalone="true"
			path="EXT:baumer/Resources/Public/Style/partials/languages.css"/>
		<f:render section="header" partial="Page/ChooseLanguage" />
		<f:render section="languages" partial="Page/ChooseLanguage" />
		<f:render section="footer" partial="Page/ChooseLanguage" arguments="{menu: menu}" />
	</f:section>

</div>
