<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Page" />

	<f:section name="Configuration">
		<flux:form id="default" label="Default" options="{icon: '/typo3conf/ext/baumer/Resources/Public/Icons/placeholder.png'}">
			<f:render partial="Page/Configuration" section="Default" />
		</flux:form>
		<f:render partial="Page/GridConfiguration" section="Default" />
	</f:section>

	<f:section name="Main">
		<!--TYPO3SEARCH_begin-->
		<v:content.render column="0" />
		<!--TYPO3SEARCH_end-->
	</f:section>

</div>
