<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Product" />

	<f:section name="Configuration">
		<flux:form id="footer" label="Footer" options="{icon: '/typo3conf/ext/baumer/Resources/Public/Icons/Footer.png'}">
			<flux:grid>
				<flux:grid.row>
					<flux:grid.column colPos="42" name="footerSlider" style="width: 50%" />
					<flux:grid.column colPos="55" name="footerContent" style="width: 50%" />
				</flux:grid.row>
			</flux:grid>
		</flux:form>
	</f:section>

	<f:section name="Main">
		<!--TYPO3SEARCH_begin-->
		<div class="row">
			<div class="col-md-8">
				<v:content.render column="0" />
			</div>
			<div class="col-md-4">
				<aside class="sidebar">
						<v:content.render column="5" />
				</aside>
			</div>
		</div>
		<!--TYPO3SEARCH_end-->
	</f:section>

</div>
