<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Frontpage" />

	<f:section name="Configuration">
		<flux:form id="frontpage" label="Frontpage" options="{icon: '/typo3conf/ext/baumer/Resources/Public/Icons/Frontpage.png'}">
			<flux:form.sheet name="sections">
				<flux:form.section name="sections">
					<flux:form.object name="section">
						<flux:field.input name="title" />
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:grid>
				<flux:grid.row>
					<flux:grid.column name="Slider" colPos="222" />
				</flux:grid.row>
				<f:if condition="{sections -> f:count()} > 0">
					<f:for each="{sections}" as="section" iteration="iteration">
						<flux:grid.row>
							<flux:grid.column name="content.{iteration.index}" colPos="{iteration.index}" label="{f:if(condition: section.section.title, then: section.section.title, else: 'Content, section {iteration.cycle}')}" />
						</flux:grid.row>
					</f:for>
				</f:if>
			</flux:grid>
		</flux:form>
	</f:section>

	<f:section name="Main">
		<v:asset.style
			name="baumer-home"
			path="{f:uri.resource(path:'Style/partials/home.css')}" />
		<f:comment>

			Swiper touch slider

		</f:comment>
		<v:asset.script
			name="Swiper"
			dependencies="jquery"
			path="EXT:baumer/Resources/Private/Libraries/swiper/swiper-built.js"
			movable="true"/>
		<v:asset.script
			name="SwiperInit"
			dependencies="Swiper"
			movable="true">
			//Swiper
			var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true,
			keyboardControl: true,
			autoplay: 2500,
			autoplayDisableOnInteraction: true,
			loop: true
			});
			//Navigation arrows
			$('.swiper-button-prev').click(function(e) {
			e.preventDefault();
			swiper.swipePrev();
			});
			$('.swiper-button-next').click(function(e) {
			e.preventDefault();
			swiper.swipeNext();
			});
		</v:asset.script>
		<v:asset.style
			name="baumerFrontpageSlider"
			path="{f:uri.resource(path:'Style/partials/swiper.css')}" />
		<!--TYPO3SEARCH_begin-->

		<div class="container">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<v:content.render column="222" />
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
				<div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
			</div>
		</div>

		<div class="row bar-elements">
			<div class="col-md-4">
				<a href="#" class="blue" onclick="event.preventDefault(); $('#togglePfinder').click()">
					<span class="fa fa-cubes"></span>

					<h2><v:l>frontpage.buttonbar.productfinder.title</v:l></h2>

					<h3><v:l>frontpage.buttonbar.productfinder.subtitle</v:l></h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="{f:uri.page(pageUid: settings.downloadsPageUid)}" title="{v:l(key:'frontpage.buttonbar.downloads.title')}">
					<span class="fa fa-download"></span>

					<h2><v:l>frontpage.buttonbar.downloads.title</v:l></h2>

					<h3><v:l>frontpage.buttonbar.downloads.subtitle</v:l></h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="#" onclick="event.preventDefault(); $('#toggleContactForm').click()">
					<span class="fa fa-envelope"></span>

					<h2><v:l>frontpage.buttonbar.contact.title</v:l></h2>

					<h3><v:l>frontpage.buttonbar.contact.subtitle</v:l></h3>
				</a>
			</div>
		</div>

		<f:for each="{sections}" as="section" iteration="iteration">
			<div class="section">
				<v:content.render column="{iteration.index}" />
			</div>
		</f:for>

		<!--TYPO3SEARCH_end-->
	</f:section>

</div>
