<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Landingpage" />

	<f:section name="Configuration">
		<flux:form id="landingpage" label="Landingpage" options="{icon: '/typo3conf/ext/baumer/Resources/Public/Icons/Landingpage.png'}">
			<f:render partial="Page/Configuration" section="Default" />
		</flux:form>
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="10" name="banner" style="width: 100%" />
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column colPos="0" name="content" style="width: 100%" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<!--TYPO3SEARCH_begin-->
		<v:content.render column="10" />

		<v:content.render column="0" />
		<!--TYPO3SEARCH_end-->
	</f:section>
</div>
