<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Page" />

	<f:section name="Configuration">
		<flux:form id="MemberArea" label="Member Area" options="{icon: '/typo3conf/ext/baumer/Resources/Public/Icons/placeholder.png'}">
			<f:render partial="Page/Configuration" section="Default" />
		</flux:form>
		<f:render partial="Page/GridConfiguration" section="Default" />
	</f:section>

	<f:section name="Main">
		<div id="member-area">
			<div class="row">
				<div class="col-md-3">
					<div class="navbar navbar-default" id="member-area-nav" role="navigation">
						<div class="navbar-collapse collapse sidebar-navbar-collapse">
							<v:page.menu.directory pages="219" class="nav navbar-nav" classActive="active" />
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<!--TYPO3SEARCH_begin-->
					<v:content.render column="0" />
					<!--TYPO3SEARCH_end-->
				</div>
			</div>
		</div>
	</f:section>

</div>
