<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Page" />

	<f:section name="Configuration">
		<flux:form id="MemberArea" label="Member Area Single Column" options="{icon: '/typo3conf/ext/baumer/Resources/Public/Icons/placeholder.png'}">
			<f:render partial="Page/Configuration" section="Default"  arguments="{_all}" />
		</flux:form>
		<f:render partial="Page/GridConfiguration" section="Default" />
	</f:section>

	<f:section name="Main">
		<div id="member-area-single">
			<!--TYPO3SEARCH_begin-->
			<v:content.render column="0" />
			<!--TYPO3SEARCH_end-->
		</div>
	</f:section>

</div>
