.section-features .the-title, .section-features .the-subtitle, .section-features .the-content, .section-features .link {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.section-sensor .box-info, .section-sensor .the-title, .section-sensor .the-subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.jumbotron-one {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.jumbotron-one .the-title, .jumbotron-one .the-subtitle, .jumbotron-one .the-content, .jumbotron-one .btn, .jumbotron-one .i-mark {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.section-applications .the-title, .section-applications article {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.section-download {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.section-download .the-title, .section-download .the-subtitle, .section-download .animate-left, .section-download .animate-right, .section-download .i-mark {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.section-form {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.section-form figure, .section-form .col-md-7, .section-form .animate-left, .section-form .animate-right, .section-form .animate-bottom, .section-form .action, .section-form .i-mark {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
