.lt-ie9 .col-md-3, .lt-ie9 .col-md-9, .lt-ie9 .col-md-6, .lt-ie9 .col-md-4, .lt-ie9 .col-md-5, .lt-ie9 .col-md-7, .lt-ie9 .col-md-8,
.lt-ie9 .col-sm-3, .lt-ie9 .col-sm-9, .lt-ie9 .col-sm-6, .lt-ie9 .col-sm-4, .lt-ie9 .col-sm-5, .lt-ie9 .col-sm-7, .lt-ie9 .col-sm-8 {
  float: left;
}
.lt-ie9 .col-md-3, .lt-ie9 .col-sm-3 {
  width: 25%;
}
.lt-ie9 .col-md-4, .lt-ie9 .col-sm-4 {
  width: 33.33333333%;
}
.lt-ie9 .col-md-5, .lt-ie9 .col-sm-5 {
  width: 30%;
}
.lt-ie9 .col-md-6, .lt-ie9 .col-sm-6 {
  width: 50%;
}
.lt-ie9 .col-md-8, .lt-ie9 .col-sm-8 {
  width: 66.66666667%;
}
.lt-ie9 .col-md-7, .lt-ie9 .col-sm-7 {
  width: 70%;
}
.lt-ie9 .col-md-9, .lt-ie9 .col-sm-9 {
  width: 75%;
}
.lt-ie9 .container {
  width: 960px !important;
}
.lt-ie9 #header {
  width: 100%;
}
.lt-ie9 #footer .specials nav ul li a:before {
  font-family: FontAwesome !important;
}
.lt-ie9 #footer .box-top .row-bottom .the-content nav ul li a:before {
  font-family: FontAwesome !important;
}
.lt-ie9 .home .section article figure .fa {
  background-color: #89b4d5;
}
.lt-ie9 .home .section article figure .fa.bg-green {
  background-color: #98bd29;
}
.lt-ie9 .section-sensor .box-sensor .box-info:after {
  display: none;
}
.lt-ie9 .section-sensor .box-sensor .box-info .overflow {
  height: 138px;
}
.lt-ie9 .section-sensor .box-sensor .box-info:hover .overflow {
  max-height: 100%;
  height: 100%;
}
