@import "compass";
.section-features {
  .the-title, .the-subtitle, .the-content, .link {
	@include opacity(1);
  }
}

.section-sensor {
  .box-info, .the-title, .the-subtitle {
	@include opacity(1);
  }
}

.jumbotron-one {
  @include opacity(1);
  .the-title, .the-subtitle, .the-content, .btn, .i-mark {
	@include opacity(1);
  }
}

.section-applications {
  .the-title, article {
	@include opacity(1);
  }
}

.section-download {
  @include opacity(1);
  .the-title, .the-subtitle, .animate-left, .animate-right, .i-mark {
	@include opacity(1);
  }
}

.section-form {
  @include opacity(1);
  figure, .col-md-7, .animate-left, .animate-right, .animate-bottom, .action, .i-mark {
	@include opacity(1);
  }
}
