@import "twbs-override/variables";

$container-width: 960px;

.lt-ie9 {
	.col-md-3, .col-md-9, .col-md-6, .col-md-4, .col-md-5, .col-md-7, .col-md-8,
	.col-sm-3, .col-sm-9, .col-sm-6, .col-sm-4, .col-sm-5, .col-sm-7, .col-sm-8 {
		float: left;
	}
	.col-md-3, .col-sm-3 {
		width: 25%;
	}
	.col-md-4, .col-sm-4 {
		width: 33.33333333%;
	}
	.col-md-5, .col-sm-5 {
		width: 30%;
	}
	.col-md-6, .col-sm-6 {
		width: 50%;
	}
	.col-md-8, .col-sm-8 {
		width: 66.66666667%;
	}
	.col-md-7, .col-sm-7 {
		width: 70%;
	}
	.col-md-9, .col-sm-9 {
		width: 75%;
	}
	.container {
		width: $container-width !important;
	}

	#header {
		width: 100%;
	}

	#footer {
		.specials {
			nav {
				ul {
					li {
						a {
							&:before {
								font-family: FontAwesome !important;
							}
						}
					}
				}
			}
		}
		.box-top {
			.row-bottom {
				.the-content {
					nav {
						ul {
							li {
								a {
									&:before {
										font-family: FontAwesome !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.home {
		.section {
			article {
				figure {
					.fa {
						background-color: #89b4d5;
						&.bg-green {
							background-color: $color-atlantis;
						}
					}
				}
			}
		}
	}

  .section-sensor {
	.box-sensor {
	  .box-info {
		&:after {
		  display: none;
		}
		.overflow {
		  height: 138px;
		}
		&:hover {
		  .overflow {
			max-height: 100%;
			height: 100%;
		  }
		}
	  }
	}
  }

}




