//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: $line-height-computed 0;
  border-radius: $border-radius-base;
  font-size: 0;

  > li {
    display: inline-block; // Remove list-style and block-level defaults
    font-size: 14px;
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      white-space: nowrap;
      font-weight: 400;
      line-height: 40px;
      min-width: 40px;
      height: 40px;
      text-align: center;
      text-decoration: none;
      color: $pagination-color;
      background-color: $white;
      border: 1px solid $pagination-border;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        padding: 0 10px;
      }
    }
    &:last-child {
      > a,
      > span {
        padding: 0 10px;
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $pagination-hover-color;
      background-color: $pagination-bg;
      border-color: $pagination-hover-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: $pagination-active-color;
      background-color: $pagination-bg;
      border-color: $pagination-active-border;
      cursor: default;
    }
  }

  > .disabled,
  > .current {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $color-silver;
      background-color: $pagination-bg;
      border-color: $pagination-disabled-border;
      cursor: not-allowed;
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  @include pagination-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-base, $border-radius-large);
}

// Small
.pagination-sm {
  @include pagination-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-base, $border-radius-small);
}
