<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="accordion" options="{useTypoScript: 0, group: 'Custom Elements', sorting: 150, icon: '{f:uri.resource(path: \'Icons/content/accordion.png\')}'}">
			<flux:form.sheet name="panels">
				<flux:form.section name="panels">
					<flux:form.object name="panel">
						<flux:field.input name="title" />
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:grid>
				<f:if condition="{panels -> f:count()} > 0">
					<f:for each="{panels}" as="panel" iteration="iteration">
						<flux:grid.row>
							<flux:grid.column name="content.{iteration.index}" label="{f:if(condition: panel.panel.title, then: panel.panel.title, else: 'Content, panel {iteration.cycle}')}" />
						</flux:grid.row>
					</f:for>
				</f:if>
			</flux:grid>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<flux:widget.grid />
	</f:section>

	<f:section name="Main">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<f:for each="{panels}" as="panel" iteration="iteration">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading{iteration.index}">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse{iteration.index}" aria-expanded="true" aria-controls="collapse{iteration.index}" class="collapsed">
								{panel.panel.title}
							</a>
						</h4>
					</div>
					<div id="collapse{iteration.index}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{iteration.index}">
						<div class="panel-body">
							<flux:content.render area="content.{iteration.index}" />
						</div>
					</div>
				</div>
			</f:for>
		</div>
	</f:section>

</div>
