<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="article" options="{useTypoScript: 0, group: 'Custom Elements', sorting: 800, icon: '{f:uri.resource(path: \'Icons/content/document_image.png\')}'}">
			<flux:field.inline.fal name="image" maxItems="1"  />
			<flux:field.select name="icon" minItems="0" maxItems="1" items=" , play-circle-o, trophy, youtube-play" default="" />
			<flux:field.input name="subTitle" />
			<flux:field.text enableRichText="true" rows="10" name="text" />
			<flux:field.input name="detailLink">
				<flux:wizard.link />
			</flux:field.input>
			<flux:field.input name="detailLinkText" />
			<flux:form.sheet name="image" label="Image">
				<flux:field.select name="settings.image.className" renderMode="checkbox" minItems="0" maxItems="100" items="img-border-gray" label="Classnames" />
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<b>Article</b>
		<br />
		<f:if condition="{image}">
			<v:content.resources.fal field="image" as="image">
				<v:media.image src="{image.0.id}" alt="{image.title}" maxW="100" />
			</v:content.resources.fal>
		</f:if>
		<br />
		<b>{record.header}</b>
		<br />
		<b>{subTitle}</b>
	</f:section>

	<f:section name="Main">
		<article>
			<f:if condition="{image}">
				<figure>
					<f:if condition="{detailLink}">
						<f:then>
							<v:link.typolink configuration="{parameter: detailLink}">
								<v:content.resources.fal field="image" as="image">
									<f:if condition="{icon}">
										<span class="fa fa-{icon}"></span>
									</f:if>
									<v:media.image src="{image.0.id}" alt="{image.title}" class="img-responsive {settings.image.className -> v:format.replace(substring: ',', replacement: ' ')}" />
								</v:content.resources.fal>
							</v:link.typolink>
						</f:then>
						<f:else>
							<v:content.resources.fal field="image" as="image">
								<f:if condition="{icon}">
									<span class="fa fa-{icon}"></span>
								</f:if>
								<v:media.image src="{image.0.id}" alt="{image.title}" class="img-responsive {settings.image.className -> v:format.replace(substring: ',', replacement: ' ')}" />
							</v:content.resources.fal>
						</f:else>
					</f:if>
				</figure>
			</f:if>
			<div class="hgroup">
				<h3>
					<f:if condition="{detailLink}">
						<f:then>
							<v:link.typolink configuration="{parameter: detailLink}">
								<f:format.raw>{record.header}</f:format.raw>
							</v:link.typolink>
						</f:then>
						<f:else>
							<f:format.raw>{record.header}</f:format.raw>
						</f:else>
					</f:if>
				</h3>
				<f:if condition="{subTitle}">
					<h5>{subTitle}</h5>
				</f:if>
			</div>
			<f:format.raw>{text}</f:format.raw>
			<f:if condition="{detailLink}">
				<v:link.typolink configuration="{parameter: detailLink, ATagParams: 'class=\"link-arrow-left\"'}" >
					{detailLinkText}
				</v:link.typolink>
			</f:if>
		</article>

	</f:section>

</div>
