<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="box-gray" options="{useTypoScript: 0, group: 'Custom Elements', sorting: 800, icon: '{f:uri.resource(path: \'Icons/content/application.png\')}'}">
			<flux:field.inline.fal name="image" maxItems="1"  />
			<flux:field.text enableRichText="true" rows="10" name="text" />
			<flux:field.input name="detailLink">
				<flux:wizard.link />
			</flux:field.input>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<b>Gray Box</b>
		<br />
		<f:if condition="{image}">
			<v:content.resources.fal field="image" as="image">
				<v:media.image src="{image.0.id}" alt="{image.0.title}" maxW="100" />
			</v:content.resources.fal>
		</f:if>
		<br />
		<b>{record.header}</b>
	</f:section>

	<f:section name="Main">
		<f:if condition="{detailLink}">
			<f:then>
				<a href="{v:uri.typolink(configuration:'{parameter: detailLink}')}" class="box-gray">
			</f:then>
			<f:else>
				<div class="box-gray">
			</f:else>
		</f:if>
			<f:if condition="{image}">
				<figure>
					<v:content.resources.fal field="image" as="image">
						<v:media.image src="{image.0.id}" alt="{image.0.title}" class="img-responsive" />
					</v:content.resources.fal>
				</figure>
			</f:if>
			<h4>{record.header}</h4>
			<f:format.raw>{text}</f:format.raw>
		<f:if condition="{detailLink}">
			<f:then>
				</a>
			</f:then>
			<f:else>
				</div>
			</f:else>
		</f:if>
	</f:section>

</div>
