<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:b="http://typo3.org/ns/Baumer/Baumer/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="configurator" options="{group: 'Views', sorting: 800}">
			<b:csViewRecord as="viewRecords" viewType="1744" />
			<flux:field.select items="{viewRecords}" name="contentServId" minItems="1" maxItems="1" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<img style="max-width: 100%;" src="{f:uri.image(src:'EXT:baumer/Resources/Public/Images/configurator.png', maxWidth:1100)}" alt="Configurator" />
	</f:section>

	<f:section name="Main">
		<f:if condition="{csViewRecord.sapId}">
			<v:render.request vendorName="Baumer" action="configurator" controller="Encoway" extensionName="Baumer" arguments="{csViewRecord: csViewRecord}" />
		</f:if>
	</f:section>

</div>
