<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="contentservTeaserView" options="{group: 'Custom Elements', sorting: 800}">
			<flux:field.relation name="settings.csview" requestUpdate="true" table="tx_baumer_domain_model_csview" foreignLabel="label">
				<!-- tag content - may be ignored! -->
			</flux:field.relation>
				<f:if condition="{csview}">
					<flux:field.userFunc name="syncRelations" userFunc="Baumer\Baumer\Service\CsViewRecordRelationSyncService->syncRecords" arguments="{record: record, csview: csview}" />
					<flux:field.inline name="settings.selection" table="tx_baumer_domain_model_csviewrecordrelation" multiple="true" maxItems="1000" foreignField="tt_content" collapseAll="1" newRecordLinkPosition="false"  enabledControls="{ hide : 1,    localize :0,    new :0,    sort :0, delete: 0 }" />
			</f:if>
		</flux:form>
	</f:section>

	<f:section name="Preview">

	</f:section>

	<f:section name="Main">

	</f:section>

</div>
