<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="contentservView" options="{group: 'Custom Elements', sorting: 800}">
			<flux:field.relation name="settings.csview" requestUpdate="true" table="tx_baumer_domain_model_csview" foreignLabel="label">
				<!-- tag content - may be ignored! -->
			</flux:field.relation>
		</flux:form>
	</f:section>

	<f:section name="Preview">

	</f:section>

	<f:section name="Main">

	</f:section>

</div>
