<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:b="http://typo3.org/ns/Baumer/Baumer/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="distributor-map" options="{useTypoScript: 0, group: 'Custom Elements', sorting: 150}">
			<f:comment>
				<flux:field.checkbox name="createMarkers" requestUpdate="1" />
			</f:comment>
			<flux:field.checkbox name="displayList" />
			<flux:field.input name="mapId" />
			<flux:field.input name="accessToken" />
			<flux:field.tree.category size="30" width="400" name="categories" condition="AND sys_category.sys_language_uid = 0" multiple="true" />

			<f:comment>
				<f:if condition="{createMarkers} == 1">
					<flux:form.sheet name="markers">
						<flux:form.section name="markers">
							<flux:form.object name="marker">
								<flux:field.input name="company" />
								<flux:field.input name="latitude" />
								<flux:field.input name="longitude" />
							</flux:form.object>
						</flux:form.section>
					</flux:form.sheet>
					<flux:grid>
						<f:if condition="{markers -> f:count()} > 0">
							<f:for each="{markers}" as="marker" iteration="iteration">
								<flux:grid.row>
									<flux:grid.column name="content.{iteration.index}" label="{f:if(condition: marker.marker.company, then: marker.marker.company, else: 'Content, marker {iteration.cycle}')}" />
								</flux:grid.row>
							</f:for>
						</f:if>
					</flux:grid>
				</f:if>
			</f:comment>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<b>Distributor Map</b>
		<p>
			<f:if condition="{createMarkers} == 1">
				<f:then><flux:widget.grid /></f:then>
				<f:else>Load data from database, </f:else>
			</f:if>
			<f:if condition="{displayList} == 1">display list</f:if>
		</p>
	</f:section>

	<f:section name="Main">
		<v:asset.style
				name="distributor-map"
				standalone="true"
				path="EXT:baumer/Resources/Public/Style/distributor-map.css" />
		<v:asset.script
				name="leaflet"
				dependencies="jquery"
				path="EXT:baumer/Resources/Private/Libraries/leaflet/leaflet-built.js"
				movable="true"/>
		<v:asset.script
				name="leaflet.markercluster"
				dependencies="leaflet"
				path="EXT:baumer/Resources/Private/Libraries/leaflet.markercluster/leaflet.markercluster-built.js"
				movable="true"/>
		<v:asset.script
				name="distributorController"
				dependencies="leaflet, AngularJS"
				path="EXT:baumer/Resources/Private/Javascript/distributorMapController.js"
				movable="true"/>

		<v:variable.set name="uuid" value="{v:system.uniqId(prefix: '', moreEntropy: 0)}" />
		<f:render section="generateMarkers" arguments="{_all}" />

		<div class="distributor-map" data-ng-controller="DistributorMapCtrl" data-ng-init="init('map{uuid}')">
			<div id="map{uuid}" style="width: 100%; height: 500px;"></div>
			<f:if condition="{displayList}">
				<f:render section="List" arguments="{uuid: uuid, categories: categories}" />
			</f:if>
		</div>
	</f:section>

	<f:section name="generateMarkers">
		<script type="text/javascript">
			<![CDATA[var headlineProductsegment = "]]><v:l>distributor-map.headline-productsegment</v:l><![CDATA[";
			var markers = [];]]>
			<f:if condition="{createMarkers}">
				<f:then>
					<f:for each="{markers}" as="marker">
					<f:render section="Marker" arguments="{marker: marker.marker}" />
					</f:for>
				</f:then>
				<f:else>
					<b:address as="addresses" categories="{categories}"></b:address>
					<f:for each="{addresses}" as="address">
					<f:render section="Marker" arguments="{marker: address}" />
					</f:for>
				</f:else>
			</f:if>

			<![CDATA[if(typeof mapsData === 'undefined') {
				var mapsData = {};
			}
			mapsData.map]]>{uuid}<![CDATA[ = {mapId: "]]>{mapId}<![CDATA[", accessToken: "]]>{accessToken}<![CDATA[", markers: markers};]]>
		</script>
	</f:section>

	<f:section name="Marker">
		<f:if condition="{marker.latitude} != ''">
			<f:if condition="{marker.longitude} != ''">
				<![CDATA[markers.push({
					'uuid': "]]>{v:system.uniqId(prefix: '', moreEntropy: 0)}<![CDATA[",
					'lat': ]]>{marker.latitude->f:format.number(decimals: 12, decimalSeparator: '.', thousandsSeparator: '')}<![CDATA[,
					'lon': ]]>{marker.longitude->f:format.number(decimals: 12, decimalSeparator: '.', thousandsSeparator: '')}<![CDATA[,
					'company': "]]>{marker.company->f:format.raw()}<![CDATA[",
					'street': "]]>{marker.address->f:format.raw()}<![CDATA[",
					'zip': "]]>{marker.zip->f:format.raw()}<![CDATA[",
					'city': "]]>{marker.city->f:format.raw()}<![CDATA[",
					'country': "]]>{marker.country->f:format.raw()}<![CDATA[",
					'continent': "]]>{marker.continent->f:format.raw()}<![CDATA[",
					'phone': "]]>{marker.phone->f:format.raw()}<![CDATA[",
					'clearedPhone': "+]]>{marker.phone->v:format.regularExpression(pattern: "/\D+/", replacement: "")}<![CDATA[",
					'fax': "]]>{marker.fax->f:format.raw()}<![CDATA[",
					'email': "]]>{marker.email->f:format.raw()}<![CDATA[",
					'website': "]]>{marker.www->f:format.raw()}<![CDATA[",
					'type': ]]>{b:getCategory(categories: "{marker.categories}", parentId: 708)->v:format.json.encode()}<![CDATA[,
					'productsegment': ]]>{b:getCategory(categories: "{marker.categories}", parentId: 319)->v:format.json.encode()}<![CDATA[
				});]]>
			</f:if>
		</f:if>
	</f:section>

	<f:section name="List">
		<f:render section="FilterBar" arguments="{categories: categories}" />
		<f:render section="ToolBar" />
		<f:render section="ListItems" />
		<f:render section="Pager" />
	</f:section>

	<f:section name="FilterBar">
		<div class="filterbar">
			<div class="row">
				<div class="col-md-3">
					<div class="filter">
						<span class="clear-filter" title="<v:l>distributor-map.reset_filter</v:l>" data-ng-if="markerSearch" data-ng-click="resetFilter('search')"><span class="icon-cross"></span></span>
						<input type="text" placeholder="<v:l>distributor-map.placeholder-search</v:l>" class="form-control" name="marker-search" data-ng-model="markerSearch" />
					</div>
				</div>
				<div class="col-md-3">
					<div class="filter">
						<span class="clear-filter" title="<v:l>distributor-map.reset_filter</v:l>" data-ng-if="continentFilter" data-ng-click="resetFilter('continent')"><span class="icon-cross"></span></span>
						<select class="form-control selectpicker" name="continent-filter" data-ng-model="continentFilter" data-ng-options="continent for continent in availableData.continents track by continent">
							<option value=""><v:l>distributor-map.placeholder-continent</v:l></option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="filter">
						<span class="clear-filter" title="<v:l>distributor-map.reset_filter</v:l>" data-ng-if="countryFilter" data-ng-click="resetFilter('country')"><span class="icon-cross"></span></span>
						<select class="form-control selectpicker" name="country-filter" data-ng-model="countryFilter" data-ng-options="country for country in availableData.countries track by country">
							<option value=""><v:l>distributor-map.placeholder-country</v:l></option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="filter">
						<span class="clear-filter" title="<v:l>distributor-map.reset_filter</v:l>" data-ng-if="typeFilter" data-ng-click="resetFilter('type')"><span class="icon-cross"></span></span>
						<select class="form-control selectpicker" name="type-filter" data-ng-model="typeFilter" data-ng-options="type for type in availableData.types track by type">
							<option value=""><v:l>distributor-map.placeholder-type</v:l></option>
						</select>
					</div>
				</div>

				<f:if condition="{categories -> f:count()} == 0">
					<div class="col-md-3">
						<div class="filter">
							<span class="clear-filter" title="<v:l>distributor-map.reset_filter</v:l>" data-ng-if="productsegmentFilter" data-ng-click="resetFilter('productsegment')"><span class="icon-cross"></span></span>
							<select class="form-control selectpicker" name="productsegment-filter" data-ng-model="productsegmentFilter" data-ng-options="productsegment for productsegment in availableData.productsegments track by productsegment">
								<option value=""><v:l>distributor-map.placeholder-productsegment</v:l></option>
							</select>
						</div>
					</div>
				</f:if>
			</div>
			<div class="f-footer">
				<span class="clickable link-arrow-left" data-ng-click="resetFilters()"> <v:l>productfinder.reset_all_filters</v:l></span>
			</div>
		</div>
	</f:section>

	<f:section name="ToolBar">
		<div class="toolbar">
			<div class="productcount">
				<v:l>distributor-map.results_found</v:l>
			</div>
			<div class="perpage">
				<v:l>distributor-map.itemsperpage</v:l>
				<select class="selectpicker" id="itemsperpage" name="itemsperpage" data-ng-model="itemsPerPage" data-ng-options="items for items in itemsPerPages track by items">
				</select>
			</div>
		</div>
	</f:section>

	<f:section name="ListItems">
		<div class="row">
			<div class="col-md-6" data-ng-repeat="marker in activeMarkers | startFrom: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage">
				<div class="marker-grid-container">
					<h4>{{marker.company}}</h4>

					<div class="row">
						<div class="col-xs-6">
							<p>
								{{marker.street}}<br />
								{{marker.zip}} {{marker.city}}<br />
								{{marker.country}}
							</p>
						</div>
						<div class="col-xs-6">
							<p>
								<span data-ng-if="marker.email"><span class="fa fa-envelope-o"></span> <a data-ng-href="mailto:{{marker.email}}">{{marker.email}}</a><br /></span>
								<span data-ng-if="marker.website"><span class="fa fa-globe"></span><a data-ng-href="{{marker.website}}" target="_blank">{{marker.website}}</a><br /></span>
								<span data-ng-if="marker.phone"><span class="fa fa-phone"></span> <a data-ng-href="tel:{{marker.clearedPhone}}">{{marker.phone}}</a><br /></span>
								<span data-ng-if="marker.fax"><span class="fa fa-fax"></span> {{marker.fax}}</span>
							</p>
						</div>
					</div>
					<div class="buttons">
						<a href="#zoomToMarker" class="button" data-ng-click="zoomToMarker(marker)">
							<span class="fa fa-map-marker"></span> <v:l>distributor-map.show_on_map</v:l>
						</a>
					</div>
				</div>
			</div>
		</div>
	</f:section>

	<f:section name="Pager">
		<div class="text-center">
			<div data-pagination data-ng-hide="totalItems <= itemsPerPage" data-ng-click="search()" data-items-per-page="itemsPerPage" data-boundary-links="true" data-total-items="totalItems" data-ng-model="currentPage"></div>
		</div>
	</f:section>
</div>
