<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="downloadcenter" options="{group: 'Views', sorting: 800, icon: '{f:uri.resource(path: \'Icons/content/pdf_exports.png\')}'}">
			<flux:field.input name="headline" />
			<flux:field.checkbox name="showThumbnails" />
			<flux:field.tree.category size="50" width="400" name="categories" condition="AND sys_category.sys_language_uid = 0" multiple="true" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<img style="max-width: 100%;" src="{f:uri.image(src:'EXT:bourdon/Resources/Public/Images/downloadcenter.png', maxWidth:1100)}" alt="Configurator" />
	</f:section>

	<f:section name="Main">
		<div class="container">
			<f:if condition="{selectorConfig}">
				<script>
					var SELECTOR_CONFIG = {selectorConfig -> f:format.raw()};
					var CS_ATTRIBUTES = {csAttributes -> f:format.raw()};
					var CATEGORIES = [{categories -> v:iterator.implode(glue: ',')}];
					var SHOW_THUMBNAILS = {f:if(condition:showThumbnails, then: 'true', else: 'false')};
				</script>
			</f:if>
			<div data-ng-controller="DownloadCtrl">
				<div class="productfilter" data-ng-cloak>
					<div class="row">
						<div class="headerWrap col-md-9">
							<h1>{headline}</h1>
							<h2>{view.data.Label}</h2>
						</div>
					</div>

					<div data-ng-if="!selectorIsAvailable">
						<h1><v:l>csview.selector_not_available</v:l></h1>
					</div>
					<f:render partial="CsView/SelectorFacets" section="Main" arguments="{_all}" />

					<div class="form-group">
						<input id="textfilter" data-ng-model="q" data-ng-change="search()" class="form-control input-lg" type="text" autocomplete="off" placeholder="{v:l(key:'general.textfilter.placeholder')}" />
					</div>
				</div>


				<div class="toolbar clearfix">
					<div class="productcount pull-left">
						<v:l>productfinder.results_found</v:l>
					</div>
					<div class="toolbar-options">
						<div class="perpage">
							<v:l>productfinder.products_per_page</v:l>
							<select class="selectpicker" data-ng-options="n as n for n in [6,12,48,96]" data-ng-change="search()" data-ng-model="itemsPerPage" name="productsperpage"></select>
						</div>
					</div>
				</div>

				<f:render partial="CsView/DownloadCenterGrid" section="Main" arguments="{_all}" />

				<div class="text-center">
					<div data-pagination data-ng-hide="totalItems <= itemsPerPage" data-ng-click="search()" data-items-per-page="itemsPerPage" data-boundary-links="true" data-total-items="totalItems" data-ng-model="currentPage"></div>
				</div>
			</div>
		</div>
	</f:section>

</div>
