<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="footer-slider-element" options="{useTypoScript: 0, group: 'Custom Elements', sorting: 800, icon: '{f:uri.resource(path: \'Icons/content/document_image.png\')}'}">
			<flux:field.inline.fal name="image" maxItems="1"  />
			<flux:field.input name="subTitle" />
			<flux:field.text enableRichText="true" rows="10" name="text" />
			<flux:field.input name="titleLink">
				<flux:wizard.link />
			</flux:field.input>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<b>Footer Slider Element</b>
		<br />
		<f:if condition="{image}">
			<v:content.resources.fal field="image" as="image">
				<v:media.image src="{image.0.id}" alt="{image.title}" maxW="100" />
			</v:content.resources.fal>
		</f:if>
		<br />
		<b>{record.header}</b>
		<br />
		<b>{subTitle}</b>
	</f:section>

	<f:section name="Main">
		<article>
			<f:if condition="{image}">
				<figure>
					<v:content.resources.fal field="image" as="image">
						<f:image treatIdAsReference="TRUE" src="{image.0.id}" alt="{image.title}" width="260"/>
					</v:content.resources.fal>
				</figure>
			</f:if>
			<div class="cont">
				<div class="hgroup">
					<h3>
						<f:if condition="{titleLink}">
							<f:then>
								<v:link.typolink configuration="{parameter: titleLink}">{record.header}	</v:link.typolink>
							</f:then>
							<f:else>
								{record.header}
							</f:else>
						</f:if>
					</h3>
					<h4>{subTitle}</h4>
				</div>
				<nav>
					<f:format.raw>{text}</f:format.raw>
				</nav>
			</div>
		</article>
	</f:section>

</div>
