<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="frontpage-slider-element" options="{useTypoScript: 0, group: 'Custom Elements', sorting: 800, icon: '{f:uri.resource(path: \'Icons/content/document_image_hor.png\')}'}">
			<flux:field.inline.fal name="backgroundImage" maxItems="1"  />
			<flux:field.inline.fal name="smallImage" maxItems="1"  />
			<flux:field.input name="subTitle" />
			<flux:field.text enableRichText="true" rows="10" name="text" />
			<flux:field.input name="detailLink">
				<flux:wizard.link />
			</flux:field.input>
			<flux:field.input name="detailLinkText"/>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<b>Slider Element</b>
		<br />
		<f:if condition="{backgroundImage}">
			<v:content.resources.fal field="backgroundImage" as="image">
				<v:media.image src="{image.0.id}" alt="{image.title}" maxW="100" />
			</v:content.resources.fal>
		</f:if>
		<br />
		<b>{record.header}</b>
		<br />
		<b>{subTitle}</b>
	</f:section>

	<f:section name="Main">
		<div class="swiper-slide">
			<div class="swiper-slide-inner">
				<f:if condition="{backgroundImage}">
					<f:then>
						<v:content.resources.fal field="backgroundImage" as="image">
							<div class="row" style="background-image: url('{v:uri.image(src:image.0.id)}');">
						</v:content.resources.fal>
					</f:then>
					<f:else>
						<div class="row">
					</f:else>
				</f:if>
					<div class="col-md-8">
						<f:if condition="{smallImage}">
							<f:then>
								<v:content.resources.fal field="smallImage" as="image">
									<v:content.resources.fal field="smallImage" as="mobileImage">
										<v:media.image src="{mobileImage.0.id}" alt="{mobileImage.title}" class="visible-sm visible-xs inline-img" />
									</v:content.resources.fal>
								</v:content.resources.fal>
							</f:then>
						</f:if>
						<h2>
							<v:link.typolink configuration="{parameter: detailLink}">{record.header}</v:link.typolink>
						</h2>
						<f:if condition="{subTitle}">
							<h3>{subTitle}</h3>
						</f:if>
						<p class="hidden-sm hidden-xs"><f:format.raw>{text}</f:format.raw></p>
						<v:link.typolink configuration="{parameter: detailLink, ATagParams: 'class=\"btn btn-orange btn-icon-right\"'}" >
							{detailLinkText}<span class="fa fa-angle-right"></span>
						</v:link.typolink>
					</div>
				</div>
			</div>
		</div>
	</f:section>

</div>
