<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:b="http://typo3.org/ns/Baumer/Baumer/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="selectorList" options="{group: 'Views', sorting: 800}">
		</flux:form>
	</f:section>


	<f:section name="Preview">
		<img style="max-width: 100%;" src="{f:uri.image(src:'EXT:baumer/Resources/Public/Images/selectorList.png', maxWidth:256)}" alt="SelectorList" />
	</f:section>

	<f:section name="Main">
		<h5><v:l>selectorList.availableList</v:l></h5>
		<ul>
			<f:for each="{selectors}" as="selector">
				<li>
					<f:link.action pageUid="{settings.csViewPageUid}" action="selector" controller="CsView" arguments="{csView: selector}">
						<i class="fa fa-angle-right"></i> {selector.label}
					</f:link.action>
				</li>
			</f:for>
		</ul>
	</f:section>
</div>
