<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="portfolio-product" options="{useTypoScript: 0, group: 'Custom Elements', sorting: 800, icon: '{f:uri.resource(path: \'Icons/content/document_layout.png\')}'}">
			<flux:field.inline.fal name="image" maxItems="1"  />
			<flux:field.input name="title" />
			<flux:field.text enableRichText="true" rows="10" name="text" />
			<flux:field.input name="detailLink">
				<flux:wizard.link />
			</flux:field.input>
			<flux:field.input name="productfinderLink">
				<flux:wizard.link />
			</flux:field.input>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<b>Portfolio Product</b>
		<br />
		<v:content.resources.fal field="image" as="image">
			<v:media.image src="{image.0.id}" alt="{image.title}" class="img-responsive" maxW="100" />
		</v:content.resources.fal>
		<br />
		<b>{title}</b>
	</f:section>

	<f:section name="Main">
		<article>
			<f:if condition="{image}">
				<figure>
					<f:if condition="{detailLink}">
						<f:then>
							<v:link.typolink configuration="{parameter: detailLink}">
								<v:content.resources.fal field="image" as="image">
									<v:media.image src="{image.0.id}" alt="{image.title}" class="img-responsive" />
								</v:content.resources.fal>
							</v:link.typolink>
						</f:then>
						<f:else>
							<v:content.resources.fal field="image" as="image">
								<f:image treatIdAsReference="TRUE" src="{image.0.id}" alt="{image.title}"  />
							</v:content.resources.fal>
						</f:else>
					</f:if>
				</figure>
			</f:if>
			<div class="cont">
				<h4>
					<f:if condition="{detailLink}">
						<f:then>
							<v:link.typolink configuration="{parameter: detailLink}">
								<f:format.raw>{title}</f:format.raw>
							</v:link.typolink>
						</f:then>
						<f:else>
							<f:format.raw>{title}</f:format.raw>
						</f:else>
					</f:if>
				</h4>
				<f:format.raw>{text}</f:format.raw>
				<div class="buttons clearfix">
					<f:if condition="{detailLink}">
						<v:link.typolink configuration="{parameter: detailLink, ATagParams: 'class=\"btn btn-gray btn-icon-right\"'}" >
							<v:l>portfolio-product.more</v:l>
							<span class="fa fa-angle-right"></span>
						</v:link.typolink>
					</f:if>
					<f:if condition="{productfinderLink}">
						<v:link.typolink configuration="{parameter: productfinderLink, ATagParams: 'class=\"btn btn-default btn-icon-right\"'}" >
							<v:l>portfolio-product.productfinderLink</v:l>
							<span class="fa fa-angle-right"></span>
						</v:link.typolink>
					</f:if>
				</div>
			</div>
		</article>
	</f:section>

</div>
