<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:b="http://typo3.org/ns/Baumer/Baumer/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="selector" options="{group: 'Views', sorting: 800, icon: '{f:uri.resource(path: \'Icons/content/filter.png\')}'}">
			<b:csView as="views" viewType="1463" />
			<flux:field.select items="{views}" name="contentServId" minItems="1" maxItems="1" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<img style="max-width: 100%;" src="{f:uri.image(src:'EXT:baumer/Resources/Public/Images/selector.png', maxWidth:1100)}" alt="Selector" />
	</f:section>

	<f:section name="Main">
		<f:if condition="{csView}">
			<v:render.request vendorName="Baumer" action="selector" controller="CsView" extensionName="Baumer" arguments="{csView: csView}" />
		</f:if>
	</f:section>

</div>
