<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="sidebar-widget" options="{useTypoScript: 0, group: 'Custom Elements', sorting: 600, icon: '{f:uri.resource(path: \'Icons/content/sidebar.png\')}'}">
			<flux:grid>
				<flux:grid.row>
					<flux:grid.column name="content" />
				</flux:grid.row>
			</flux:grid>
			<flux:field.select name="icon" items="list, download, youtube-play" default="list" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<flux:widget.grid />
	</f:section>

	<f:section name="Main">

		<div class="widget">
			<h2 class="w-title">
				<span class="fa fa-{icon}"></span>
				{record.header}
			</h2>
			<div class="w-cont">
				<flux:content.render area="content" />
			</div>
		</div>

	</f:section>

</div>
