<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="youtube" options="{useTypoScript: 0, group: 'Custom Elements', sorting: 2000, icon: '{f:uri.resource(path: \'Icons/content/youtube.png\')}'}">
			<flux:field.input name="settings.youtubeId" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<b>YouTube ID</b><br />
		{settings.youtubeId}
	</f:section>

	<f:section name="Main">
		<div class="widget widget-videos">
			<h2 class="w-title">
				<span class="fa fa-youtube-play"></span>
				{record.header}
			</h2>
			<div class="w-cont">
				<div class="item">
					<div class="embed-responsive embed-responsive-16by9">
						<v:media.youtube videoId="{settings.youtubeId}" autoplay="false" showRelated="false" extendedPrivacy="false" additionalAttributes="{class: 'embed-responsive-item'}" />
					</div>
				</div>
			</div>
		</div>
	</f:section>

</div>
