#banner {
  position: relative;
  padding-top: 90px;
  color: #fff;
  h2 {
	font-family: 'Roboto', sans-serif;
	font-size: floor(($font-size-base * 3.45));
	font-weight: 200;
	margin-bottom: 45px;
  }
  h3 {
	font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .excerpt {
    font-size: $font-size-large;
    margin-bottom: 30px;
  }
  h5 {
    font-size: $font-size-medium;
  }
  .list-check {
    margin-bottom: 0;
  }
  .actions {
    margin-top: 45px;
    margin-bottom: 40px;
    .btn {
      margin-right: 20px;
    }
  }
  .mini-logo {
    position: absolute;
    width: 120px;
    right: 0;
    bottom: -20px;
  }
}
