// most styles for Headers ect.
// hopefully i will get a styleguide soon
$base-font: $font-family-sans-serif;

html {
  min-height: 100%;
}

a {
  &:hover, &:focus {
	text-decoration: none;
  }
}

.clickable {
  color: $blue-special;
  cursor: pointer;
  &:hover, &:focus {
	color: lighten($blue-special, 10);
  }
}

.the-title {
  margin-bottom: 20px;
}
.the-subtitle, .the-content {
  margin-bottom: 30px;
}

.the-title {
  color: $blue;
  font-size: $font-size-h3;
}

.the-subtitle {
  font-size: ceil(($font-size-base * 1.5));
}

// Headings
// -------------------------
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small,
  .small {
	font-weight: normal;
	line-height: 1;
	color: $headings-small-color;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
	font-size: 65%;
  }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
	font-size: 75%;
  }
}

h1, .h1 {
  font-size: $font-size-h1;
}

h2, .h2 {
  font-size: $font-size-h2;
}

h3, .h3 {
  font-size: $font-size-h3;
}

h4, .h4 {
  font-size: $font-size-h4;
}

h5, .h5 {
  font-size: $font-size-h5;
}

h6, .h6 {
  font-size: $font-size-h6;
}

h1, .h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: pem(40px, 14px);
  color: $blue;
}

