* {
  outline: none !important;
}

select, input, textarea, .form-control, a, button, .bootstrap-select .btn, .btn {
  @include box-shadow(none);
  &:hover, &:focus, &:active, &:active:focus {
	outline: none !important;
	@include box-shadow(none);
  }
  font-weight: normal;
}

.form-group {
  margin-bottom: 25px;
  label {
	font-weight: normal;
	margin-bottom: 10px;
  }
  .row {
	> div {
	  position: relative;
	  &:after {
		content: ',';
		position: absolute;
		right: 4px;
		bottom: -5px;
	  }
	  &:last-child {
		&:after {
		  display: none;
		}
	  }
	}
  }
}

.form-actions {
  @extend .clearfix;
  margin-top: 25px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: auto;
}

.bootstrap-select,
.bootstrap-select.open {
  .selectpicker {
	color: $color-silver-chalice;
	background: $white;
	border: 1px solid $border-color;
	padding: 6px 24px 6px 12px;
	@include transition-duration(0);
	@include box-shadow(none);
  }
  .dropdown-menu {
	margin-top: -2px;
	border-top: none;
	padding-top: 0;
	@include box-shadow(none);
	.bs-searchbox {
	  padding: 12px;
	  position: relative;
	  .fa {
		position: absolute;
		right: 20px;
		top: 50%;
		font-size: 18px;
		margin-top: -9px;
	  }
	  input {
		padding: 10px;
		color: black;
		background: $color-wild-sand;
	  }
	}
	> li > a {
	  padding: 5px 12px;
	  background: $white;
	  color: $color-regal-blue;
	  &:hover {
		background: $color-wild-sand;
	  }
	}
  }
}

