#header {
  width: 100%;
  padding-bottom: 40px;
  background: #004073;
  @include background-image(linear-gradient(45deg, #004073 0%, #0062A5 25%, #207CCA 50%, #0062A5 83%, #004073 100%));
  .logo {
	height: 94px;
	width: 222px;
	background-color: #fff;
	padding-top: 28px;
	padding-left: 32px;
	a {
	  width: 150px;
	  display: block;
	}
  }
  .container {
	position: relative;
  }
  .menu-toggle {
	position: absolute;
	top: 52px;
	right: 10px;
	border: 0;
	background-color: $color-regal-blue;
	padding: 12px;
	color: #fff;
	text-transform: uppercase;
	@include transition-property(background-color);
	@include transition-duration(250ms);
	.fa {
	  margin-left: 10px;
	  font-size: $font-size-large;
	}
	&:hover {
	  background-color: darken($color-regal-blue, 5);
	  @include transition-property(background-color);
	  @include transition-duration(250ms);
	}
  }
  .nav-cont {
	display: none;
  }
}
