.jumbotron {
  position: relative;
  padding: 50px 0;
  border: 1px solid $border-color;
  background-color: $color-wild-sand;
  &.jumbotron-blue {
    background-color: $blue-special;
    border: 0;
    padding: 0;
    color: #fff;
    @include box-shadow(0 -120px #fff inset);
    .the-title {
      color: #fff;
    }
    .container {
      position: relative;
      background-color: $blue;
      margin-top: 20px;
      top: -20px;
      .content {
        padding: 60px;
        .ul {
          padding-left: 20px;
        }
      }
    }
    .i-mark {
      border: 0;
      background-color: $blue-special;
      color: #fff;
      &:after {
        border-color: transparent transparent transparent #012848;
        border-width: 6px 0 0 4px;
        right: -4px;
      }
    }
  }
}



