.section-applications {
  padding-top: 100px;
	.the-title {
	  margin-bottom: 30px;
	}
  article {
	.the-subtitle, figure {
	  margin-bottom: 20px;
	}
	.the-content {
	  margin-bottom: 40px;
	}
  }
}
