.section-form {
  form {
	.form-control, .bootstrap-select .selectpicker, .bootstrap-select.open .selectpicker, .bootstrap-select .dropdown-menu {
	  border: 0;
	}
	h4 {
	  margin-bottom: 30px;
	}
	textarea {
	  height: 180px;
	}
  }
}
