.section {
  padding: 60px 0;
  &.section-features {
	article {
	  text-align: center;
	  padding: 30px 0;
	  .the-title {
		margin-bottom: 30px;
	  }
	  .the-content {
		@extend .center-block;
		max-width: 730px;
	  }
	  .link {
		text-transform: uppercase;
	  }
	}
  }
}
