.section-download {
  .the-subtitle {
	color: $gray;
	font-size: $font-size-large;
	line-height: 1.4;
  }
  .row-form {
	> div {
	  padding: 0 60px;
	}
  }
  form {
	h4, label {
	  color: $gray-dark;
	}
	h4 {
	  margin-bottom: 30px;
	}

  }
}
