.section-sensor {
	.box-sensor {
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		width: 100%;
		height: 800px;
		z-index: 10;
		.box-info {
			position: absolute;
			.overflow {
				overflow: hidden;
				width: 300px;
				max-height: 145px;
				border: 1px solid #FFF;
			}
			.cont {
				position: relative;
				background-color: #FFF;
				padding: 10px;
				z-index: 20;
				ul {
					@extend .list-unstyled;
					padding-left: 15px;
					li {
						position: relative;
						margin-bottom: 5px;
						&:before {
							content: '';
							position: absolute;
							top: 8px;
							left: -15px;
							display: block;
							width: 5px;
							height: 5px;
							background-color: $blue;
						}
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
			&:after {
				content: '';
				position: absolute;
				width: 100px;
				height: 1px;
				background-color: $border-color;
				z-index: 10;
			}
			&:hover {
				z-index: 40;
				.overflow {
					max-height: 100%;
					border-color: $border-color;
				}
			}
		}
		.box-info-top-left {
			top: 80px;
			right: 55%;
			&:after {
				bottom: -10px;
				right: 70px;
				@include transform(rotate(50deg));
			}
		}
		.box-info-top-right {
			top: 50px;
			left: 55%;
			&:after {
				bottom: -10px;
				@include transform(rotate(-50deg));
			}
		}
		.box-info-right-top {
			right: 0;
			top: 30%;
			&:after {
				top: 78px;
				left: -53px;
				@include transform(rotate(-10deg));
			}
		}
		.box-info-right-bottom {
			right: 0;
			top: 55%;
			&:after {
				top: 78px;
				left: -53px;
				@include transform(rotate(10deg));
			}
		}
		.box-info-left-top {
			left: 0;
			top: 30%;
			&:after {
				top: 78px;
				right: -53px;
				@include transform(rotate(10deg));
			}
		}
		.box-info-left-bottom {
			left: 0;
			top: 55%;
			&:after {
				top: 78px;
				right: -53px;
				@include transform(rotate(-10deg));
			}
		}
		.box-info-bottom {
			left: 50%;
			top: 80%;
			&:after {
				top: 0;
				left: 20px;
				@include transform(rotate(60deg));
			}
		}
	}
}
