.spinner {
  @extend .fa;
  @extend .fa-refresh;
  @extend .fa-spin;
}

.link-arrow-left {
  &:before {
	@extend .fa;
	content: '\f105';
	color: $orange-special;
	margin-right: 4px;
  }
}

.link-back {
  display: inline-block;
  margin-top: 20px;
  &:before {
	@extend .fa;
	content: '\f104';
	font-family: FontAwesome;
	color: $orange-special;
	margin-right: 4px;
  }
}

.alert {
  position: relative;
  padding-left: 60px;
  .fa {
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	font-size: $font-size-h2;
  }
}

.list-check {
  @extend .list-unstyled;
  li {
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
	&:last-child {
	  margin-bottom: 0;
	}
	&:before {
	  @extend .fa;
	  content: '\f058';
	  position: absolute;
	  top: 3px;
	  left: 0;
	}
  }
}

.line-sep {
  @extend .center-block;
  width: 340px;
  border-color: $border-color;
  position: relative;
  &:before, &:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	left: 50%;
  }
  &:before {
	border-width: 6px 6px 0 6px;
	border-color: $border-color transparent transparent transparent;
	margin-left: -3px;
  }
  &:after {
	border-width: 6px 6px 0 6px;
	border-color: #fff transparent transparent transparent;
	margin-left: -3px;
	top: -1px;
  }
}

.i-mark {
  position: absolute;
  width: 39px;
  height: 39px;
  line-height: 40px;
  background-color: #fff;
  text-align: center;
  color: $border-color;
  border: 1px solid $border-color;
  font-size: $font-size-h3;
  left: 50%;
  margin-left: -20px;
  top: -6px;
  &:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 0 4px;
	border-color: transparent transparent transparent $border-color;
  }
}
