<div xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<div class="col-sm-6 col-md-3 contact-box">
    <h4>{custom.region}</h4>
    <p>{custom.name}</p>
    <p><f:format.nl2br>{custom.address}</f:format.nl2br></p>
    <p><v:l extensionName="bourdon">general.tel</v:l>: <a href="tel:{custom.tel}">{custom.tel}</a><br/>
    <v:l extensionName="bourdon">general.fax</v:l>: {custom.fax}<br/>
    <v:l extensionName="bourdon">general.mail</v:l>: <a href="mailto:{custom.mail}">{custom.mail}</a></p>
</div>
</div>
