<div xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
<f:if condition="{custom.showIcon}">
    <f:then><div class="divider divider-icon"></div></f:then>
    <f:else><div class="divider"></div></f:else>
</f:if>
</div>
