<div xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<f:if condition="{files -> f:count()} > 0">
    <f:then>
        <div class="container-fluid header-teaser" style="background-image: url({f:uri.image(src:files.0.uid, treatIdAsReference:1, absolute:1)});">
    </f:then>
    <f:else>
        <div class="container-fluid header-teaser" style="background-image: url({f:uri.resource(extensionName:'bourdon',path:'Images/shutterstock_164419370.jpg', absolute:1)});">
    </f:else>
</f:if>
<f:if condition="{custom.showMenu}">
    <div class="container">
        <nav class="header-teaser-menu">
            <ul>
                <v:page.menu>
                    <f:for each="{menu}" as="subPage">
                        <f:if condition="{subPage.nav_title}">
                            <li><a class="header-teaser-menu-toggle"><span class="icon-rounded-big-2"></span>{f:if(condition:subPage.nav_title, then: subPage.nav_title, else: subPage.title)}</a>
                                <div class="layover-menu white">
                                    <div class="container">
                                        <div class="layover-menu-header">
                                            <span class="layover-menu-header-title-pre">{subPage.subtitle}</span>
                                            <span class="layover-menu-header-title">{f:if(condition:subPage.nav_title, then: subPage.nav_title, else: subPage.title)}</span>
                                            <a href="#" class="pull-right layover-menu-header-close">{v:l(extensionName:'bourdon', id:'general.close')}<span class="icon-cross"></span></a>
                                        </div>
                                        <div class="layover-menu-content">
                                            <ul class="row menu-list">
                                                <v:page.menu pageUid="{subPage.uid}">
                                                    <f:for each="{menu}" as="navEntry">
                                                        <li class="col-sm-6 col-md-4 layover-menu-entry">
                                                            <f:link.page class="text-center" pageUid="{navEntry.uid}">
                                                                <f:if condition="{navEntry.subtitle}">
                                                                    <span class="layover-menu-entry-desc">{navEntry.subtitle}</span>
                                                                </f:if>
                                                                {v:resource.record.fal(table:'pages', field:'mainMenuImage', uid:navEntry.uid) -> v:iterator.first() -> v:variable.set(name: 'navImage')}
                                                                <f:if condition="{navImage}">
                                                                    <f:image src="{navImage.id}" alt="{navImage.alternative}" maxWidth="350" maxHeight="200" />
                                                                </f:if>
                                                                <h4 class="layover-menu-entry-title">{f:if(condition:navEntry.nav_title, then: navEntry.nav_title, else: navEntry.title)}</h4>
                                                            </f:link.page>
                                                        </li>
                                                    </f:for>
                                                </v:page.menu>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </f:if>
                    </f:for>
                </v:page.menu>
            </ul>
        </nav>
    </div>
</f:if>
</div>
</div>
