<div xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<f:if condition="{custom.type} == 'icon'">
    <f:then>
        <a class="btn btn-block btn-lg btn-icon btn-{custom.color}" title="{custom.text}" {f:if(condition: custom.linkIsUrl, then: 'href="{v:uri.typolink(configuration:{parameter:custom.link})}"', else: custom.link)}><span class="icon-{custom.icon}"></span>{custom.text}</a>
    </f:then>
    <f:else>
        <f:if condition="{custom.type} == 'outline'">
            <f:then>
                <a class="btn btn-outline btn-{custom.color}" title="{custom.text}" {f:if(condition: custom.linkIsUrl, then: 'href="{v:uri.typolink(configuration:{parameter:custom.link})}"', else: custom.link)}>{custom.text}</a>
            </f:then>
            <f:else>
                <a class="btn btn-{custom.color}" title="{custom.text}" {f:if(condition: custom.linkIsUrl, then: 'href="{v:uri.typolink(configuration:{parameter:custom.link})}"', else: custom.link)}>{custom.text}</a>
            </f:else>
        </f:if>
    </f:else>
</f:if>
</div>

