<div xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
	<div class="image-teaser text-center">
		<f:if condition="{files -> f:count()} > 0">
			<f:link.page pageUid="{files.0.link}">
				<div class="image-teaser-img" style="background-image: url({f:uri.image(src:files.0.uid, treatIdAsReference:1)});"></div>
			</f:link.page>
		</f:if>
		<h4 class="image-teaser-title">
			<f:if condition="{files -> f:count()} > 0">
				<f:then>
					<f:link.page pageUid="{files.0.link}">{custom.teaserTitle}</f:link.page>
				</f:then>
				<f:else>
					{custom.teaserTitle}
				</f:else>
			</f:if>
		</h4>
		<p class="image-teaser-text">{custom.teaserText}</p>
	</div>
</div>
