<div xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
<div class="swiper-container" data-options="{slider.options}">
	<div class="swiper-wrapper">
		<f:for each="{files}" as="file">
			<div class="swiper-slide">
				<div class="slide-content">
					<div class="slide-content-img" style="background-image: url({f:uri.image(src:file.uid, treatIdAsReference:1)})"></div>
					<h3 class="slide-content-title">{file.properties.title}</h3>
					<a class="slide-content-link" title="{file.properties.title}" href="{image.link}">{slider.moreLink}</a>
				</div>
			</div>
		</f:for>
	</div>
</div>
</div>
