<f:layout name="Default" />


<f:section name="main">

<f:form class="form-inline" method="post">
	<div class="form-group">
		<label for="serialNumber"><f:translate key="tx_baumerserial_domain_model_shipment.serial_number" /></label>
		<f:form.textfield name="serialNumber" id="serialNumber" class="form-control" value="{requestedSerialNumber}" />
	</div>
	<button type="submit" class="btn btn-primary">
		<span class="fa fa-search"></span>
	</button>
</f:form>

<br />
<br />

<f:if condition="{f:count(subject: shipments)}">
	<f:then>
		<table class="table">
			<thead>
				<tr>
					<th><f:translate key="tx_baumerserial_domain_model_shipment.serial_number" /></th>
					<th><f:translate key="tx_baumerserial_domain_model_shipment.part_number" /></th>
					<th><f:translate key="tx_baumerserial_domain_model_shipment.commission_number" /></th>
					<th><f:translate key="tx_baumerserial_domain_model_shipment.invoice_date" /></th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{shipments}" as="shipment">
					<tr>
						<td>{shipment.serialNumber}</td>
						<td>{shipment.partNumber}</td>
						<td><f:link.action action="show" arguments="{shipment: shipment}">{shipment.commissionNumber}</f:link.action></td>
						<td>{shipment.invoiceDate -> f:format.date()}</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:then>
	<f:else>
		<f:if condition="{requestedSerialNumber}">
			<p class="alert alert-warning"><f:translate key='no_results' /></p>
		</f:if>
	</f:else>
</f:if>

</f:section>
