<f:layout name="Default" />

<f:section name="main">

<f:render partial="Shipment/Properties" arguments="{shipment:shipment}" />
<br />
<br />
<f:link.action class="link-arrow-right" action="search" arguments="{serialNumber: shipment.serialNumber}"><f:translate key='back' /></f:link.action>

</f:section>
