.customers {
  margin-top: 0;
}
.customers section, .customers .sidebar {
  padding: 60px 0;
}
.customers .sidebar {
  height: 100%;
  margin-right: 10px;
  border-right: 1px solid #efefef;
}
.customers .sidebar nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.customers .sidebar nav ul li {
  margin-bottom: 1px;
  position: relative;
}
.customers .sidebar nav ul li.active a {
  background-color: #efefef;
  border-color: #0061ae;
  color: #000;
}
.customers .sidebar nav ul li.active:before, .customers .sidebar nav ul li.active:after {
  content: '';
  position: absolute;
  display: block;
  left: -38px;
  width: 0;
  height: 0;
  border-style: solid;
}
.customers .sidebar nav ul li.active:before {
  top: 0;
  border-width: 0 29px 29px 0;
  border-color: transparent #efefef transparent transparent;
}
.customers .sidebar nav ul li.active:after {
  bottom: 0;
  border-width: 0 0 29px 29px;
  border-color: transparent transparent #efefef transparent;
}
.customers .sidebar nav ul li a {
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  height: 58px;
  line-height: 58px;
  white-space: nowrap;
  color: #6f6f6f;
  padding: 0 20px 0 10px;
  text-align: right;
  border-right: 4px solid transparent;
  margin-left: -10px;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.customers .sidebar nav ul li a .fa {
  margin-left: 5px;
}
.customers .sidebar nav ul li a:hover {
  color: #000;
  border-color: #0061ae;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.customers .sidebar nav ul li:last-child {
  margin-bottom: 0;
}
.customers .newsletter-message input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}
.customers .newsletter-message input[type=checkbox]:checked + label {
  background-color: #c3df6d;
  color: #556917;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.customers .newsletter-message input[type=checkbox]:checked + label:after {
  content: '\f00c';
  font-family: 'FontAwesome';
  line-height: 30px;
  text-align: center;
  font-size: 18px;
}
.customers .newsletter-message label {
  position: relative;
  display: block;
  padding: 20px 20px 20px 60px;
  background-color: #efefef;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.customers .newsletter-message label:before, .customers .newsletter-message label:after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -15px;
}
.customers .newsletter-message label:before {
  background-color: #fff;
}
.customers .box-top-actions {
  margin-bottom: 20px;
}
.customers .box {
  margin-bottom: 60px;
}
.customers .box .box-table, .customers .box .box-header {
  display: table;
}
.customers .box .box-table .cell-left, .customers .box .box-table .cell-right, .customers .box .box-table .cell-middle, .customers .box .box-header .cell-left, .customers .box .box-header .cell-right, .customers .box .box-header .cell-middle {
  display: table-cell;
  vertical-align: middle;
  padding: 12px 15px;
}
.customers .box .box-table .cell-left, .customers .box .box-header .cell-left {
  width: 100%;
  border: 1px solid #dadada;
  border-right: 0;
}
.customers .box .box-header {
  font-size: 18px;
  background-color: #fcfcfc;
}
.customers .box .box-header .cell-left {
  font-size: 18px;
  text-transform: uppercase;
}
.customers .box .box-header .cell-left a {
  display: inline-block;
  position: relative;
  color: #000;
  padding-left: 22px;
}
.customers .box .box-header .cell-left a .fa {
  position: absolute;
  top: 1px;
  left: 0;
}
.customers .box .box-cont {
  border: 1px solid #dadada;
  border-top: 0;
  padding: 20px;
}
.customers .box .box-cont .box-actions {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #dadada;
}
.customers .box .box-cont .box-actions:after {
  content: '';
  clear: both;
  display: block;
}
.customers .box .box-cont .box-actions .btn {
  float: right;
}
.customers .box .box-table {
  margin: 4px 0;
  background-color: #fff;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.customers .box .box-table .cell-left .title {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1.3;
}
.customers .box .box-table .cell-left .title small {
  font-size: 16px;
  color: #6f6f6f;
}
.customers .box .box-table .cell-left .subtitle {
  color: #6f6f6f;
  margin-bottom: 5px;
  font-size: 14px;
}
.customers .box .box-table:hover {
  background-color: #efefef;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.customers .address .box {
  margin-bottom: 30px;
}
.customers .address .box .box-header .btn.active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background-color: #98bd29;
  border-color: #98bd29;
  cursor: default;
}
.customers .newsletter .newsletter-message {
  margin-bottom: 40px;
}
.customers .newsletter .box-checkbox {
  margin-bottom: 40px;
}
.customers .newsletter .box-checkbox .title {
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
}
.customers .newsletter .box-checkbox .row > div .cont {
  padding: 0 5px;
}
.customers .newsletter .box-checkbox .col-middle {
  border: 1px solid #f3f3f3;
  border-top: 0;
  border-bottom: 0;
}
.customers .newsletter .box-checkbox .checkbox {
  padding: 4px 10px;
}
.customers .newsletter .box-checkbox .checkbox.checkbox-header {
  padding: 10px;
  background-color: #efefef;
}
