.downloads-page {
  padding-bottom: 40px;
}
.downloads-page .row-filter {
  margin-bottom: 30px;
}
.downloads-page .row-downloads article {
  position: relative;
  padding: 20px;
  border: 1px solid #dadada;
  margin-bottom: 30px;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.downloads-page .row-downloads article .mark {
  position: absolute;
  top: -5px;
  right: 10px;
  background-color: #d9534f;
  width: 42px;
  height: 42px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.downloads-page .row-downloads article .mark:after {
  content: '';
  position: absolute;
  right: -5px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 0 5px;
  border-color: transparent transparent transparent #a02622;
}
.downloads-page .row-downloads article .mark.fa-file-zip-o {
  background-color: #0061ae;
}
.downloads-page .row-downloads article .mark.fa-file-zip-o:after {
  border-color: transparent transparent transparent #002848;
}
.downloads-page .row-downloads article .cat {
  display: inline-block;
  color: #6f6f6f;
  margin-bottom: 5px;
  padding-right: 40px;
}
.downloads-page .row-downloads article h3 {
  font-size: 19px;
  margin-bottom: 5px;
  line-height: 1.2;
}
.downloads-page .row-downloads article h4 {
  margin-bottom: 20px;
  font-size: 14px;
}
.downloads-page .row-downloads article .buttons a {
  margin-right: 2px;
  margin-bottom: 4px;
}
.downloads-page .row-downloads article:hover {
  border-color: #a7a7a7;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
