.fair-page {
  padding-bottom: 40px;
}
.fair-page .row-filter {
  margin-bottom: 35px;
}
.fair-page .row-grid hr.sep {
  margin: 20px 60px 40px 60px;
}
.fair-page .row-grid .figure {
  display: block;
  width: 100%;
  height: 140px;
  background-color: #efefef;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-bottom: 15px;
}
.fair-page .row-grid h3, .fair-page .row-grid h4 {
  margin-bottom: 5px;
}
.fair-page .row-grid .date {
  margin-bottom: 10px;
  color: #6f6f6f;
}
.fair-page .row-grid address {
  margin-bottom: 20px;
}
.fair-page .row-grid .categories {
  margin-bottom: 5px;
}
.fair-page .row-grid .categories a {
  color: #444;
  display: inline-block;
}
.fair-page .row-grid .categories a:after {
  content: ', ';
}
.fair-page .row-grid .categories a:last-child:after {
  content: '';
}
