.banner {
  margin-bottom: 40px;
  position: relative;
}
.banner .bx-wrapper .bx-pager {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 80;
}
.banner .bx-wrapper .bx-pager .bx-pager-item {
  display: inline-block;
}
.banner .bx-wrapper .bx-pager .bx-pager-item a {
  display: inline-block;
  background-color: #efefef;
  border: 1px solid #dadada;
  padding: 2px 8px;
  margin-left: 4px;
}
.banner .bx-wrapper .bx-pager .bx-pager-item a.active {
  background-color: #00447a;
  border-color: #00447a;
  color: #fff;
}
.banner .banner-slider .item {
  position: relative;
  height: 330px;
}
.banner .banner-slider .item .image {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 330px;
  z-index: 1;
}
.banner .banner-slider .item .box {
  position: relative;
  width: 520px;
  padding: 20px 50px 0 0;
  z-index: 2;
}
.banner .banner-slider .item .box p {
  font-size: 16px;
  line-height: 1.6;
}
.banner .banner-slider .item .box .hgroup {
  margin-bottom: 20px;
}
.banner .banner-slider .item .box .hgroup h2 {
  font-size: 36px;
  margin-bottom: 5px;
  color: #0061ae;
}
.banner .banner-slider .item .box .hgroup h2 a {
  color: #0061ae;
}
.banner .banner-slider .item .box .hgroup h3 {
  margin: 0;
}
.banner .banner-slider .item .box .btn {
  margin-top: 20px;
}
.banner .banner-slider .item .img-tags {
  width: 166px;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 2;
}
.banner .banner-slider .item .animation-out h2, .banner .banner-slider .item .animation-out h3, .banner .banner-slider .item .animation-out p, .banner .banner-slider .item .animation-out .btn, .banner .banner-slider .item .animation-out .img-tags, .banner .banner-slider .item .animation-out .image {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.banner .banner-slider .item .animation-in h2, .banner .banner-slider .item .animation-in h3, .banner .banner-slider .item .animation-in p, .banner .banner-slider .item .animation-in .btn, .banner .banner-slider .item .animation-in .img-tags, .banner .banner-slider .item .animation-in .image {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.home .bar-elements {
  margin: 20px -5px 50px -5px;
}
.home .bar-elements > div {
  padding-left: 5px;
  padding-right: 5px;
}
.home .bar-elements a, .home .bar-elements button {
  text-align: left;
  position: relative;
  display: block;
  height: 90px;
  background-color: #efefef;
  border: 1px solid #dadada;
  padding: 22px 12px 22px 70px;
  color: #000;
}
.home .bar-elements a h2, .home .bar-elements button h2 {
  font-size: 20px;
  margin-bottom: 4px;
}
.home .bar-elements a h3, .home .bar-elements button h3 {
  font-size: 16px;
}
.home .bar-elements a .fa, .home .bar-elements button .fa {
  position: absolute;
  width: 54px;
  height: 44px;
  line-height: 42px;
  background-color: #dadada;
  color: #fff;
  left: 0;
  top: 50%;
  margin-top: -22px;
  font-size: 24px;
  text-align: center;
}
.home .bar-elements a.blue, .home .bar-elements button.blue {
  color: #fff;
  background-color: #00447a;
  border-color: #00447a;
}
.home .bar-elements a.blue .fa, .home .bar-elements button.blue .fa {
  background-color: #0061ae;
}
.home .section {
  margin-bottom: 50px;
}
.home .section .title, .home .section h2, .home .section h3, .home .section h4 {
  color: #0061ae;
  font-size: 21px;
  margin-bottom: 20px;
}
.home .section .row {
  margin: 0 -5px 0 -5px;
}
.home .section .row > div {
  padding-left: 5px;
  padding-right: 5px;
}
.home .section article figure {
  position: relative;
  margin-bottom: 12px;
}
.home .section article figure .fa {
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  width: 56px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  bottom: 20px;
  left: 0;
  font-size: 35px;
}
.home .section article figure .fa.bg-green {
  background-color: #98bd29;
}
.home .section article figure a {
  display: block;
}
.home .section article .hgroup {
  margin-bottom: 10px;
}
.home .section article .hgroup h3 {
  font-size: 21px;
  margin-bottom: 5px;
}
.home .section article .hgroup h5 {
  font-weight: bold;
}
.home .section article p {
  margin-bottom: 20px;
  line-height: 1.6;
}
.home .section .box-gray {
  margin-bottom: 5px;
  display: block;
  background-color: #efefef;
  border: 1px solid #dadada;
  padding: 15px;
  color: #706f6f;
}
.home .section .box-gray figure {
  margin-bottom: 10px;
}
.home .section .box-gray h4 {
  color: #00447a;
  margin-bottom: 5px;
}
.home .section .box-gray span {
  display: block;
}
