.job-list {
  padding-bottom: 40px;
}
.job-list .sep {
  margin-bottom: 40px;
}
.job-list .row-bottom {
  margin-bottom: 35px;
}
.job-list .row-bottom .item {
  background-color: #efefef;
  padding: 20px;
}
.job-list .row-bottom .item h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
}
.job-list .row-jobs article {
  position: relative;
  padding: 20px;
  border: 1px solid #dadada;
  margin-bottom: 30px;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.job-list .row-jobs article .mark {
  position: absolute;
  top: -5px;
  right: 10px;
  background-color: #0061ae;
  width: auto;
  height: 42px;
  padding: 0 10px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.job-list .row-jobs article .mark:after {
  content: '';
  position: absolute;
  right: -5px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 0 5px;
  border-color: transparent transparent transparent #002848;
}
.job-list .row-jobs article .cat {
  display: inline-block;
  color: #6f6f6f;
  margin-bottom: 5px;
  padding-right: 100px;
}
.job-list .row-jobs article h3 {
  font-size: 19px;
  margin-bottom: 5px;
  line-height: 1.2;
}
.job-list .row-jobs article h4 {
  margin-bottom: 0;
  font-size: 14px;
}
.job-list .row-jobs article:hover {
  border-color: #a7a7a7;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
