.job-page {
  padding-bottom: 40px;
}
.job-page .banner {
  margin: 0 -10px 30px -10px;
}
.job-page .header h2 {
  font-size: 18px;
}
.job-page blockquote {
  padding: 30px 20px;
  margin-bottom: 30px;
  background-color: #efefef;
}
.job-page blockquote .fa {
  color: #d5d5d5;
}
.job-page .subtitle, .job-page .box h5 {
  color: #0061ae;
}
.job-page .subtitle {
  margin-bottom: 20px;
}
.job-page .subtitle small {
  color: #0061ae;
  margin-left: 5px;
}
.job-page .box {
  margin-bottom: 25px;
}
.job-page .box ul {
  padding-left: 0;
  list-style: none;
}
.job-page .box ul li {
  position: relative;
  padding-left: 10px;
}
.job-page .box ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #0061ae;
  position: absolute;
  left: 0;
  top: 7px;
}
.job-page .box-info {
  padding: 20px;
  background-color: #efefef;
}
.job-page .buttons {
  float: right;
}
