.languages-page .switch-languages {
  font-size: 16px;
  margin-bottom: 30px;
}
.languages-page .switch-languages strong {
  margin-right: 5px;
}
.languages-page .switch-languages a:after {
  content: '|';
  color: #dadada;
  margin: 0 5px;
}
.languages-page .switch-languages a:last-child:after {
  display: none;
}
.languages-page .box-languages {
  margin-bottom: 40px;
}
.languages-page .box-languages h2 {
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dadada;
  font-size: 24px;
}
.languages-page .box-languages .row .col {
  float: left;
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
}
.languages-page .box-flag {
  position: relative;
  padding-bottom: 20px;
}
.languages-page .box-flag .box-flag-header {
  border: 1px solid #f3f3f3;
  padding: 0 10px;
}
.languages-page .box-flag .box-flag-header img, .languages-page .box-flag .box-flag-header h3 {
  display: inline;
  vertical-align: middle;
}
.languages-page .box-flag .box-flag-header h3 {
  font-size: 18px;
  margin-left: 5px;
}
.languages-page .box-flag .box-flag-content {
  display: none;
  position: absolute;
  width: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  margin-top: -1px;
  background-color: #fff;
}
.languages-page .box-flag .box-flag-content h5 {
  font-size: 14px;
}
.languages-page .box-flag .box-flag-content nav a {
  display: block;
  margin-bottom: 4px;
}
.languages-page .box-flag .box-flag-content nav a:before {
  content: '\f105';
  font-family: 'FontAwesome';
  color: #c85804;
  margin-right: 4px;
}
.languages-page .box-flag:hover .box-flag-header {
  border-color: #dadada;
}
.languages-page .box-flag:hover .box-flag-content {
  display: block;
  z-index: 100;
}
