.media-library {
  padding-bottom: 40px;
}
.media-library .header h2 {
  line-height: 1.6;
  margin-bottom: 20px;
}
.media-library .header h2 small {
  display: block;
  color: #6f6f6f;
}
.media-library .embed-responsive {
  margin-bottom: 35px;
}
.media-library hr {
  margin-bottom: 60px;
}
.media-library .video-list, .media-library .video-grid {
  margin-bottom: 40px;
}
.media-library .video-list .item-video .item-cont, .media-library .video-grid .item-video .item-cont {
  padding: 10px;
  background-color: #fff;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.media-library .video-list .item-video .item-cont:hover, .media-library .video-grid .item-video .item-cont:hover {
  background-color: #efefef;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.media-library .video-list .item-video figure, .media-library .video-grid .item-video figure {
  position: relative;
  margin-bottom: 20px;
}
.media-library .video-list .item-video figure .time, .media-library .video-grid .item-video figure .time {
  background-color: #222222;
  background-color: rgba(34, 34, 34, 0.85);
  color: #fff;
  padding: 2px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.media-library .video-list .item-video h3, .media-library .video-grid .item-video h3 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
}
.media-library .video-list .item-video h4, .media-library .video-grid .item-video h4 {
  color: #6f6f6f;
  font-size: 14px;
}
.media-library .video-list .item-video figure, .media-library .video-list .item-video .cont {
  float: left;
}
.media-library .video-list .item-video figure {
  width: 35%;
  padding-right: 15px;
  margin-bottom: 0;
}
.media-library .video-list .item-video figure .time {
  right: 20px;
}
.media-library .video-list .item-video .cont {
  width: 65%;
}
