.news-list {
  padding-bottom: 40px;
}
.news-list .row-filter {
  margin-bottom: 35px;
}
.news-list hr.sep {
  margin: 60px;
}
.news-list article figure {
  position: relative;
  margin-bottom: 15px;
}
.news-list article figure a {
  display: block;
}
.news-list article figure a .fa {
  width: 26px;
  height: 26px;
  line-height: 26px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 18px;
}
.news-list article figure a .fa:before {
  display: block;
  background-color: #efefef;
  background-color: rgba(239, 239, 239, 0.75);
  text-align: center;
  color: #00447a;
}
.news-list article h3 {
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 1.25;
}
.news-list article h4 {
  font-size: 14px;
  color: #6f6f6f;
  margin-bottom: 15px;
}
.news-list article .categories {
  margin-bottom: 5px;
}
.news-list article .categories a {
  color: #444;
  display: inline-block;
}
.news-list article .categories a:after {
  content: ', ';
}
.news-list article .categories a:last-child:after {
  content: '';
}
.news-list .article-list article {
  margin-bottom: 50px;
}
.news-list .article-list article figure {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 0;
}
.news-list .article-list article .cont {
  float: left;
  width: 620px;
}
.news-list .article-list article .cont h3 {
  font-size: 24px;
}
.news-list .article-list article hr {
  margin-bottom: 10px;
}
