.news-detail {
  padding-bottom: 40px;
}
.news-detail .categories {
  margin-bottom: 5px;
}
.news-detail .categories a {
  color: #444;
  font-size: 18px;
  display: inline-block;
}
.news-detail .categories a:after {
  content: ', ';
}
.news-detail .categories a:last-child:after {
  content: '';
}
.news-detail .header-image {
  float: left;
  width: 450px;
  margin-right: 25px;
  margin-bottom: 20px;
}
.news-detail .links {
  margin-top: 60px;
}
.news-detail .links h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}
.news-detail .links h4 .fa {
  margin-right: 5px;
}
.news-detail .links nav a {
  display: inline-block;
  padding: 8px 18px;
  border: 1px solid #dadada;
  color: #6f6f6f;
  background-color: #fff;
  margin-bottom: 10px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.news-detail .links nav a .fa {
  margin-right: 5px;
}
.news-detail .links nav a:hover {
  background-color: #efefef;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
