.product-site {
  padding-bottom: 40px;
}
.product-site .the-content {
  margin-bottom: 50px;
  margin-top: 35px;
}
.product-site .sidebar {
  padding-left: 20px;
}
.product-site .row .col-md-8 h2 {
  margin-top: 10px;
  margin-bottom: 35px;
  line-height: 1.2;
}
.product-site .panel-group {
  margin-top: 35px;
}

.widget {
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.widget .w-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dadada;
}
.widget .w-title .fa {
  color: #6f6f6f;
  margin-right: 5px;
}
.widget article {
  position: relative;
  line-height: 1.2;
  margin-bottom: 20px;
  font-size: 12px;
}
.widget article figure {
  position: relative;
  margin-bottom: 10px;
}
.widget article figure a {
  display: block;
}
.widget article figure .fa {
  width: 26px;
  height: 26px;
  line-height: 26px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 18px;
}
.widget article figure .fa:before {
  display: block;
  background-color: #efefef;
  background-color: rgba(239, 239, 239, 0.75);
  text-align: center;
  color: #00447a;
}
.widget article h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.widget article .text {
  margin: 0;
  color: #000 !important;
}
.widget article:last-child {
  margin-bottom: 0;
}
.widget.widget-videos figure {
  position: relative;
  margin-bottom: 20px;
}
.widget.widget-videos figure .time {
  background-color: #222222;
  background-color: rgba(34, 34, 34, 0.85);
  color: #fff;
  padding: 2px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.widget.widget-videos h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.widget.widget-videos h4 {
  font-size: 14px;
  font-weight: bold;
}

.panel-default .panel-heading {
  padding: 0;
  background: none;
}
.panel-default .panel-heading .panel-title {
  text-transform: uppercase;
}
.panel-default .panel-heading .panel-title a {
  color: #000;
  position: relative;
  display: block;
  padding: 15px;
}
.panel-default .panel-heading .panel-title a:after {
  content: '\f107';
  color: #999;
  font-family: 'FontAwesome';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 15px;
  top: 15px;
}
.panel-default .panel-heading .panel-title a.collapsed:after {
  content: '\f105';
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: #fff;
  padding: 30px;
}
.panel-default .row-article {
  margin-bottom: 30px;
}
.panel-default .row-article:last-child {
  margin-bottom: 0;
}
.panel-default .row-article article {
  position: relative;
  margin-bottom: 30px;
}
.panel-default .row-article article figure {
  margin-bottom: 20px;
}
.panel-default .row-article article figure a {
  display: block;
}
.panel-default .row-article article .cont {
  padding-bottom: 45px;
}
.panel-default .row-article article .cont ul {
  padding-left: 20px;
}
.panel-default .row-article article .buttons {
  padding: 0 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.panel-default .row-article article .buttons .btn {
  float: left;
  width: 50%;
  margin: 0;
}
