.search-page {
  padding-bottom: 40px;
}
.search-page .header {
  margin-top: 20px;
}
.search-page .row-filter {
  margin-bottom: 60px;
}
.search-page .box-search {
  position: relative;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #efefef;
}
.search-page .box-search:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 15px 0 15px;
  border-color: #efefef transparent transparent transparent;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: -15px;
}
.search-page .box-search .form-group {
  display: table;
  margin-bottom: 0;
}
.search-page .box-search .form-group .form-control, .search-page .box-search .form-group .btn {
  display: table-cell;
}
.search-page .box-search .form-group .form-control {
  width: 848px;
  height: 52px;
  border-right: 0;
  font-size: 18px;
  color: #000;
}
.search-page .box-search .form-group .btn {
  width: 52px;
  height: 52px;
  vertical-align: top;
  font-size: 18px;
}
.search-page .box-search .form-group .btn .fa {
  line-height: 2;
}
.search-page .nav-tabs > li > a {
  font-size: 18px;
  color: #4d4d4d;
  padding: 14px 24px;
  vertical-align: top;
}
.search-page .nav-tabs > li > a .fa {
  font-size: 18px;
  margin-right: 5px;
}
.search-page .nav-tabs > li > a .count {
  position: relative;
  background-color: #efefef;
  padding: 2px 8px;
  margin-left: 5px;
  top: -1px;
  color: #000;
  font-weight: normal;
  font-size: 12px;
}
.search-page .nav-tabs > li > a:focus, .search-page .nav-tabs > li > a:active, .search-page .nav-tabs > li > a:hover {
  color: #000;
}
.search-page .nav-tabs > li.active > a {
  color: #000;
}
.search-page .tab-pane {
  padding: 30px 20px;
  border: 1px solid #dadada;
  border-top: 0;
}
.search-page .row-list hr {
  margin: 20px 0;
}
.search-page .row-list article {
  padding: 20px;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.search-page .row-list article figure, .search-page .row-list article .col-right {
  float: left;
}
.search-page .row-list article figure {
  width: 120px;
  margin-right: 20px;
}
.search-page .row-list article figure img {
  margin-left: auto;
  margin-right: auto;
}
.search-page .row-list article .col-right {
  width: 820px;
}
.search-page .row-list article .excerpt {
  margin-bottom: 0;
}
.search-page .row-list article:last-child {
  margin-bottom: 0;
}
.search-page .row-list article:hover {
  background-color: #efefef;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.search-page .row-news article figure {
  position: relative;
  margin-bottom: 15px;
}
.search-page .row-news article figure a {
  display: block;
}
.search-page .row-news article figure a .fa {
  width: 26px;
  height: 26px;
  line-height: 26px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 18px;
}
.search-page .row-news article figure a .fa:before {
  display: block;
  background-color: #efefef;
  background-color: rgba(239, 239, 239, 0.75);
  text-align: center;
  color: #00447a;
}
.search-page .row-news article h3 {
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 1.25;
}
.search-page .row-news article h4 {
  font-size: 14px;
  color: #6f6f6f;
  margin-bottom: 15px;
}
.search-page .row-news article .categories {
  margin-bottom: 5px;
}
.search-page .row-news article .categories a {
  color: #444;
  display: inline-block;
}
.search-page .row-news article .categories a:after {
  content: ', ';
}
.search-page .row-news article .categories a:last-child:after {
  content: '';
}
.search-page .row-products article {
  position: relative;
  border: 1px solid #dadada;
  padding: 15px 15px 0 15px;
  margin-bottom: 20px;
}
.search-page .row-products article .btn {
  width: 100%;
}
.search-page .row-products article .buttons {
  height: 120px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
}
.search-page .row-products article .buttons .cont {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.search-page .row-products article .buttons .cont .button {
  width: 100%;
  display: block;
  border-top: 1px solid #dadada;
  background-color: #F4F4F4;
  padding: 12px 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.search-page .row-products article .buttons .cont .button .fa {
  margin-right: 4px;
  color: #c85804;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.search-page .row-products article .buttons .cont .button:hover {
  border-color: #00447a;
  background-color: #00447a;
  color: #FFF;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.search-page .row-products article .buttons .cont .button:hover .fa {
  color: #FFF;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.search-page .row-products article table {
  margin: 0;
  font-size: 14px;
}
.search-page .row-products article table td,
.search-page .row-products article table th {
  vertical-align: top;
  border-top: 1px solid #dadada;
  padding: 10px 0;
  width: 50%;
}
.search-page .row-products article table td {
  color: #6f6f6f;
}
.search-page .row-products article table tr:first-child td,
.search-page .row-products article table tr:first-child th {
  border: none;
}
