.clearfix:before, .row:before, .tab-content.konfigurator .tab-pane:before, .product-inquiry .buttons-top:before, .productLists .buttons-top:before, .product-inquiry .buttons-bottom:before, .productLists .buttons-bottom:before {
  content: ' ';
  display: table;
}
.clearfix:after, .row:after, .tab-content.konfigurator .tab-pane:after, .product-inquiry .buttons-top:after, .productLists .buttons-top:after, .product-inquiry .buttons-bottom:after, .productLists .buttons-bottom:after {
  content: ' ';
  display: table;
  clear: both;
}

.fa, .filters .f-header .close-filter:after, .filters .f-footer a:before, .filters .f-footer .clickable:before, .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .checkbox.checked .check:before, .selectorResultTable .download-datasheet:before,
.selectorResultTable .request-product:before, .selectorResultGrid .product-grid-container .download-datasheet:before,
.selectorResultGrid .product-grid-container .request-product:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-lg, .selectorResultTable .download-datasheet:before,
.selectorResultTable .request-product:before, .selectorResultGrid .product-grid-container .download-datasheet:before,
.selectorResultGrid .product-grid-container .request-product:before {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.row, .tab-content.konfigurator .tab-pane {
  margin-left: -10px;
  margin-right: -10px;
}

.deleteButtonConfirm .actions, .product-inquiry .buttons-bottom .actions, .productLists .buttons-bottom .actions, .product-inquiry .table tr td .actions, .productLists .table tr td .actions {
  position: relative;
}
.deleteButtonConfirm .actions .tooltip-actions, .product-inquiry .buttons-bottom .actions .tooltip-actions, .productLists .buttons-bottom .actions .tooltip-actions, .product-inquiry .table tr td .actions .tooltip-actions, .productLists .table tr td .actions .tooltip-actions {
  position: absolute;
  background-color: #fff;
  border: 1px solid #dadada;
  padding: 0 10px;
  height: 54px;
  width: 180px;
  line-height: 50px;
  top: 50%;
  right: 0;
  margin-top: -27px;
  -moz-box-shadow: 0 0 15px #AAA;
  -webkit-box-shadow: 0 0 15px #AAA;
  box-shadow: 0 0 15px #AAA;
}
.deleteButtonConfirm .actions .tooltip-actions .lab, .product-inquiry .buttons-bottom .actions .tooltip-actions .lab, .productLists .buttons-bottom .actions .tooltip-actions .lab, .product-inquiry .table tr td .actions .tooltip-actions .lab, .productLists .table tr td .actions .tooltip-actions .lab {
  position: relative;
  margin-right: 5px;
  color: #999;
  top: 2px;
}
.deleteButtonConfirm .actions .tooltip-actions .lab .fa, .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .fa, .productLists .buttons-bottom .actions .tooltip-actions .lab .fa, .product-inquiry .table tr td .actions .tooltip-actions .lab .fa, .productLists .table tr td .actions .tooltip-actions .lab .fa, .deleteButtonConfirm .actions .tooltip-actions .lab .filters .f-header .close-filter:after, .filters .f-header .deleteButtonConfirm .actions .tooltip-actions .lab .close-filter:after, .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .filters .f-header .close-filter:after, .filters .f-header .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .close-filter:after, .productLists .buttons-bottom .actions .tooltip-actions .lab .filters .f-header .close-filter:after, .filters .f-header .productLists .buttons-bottom .actions .tooltip-actions .lab .close-filter:after, .product-inquiry .table tr td .actions .tooltip-actions .lab .filters .f-header .close-filter:after, .filters .f-header .product-inquiry .table tr td .actions .tooltip-actions .lab .close-filter:after, .productLists .table tr td .actions .tooltip-actions .lab .filters .f-header .close-filter:after, .filters .f-header .productLists .table tr td .actions .tooltip-actions .lab .close-filter:after, .deleteButtonConfirm .actions .tooltip-actions .lab .filters .f-footer a:before, .filters .f-footer .deleteButtonConfirm .actions .tooltip-actions .lab a:before, .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .filters .f-footer a:before, .filters .f-footer .product-inquiry .buttons-bottom .actions .tooltip-actions .lab a:before, .productLists .buttons-bottom .actions .tooltip-actions .lab .filters .f-footer a:before, .filters .f-footer .productLists .buttons-bottom .actions .tooltip-actions .lab a:before, .product-inquiry .table tr td .actions .tooltip-actions .lab .filters .f-footer a:before, .filters .f-footer .product-inquiry .table tr td .actions .tooltip-actions .lab a:before, .productLists .table tr td .actions .tooltip-actions .lab .filters .f-footer a:before, .filters .f-footer .productLists .table tr td .actions .tooltip-actions .lab a:before, .deleteButtonConfirm .actions .tooltip-actions .lab .filters .f-footer .clickable:before, .filters .f-footer .deleteButtonConfirm .actions .tooltip-actions .lab .clickable:before, .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .filters .f-footer .clickable:before, .filters .f-footer .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .clickable:before, .productLists .buttons-bottom .actions .tooltip-actions .lab .filters .f-footer .clickable:before, .filters .f-footer .productLists .buttons-bottom .actions .tooltip-actions .lab .clickable:before, .product-inquiry .table tr td .actions .tooltip-actions .lab .filters .f-footer .clickable:before, .filters .f-footer .product-inquiry .table tr td .actions .tooltip-actions .lab .clickable:before, .productLists .table tr td .actions .tooltip-actions .lab .filters .f-footer .clickable:before, .filters .f-footer .productLists .table tr td .actions .tooltip-actions .lab .clickable:before, .deleteButtonConfirm .actions .tooltip-actions .lab .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .deleteButtonConfirm .actions .tooltip-actions .lab a:before, .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .product-inquiry .buttons-bottom .actions .tooltip-actions .lab a:before, .productLists .buttons-bottom .actions .tooltip-actions .lab .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .productLists .buttons-bottom .actions .tooltip-actions .lab a:before, .product-inquiry .table tr td .actions .tooltip-actions .lab .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .product-inquiry .table tr td .actions .tooltip-actions .lab a:before, .productLists .table tr td .actions .tooltip-actions .lab .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .productLists .table tr td .actions .tooltip-actions .lab a:before, .deleteButtonConfirm .actions .tooltip-actions .lab .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .deleteButtonConfirm .actions .tooltip-actions .lab .clickable:before, .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .clickable:before, .productLists .buttons-bottom .actions .tooltip-actions .lab .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .productLists .buttons-bottom .actions .tooltip-actions .lab .clickable:before, .product-inquiry .table tr td .actions .tooltip-actions .lab .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .product-inquiry .table tr td .actions .tooltip-actions .lab .clickable:before, .productLists .table tr td .actions .tooltip-actions .lab .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .productLists .table tr td .actions .tooltip-actions .lab .clickable:before, .deleteButtonConfirm .actions .tooltip-actions .lab .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .deleteButtonConfirm .actions .tooltip-actions .lab .check:before, .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .check:before, .productLists .buttons-bottom .actions .tooltip-actions .lab .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .productLists .buttons-bottom .actions .tooltip-actions .lab .check:before, .product-inquiry .table tr td .actions .tooltip-actions .lab .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .product-inquiry .table tr td .actions .tooltip-actions .lab .check:before, .productLists .table tr td .actions .tooltip-actions .lab .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .productLists .table tr td .actions .tooltip-actions .lab .check:before, .deleteButtonConfirm .actions .tooltip-actions .lab .selectorResultTable .download-datasheet:before, .selectorResultTable .deleteButtonConfirm .actions .tooltip-actions .lab .download-datasheet:before, .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .selectorResultTable .download-datasheet:before, .selectorResultTable .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .download-datasheet:before, .productLists .buttons-bottom .actions .tooltip-actions .lab .selectorResultTable .download-datasheet:before, .selectorResultTable .productLists .buttons-bottom .actions .tooltip-actions .lab .download-datasheet:before, .product-inquiry .table tr td .actions .tooltip-actions .lab .selectorResultTable .download-datasheet:before, .selectorResultTable .product-inquiry .table tr td .actions .tooltip-actions .lab .download-datasheet:before, .productLists .table tr td .actions .tooltip-actions .lab .selectorResultTable .download-datasheet:before, .selectorResultTable .productLists .table tr td .actions .tooltip-actions .lab .download-datasheet:before,
.deleteButtonConfirm .actions .tooltip-actions .lab .selectorResultTable .request-product:before,
.selectorResultTable .deleteButtonConfirm .actions .tooltip-actions .lab .request-product:before,
.product-inquiry .buttons-bottom .actions .tooltip-actions .lab .selectorResultTable .request-product:before,
.selectorResultTable .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .request-product:before,
.productLists .buttons-bottom .actions .tooltip-actions .lab .selectorResultTable .request-product:before,
.selectorResultTable .productLists .buttons-bottom .actions .tooltip-actions .lab .request-product:before,
.product-inquiry .table tr td .actions .tooltip-actions .lab .selectorResultTable .request-product:before,
.selectorResultTable .product-inquiry .table tr td .actions .tooltip-actions .lab .request-product:before,
.productLists .table tr td .actions .tooltip-actions .lab .selectorResultTable .request-product:before,
.selectorResultTable .productLists .table tr td .actions .tooltip-actions .lab .request-product:before, .deleteButtonConfirm .actions .tooltip-actions .lab .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .deleteButtonConfirm .actions .tooltip-actions .lab .download-datasheet:before, .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .download-datasheet:before, .productLists .buttons-bottom .actions .tooltip-actions .lab .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .productLists .buttons-bottom .actions .tooltip-actions .lab .download-datasheet:before, .product-inquiry .table tr td .actions .tooltip-actions .lab .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .product-inquiry .table tr td .actions .tooltip-actions .lab .download-datasheet:before, .productLists .table tr td .actions .tooltip-actions .lab .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .productLists .table tr td .actions .tooltip-actions .lab .download-datasheet:before,
.deleteButtonConfirm .actions .tooltip-actions .lab .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .deleteButtonConfirm .actions .tooltip-actions .lab .request-product:before,
.product-inquiry .buttons-bottom .actions .tooltip-actions .lab .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .product-inquiry .buttons-bottom .actions .tooltip-actions .lab .request-product:before,
.productLists .buttons-bottom .actions .tooltip-actions .lab .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .productLists .buttons-bottom .actions .tooltip-actions .lab .request-product:before,
.product-inquiry .table tr td .actions .tooltip-actions .lab .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .product-inquiry .table tr td .actions .tooltip-actions .lab .request-product:before,
.productLists .table tr td .actions .tooltip-actions .lab .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .productLists .table tr td .actions .tooltip-actions .lab .request-product:before {
  margin-right: 5px;
}
.deleteButtonConfirm .action, .product-inquiry .buttons-bottom .action, .productLists .buttons-bottom .action, .product-inquiry .table tr td .action, .productLists .table tr td .action {
  border: 0;
  background: none;
  font-size: 18px;
  color: #00447a;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.deleteButtonConfirm .action:hover, .product-inquiry .buttons-bottom .action:hover, .productLists .buttons-bottom .action:hover, .product-inquiry .table tr td .action:hover, .productLists .table tr td .action:hover {
  color: #c85804;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

.filters {
  margin-bottom: 40px;
}
.filters .f-header {
  margin-bottom: 25px;
}
.filters .f-header .close-filter {
  min-width: 180px;
  text-align: left;
}
.filters .f-header .close-filter:after {
  content: '\f105';
  color: #fff;
  float: right;
  position: relative;
  top: 2px;
}
.filters .f-header .close-filter.open:after {
  content: '\f107';
}
.filters .f-footer {
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 35px;
  text-align: right;
  border-bottom: 1px solid #dadada;
}
.filters .f-footer a:before, .filters .f-footer .clickable:before {
  font-family: 'FontAwesome';
  content: '\f105';
  color: #c85804;
}
.filters .filterCatWrapper {
  position: relative;
  min-height: 36px;
  margin-bottom: 15px;
}
.filters .filterCatWrapper.open .filterCatSelected {
  display: none;
}
.filters .filterCatWrapper.open .filterCatFlyout {
  display: block !important;
}
.filters .filterCatWrapper .filterCatSelected {
  border: 1px solid #dadada;
  border-top: 0;
  padding: 10px 20px;
  margin-bottom: 5px;
}
.filters .filterCatWrapper .filterCatSelected .checkbox {
  margin: 0;
}
.filters .filterCatWrapper .filterCatHeader {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #dadada;
  padding: 10px 15px;
}
.filters .filterCatWrapper .filterCatHeader a, .filters .filterCatWrapper .filterCatHeader .clickable {
  position: relative;
  display: block;
  color: #000;
}
.filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .clickable:before {
  font-size: 10px;
  content: '\f078';
  color: #B0B0B0;
  position: absolute;
  top: 5px;
  right: 0;
}
.filters .filterCatWrapper .filterCatHeader.selected a, .filters .filterCatWrapper .filterCatHeader.selected .clickable {
  color: #98bd29;
  font-weight: 400;
}
.filters .filterCatWrapper .filterCatFlyout {
  padding: 1px 10px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-top: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.filters .filterCatWrapper .filterCatFlyout .disabled {
  cursor: pointer;
}
.filters .filterCatWrapper .filterCatFlyout .disabled .lab {
  color: #999;
}
.filters .filterCatWrapper .filterCat.filterSet .filterCatHeader {
  color: #000;
}
.filters .filterCatWrapper .filterCat.filterSet .filterCatHeader a, .filters .filterCatWrapper .filterCat.filterSet .filterCatHeader .clickable {
  color: #000;
}
.filters .filterCatWrapper .filterCat:hover .filterCatHeader {
  position: relative;
  z-index: 20;
}
.filters .filterCatWrapper .filterCat:hover .filterCatFlyout {
  display: block !important;
}
.filters .filterCatWrapper .filterCat.open {
  position: relative;
}
.filters .filterCatWrapper .filterCat.open:hover {
  color: #0061ae;
  position: relative;
  width: 100%;
}
.filters .filterCatWrapper .filterCat.open .filterCatFlyout {
  position: relative;
}
.filters .filterCatWrapper .checkbox .checkbox-label {
  padding-right: 30px;
}
.filters .filterCatWrapper .checkbox .checkbox-label .filterCatCount {
  position: absolute;
  top: 0;
  right: 0;
}
.filters .filterCatWrapper .checkbox .check {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #dadada;
  background-color: #fff;
}
.filters .filterCatWrapper .checkbox input[type="checkbox"] {
  display: none;
}
.filters .filterCatWrapper .checkbox a, .filters .filterCatWrapper .checkbox .lab, .filters .filterCatWrapper .checkbox .clickable {
  padding-left: 20px;
  display: block;
  position: relative;
}
.filters .filterCatWrapper .checkbox .lab {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  cursor: not-allowed;
}
.filters .filterCatWrapper .checkbox .filter-value {
  display: inline-block;
}
.filters .filterCatWrapper .checkbox.disabled .check {
  color: #efefef;
}
.filters .filterCatWrapper .checkbox.checked .check {
  background-color: #f5f5f5;
}
.filters .filterCatWrapper .checkbox.checked .check:before {
  content: '\f00c';
  color: #999;
  font-size: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.productfilter {
  margin-bottom: 25px;
}
.productfilter > .row, .tab-content.konfigurator .productfilter > .tab-pane {
  margin: 0;
  margin-bottom: 5px;
}
.productfilter > .row > [class*="col-"], .tab-content.konfigurator .productfilter > .tab-pane > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.productfilter > div.col-md-3 {
  margin-bottom: 5px;
}
.productfilter .col-md-3:nth-child(4n+4) .filterCatWrapper {
  margin-right: 0;
}
.productfilter .close-product-filter {
  margin-top: 40px;
}

.pagination > .first > a, .pagination > .first > a:hover, .pagination > .first > a:focus, .pagination .last > a, .pagination .last > a:hover, .pagination .last > a:focus, .pagination .prev > a, .pagination .prev > a:hover, .pagination .prev > a:focus, .pagination .next > a, .pagination .next > a:hover, .pagination .next > a:focus {
  background-color: #00447a;
  color: #fff;
  font-size: 1.42857em;
}
.pagination .current {
  font-weight: bold;
}
.pagination > .points > a, .pagination > .points > a:hover, .pagination > .points > a:focus {
  cursor: default;
  color: #999;
  border: 0;
  background: none;
}

.selectedFilter i.fa, .selectedFilter .filters .f-header i.close-filter:after, .filters .f-header .selectedFilter i.close-filter:after, .selectedFilter .filters .f-footer i.clickable:before, .filters .f-footer .selectedFilter i.clickable:before, .selectedFilter .filters .filterCatWrapper .filterCatHeader i.clickable:before, .filters .filterCatWrapper .filterCatHeader .selectedFilter i.clickable:before, .selectedFilter .filters .filterCatWrapper .checkbox.checked i.check:before, .filters .filterCatWrapper .checkbox.checked .selectedFilter i.check:before, .selectedFilter .selectorResultTable i.download-datasheet:before, .selectorResultTable .selectedFilter i.download-datasheet:before,
.selectedFilter .selectorResultTable i.request-product:before,
.selectorResultTable .selectedFilter i.request-product:before, .selectedFilter .selectorResultGrid .product-grid-container i.download-datasheet:before, .selectorResultGrid .product-grid-container .selectedFilter i.download-datasheet:before,
.selectedFilter .selectorResultGrid .product-grid-container i.request-product:before,
.selectorResultGrid .product-grid-container .selectedFilter i.request-product:before {
  color: #c85804;
  font-size: 1.14286em;
  font-weight: lighter;
  cursor: pointer;
}

.selectedFilterProperty {
  color: #999;
  margin-right: 10px;
}
.selectedFilterProperty + .selectedFilterProperty {
  margin-left: -5px;
}

.selectorResult {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.selectorResultSorting {
  color: #999;
  margin-bottom: 5px;
}
.selectorResultSorting .glyphicon {
  color: #DADADA;
  margin-left: 3px;
}
.selectorResultSorting .glyphicon.active {
  color: #0061ae;
}
.selectorResultSorting .sort {
  overflow: hidden;
  *zoom: 1;
  float: right;
  border-left: 1px solid #dadada;
  padding: 0 0 0 15px;
  margin-left: 15px;
  line-height: 1em;
}
.selectorResultSorting .sort label {
  font-weight: normal;
  float: left;
  margin-right: 1em;
  margin-bottom: 0;
  margin-top: 7px;
}
.selectorResultSorting .sort .item {
  margin-right: 25px;
}
.selectorResultSorting .resultToggleView {
  cursor: pointer;
  border-left: none 0 transparent;
  padding: 0;
  margin-top: 4px;
}
.selectorResultSorting .selectWrapper {
  float: left;
}

.displayOnPage, .ascDesc {
  width: 60px;
}

.sorting {
  width: 100px;
}

.toolbar {
  margin-bottom: 10px;
}
.toolbar .productcount, .toolbar .toolbar-options {
  line-height: 29px;
}
.toolbar .productcount {
  font-weight: bolder;
  float: left;
}
.toolbar .toolbar-options {
  float: right;
  color: #6f6f6f;
}
.toolbar .toolbar-options > div {
  float: left;
  padding: 0 15px;
  border-left: solid 1px #dadada;
}
.toolbar .toolbar-options > div:first-child {
  border-left: none;
  padding-left: 0;
}
.toolbar .toolbar-options > div:last-child {
  padding-right: 0;
}
.toolbar .toolbar-options .view a {
  color: #6f6f6f;
}
.toolbar .toolbar-options .view .active {
  color: #0061ae;
}
.toolbar .toolbar-options .view .fa, .toolbar .toolbar-options .view .filters .f-header .close-filter:after, .filters .f-header .toolbar .toolbar-options .view .close-filter:after, .toolbar .toolbar-options .view .filters .f-footer a:before, .filters .f-footer .toolbar .toolbar-options .view a:before, .toolbar .toolbar-options .view .filters .f-footer .clickable:before, .filters .f-footer .toolbar .toolbar-options .view .clickable:before, .toolbar .toolbar-options .view .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .toolbar .toolbar-options .view a:before, .toolbar .toolbar-options .view .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .toolbar .toolbar-options .view .clickable:before, .toolbar .toolbar-options .view .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .toolbar .toolbar-options .view .check:before, .toolbar .toolbar-options .view .selectorResultTable .download-datasheet:before, .selectorResultTable .toolbar .toolbar-options .view .download-datasheet:before,
.toolbar .toolbar-options .view .selectorResultTable .request-product:before,
.selectorResultTable .toolbar .toolbar-options .view .request-product:before, .toolbar .toolbar-options .view .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .toolbar .toolbar-options .view .download-datasheet:before,
.toolbar .toolbar-options .view .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .toolbar .toolbar-options .view .request-product:before {
  font-size: 18px;
  margin-left: 4px;
}
.toolbar .toolbar-options .view .fa.fa-bars, .toolbar .toolbar-options .view .filters .f-header .fa-bars.close-filter:after, .filters .f-header .toolbar .toolbar-options .view .fa-bars.close-filter:after, .toolbar .toolbar-options .view .filters .f-footer a.fa-bars:before, .filters .f-footer .toolbar .toolbar-options .view a.fa-bars:before, .toolbar .toolbar-options .view .filters .f-footer .fa-bars.clickable:before, .filters .f-footer .toolbar .toolbar-options .view .fa-bars.clickable:before, .toolbar .toolbar-options .view .filters .filterCatWrapper .filterCatHeader a.fa-bars:before, .filters .filterCatWrapper .filterCatHeader .toolbar .toolbar-options .view a.fa-bars:before, .toolbar .toolbar-options .view .filters .filterCatWrapper .filterCatHeader .fa-bars.clickable:before, .filters .filterCatWrapper .filterCatHeader .toolbar .toolbar-options .view .fa-bars.clickable:before, .toolbar .toolbar-options .view .filters .filterCatWrapper .checkbox.checked .fa-bars.check:before, .filters .filterCatWrapper .checkbox.checked .toolbar .toolbar-options .view .fa-bars.check:before, .toolbar .toolbar-options .view .selectorResultTable .fa-bars.download-datasheet:before, .selectorResultTable .toolbar .toolbar-options .view .fa-bars.download-datasheet:before,
.toolbar .toolbar-options .view .selectorResultTable .fa-bars.request-product:before,
.selectorResultTable .toolbar .toolbar-options .view .fa-bars.request-product:before, .toolbar .toolbar-options .view .selectorResultGrid .product-grid-container .fa-bars.download-datasheet:before, .selectorResultGrid .product-grid-container .toolbar .toolbar-options .view .fa-bars.download-datasheet:before,
.toolbar .toolbar-options .view .selectorResultGrid .product-grid-container .fa-bars.request-product:before,
.selectorResultGrid .product-grid-container .toolbar .toolbar-options .view .fa-bars.request-product:before {
  font-size: 19px;
}
.toolbar .toolbar-options .bootstrap-select {
  float: right;
  margin-left: 10px;
}
.toolbar .toolbar-options .bootstrap-select > .selectpicker {
  padding: 4px 18px 4px 8px;
}
.toolbar .toolbar-options .bootstrap-select > .selectpicker .filter-option {
  font-weight: normal;
}
.toolbar .toolbar-options .bootstrap-select > .selectpicker .caret {
  right: 7px;
}

.selectorResultTable {
  font-size: 14px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}
.selectorResultTable th {
  text-align: center;
  font-weight: normal;
  background-color: #0061ae;
  border-right: 1px solid #4D91C6;
  padding: 0 15px;
  color: #fff;
  line-height: 55px;
  white-space: nowrap;
}
.selectorResultTable th:nth-last-child(1) {
  border-right: transparent none 0;
}
.selectorResultTable th .sortbox {
  display: block;
  position: relative;
  padding-right: 10px;
  color: #fff;
}
.selectorResultTable th .sortbox:after {
  font-family: "FontAwesome";
  position: absolute;
  right: -5px;
  top: 0;
  font-size: 12px;
  content: "\f0dc";
}
.selectorResultTable th .sortbox.desc:after {
  content: "\f0dd";
}
.selectorResultTable th .sortbox.asc:after {
  content: "\f0de";
}
.selectorResultTable td {
  text-align: center;
  border-top: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 10px;
  vertical-align: top;
}
.selectorResultTable td:first-child {
  border-left: 1px solid #dadada;
}
.selectorResultTable td.img {
  padding: 4px;
  border-left: 1px solid #dadada;
  width: 130px;
}
.selectorResultTable td.img h4 {
  padding: 1px 4px 5px 4px;
  margin: 0;
}
.selectorResultTable td.img h4 a {
  font-weight: bold;
  font-size: 0.77778em;
}
.selectorResultTable td.img figure {
  height: 83px;
  width: 122px;
  background-color: #fff;
}
.selectorResultTable td.img figure a {
  display: block;
}
.selectorResultTable td.img figure img {
  max-width: 100%;
  height: auto;
  display: block;
}
.selectorResultTable td.img .btn, .selectorResultTable td.img .modal-dialog .modal-body .share-response-detail a, .modal-dialog .modal-body .share-response-detail .selectorResultTable td.img a {
  padding: 4px 12px;
  width: 100%;
}
.selectorResultTable td ul, .selectorResultTable td ol {
  text-align: left;
  padding-left: 2em;
  margin-left: 0;
  list-style-type: square;
}
.selectorResultTable .download-datasheet,
.selectorResultTable .request-product {
  position: relative;
  display: block;
  padding: 20px 15px 20px 45px;
}
.selectorResultTable .download-datasheet:before,
.selectorResultTable .request-product:before {
  color: #c85804;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -12px;
  height: 24px;
  line-height: 24px;
}
.selectorResultTable .download-datasheet {
  border-bottom: 1px solid #dadada;
}
.selectorResultTable .download-datasheet:before {
  content: '\f019';
}
.selectorResultTable .request-product:before {
  content: '\f005';
}
.selectorResultTable tr:nth-child(even) {
  background-color: #F5F5F5;
}

.selectorResultGrid .product-grid-container {
  position: relative;
  border: 1px solid #dadada;
  padding: 15px 15px 0 15px;
  margin-bottom: 20px;
}
.selectorResultGrid .product-grid-container .btn, .selectorResultGrid .product-grid-container .modal-dialog .modal-body .share-response-detail a, .modal-dialog .modal-body .share-response-detail .selectorResultGrid .product-grid-container a {
  width: 100%;
}
.selectorResultGrid .product-grid-container .buttons {
  height: 95px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
}
.selectorResultGrid .product-grid-container .buttons .cont {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.selectorResultGrid .product-grid-container .buttons .cont .button {
  width: 100%;
  display: block;
  border-top: 1px solid #dadada;
  background-color: #F4F4F4;
  padding: 12px 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.selectorResultGrid .product-grid-container .buttons .cont .button .fa, .selectorResultGrid .product-grid-container .buttons .cont .button .filters .f-header .close-filter:after, .filters .f-header .selectorResultGrid .product-grid-container .buttons .cont .button .close-filter:after, .selectorResultGrid .product-grid-container .buttons .cont .button .filters .f-footer a:before, .filters .f-footer .selectorResultGrid .product-grid-container .buttons .cont .button a:before, .selectorResultGrid .product-grid-container .buttons .cont .button .filters .f-footer .clickable:before, .filters .f-footer .selectorResultGrid .product-grid-container .buttons .cont .button .clickable:before, .selectorResultGrid .product-grid-container .buttons .cont .button .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .selectorResultGrid .product-grid-container .buttons .cont .button a:before, .selectorResultGrid .product-grid-container .buttons .cont .button .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .selectorResultGrid .product-grid-container .buttons .cont .button .clickable:before, .selectorResultGrid .product-grid-container .buttons .cont .button .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .selectorResultGrid .product-grid-container .buttons .cont .button .check:before, .selectorResultGrid .product-grid-container .buttons .cont .button .download-datasheet:before,
.selectorResultGrid .product-grid-container .buttons .cont .button .request-product:before {
  margin-right: 4px;
  color: #c85804;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.selectorResultGrid .product-grid-container .buttons .cont .button:hover {
  border-color: #00447a;
  background-color: #00447a;
  color: #fff;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.selectorResultGrid .product-grid-container .buttons .cont .button:hover .fa, .selectorResultGrid .product-grid-container .buttons .cont .button:hover .filters .f-header .close-filter:after, .filters .f-header .selectorResultGrid .product-grid-container .buttons .cont .button:hover .close-filter:after, .selectorResultGrid .product-grid-container .buttons .cont .button:hover .filters .f-footer a:before, .filters .f-footer .selectorResultGrid .product-grid-container .buttons .cont .button:hover a:before, .selectorResultGrid .product-grid-container .buttons .cont .button:hover .filters .f-footer .clickable:before, .filters .f-footer .selectorResultGrid .product-grid-container .buttons .cont .button:hover .clickable:before, .selectorResultGrid .product-grid-container .buttons .cont .button:hover .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .selectorResultGrid .product-grid-container .buttons .cont .button:hover a:before, .selectorResultGrid .product-grid-container .buttons .cont .button:hover .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .selectorResultGrid .product-grid-container .buttons .cont .button:hover .clickable:before, .selectorResultGrid .product-grid-container .buttons .cont .button:hover .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .selectorResultGrid .product-grid-container .buttons .cont .button:hover .check:before, .selectorResultGrid .product-grid-container .buttons .cont .button:hover .download-datasheet:before,
.selectorResultGrid .product-grid-container .buttons .cont .button:hover .request-product:before {
  color: #fff;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.selectorResultGrid .product-grid-container table {
  margin: 0;
  font-size: 14px;
}
.selectorResultGrid .product-grid-container table td,
.selectorResultGrid .product-grid-container table th {
  vertical-align: top;
  border-top: 1px solid #dadada;
  padding: 10px 0;
  width: 50%;
}
.selectorResultGrid .product-grid-container table td {
  color: #6f6f6f;
}
.selectorResultGrid .product-grid-container table tr:first-child td,
.selectorResultGrid .product-grid-container table tr:first-child th {
  border: 0;
}
.selectorResultGrid .product-grid-container .download-datasheet,
.selectorResultGrid .product-grid-container .request-product {
  position: relative;
  display: block;
  padding: 20px 15px 20px 45px;
}
.selectorResultGrid .product-grid-container .download-datasheet:before,
.selectorResultGrid .product-grid-container .request-product:before {
  color: #c85804;
  width: 24px;
  text-align: center;
}
.selectorResultGrid .product-grid-container .download-datasheet {
  border-bottom: 1px solid #dadada;
}
.selectorResultGrid .product-grid-container .download-datasheet:before {
  content: '\f019';
}

.product-data, .product-request {
  min-height: 285px;
  box-sizing: border-box;
}

.product-data {
  width: 249px;
  float: left;
  border: 1px solid #dadada;
}
.product-data img {
  border-bottom: 1px solid #dadada;
}
.product-data .link-download .fa, .product-data .link-download .filters .f-header .close-filter:after, .filters .f-header .product-data .link-download .close-filter:after, .product-data .link-download .filters .f-footer a:before, .filters .f-footer .product-data .link-download a:before, .product-data .link-download .filters .f-footer .clickable:before, .filters .f-footer .product-data .link-download .clickable:before, .product-data .link-download .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .product-data .link-download a:before, .product-data .link-download .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .product-data .link-download .clickable:before, .product-data .link-download .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .product-data .link-download .check:before, .product-data .link-download .selectorResultTable .download-datasheet:before, .selectorResultTable .product-data .link-download .download-datasheet:before,
.product-data .link-download .selectorResultTable .request-product:before,
.selectorResultTable .product-data .link-download .request-product:before, .product-data .link-download .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .product-data .link-download .download-datasheet:before,
.product-data .link-download .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .product-data .link-download .request-product:before {
  margin-right: 5px;
  color: #c85804;
}

.product-datasheet {
  padding: 1em;
}
.product-datasheet strong {
  font-size: 16px;
}
.product-datasheet .download-datasheet .fa, .product-datasheet .download-datasheet .filters .f-header .close-filter:after, .filters .f-header .product-datasheet .download-datasheet .close-filter:after, .product-datasheet .download-datasheet .filters .f-footer a:before, .filters .f-footer .product-datasheet .download-datasheet a:before, .product-datasheet .download-datasheet .filters .f-footer .clickable:before, .filters .f-footer .product-datasheet .download-datasheet .clickable:before, .product-datasheet .download-datasheet .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .product-datasheet .download-datasheet a:before, .product-datasheet .download-datasheet .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .product-datasheet .download-datasheet .clickable:before, .product-datasheet .download-datasheet .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .product-datasheet .download-datasheet .check:before, .product-datasheet .download-datasheet .selectorResultTable .download-datasheet:before, .selectorResultTable .product-datasheet .download-datasheet .download-datasheet:before,
.product-datasheet .download-datasheet .selectorResultTable .request-product:before,
.selectorResultTable .product-datasheet .download-datasheet .request-product:before, .product-datasheet .download-datasheet .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .product-datasheet .download-datasheet .download-datasheet:before,
.product-datasheet .download-datasheet .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .product-datasheet .download-datasheet .request-product:before {
  color: #c85804;
  margin-right: 5px;
}

.product-main {
  float: left;
  width: 450px;
  padding: 0 20px;
}
.product-main .product-category {
  margin-bottom: 10px;
  font-size: 14px;
}
.product-main h3 {
  font-size: 1.42857em;
}
.product-main p {
  font-size: 16px;
}

.product-request {
  padding: 20px 15px 10px 15px;
  background-color: #f5f5f5;
  border: 1px solid #dadada;
}
.product-request .frame {
  padding: 7px 0 5px 0;
}
.product-request .btn, .product-request .modal-dialog .modal-body .share-response-detail a, .modal-dialog .modal-body .share-response-detail .product-request a {
  width: 100%;
  margin-bottom: 10px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.product-request .btn:hover, .product-request .modal-dialog .modal-body .share-response-detail a:hover, .modal-dialog .modal-body .share-response-detail .product-request a:hover, .product-request .btn:focus, .product-request .modal-dialog .modal-body .share-response-detail a:focus, .modal-dialog .modal-body .share-response-detail .product-request a:focus {
  border-color: #0061ae;
  background-color: #0061ae;
  color: #fff;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.product-request .btn .fa, .product-request .modal-dialog .modal-body .share-response-detail a .fa, .modal-dialog .modal-body .share-response-detail .product-request a .fa, .product-request .btn .filters .f-header .close-filter:after, .filters .f-header .product-request .btn .close-filter:after, .product-request .modal-dialog .modal-body .share-response-detail a .filters .f-header .close-filter:after, .filters .f-header .product-request .modal-dialog .modal-body .share-response-detail a .close-filter:after, .modal-dialog .modal-body .share-response-detail .product-request a .filters .f-header .close-filter:after, .filters .f-header .modal-dialog .modal-body .share-response-detail .product-request a .close-filter:after, .product-request .btn .filters .f-footer a:before, .filters .f-footer .product-request .btn a:before, .product-request .modal-dialog .modal-body .share-response-detail a .filters .f-footer a:before, .filters .f-footer .product-request .modal-dialog .modal-body .share-response-detail a a:before, .modal-dialog .modal-body .share-response-detail .product-request a .filters .f-footer a:before, .filters .f-footer .modal-dialog .modal-body .share-response-detail .product-request a a:before, .product-request .btn .filters .f-footer .clickable:before, .filters .f-footer .product-request .btn .clickable:before, .product-request .modal-dialog .modal-body .share-response-detail a .filters .f-footer .clickable:before, .filters .f-footer .product-request .modal-dialog .modal-body .share-response-detail a .clickable:before, .modal-dialog .modal-body .share-response-detail .product-request a .filters .f-footer .clickable:before, .filters .f-footer .modal-dialog .modal-body .share-response-detail .product-request a .clickable:before, .product-request .btn .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .product-request .btn a:before, .product-request .modal-dialog .modal-body .share-response-detail a .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .product-request .modal-dialog .modal-body .share-response-detail a a:before, .modal-dialog .modal-body .share-response-detail .product-request a .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .modal-dialog .modal-body .share-response-detail .product-request a a:before, .product-request .btn .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .product-request .btn .clickable:before, .product-request .modal-dialog .modal-body .share-response-detail a .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .product-request .modal-dialog .modal-body .share-response-detail a .clickable:before, .modal-dialog .modal-body .share-response-detail .product-request a .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .modal-dialog .modal-body .share-response-detail .product-request a .clickable:before, .product-request .btn .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .product-request .btn .check:before, .product-request .modal-dialog .modal-body .share-response-detail a .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .product-request .modal-dialog .modal-body .share-response-detail a .check:before, .modal-dialog .modal-body .share-response-detail .product-request a .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .modal-dialog .modal-body .share-response-detail .product-request a .check:before, .product-request .btn .selectorResultTable .download-datasheet:before, .selectorResultTable .product-request .btn .download-datasheet:before, .product-request .modal-dialog .modal-body .share-response-detail a .selectorResultTable .download-datasheet:before, .selectorResultTable .product-request .modal-dialog .modal-body .share-response-detail a .download-datasheet:before, .modal-dialog .modal-body .share-response-detail .product-request a .selectorResultTable .download-datasheet:before, .selectorResultTable .modal-dialog .modal-body .share-response-detail .product-request a .download-datasheet:before,
.product-request .btn .selectorResultTable .request-product:before,
.selectorResultTable .product-request .btn .request-product:before,
.product-request .modal-dialog .modal-body .share-response-detail a .selectorResultTable .request-product:before,
.selectorResultTable .product-request .modal-dialog .modal-body .share-response-detail a .request-product:before,
.modal-dialog .modal-body .share-response-detail .product-request a .selectorResultTable .request-product:before,
.selectorResultTable .modal-dialog .modal-body .share-response-detail .product-request a .request-product:before, .product-request .btn .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .product-request .btn .download-datasheet:before, .product-request .modal-dialog .modal-body .share-response-detail a .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .product-request .modal-dialog .modal-body .share-response-detail a .download-datasheet:before, .modal-dialog .modal-body .share-response-detail .product-request a .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .modal-dialog .modal-body .share-response-detail .product-request a .download-datasheet:before,
.product-request .btn .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .product-request .btn .request-product:before,
.product-request .modal-dialog .modal-body .share-response-detail a .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .product-request .modal-dialog .modal-body .share-response-detail a .request-product:before,
.modal-dialog .modal-body .share-response-detail .product-request a .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .modal-dialog .modal-body .share-response-detail .product-request a .request-product:before {
  margin-right: 8px;
}
.product-request h3.request {
  font-size: 18px;
}
.product-request .fa-phone {
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.product-request .btn-add-request {
  color: #fff;
  background-color: #c85804;
  border-color: #c85804;
}
.product-request .btn-request {
  background-color: #00447a;
  border-color: #00447a;
  color: #fff;
}

.headerWrap .text-dark + h2 {
  margin-bottom: 20px;
}

.nav-tabs.konfigurator {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.nav-tabs.konfigurator > li {
  width: 25%;
}
.nav-tabs.konfigurator > li > a {
  font-weight: normal;
  border: 1px solid #dadada;
  border-radius: 0;
  background-color: #f5f5f5;
  margin-right: 0;
  margin-left: -1px;
}
.nav-tabs.konfigurator > li.active a {
  color: #000;
  background-color: #fff;
  border-left-color: #dadada;
  border-bottom-color: #fff;
}
.nav-tabs.konfigurator > li.active a:focus {
  outline: 0;
}
.nav-tabs.konfigurator > li:first-child > a {
  margin-left: 0;
}

#configurator-data[data-columns]::before {
  content: '';
}

.tab-content.konfigurator .tab-pane {
  margin-left: 0;
  margin-right: 0;
  padding: 30px 10px;
}
.tab-content.konfigurator h5 {
  color: #00447a;
  margin-bottom: 10px;
}
.tab-content.konfigurator .item {
  padding-top: 20px;
}
.tab-content.konfigurator table tr td {
  padding-top: 12px;
}
.tab-content.konfigurator table tr td:last-child {
  padding-right: 10px;
}
.tab-content.konfigurator table tr td:first-child {
  padding-left: 10px;
}
.tab-content.konfigurator table tr td.data-value {
  color: #6f6f6f;
}
.tab-content.konfigurator table tr td.data-info {
  width: 15px;
}
.tab-content.konfigurator #configurator-download {
  color: #6f6f6f;
}
.tab-content.konfigurator #configurator-download h5 {
  margin-top: 25px;
}
.tab-content.konfigurator #configurator-download h5:first-child {
  margin-top: 0;
}
.tab-content.konfigurator #configurator-download table {
  font-size: 14px;
}
.tab-content.konfigurator #configurator-download table tr:hover {
  -moz-box-shadow: 1px 1px 5px 0px #555;
  -webkit-box-shadow: 1px 1px 5px 0px #555;
  box-shadow: 1px 1px 5px 0px #555;
}
.tab-content.konfigurator #configurator-download table td {
  max-width: 350px;
}
.tab-content.konfigurator td.download-first {
  color: #000;
}
.tab-content.konfigurator td.download-file-info {
  vertical-align: middle;
}
.tab-content.konfigurator td.download-lang {
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
}
.tab-content.konfigurator td.download-lang a + a:before {
  color: black;
  content: "| ";
  padding: 0 1px;
}

#configurator-supplies h4 {
  margin: 15px 0 5px 0;
}
#configurator-supplies h5 {
  margin-bottom: 5px;
}
#configurator-supplies table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}
#configurator-supplies table tr:nth-child(even) {
  background-color: #F5F5F5;
}
#configurator-supplies table td {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 0;
}
#configurator-supplies table td.supplies-details {
  width: 130px;
  padding: 4px;
  border-left: 1px solid #dadada;
  vertical-align: top;
}
#configurator-supplies table td.supplies-details .btn, #configurator-supplies table td.supplies-details .modal-dialog .modal-body .share-response-detail a, .modal-dialog .modal-body .share-response-detail #configurator-supplies table td.supplies-details a {
  padding: 4px 12px 4px;
  width: 100%;
}
#configurator-supplies table td.supplies-info {
  vertical-align: top;
  border-right: 1px solid #dadada;
}
#configurator-supplies table .info-wrapper {
  position: relative;
  padding: 15px 10px 15px 10px;
}
#configurator-supplies table .info-wrapper .link-request {
  margin-top: 10px;
}
#configurator-supplies table .info-wrapper .link-request a .fa, #configurator-supplies table .info-wrapper .link-request a .filters .f-header .close-filter:after, .filters .f-header #configurator-supplies table .info-wrapper .link-request a .close-filter:after, #configurator-supplies table .info-wrapper .link-request a .filters .f-footer a:before, .filters .f-footer #configurator-supplies table .info-wrapper .link-request a a:before, #configurator-supplies table .info-wrapper .link-request a .filters .f-footer .clickable:before, .filters .f-footer #configurator-supplies table .info-wrapper .link-request a .clickable:before, #configurator-supplies table .info-wrapper .link-request a .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader #configurator-supplies table .info-wrapper .link-request a a:before, #configurator-supplies table .info-wrapper .link-request a .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader #configurator-supplies table .info-wrapper .link-request a .clickable:before, #configurator-supplies table .info-wrapper .link-request a .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked #configurator-supplies table .info-wrapper .link-request a .check:before, #configurator-supplies table .info-wrapper .link-request a .selectorResultTable .download-datasheet:before, .selectorResultTable #configurator-supplies table .info-wrapper .link-request a .download-datasheet:before,
#configurator-supplies table .info-wrapper .link-request a .selectorResultTable .request-product:before,
.selectorResultTable #configurator-supplies table .info-wrapper .link-request a .request-product:before, #configurator-supplies table .info-wrapper .link-request a .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container #configurator-supplies table .info-wrapper .link-request a .download-datasheet:before,
#configurator-supplies table .info-wrapper .link-request a .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container #configurator-supplies table .info-wrapper .link-request a .request-product:before {
  color: #c85804;
}
#configurator-supplies .btn-request:hover, #configurator-supplies .btn-request:focus, #configurator-supplies .btn-request:active, #configurator-supplies .btn-request.active, #configurator-supplies .open > .btn-request.dropdown-toggle {
  background-color: transparent;
  color: #0061ae;
}
#configurator-supplies .btn-request {
  position: absolute;
  right: 10px;
  bottom: 5px;
  height: 20px;
  padding: 0;
  display: block;
  width: 100%;
  text-align: right;
  border: 0;
}

#configurator-type h5 {
  color: #000;
}

.btn-default.tip {
  padding: 1px 4px 0px 4px;
  font-size: 0.71429em;
}

.tab-pane {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  min-height: 300px;
}

.tooltip .tooltip-inner {
  text-align: left;
  min-width: 100px;
  max-width: none;
  white-space: pre-wrap;
}

.assigned {
  color: #008000;
}

.orange {
  color: #c85804;
}

.frame {
  text-align: center;
  background-color: #fff;
  border: 1px solid #dadada;
}

.request {
  padding-bottom: 3px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dadada;
}

.bottom-line {
  padding-bottom: 30px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 22px;
}

.product-inquiry .header, .productLists .header {
  margin-bottom: 30px;
}
.product-inquiry .remark h4, .productLists .remark h4 {
  font-weight: bold;
}
.product-inquiry .remark textarea, .productLists .remark textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #dadada;
}
.product-inquiry .buttons-top, .productLists .buttons-top {
  margin-bottom: 10px;
}
.product-inquiry .buttons-top .btn, .product-inquiry .buttons-top .modal-dialog .modal-body .share-response-detail a, .modal-dialog .modal-body .share-response-detail .product-inquiry .buttons-top a, .productLists .buttons-top .btn, .productLists .buttons-top .modal-dialog .modal-body .share-response-detail a, .modal-dialog .modal-body .share-response-detail .productLists .buttons-top a {
  float: right;
  margin-left: 5px;
}
.product-inquiry .buttons-bottom, .productLists .buttons-bottom {
  margin-top: 20px;
}
.product-inquiry .buttons-bottom .actions .tooltip-actions, .productLists .buttons-bottom .actions .tooltip-actions {
  margin-top: -10px;
  right: auto;
  left: 120px;
}
.product-inquiry .table tr td .checkbox label, .productLists .table tr td .checkbox label {
  top: -14px;
}
.product-inquiry .table tr td .form-amount, .productLists .table tr td .form-amount {
  text-align: center;
}
.product-inquiry .table tr td.first figure, .productLists .table tr td.first figure {
  float: left;
  width: 80px;
  margin-right: 20px;
}
.product-inquiry .table tr td.first .desc, .productLists .table tr td.first .desc {
  float: left;
  width: 330px;
}
.product-inquiry .table tr td.first .desc h4, .product-inquiry .table tr td.first .desc h5, .productLists .table tr td.first .desc h4, .productLists .table tr td.first .desc h5 {
  margin-top: 0;
}
.product-inquiry .table tr td.first .desc h5, .productLists .table tr td.first .desc h5 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}
.product-inquiry .table tr td.first .desc h4, .productLists .table tr td.first .desc h4 {
  font-size: 18px;
  color: #00447a;
  text-transform: uppercase;
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 320px;
  display: inline-block;
  text-overflow: ellipsis;
}
.product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config, .productLists .table tr td.first .desc .line-item-configuration .btn-show-config {
  font-size: 14px;
  padding: 4px 6px;
  font-weight: normal;
  background-color: #F0F0EE;
  color: #6f6f6f;
  cursor: pointer;
}
.product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .fa, .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .filters .f-header .close-filter:after, .filters .f-header .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .close-filter:after, .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .filters .f-footer a:before, .filters .f-footer .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config a:before, .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .filters .f-footer .clickable:before, .filters .f-footer .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .clickable:before, .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config a:before, .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .clickable:before, .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .check:before, .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .selectorResultTable .download-datasheet:before, .selectorResultTable .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .download-datasheet:before,
.product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .selectorResultTable .request-product:before,
.selectorResultTable .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .request-product:before, .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .download-datasheet:before,
.product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .product-inquiry .table tr td.first .desc .line-item-configuration .btn-show-config .request-product:before, .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .fa, .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .filters .f-header .close-filter:after, .filters .f-header .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .close-filter:after, .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .filters .f-footer a:before, .filters .f-footer .productLists .table tr td.first .desc .line-item-configuration .btn-show-config a:before, .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .filters .f-footer .clickable:before, .filters .f-footer .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .clickable:before, .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader .productLists .table tr td.first .desc .line-item-configuration .btn-show-config a:before, .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .clickable:before, .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .check:before, .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .selectorResultTable .download-datasheet:before, .selectorResultTable .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .download-datasheet:before,
.productLists .table tr td.first .desc .line-item-configuration .btn-show-config .selectorResultTable .request-product:before,
.selectorResultTable .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .request-product:before, .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .download-datasheet:before,
.productLists .table tr td.first .desc .line-item-configuration .btn-show-config .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container .productLists .table tr td.first .desc .line-item-configuration .btn-show-config .request-product:before {
  margin-left: 4px;
}
.product-inquiry .table tr td.first .desc table.attributes, .productLists .table tr td.first .desc table.attributes {
  margin-top: 10px;
  border: 1px solid #dadada;
  padding: 10px;
  background-color: #f5f5f5;
}
.product-inquiry .table tr td.first .desc table.attributes td, .productLists .table tr td.first .desc table.attributes td {
  border: none;
}
.product-inquiry .table tr td.first .desc table.attributes tr.even, .productLists .table tr td.first .desc table.attributes tr.even {
  background-color: white;
}
.product-inquiry .alert-filter, .productLists .alert-filter {
  margin: 30px 0;
}
.product-inquiry .alert-filter a, .productLists .alert-filter a {
  cursor: pointer;
  text-decoration: underline;
}
.product-inquiry .toolbar, .productLists .toolbar {
  background-color: #F2F2F2;
  padding: 20px;
  margin-bottom: 30px;
}
.product-inquiry .toolbar label, .productLists .toolbar label {
  display: block;
}
.product-inquiry .toolbar .bootstrap-select, .productLists .toolbar .bootstrap-select {
  width: 100% !important;
}
.product-inquiry .toolbar .checkbox, .productLists .toolbar .checkbox {
  background-color: #F9F9F9;
  padding: 10px;
  margin-bottom: 20px;
}

/*
 * Dialog style
 */
.modal-dialog .modal-body .share-response-detail h3 {
  margin-bottom: 8px;
}
.modal-dialog .modal-body .share-response-detail h5 span {
  color: #00447a;
}
.modal-dialog .modal-body .share-response-detail a {
  display: block;
  background-color: #E6E6E6;
  color: #444;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}
.modal-dialog .modal-body .share-response-detail a:hover {
  background-color: #d2d2d2;
  color: #212121;
}
.modal-dialog .save-modal .border-line {
  padding-right: 0;
  margin-right: 0;
  border: none;
}
.modal-dialog .save-modal .update-select {
  margin-top: 10px;
}
.modal-dialog .save-modal .update-select .btn.active, .modal-dialog .save-modal .update-select .modal-body .share-response-detail a.active, .modal-dialog .modal-body .share-response-detail .save-modal .update-select a.active {
  background: #c85804;
}

#pull-out {
  position: fixed;
  right: -720px;
  top: 0;
  z-index: 7777;
  height: 100%;
  width: 720px;
  max-width: 100%;
}
@media (max-width: 720px) {
  #pull-out {
    left: 100%;
  }
}
#pull-out .sidebarWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border-left: 1px solid #dadada;
  background-color: #fff;
}
#pull-out .sidebar-flap {
  position: absolute;
  top: 50%;
  margin-top: -80px;
  right: 100%;
  text-align: right;
}
#pull-out .sidebar-flap button {
  position: relative;
  display: inline-block;
  background-color: #00447a;
  border: 0;
  margin-bottom: 10px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-size: 16px;
  padding: 0 0 0 54px;
  white-space: nowrap;
  cursor: pointer;
}
#pull-out .sidebar-flap button .fa, #pull-out .sidebar-flap button .filters .f-header .close-filter:after, .filters .f-header #pull-out .sidebar-flap button .close-filter:after, #pull-out .sidebar-flap button .filters .f-footer a:before, .filters .f-footer #pull-out .sidebar-flap button a:before, #pull-out .sidebar-flap button .filters .f-footer .clickable:before, .filters .f-footer #pull-out .sidebar-flap button .clickable:before, #pull-out .sidebar-flap button .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader #pull-out .sidebar-flap button a:before, #pull-out .sidebar-flap button .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader #pull-out .sidebar-flap button .clickable:before, #pull-out .sidebar-flap button .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked #pull-out .sidebar-flap button .check:before, #pull-out .sidebar-flap button .selectorResultTable .download-datasheet:before, .selectorResultTable #pull-out .sidebar-flap button .download-datasheet:before,
#pull-out .sidebar-flap button .selectorResultTable .request-product:before,
.selectorResultTable #pull-out .sidebar-flap button .request-product:before, #pull-out .sidebar-flap button .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container #pull-out .sidebar-flap button .download-datasheet:before,
#pull-out .sidebar-flap button .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container #pull-out .sidebar-flap button .request-product:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 45px;
  background-color: #0061ae;
  font-size: 18px;
  text-align: center;
}
#pull-out .sidebar-flap button .fa:before, #pull-out .sidebar-flap button .filters .f-footer a:before, .filters .f-footer #pull-out .sidebar-flap button a:before, #pull-out .sidebar-flap button .filters .f-footer .clickable:before, .filters .f-footer #pull-out .sidebar-flap button .clickable:before, #pull-out .sidebar-flap button .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader #pull-out .sidebar-flap button a:before, #pull-out .sidebar-flap button .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader #pull-out .sidebar-flap button .clickable:before, #pull-out .sidebar-flap button .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked #pull-out .sidebar-flap button .check:before, #pull-out .sidebar-flap button .selectorResultTable .download-datasheet:before, .selectorResultTable #pull-out .sidebar-flap button .download-datasheet:before,
#pull-out .sidebar-flap button .selectorResultTable .request-product:before,
.selectorResultTable #pull-out .sidebar-flap button .request-product:before, #pull-out .sidebar-flap button .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container #pull-out .sidebar-flap button .download-datasheet:before,
#pull-out .sidebar-flap button .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container #pull-out .sidebar-flap button .request-product:before {
  line-height: 45px;
}
#pull-out .sidebar-flap button .text {
  display: none;
}
#pull-out .sidebar-flap button:hover {
  padding: 0 15px 0 70px;
}
#pull-out .sidebar-flap button:hover .text {
  display: block;
}
#pull-out .sidebar-flap button.active {
  background-color: #fff;
  border: 1px solid #dadada;
  border-right: 0;
  color: #00447a;
}
#pull-out .sidebar-flap button.active .fa, #pull-out .sidebar-flap button.active .filters .f-header .close-filter:after, .filters .f-header #pull-out .sidebar-flap button.active .close-filter:after, #pull-out .sidebar-flap button.active .filters .f-footer a:before, .filters .f-footer #pull-out .sidebar-flap button.active a:before, #pull-out .sidebar-flap button.active .filters .f-footer .clickable:before, .filters .f-footer #pull-out .sidebar-flap button.active .clickable:before, #pull-out .sidebar-flap button.active .filters .filterCatWrapper .filterCatHeader a:before, .filters .filterCatWrapper .filterCatHeader #pull-out .sidebar-flap button.active a:before, #pull-out .sidebar-flap button.active .filters .filterCatWrapper .filterCatHeader .clickable:before, .filters .filterCatWrapper .filterCatHeader #pull-out .sidebar-flap button.active .clickable:before, #pull-out .sidebar-flap button.active .filters .filterCatWrapper .checkbox.checked .check:before, .filters .filterCatWrapper .checkbox.checked #pull-out .sidebar-flap button.active .check:before, #pull-out .sidebar-flap button.active .selectorResultTable .download-datasheet:before, .selectorResultTable #pull-out .sidebar-flap button.active .download-datasheet:before,
#pull-out .sidebar-flap button.active .selectorResultTable .request-product:before,
.selectorResultTable #pull-out .sidebar-flap button.active .request-product:before, #pull-out .sidebar-flap button.active .selectorResultGrid .product-grid-container .download-datasheet:before, .selectorResultGrid .product-grid-container #pull-out .sidebar-flap button.active .download-datasheet:before,
#pull-out .sidebar-flap button.active .selectorResultGrid .product-grid-container .request-product:before,
.selectorResultGrid .product-grid-container #pull-out .sidebar-flap button.active .request-product:before {
  background: none;
}
#pull-out .sidebar-flap button:last-child {
  margin-bottom: 0;
}
#pull-out .sidebar-content > div {
  padding: 0 30px 30px;
}
#pull-out.out .sidebar-flap button {
  padding: 0 0 0 54px;
}
#pull-out.out .sidebar-flap button .text {
  display: none;
}

#toggleProductRequest {
  background-color: #c85804;
}

#panelPfinder, #panelProductRequest {
  display: none;
}

.sidebar-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.sidebar-content h1 {
  margin-bottom: 40px;
  margin-top: 60px;
  color: black;
}
.sidebar-content #panelPfinder .product-code {
  margin-top: 60px;
}
.sidebar-content h5 {
  color: #0061ae;
  margin-top: 25px;
  margin-bottom: 15px;
}
.sidebar-content label h5 {
  margin: 0 0 10px 0;
}
.sidebar-content a .fa-angle-right {
  color: #c85804;
}
.sidebar-content ul {
  padding: 0;
  list-style: none;
}

label i.mandatory:before {
  color: #c85804;
  font-style: normal;
  line-height: normal;
  content: "*";
  vertical-align: top;
  margin-left: 5px;
}

#panelContactForm {
  position: relative;
  margin-top: 20px;
}
#panelContactForm h1 {
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 60px;
}
#panelContactForm .buttons {
  margin-bottom: 30px;
}
#panelContactForm .form-horizontal label {
  line-height: 34px;
  margin: 0;
}
#panelContactForm .checkbox {
  margin-top: 7px;
  margin-bottom: 7px;
}
#panelContactForm .addressBox {
  margin: -20px -30px 0 0;
}
@media (max-width: 991px) {
  #panelContactForm .addressBox {
    margin: 0;
  }
}
#panelContactForm .addressBox .inner {
  width: 100%;
  background: #f5f5f5;
  border-top: 4px solid #dadada;
  padding: 25px;
}
