<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	<head>
		<title>Partials: FormFields</title>
	</head>
	<body>
		<f:section name="Main">
			<div class="form-group">
				<label for="title">
					<v:l>tx_baumer_domain_model_named_encoway_configuration.title</v:l>
				</label>
				<f:form.textfield class="form-control" property="title" />
			</div>
			<div class="form-group">
				<label for="productList">
					<v:l>tx_baumer_domain_model_named_encoway_configuration.project</v:l>
				</label>
				<f:form.select prependOptionLabel="{v:l(key:'namedconfiguration_edit.choose_project')}" prependOptionValue="0" options="{productLists}" optionLabelField="name" optionValueField="uid" class="form-control" property="productList" />
			</div>
		</f:section>
	</body>
</html>
