<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	  xmlns:b="http://typo3.org/ns/Baumer/Baumer/ViewHelpers">
<head>
	<title>Partials: CsView/ProductDetailsHead</title>
</head>
<body>
<f:section name="BlueHeader">
	<div class="configurator-blue-bar product-main">
		<div class="bottom-line clearfix">
			<div class="row">
				<div class="col-xs-12">
					<v:variable.set name="mainGroup" value="{v:variable.get(useRawKeys:1,name:'record.data.Class.Label')}" />
					<f:if condition="{mainGroup}">
						<p class="product-category">{mainGroup}</p>
					</f:if>
					<h1 class="product-label">{record.data.Label}</h1>
				</div>
			</div>
		</div>
	</div>
</f:section>
<f:section name="Productbox">

	<div data-ng-controller="ProductboxCtrl" data-ng-cloak>
		<v:variable.set name="productImage" value="{v:variable.get(useRawKeys:1, name: 'record.data.GroupedAttributes.{settings.configurator.attributes.productImage}.0.Links.0.FormattedValue')}" />
		<f:if condition="{productImage}">
			<img src="{productImage}" alt="{record.data.Label}" class="img-responsive" />
		</f:if>
		<div class="product-request">
			<div class="product-datasheet">
				<v:variable.set name="datasheets" value="{v:variable.get(useRawKeys:1, name: 'record.data.GroupedAttributes.{settings.configurator.attributes.datasheet}.0.Links')}" />
				<div class="datasheet-download" data-ng-if="datasheets.length > 0">
					<select data-ng-model="selectedDownload" data-ng-init="selectedDownload = '{v:l(id: 'configurator.downloadDatasheet', extensionName:'Bourdon')}'"  class="form-control form-country selectpicker">
						<option disabled selected><v:l key="configurator.downloadDatasheet" extensionName="Bourdon" /></option>
						<option data-ng-repeat="datasheet in datasheets" value="{{datasheet.url}}">{{datasheet.lang|uppercase}}</option>
					</select>
                    <span class="btn btn-primary btn-download disabled" data-ng-if="(selectedDownload == '{v:l(id: "configurator.downloadDatasheet")}' || selectedDownload == 'false')"><span class="fa fa-download"></span></span>
                    <a target="_blank" class="btn btn-primary btn-download" data-ng-if="!(selectedDownload == '{v:l(id: "configurator.downloadDatasheet")}') && selectedDownload != 'false'" data-ng-href="{{'/' + selectedDownload}}"><span class="fa fa-download"></span></a>

				</div>
			</div>
			<h3 class="request"><v:l key="configurator.pInquiry" /></h3>
			<f:if condition="{record.sapId}">
				<f:then>
					<p class="frame">
						<span data-ng-show="productCode.length > 0">{{productCode | productCodeWithoutOptions}}</span>
						<span data-spinner data-ng-hide="productCode.length > 0"></span>
					</p>
				</f:then>
				<f:else>
					<p class="frame">
						<span>{record.label}</span>
					</p>
				</f:else>
			</f:if>
			<div class="price-shipping">
                <div class="shipping" data-ng-show="shipping"><v:l arguments="{0:'shipping'}">configurator.deliveryTime</v:l></div>
                <div class="shipping" data-ng-hide="shipping"><v:l>configurator.deliveryTimeOnRequest</v:l></div>
                <div class="price" data-ng-show="productPrice">{{productPrice | currency: '€': 2}}</div>
				<div class="price" data-ng-hide="productPrice"><v:l>configurator.priceOnRequest</v:l></div>
			</div>

			<button data-ng-disabled="productCode.length == 0" class="btn btn-add-request" data-ng-click="addToPlWidget()">
				<span data-ng-hide="adding"><span class="fa fa-star"></span> <v:l key="ali.add" extensionName="Bourdon" /></span>
				<div data-spinner data-ng-hide="!(adding)"></div>
			</button>
			<button data-ng-disabled="loading" class="btn btn-request" data-ng-click="addToFormWidget()">
				<span data-ng-hide="addingInquiry"><span class="fa fa-envelope-o"></span> <v:l key="configurator.inquireNow" extensionName="Bourdon" /></span>
				<div data-spinner data-ng-hide="!(addingInquiry)"></div>
			</button>
			<f:comment>
			<button data-ng-disabled="loading" class="btn btn-request" data-ng-click="shareProduct()">
				<span data-ng-hide="sharing"><span class="fa fa-link"></span> <v:l key="configurator.shareCode" extensionName="Bourdon" /></span>
                <div data-spinner data-ng-hide="!(sharing)"></div>
			</button>
			</f:comment>
			<a data-ng-href="tel:{{contactAddressData.cleanPhone}}" data-ng-if="contactAddressData.phone" class="btn btn-info"><i class="fa fa-phone"></i> {{contactAddressData.phone}}</a>
            <f:render section="shareModal" />
		</div>
	</div>
</f:section>

<f:comment>========== Share the configuration with others ==========</f:comment>
<f:section name="shareModal">
    <div id="modal-link" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="copyLink"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i
                        class="fa fa-times"></i><span class="sr-only"><v:l extensionName="Bourdon">configurator.close</v:l></span>
                    </button>
                    <h4 class="modal-title">
                        <v:l extensionName="Bourdon">configurator.copy_link_dialog_title</v:l>
                    </h4>
                </div>
                <div class="modal-body">
                    <v:l extensionName="Bourdon">configurator.copy_link_dialog_text</v:l>
                    <pre>{{shareLink}}</pre>
                </div>
            </div>
        </div>
    </div>
</f:section>
