<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title>Current product list widget</title>
</head>
<body>
<f:section name="Main">
	<f:comment>

		Product List Widget

	</f:comment>
	<div class="my-products" id="pl-widget" data-ng-controller="ProductListCtrl as productListWidgetCtrl" ng-cloak>

		<f:comment>

			Product list widget

		</f:comment>
		<div id="pl-widget-cont">

			<f:comment>Empty product list widget</f:comment>

			<div data-ng-if="currentProductList.lineItems.length == 0 && !widgetInTransition">
				<div class="pl-mess alert alert-info">
					<h3><v:l key="pl_widget.sorry" /></h3>
					<p><v:l key="pl_widget.noItemsInList" /></p>
				</div>

				<div data-ng-if="feUser.productLists.length > 0">
					<span class="line-or"><span><v:l key="pl_widget.or"/></span></span>
					<form action="#" onsubmit="event.preventDefault(); return false;">
						<label for="loadExistingProductListSelect">
							<v:l key="pl_widget.selectPl"/>
						</label>
						<select class="form-control selectpicker" id="loadExistingProductListSelect"
								data-ng-model="userPl.selected"
								data-ng-options="userPl.code as userPl.name for userPl in feUser.productLists"
								data-ng-change="loadProductList(userPl.selected, true)">
							<option value=""><v:l key="pl_widget.pleaseSelect"/></option>
						</select>
					</form>
				</div>
			</div>

			<f:comment>

				Product list widget with at least one line item

			</f:comment>
			<div class="pl-product-list" data-ng-if="currentProductList.lineItems.length > 0 && !widgetInTransition">
				<div class="pl-widget-item" data-ng-repeat="lineItem in currentProductList.lineItems | limitTo:3">
					<div class="pl-widet-product">
						<figure>
							<img data-ng-src="{{imageUrl(lineItem)}}" width="83" height="56"/>
						</figure>
						<div class="desc">
							<h5 class="group">{{groupTitle(lineItem)}}</h5>
							<a data-ng-href="{{url(lineItem)}}" title="Open {{configuration(lineItem)}} in product finder">
								<h4 class="configuration">{{configuration(lineItem)}}</h4>
							</a>
						</div>
						<f:render partial="ProductList/DeleteButton" section="LineItem" arguments="{model: 'lineItem'}" />
					</div>
				</div>

				<f:link.page pageUid="{settings.productListPage}" class="more"
					additionalAttributes="{data-ng-if: 'currentProductList.lineItems.length > 4'}">
					&hellip; {{currentProductList.lineItems.length - 4}} <v:l key="pl_widget.more" />
				</f:link.page>

				<div class="clearfix"></div>
				<div class="col-md-6">
					<f:link.page pageUid="{settings.productListPage}" class="btn btn-orange btn-icon-left">
						<span class="fa fa-star"></span>&nbsp;<v:l key="pl_widget.goToMyProducts" />
					</f:link.page>
				</div>
			</div>


			<f:comment>

				Shown, when widget will/can change after Ajax request.

			</f:comment>
			<div class="text-center" data-ng-if="widgetInTransition">
				<spinner></spinner>
			</div>
		</div>


		<div class="row">
			<div class="form-group">
				<div class="col-sm-5" style="display: none;">
					<h5><v:l>general.overlay.my_products.product_search</v:l></h5>
					<input type="text" class="form-control" placeholder="search by product name">
					<button type="submit" class="pull-right btn btn-primary"><span class="icon-magnifier"></span></button>
				</div>
				<div class="col-sm-5">
					<h5><v:l>general.overlay.my_products.restore_list</v:l></h5>
					<form name="loadPl" data-ng-submit="false" class="form-horizontal">
						<input class="form-control" type="text"
							   placeholder="Product List Code"
							   name="plCode"
							   data-ng-model="code"
							   data-ng-disabled="isLoading"
							   required
							   data-ng-pattern="productListCodeRegex"
							   data-ng-model-options="{ updateOn: 'default blur' }" />
						<button class="btn btn-default pull-right" data-ng-click="loadProductListFromWidget()" data-ng-if="!isloading" data-ng-disabled="loadPl.plCode.$invalid"><span class="icon-hierarchy"></span>&nbsp; <v:l key="general.load" /></button>
						<p class="error" data-ng-show="loadPl.plCode.$invalid && loadPl.plCode.$dirty">
							<span class="fa fa-warning"></span> <v:l key="pl_widget.error.code" />
						</p>
						<span data-ng-show="isLoading" class="spinner"></span>
					</form>
				</div>
				<f:if condition="{settings.enableFeLogin}">
                    <!--<div class="col-sm-2 pull-right">
                        <h5><v:l>general.overlay.my_products.my_bourdon</v:l></h5>
                        <f:security.ifAuthenticated>
                            <f:then>
                                <v:page.link pageUid="{settings.memberAreaPageUid}" class="pull-right btn btn-primary btn-block myproducts-trigger"><span class="icon-lock-2"></span>&nbsp; <v:l>general.overlay.my_products.member_area</v:l></v:page.link>
                            </f:then>
                            <f:else>
                                <button class="pull-right btn btn-primary btn-block myproducts-trigger" title="My Products" data-open-target="#login-overlay"><span class="icon-lock-2"></span>&nbsp; <v:l>general.login</v:l></button>
                            </f:else>
                        </f:security.ifAuthenticated>
                    </div>-->
                </f:if>
			</div>
		</div>


	</div>
	<f:render partial="ProductList/ShareModal" section="Main"/>
	<f:render partial="AngularBootstrap/Modal" />
	<f:cObject typoscriptObjectPath="lib.tx_bourdon.productDataJson" />
</f:section>
