.banner {
	margin-bottom: 40px;
	position: relative;
	.bx-wrapper {
		.bx-pager {
			position: absolute;
			right: 20px;
			bottom: 20px;
			z-index: 80;
			.bx-pager-item {
				display: inline-block;
				a {
					display: inline-block;
					background-color: $gray-light;
					border: 1px solid $border-color;
					padding: 2px 8px;
					margin-left: 4px;
					&.active {
						background-color: $blue-special;
						border-color: $blue-special;
						color: $white;
					}
				}

			}
		}
	}
	.banner-slider {
		.item {
			position: relative;
			.image {
				position: absolute;
				top: 0;
				left: 0;
				background-repeat: no-repeat;
				background-position: top center;
				width: 100%;
				height: 330px;
				z-index: 1;
			}
			height: 330px;
			.box {
				position: relative;
				width: 520px;
				padding: 20px 50px 0 0;
				z-index: 2;
				p {
					font-size: $font-size-h5;
					line-height: 1.6;
				}
				.hgroup {
					margin-bottom: 20px;
					h2 {
						font-size: floor(($font-size-base * 2.6));
						margin-bottom: 5px;
						color: $color-endeavour;
						a {
							color: $color-endeavour;
						}
					}
					h3 {
						margin: 0;
					}
				}
				.btn {
					margin-top: 20px;
				}
			}
			.img-tags {
				width: 166px;
				position: absolute;
				right: 15px;
				top: 10px;
				z-index: 2;
			}
			.animation-out {
				h2, h3, p, .btn, .img-tags, .image {
					@include opacity(0);
				}
			}
			.animation-in {
				h2, h3, p, .btn, .img-tags, .image {
					@include opacity(1);
				}
			}
		}
	}
}
