.btn {
	font-weight: normal;
	@include transition-property(all);
	@include transition-duration(250ms);
	&:hover, &:focus {
		@include transition-property(all);
		@include transition-duration(250ms);
	}
}

.btn-warning {
	.fa {
		margin-left: 5px;
	}
}

.btn-lg {
	@include border-radius(0);
	font-size: ceil(($font-size-base * 1.2));
	padding: 15px 20px;
}

.btn-icon-left {
	.fa {
		margin-right: 8px;
	}
}

.btn-icon-right {
	.fa {
		margin-left: 8px;
	}
}

.btn-orange {
	background-color: $orange-special;
	border-color: $orange-special;
	color: $white;
	&:hover {
		background-color: darken($orange-special, 5);
	}
}

.btn-remove, .btn-danger {
	background-color: $brand-danger;
	border-color: $brand-danger;
	color: $white;
	&:hover {
		color: $white;
		background-color: darken($brand-danger, 5);
	}
}

.btn-gray {
	background-color: $color-alto;
	border-color: $color-alto;
	color: #7E7E7E;
	&:hover {
		color: #7E7E7E;
		background-color: darken($color-alto, 5);
	}
}

.btn-green {
	background-color: $color-atlantis;
	border-color: $color-atlantis;
	color: $white;
	&:hover {
		background-color: darken($color-atlantis, 5);
	}
}
