.product-data, .product-request {
	min-height: 285px;
	box-sizing: border-box;
}

.product-data {
	width: 249px;
	float: left;
	border: 1px solid $gray-border;
	img {
		border-bottom: 1px solid $gray-border;
	}
	.link-download {
		.fa {
			margin-right: 5px;
			color: $orange-special;
		}
	}
}

.product-datasheet {
	padding: 1em;
	strong {
		font-size: $font-size-medium;
	}
	.download-datasheet {
		.fa {
			color: $orange-special;
			margin-right: 5px;
		}
	}
}

.product-main {
	float: left;
	width: 450px;
	padding: 0 20px;
	.product-category {
		margin-bottom: 10px;
		font-size: $font-size-base;
	}
	h3 {
		font-size: pem(20px, 14px);
	}
	p {
		font-size: $font-size-medium;
	}
}

.product-request {
	padding: 20px 15px 10px 15px;
	background-color: $gray-back;
	border: 1px solid $gray-border;
	.frame {
		padding: 7px 0 5px 0;
	}
	.btn {
		width: 100%;
		margin-bottom: 10px;
		@include transition-property(all);
		@include transition-duration(250ms);
		&:hover, &:focus {
			border-color: $blue;
			background-color: $blue;
			color: $white;
			@include transition-property(all);
			@include transition-duration(250ms);
		}
		.fa {
			margin-right: 8px;
		}
	}
	h3.request {
		font-size: $font-size-large;
	}
	.fa-phone {
		@include transform(rotate(20deg));
	}
	.btn-add-request {
		color: $white;
		background-color: $brand-warning;
		border-color: $brand-warning;
	}
	.btn-request {
		background-color: $blue-special;
		border-color: $blue-special;
		color: $white;
	}
}

.headerWrap .text-dark + h2 {
	margin-bottom: 20px;
}

.nav-tabs.konfigurator {
	font-size: $font-size-medium;
	font-weight: bold;
	text-align: center;
	> li {
		width: 25%;
		> a {
			font-weight: normal;
			border: 1px solid $gray-border;
			border-radius: 0;
			background-color: $gray-back;
			margin-right: 0;
			margin-left: -1px;
		}
		&.active a {
			color: #000;
			background-color: $white;
			border-left-color: $gray-border;
			border-bottom-color: $white;
			&:focus {
				outline: 0;
			}
		}
		&:first-child > a {
			margin-left: 0;
		}
	}
}

#configurator-data[data-columns]::before {
	content: '';
}

.tab-content.konfigurator {
	.tab-pane {
		@extend .row;
		margin-left: 0;
		margin-right: 0;
		padding: 30px 10px;
	}
	h5 {
		color: $blue-special;
		margin-bottom: 10px;
	}
	.item {
		padding-top: 20px;
	}
	table tr {
		td {
			padding-top: 12px;
		}
		td:last-child {
			padding-right: 10px;
		}
		td:first-child {
			padding-left: 10px;
		}

		td.data-value {
			color: $gray-dark;
		}

		td.data-info {
			width: 15px;
		}
	}
	// Table Downloads
	#configurator-download {
		h5 {
			margin-top: 25px;
			&:first-child {
				margin-top: 0;
			}
		}
		color: $gray-dark;
		table {
			font-size: 14px;
			tr:hover {
				@include single-box-shadow(1px, 1px, 5px, 0px, #555);
			}
			td {
				max-width: 350px;
			}
		}
	}

	td.download-first {
		color: #000;
	}
	td.download-file-info {
		vertical-align: middle;
	}
	td.download-lang {
		text-align: right;
		white-space: nowrap;
		vertical-align: middle;
		a + a:before {
			color: black;
			content: "| ";
			padding: 0 1px;
		}
	}
	// Table Zubehör
}

#configurator-supplies {
	h4 {
		margin: 15px 0 5px 0;
	}
	h5 {
		margin-bottom: 5px;
	}
	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 5px;
		tr:nth-child(even) {
			background-color: #F5F5F5;
		}
		td {
			border-top: 1px solid $gray-border;
			border-bottom: 1px solid $gray-border;
			padding: 0;
		}
		td.supplies-details {
			width: 130px;
			padding: 4px;
			border-left: 1px solid $gray-border;
			vertical-align: top;
			.btn {
				padding: 4px 12px 4px;
				width: 100%;
			}
		}
		td.supplies-info {
			vertical-align: top;
			border-right: 1px solid $gray-border;
		}
		.info-wrapper {
			position: relative;
			padding: 15px 10px 15px 10px;
			.link-request {
				margin-top: 10px;
				a {
					.fa {
						color: $orange-special;
					}
				}
			}
		}
	}
	.btn-request:hover, .btn-request:focus, .btn-request:active, .btn-request.active, .open > .btn-request.dropdown-toggle {
		background-color: transparent;
		color: $link-hover-color;
	}
	.btn-request {
		position: absolute;
		right: 10px;
		bottom: 5px;
		height: 20px;
		padding: 0;
		display: block;
		width: 100%;
		text-align: right;
		border: 0;
	}
}

#configurator-type {
	h5 {
		color: #000;
	}
}

.btn-default.tip {
	padding: 1px 4px 0px 4px;
	font-size: pem(10px, 14px);
}

.tab-pane {
	border-left: 1px solid $gray-border;
	border-right: 1px solid $gray-border;
	border-bottom: 1px solid $gray-border;
	min-height: 300px;
}

.tooltip {
	.tooltip-inner {
		text-align: left;
		min-width: 100px;
		max-width: none;
		white-space: pre-wrap;
	}
}

.assigned {
	color: $green;
}

.orange {
	color: $orange-special;
}

.frame {
	text-align: center;
	background-color: $white;
	border: 1px solid $gray-border;
}

.request {
	padding-bottom: 3px;
	margin-bottom: 20px;
	border-bottom: 1px solid $gray-border;
}

.bottom-line {
	padding-bottom: 30px;
	border-bottom: 1px solid $gray-border;
	margin-bottom: 22px;
}
