.productfilter {
	> .row {
		margin: 0;
		margin-bottom: 5px;
		& > [class*="col-"] {
			padding-left: 0;
			padding-right: 0;
		}
	}
	margin-bottom: 25px;
	& > div.col-md-3 {
		margin-bottom: 5px;
	}

	.col-md-3:nth-child(4n+4) {
		.filterCatWrapper {
			margin-right: 0;
		}
	}
	.close-product-filter {
		margin-top: 40px;
	}
}

.pagination {
	> .first, .last, .prev, .next {
		> a, > a:hover, > a:focus {
			background-color: $blue-special;
			color: $white;
			font-size: pem(20px);
		}
	}
	.current {
		font-weight: bold;
	}
	> .points {
		> a, > a:hover, > a:focus {
			cursor: default;
			color: $gray;
			border: 0;
			background: none;
		}
	}
}

.selectedFilter {
	i.fa {
		color: $orange-special;
		font-size: pem(16px);
		font-weight: lighter;
		cursor: pointer;
	}
}

.selectedFilterProperty {
	color: $gray;
	margin-right: 10px;
	+ .selectedFilterProperty {
		margin-left: -5px;
	}
}

.selectorResult {
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.selectorResultSorting {
	color: $gray;
	margin-bottom: 5px;
	.glyphicon {
		color: #DADADA;
		margin-left: 3px;
		&.active {
			color: $blue;
		}
	}

	.sort {
		@include clearfix;
		float: right;
		border-left: 1px solid $gray-border;
		padding: 0 0 0 15px;
		margin-left: 15px;
		line-height: 1em;

		label {
			font-weight: normal;
			float: left;
			margin-right: 1em;
			margin-bottom: 0;
			margin-top: 7px;
		}

		.item {
			margin-right: 25px;
		}
	}

	.resultToggleView {
		cursor: pointer;
		border-left: none 0 transparent;
		padding: 0;
		margin-top: 4px;
	}
	.selectWrapper {
		float: left;
	}

}

// please calculate the max-width per JS
.displayOnPage, .ascDesc {
	width: 60px;
}

.sorting {
	width: 100px;
}

.toolbar {
	margin-bottom: 10px;
	.productcount, .toolbar-options {
		line-height: 29px;
	}
	.productcount {
		font-weight: bolder;
		float: left;
	}
	.toolbar-options {
		float: right;
		color: $gray-dark;
		& > div {
			float: left;
			padding: 0 15px;
			border-left: solid 1px $gray-border;
			&:first-child {
				border-left: none;
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
		.view {
			a {
				color: $gray-dark;
			}
			.active {
				color: $blue;
			}
			.fa {
				font-size: 18px;
				margin-left: 4px;
				&.fa-bars {
					font-size: 19px;
				}
			}
		}
		.bootstrap-select {
			float: right;
			margin-left: 10px;
			& > .selectpicker {
				padding: 4px 18px 4px 8px;

				.filter-option {
					font-weight: normal;
				}
				.caret {
					right: 7px;
				}
			}
		}
	}
}

.selectorResultTable {
	$border-color: $gray-border;
	font-size: 14px;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 5px;
	th {
		text-align: center;
		font-weight: normal;
		background-color: $blue;
		border-right: 1px solid #4D91C6;
		padding: 0 15px;
		color: $white;
		line-height: 55px;
		white-space: nowrap;
		&:nth-last-child(1) {
			border-right: transparent none 0;
		}
		.sortbox {
			display: block;
			position: relative;
			padding-right: 10px;
			color: $white;
			&:after {
				font-family: "FontAwesome";
				position: absolute;
				right: -5px;
				top: 0;
				font-size: 12px;
				content: "\f0dc";
			}
			&.desc:after {
				content: "\f0dd";
			}
			&.asc:after {
				content: "\f0de";
			}
		}
	}
	td {
		&:first-child {
			border-left: 1px solid $border-color;
		}
		text-align: center;
		border-top: 1px solid $border-color;
		border-right: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		padding: 10px;
		vertical-align: top;
		&.img {
			padding: 4px;
			border-left: 1px solid $border-color;
			width: 130px;
			h4 {
				padding: 1px 4px 5px 4px;
				margin: 0;
				a {
					font-weight: bold;
					font-size: pem(14px, 18px);
				}
			}
			figure {
				height: 83px;
				width: 122px;
				background-color: $white;
				a {
					display: block;
				}
				img {
					max-width: 100%;
					height: auto;
					display: block;
				}
			}
			.btn {
				padding: 4px 12px;
				width: 100%;
			}
		}
		ul, ol {
			text-align: left;
			padding-left: 2em;
			margin-left: 0;
			list-style-type: square;
		}
	}
	.download-datasheet,
	.request-product {
		position: relative;
		display: block;
		padding: 20px 15px 20px 45px;
		&:before {
			@extend .fa;
			@extend .fa-lg;
			color: $orange-special;
			position: absolute;
			left: 15px;
			top: 50%;
			margin-top: -12px;
			height: 24px;
			line-height: 24px;
		}
	}

	.download-datasheet {
		border-bottom: 1px solid $border-color;
		&:before {
			content: '\f019';
		}
	}
	.request-product {
		&:before {
			content: '\f005';
		}
	}
	tr:nth-child(even) {
		background-color: #F5F5F5;
	}
}

.selectorResultGrid {
	.product-grid-container {
		position: relative;
		border: 1px solid $gray-border;
		padding: 15px 15px 0 15px;
		margin-bottom: 20px;
		.btn {
			width: 100%;
		}
		.buttons {
			height: 95px;
			margin-left: -15px;
			margin-right: -15px;
			text-align: center;
			.cont {
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
				.button {
					width: 100%;
					display: block;
					border-top: 1px solid $border-color;
					background-color: #F4F4F4;
					padding: 12px 0;
					@include transition-property(all);
					@include transition-duration(250ms);
					.fa {
						margin-right: 4px;
						color: $orange-special;
						@include transition-property(color);
						@include transition-duration(250ms);
					}
					&:hover {
						border-color: $blue-special;
						background-color: $blue-special;
						color: $white;
						@include transition-property(all);
						@include transition-duration(250ms);
						.fa {
							color: $white;
							@include transition-property(color);
							@include transition-duration(250ms);
						}
					}
				}
			}
		}
		table {
			margin: 0;
			font-size: 14px;
			td,
			th {
				vertical-align: top;
				border-top: 1px solid $gray-border;
				padding: 10px 0;
				width: 50%;
			}
			td {
				color: $gray-dark;
			}
			tr:first-child {
				td,
				th {
					border: 0;
				}
			}
		}
		.download-datasheet,
		.request-product {
			position: relative;
			display: block;
			padding: 20px 15px 20px 45px;
			&:before {
				@extend .fa;
				@extend .fa-lg;
				color: $orange-special;
				width: 24px;
				text-align: center;
			}
		}
		.download-datasheet {
			border-bottom: 1px solid $border-color;
			&:before {
				content: '\f019';
			}
		}
	}
}
