.menu-global-site .breadcrumb {
	margin-bottom: 0px;
	margin-top: 18px;
	font-size: pem(16px);
	padding-right: 0;
	padding-left: 0;
}

.mainlandWrapper {
	@extend .clearfix;
}

.mainland {
	margin-bottom: 20px;
	margin-top: 20px;
	float: left;

	&.max2 {
		width: 384px;
		padding-right: 0;
	}
	&.max3 {
		width: 576px;
		padding-right: 0;
	}

	@extend .clearfix;

	.mainlandName {
		font-size: pem(22px);
		font-weight: $font-weight-bold;
		border-bottom: 1px solid $gray;
		padding-bottom: 10px;
		margin-bottom: 0;
	}
	&.max2 .mainlandName {
		width: 320px;
	}

	.countryWrapper {
		width: 192px;
		margin-top: 12px;
		min-height: 50px;
		//margin-left: -$padding-large-vertical + 1px;
		float: left;
		position: relative;
	}

	.country {
		position: absolute;
		top: 0;
		left: -$padding-large-vertical + 1px;
		min-width: 100px;
		height: 50px;
		z-index: 10;
		background-color: $white;
		border: 1px solid transparent;

		.headerWrapper {
			height: 50px;
			padding: 8px;
			@extend .clearfix;
		}
		.flag {
			float: left;
			border: 1px solid $gray;
			opacity: 0.5;
		}

		.countryName {
			margin-left: 60px;
			padding-right: 10px;
			white-space: nowrap;
			font-size: pem(16px);
			font-weight: $font-weight-bold;
			line-height: 32px;
			opacity: 0.5;

			&.twocols {
				line-height: 32px / 2;
			}
			&.long {
				white-space: normal;
				line-height: 16px;
			}
		}
		&.active {
			.flag, .countryName {
				opacity: 1;
			}
		}

		.langmenu {
			font-size: pem(14px);
			font-weight: $font-weight-bold;
			//position: relative;
			clear: both;
			display: none;
			padding: 3px 8px 8px 8px;

			ul {
				padding-left: 0;
				list-style: none;
				margin-bottom: 0;
				a {
					font-size: pem(16px, 14px);
					font-weight: $font-weight-normal;
					/*@include arrow-lazy(link, 4px, $orange-special, 50%, -5px);*/
					padding-left: 12px;
				}
			}
		}

		&:hover {
			height: auto;
			z-index: 100;
			border-color: $gray-light;
			//border-left-color: $gray-light;
			//border-right-color: $gray-light;
			@include single-box-shadow(2px, 2px, 10px, 0px, #555);

			.langmenu {
				display: block;
			}
			.headerWrapper {
				border-bottom: 1px solid $gray-light;
			}
			.flag, .countryName {
				opacity: 1;
			}
		}

	}
	/*
	.country {
		position: relative;
		width: 192px;
		height: 50px;
		border-top: 1px solid transparent;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		padding: 8px;
		//background-color: $gray-light;
		.flag {
			border: 1px solid $gray;
		}
				
		.countryOverlay {
			position: absolute;
			top: 0;
			border: 1px solid $gray-light;
			left: -999em;
			width: 192px;
			background-color: transparent;
			z-index: 100;
			padding: 6px 6px 6px 8px;
			overflow: hidden;
			@include single-box-shadow(#555,2px, 2px, 10px, 0px);
			
			.langmenu {
				margin-top: 42px;
				background-color: $white;
				width: 192px;
			}
			
		}
		
		&:hover {
			//border-top-color: $gray-light;
			//border-left-color: $gray-light;
			//border-right-color: $gray-light;
			
			.countryOverlay {
				left: 0;
			}
		}
		
	}
	*/
}

.contentWrapper {
	width: 192px;
	height: 65px;
}
