// most styles for Headers ect.
// hopefully i will get a styleguide soon
$base-font: $font-family-sans-serif;

html {
	min-height: 100%;
}

a {
	&:hover, &:focus {
		text-decoration: none;
	}
}
.clickable {
	color: $blue-special;
	cursor: pointer;
	&:hover, &:focus {
		color: lighten($blue-special, 10);
	}
}

// Headings
// -------------------------
.header {
  margin-bottom: 35px;
  h2 {
	margin-top: 10px;
	line-height: 1.2;
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;

	small,
	.small {
		font-weight: normal;
		line-height: 1;
		color: $headings-small-color;
	}
}

h1, .h1,
h2, .h2,
h3, .h3 {
	margin-top: 0;
	margin-bottom: ($line-height-computed / 2);

	small,
	.small {
		font-size: 65%;
	}
}

h4, .h4,
h5, .h5,
h6, .h6 {
	margin-top: 0;
	margin-bottom: ($line-height-computed / 2);

	small,
	.small {
		font-size: 75%;
	}
}

h1, .h1 {
	font-size: $font-size-h1;
}

h2, .h2 {
	font-size: $font-size-h2;
}

h3, .h3 {
	font-size: $font-size-h3;
}

h4, .h4 {
	font-size: $font-size-h4;
}

h5, .h5 {
	font-size: $font-size-h5;
}

h6, .h6 {
	font-size: $font-size-h6;
}

h1, .h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: pem(40px, 14px);
	color: $blue;
}

.headerWrap h1 + h2 {
	margin-bottom: 25px;
}

.text-dark {
	color: $gray-dark;
}

.warning {
	color: $orange-special;
}

.spinner {
	@extend .fa;
	@extend .fa-refresh;
	@extend .fa-spin;
}

.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba($white, 0.6);
	z-index: 10;
	.spinner {
		text-align: center;
		left: 50%;
		top: 50%;
		position: absolute;
		font-size: 50px;
		margin-left: -21px;
		margin-top: -25px;
	}
}

.link-arrow-left {
	&:before {
		@extend .fa;
		content: '\f105';
		color: $orange-special;
		margin-right: 4px;
	}
}

.link-back {
  display: inline-block;
  margin-top: 20px;
  &:before {
	@extend .fa;
	content: '\f104';
	font-family: FontAwesome;
	color: $orange-special;
	margin-right: 4px;
  }
}


table.table {
	$border-color: $gray-border;
	font-size: 14px;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	tr {
		&:nth-child(odd), &.odd {
			background-color: $color-wild-sand;
		}
		th {
			text-align: left;
			font-weight: normal;
			background-color: $blue;
			border-right: 1px solid #4D91C6;
			color: $white;
			white-space: nowrap;
			padding: 15px 10px;
			&:last-child, &.last {
				border-right: 0;
			}
		}
		td {
			text-align: left;
			border: 1px solid $border-color;
			border-left: 0;
			padding: 10px;
			vertical-align: top;
			&:first-child, &.first {
				border-left: 1px solid $border-color;
			}
		}
	}
	.center {
		text-align: center;
	}
	.left {
		text-align: left;
	}
	.right {
		text-align: right;
	}
	.middle {
		vertical-align: middle;
	}
	.top {
		vertical-align: top;
	}
	.bottom {
		vertical-align: bottom;
	}
}

.error {
	display: block;
	padding: 4px 0;
	color: $color-error;
	.fa {
		margin-right: 4px;
	}
}

.alert {
	&.alert-icon {
		position: relative;
		padding-left: 60px;
		.fa {
			position: absolute;
			left: 20px;
			top: 50%;
			margin-top: -15px;
			width: 30px;
			height: 30px;
			font-size: $font-size-h2;
		}
	}

}

.main {
	margin-top: 45px;
	min-height: 700px;

	// gotta remove padding, maybe just a temporary solution. waiting for more layouts.
	> .row.no-gutter > [class*="col-"] {
		padding-left: 0;
		padding-right: 0;
	}

}

.img-border-gray {
	border: 1px solid $color-alto;
}

.ce-media img {
	@extend .img-responsive;
}
