.modal-dialog {
	.modal-content {
		@include box-shadow(none);
		@include border-radius(0);
	}
	.modal-footer {
		.spinner {
			position: relative;
			top: 2px;
			margin: 0 4px;
			color: #999;
		}
	}
}

