.filters {
	margin-bottom: 40px;
	.f-header {
		margin-bottom: 25px;
		.close-filter {
			min-width: 180px;
			text-align: left;
			&:after {
				@extend .fa;
				content: '\f105';
				color: $white;
				float: right;
				position: relative;
				top: 2px;
			}
			&.open {
				&:after {
					content: '\f107';
				}
			}
		}
	}
	.f-footer {
		padding-bottom: 10px;
		margin-top: 10px;
		margin-bottom: 35px;
		text-align: right;
		border-bottom: 1px solid $border-color;
		a, .clickable {
			&:before {
				@extend .fa;
				font-family: 'FontAwesome';
				content: '\f105';
				color: $orange-special;
			}
		}
	}
	.filterCatWrapper {
		position: relative;
		min-height: 36px;
		margin-bottom: 15px;
		&.open {
			.filterCatSelected {
				display: none;
			}
			.filterCatFlyout {
				display: block !important;
			}
		}
		.filterCatSelected {
			border: 1px solid $border-color;
			border-top: 0;
			padding: 10px 20px;
			margin-bottom: 5px;
			.checkbox {
				margin: 0;
			}
		}
		.filterCatHeader {
			font-size: 14px;
			background-color: $white;
			border: 1px solid $border-color;
			padding: 10px 15px;
			a, .clickable {
				position: relative;
				display: block;
				color: #000;
				&:before {
					@extend .fa;
					font-size: 10px;
					content: '\f078';
					color: #B0B0B0;
					position: absolute;
					top: 5px;
					right: 0;
				}
			}
			&.selected {
				a, .clickable {
					color: $color-atlantis;
					font-weight: 400;
				}
			}
		}
		.filterCatFlyout {
			padding: 1px 10px;
			background-color: $white;
			border: 1px solid $border-color;
			border-top: 0;
			position: absolute;
			width: 100%;
			z-index: 10;
			.disabled {
				cursor: pointer;
				.lab {
					color: $gray;
				}
			}
		}
		.filterCat {
			&.filterSet {
				.filterCatHeader {
					color: #000;
					a, .clickable {
						color: #000;
					}
				}
			}
			&:hover {
				.filterCatHeader {
					position: relative;
					z-index: 20;
				}
				.filterCatFlyout {
					display: block !important;
				}
			}
			&.open {
				position: relative;
				&:hover {
					color: $blue;
					position: relative;
					width: 100%;
				}
				.filterCatFlyout {
					position: relative;
				}
			}
		}
		.checkbox {
			.checkbox-label {
				padding-right: 30px;
				.filterCatCount {
					position: absolute;
					top: 0;
					right: 0;
				}
			}
			.check {
				display: block;
				position: absolute;
				top: 2px;
				left: 0;
				width: 15px;
				height: 15px;
				border: 1px solid $border-color;
				background-color: $white;
			}
			input[type = "checkbox"] {
				display: none;
			}
			a, .lab, .clickable {
				padding-left: 20px;
				display: block;
				position: relative;
			}
			.lab {
				@include opacity(0.4);
				cursor: not-allowed;
			}
			.filter-value {
				display: inline-block;
			}
			&.disabled .check {
				color: $gray-light;
			}
			&.checked .check {
				background-color: $color-wild-sand;
				&:before {
					@extend .fa;
					content: '\f00c';
					color: $color-silver-chalice;
					font-size: 10px;
					position: absolute;
					top: 2px;
					left: 2px;
				}
			}
		}
	}
}
