#footer {
  position: relative;
  margin-top: 40px;
  .title {
    font-size: ceil(($font-size-base * 1.38));
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .social-buttons {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -21px;
    a {
      display: inline-block;
      width: 42px;
      height: 42px;
      line-height: 42px;
      background-color: $white;
      border: 1px solid $border-color;
      overflow: hidden;
      margin: 0 5px;
      color: $border-color;
      font-size: ceil(($font-size-base * 1.7));
      &:hover {
        color: darken($border-color, 10);
        border-color: darken($border-color, 10);
      }
    }
  }
  hr {
    margin: 70px 0;
    border-top: 1px solid $border-color;
  }
  .box-top {
    background-color: $color-wild-sand;
    border-top: 1px solid $border-color;
    padding: 70px 0 70px 0;
    color: $color-silver-chalice;
    .subscription {
      text-align: center;
      .title {
        margin: 0 35px;
        line-height: 34px;
        vertical-align: bottom;
        display: inline-block;
      }
      form {
        display: inline-block;
        .input-subscription {
          display: table;
          .form-control, button {
            display: table-cell;
            vertical-align: top;
          }
          .form-control {
            width: 320px;
            border-right: 0;
            @media (max-width: $screen-sm-max) {
              width: 280px;
            }
            @media (max-width: $screen-xs-max) {
              width: 220px;
            }
            @media (max-width: $screen-xs-min) {
              width: 180px;
            }
          }
        }
      }
    }
    .row-bottom {
      .the-content {
        line-height: 1.7;
        p {
          margin-bottom: 20px;
        }
        nav {
          ul {
            @extend .list-unstyled;
            li {
              a {
                @extend .link-arrow-left;
              }
            }
          }
        }
      }
      .col-left {
        .title {
          padding-right: 105px;
        }
      }
      .specials {
        position: relative;
        .bx-wrapper {
          margin: 0 !important;
          .bx-controls-direction {
            position: absolute;
            top: -44px;
            right: 40px;
            a {
              @extend .btn;
              @extend .btn-default;
              display: inline-block;
              &.bx-next {
                margin-left: 5px;
              }
            }
          }
        }
        article {
          width: 260px;
          margin-bottom: 20px;
          margin-right: 20px;
          figure {
            img {
              @extend .img-responsive;
            }
          }
          .cont {
            padding: 15px 10px;
            background-color: $white;
            border: 1px solid $border-color;
            margin-top: -1px;
            .hgroup {
              color: #000;
              h3, h4 {
                margin: 0;
              }
              sup {
                font-size: 42%;
                top: -1.5em;
                left: -5px;
              }
              margin-bottom: 20px;
            }
            nav {
              h5 {
                color: #000;
                margin-top: 0;
                font-weight: bold;
                margin-bottom: 5px;
              }
              ul {
                @extend .list-unstyled;
                li {
                  a {
                    @extend .link-arrow-left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .box-bottom {
    line-height: 62px;
    background-color: $gray;
    color: $white;
    a {
      color: $white;
    }
    .copyright {
      text-align: left;
      font-size: $font-size-base;
      font-weight: normal;
    }
    nav {
      text-align: right;
      font-size: 12px;
      ul {
        @extend .list-inline;
        margin-bottom: 0;
        margin-left: -8px;
        margin-right: -8px;
        li {
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      .copyright,
      nav,
      & {
        text-align: center;
      }
    }
  }
}
