* {
	outline: none !important;
}

select, input, textarea, .form-control, a, button, .bootstrap-select .btn, .btn {
	@include box-shadow(none);
	&:hover, &:focus, &:active, &:active:focus {
		outline: none !important;
		@include box-shadow(none);
	}
	font-weight: normal;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: auto;
}

label {
	font-weight: normal;
	margin-bottom: 0;
}

.form-title, .form-subtitle {
	font-weight: normal;
}

.form-title {
	font-size: 24px;
	margin-bottom: 15px;
}

.form-subtitle {
	font-size: 16px;
	color: $color-endeavour;
	margin-bottom: 30px;
}

form {
	h5 {
		font-weight: bold;
	}
}

.bootstrap-select,
.bootstrap-select.open {
	.selectpicker {
		color: $color-silver-chalice;
		background: $white;
		border: 1px solid $border-color;
		padding: 6px 24px 6px 12px;
	}

	.dropdown-menu {
		margin-top: -2px;
		border-top: none;
		padding-top: 0px;
		.bs-searchbox {
			padding: 12px;
			position: relative;
			.fa {
				position: absolute;
				right: 20px;
				top: 50%;
				font-size: 18px;
				margin-top: -9px;
			}
			input {
				padding: 10px;
				color: black;
				background: $color-wild-sand;
			}
		}
		> li {
			& > a {
				padding: 5px 12px;
				background: $white;
				color: $color-regal-blue;
				&:hover {
					background: $color-wild-sand;
				}
			}
			&.active > a {
				background-color: $color-alto;
			}
		}
	}
}

.bootstrap-select {
	.selectpicker {
		@include transition-duration(0ms);
		@include box-shadow(none);
	}
	&.open {
		.selectpicker {
			@include box-shadow(0px 0px 3px 1px rgba(0, 0, 0, .2));
		}
		.dropdown-menu {
			@include box-shadow(0px 3px 3px 1px rgba(0, 0, 0, .2));
		}
	}
}

.form-group {
	label {
		margin-bottom: 3px;
	}
	&.form-group-col-2 {
		label {
			display: block;
		}
		span {
			width: 4%;
			position: relative;
			top: 3px;
			vertical-align: bottom;
		}
		.form-control {
			display: inline-block;
		}
		.form-control-70 {
			width: 69%;
		}
		.form-control-30 {
			width: 28%;
		}
	}
}

.checkbox {
  &.checkbox-gray {
	padding: 10px;
	background-color: $gray-light;
  }
	input[type=checkbox] {
		visibility: hidden;
	}
	input[type=checkbox]:checked + label:after {
		@extend .fa;
		content: '\f00c';
		color: #999;
		font-size: 10px;
		position: absolute;
		top: 5px;
		left: 3px;
	}
	input[type=checkbox]:checked + label:before {
		background-color: #F5F5F5;
	}
	label {
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 2px;
			left: 0;
			width: 15px;
			height: 15px;
			border: 1px solid #DADADA;
			background-color: $white;
		}
	}
}

textarea {
	resize:vertical;
}

.form-actions {
	@extend .clearfix;
	margin-top: 25px;
}

.form-login {
	.border-line {
		padding-right: 25px;
		margin-right: 5px;
		border-right: 1px solid $border-color;
		> div {
			@extend .form-subtitle;
		}
	}
	> h3 {
		padding-right: 25px;
		@extend .form-title;
	}
}

.form-product-inquiry {
	.border-line {
		border-left: 1px solid $border-color;
		padding-left: 25px;
		margin-left: -26px;
		padding-bottom: 38px;
	}
	.row-top {
		padding-bottom: 40px;
	}
	.form-actions {
		margin-top: 0;
	}
}

.form-group.product-code {
	position: relative;
	&:before {
		@extend .fa;
		@extend .fa-keyboard-o;
		color: $color-silver-chalice;
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.required {
	color: $color-red-stage;
}

.line-or {
	width: 100%;
	height: 1px;
	display: block;
	text-align: center;
	border-bottom: 1px solid #DADADA;
	margin: 30px 0;
	span {
		padding: 0 8px;
		background-color: $white;
		color: #DADADA;
		position: relative;
		top: -12px;
		font-size: 14px;
		font-weight: 200;
	}
}
