#header {
  width: 100%;
  height: 160px;
  background: #004073;
  @include background-image(linear-gradient(45deg, #004073 0%, #0062A5 25%, #207CCA 50%, #0062A5 83%, #004073 100%));
  > .container {
    height: 100%;
    > .header-wrap {
      position: relative;
      height: 100%;
    }
  }
  .logo {
    float: left;
    display: block;
    height: 94px;
    width: 222px;
    background-color: #fff;
    padding: 28px 36px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .searchform {
    position: absolute;
    bottom: -18px;
    right: 9px;
    width: 280px;
    padding-right: 37px;
    z-index: 10;
    .form-control {
      height: 37px;
      width: 100%;
    }
    button {
      height: 37px;
      width: 37px;
      line-height: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .nav-meta {
    color: #fff;
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      text-align: right;
      a {
        display: inline-block;
        color: #fff;
        padding: 5px 15px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      + li {
        border-left: 1px solid rgba(218, 218, 218, 0.15);
      }
    }
    .fa {
      margin-right: 5px;
    }
    .lang {
      a {
        .flag-mini {
          display: inline-block;
          width: 18px;
          height: 12px;
          margin-right: 8px;
          vertical-align: text-bottom;
          position: relative;
          top: -3px;
        }
        &:after {
          content: '\f107';
          font-family: FontAwesome;
          margin-left: 5px;
        }
      }
    }
  }
  .mobile-toggles {
    width: 100%;
    height: 70px;
    padding: 12px 0;
    text-align: right;
    display: none;
    .btn {
      height: 45px;
      width: 45px;
      line-height: 30px;
      color: #fff;
    }
  }
  .my-products {
    position: absolute;
    bottom: 26px;
    right: 0;
    > a.pl-widget-tab {
      height: 40px;
      line-height: 26px;
      display: inline-block;
      white-space: nowrap;
      > * {
        display: inline-block;
      }
    }
  }
  .nav-main {
    display: block;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: -26px;
    border: 1px solid #efefef;
    margin-bottom: 0;
    list-style: none;
    font-size: 0;
    padding: 0;
    > li {
      display: inline-block;
      font-size: 17.5px;
      line-height: 50px;
      height: 52px;
      margin: -1px;
      border-right: 1px solid $gray-light;
      > a {
        display: block;
        text-align: center;
        padding: 0 24px;
        position: relative;
        text-transform: uppercase;
      }
      &:hover {
        background-color: $blue;
        border-color: $blue;
        > a {
          background-color: $blue;
          color: $white;
        }
      }
      &.first {
        border-left: 0;
      }
      &.last {
        border-right: 0;
      }
      &.active {
        ul {
          left: -1px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #header {
    height: auto;
    min-height: 70px;
    .logo {
      height: 70px;
      width: 150px;
      padding: 18px 15px;
    }
    .mobile-toggles {
      display: block;
    }
    .nav-main,
    .nav-meta,
    .searchform,
    .my-products,
    .nav-container,
    #pl-widget-cont {
      position: relative !important;
      top: auto !important;
      right: auto !important;
      bottom: auto !important;
      left: auto !important;
      width: 100%;
      display: none;
    }
    .my-products {
      margin-bottom: 10px;
      > .btn {
        width: 100%;
      }
      #pl-widget-cont {
        width: 100%;
        display: block !important;
        &:before {
          display: none !important;
        }
      }
    }
    .searchform {
      padding-top: 9px;
      padding-bottom: 9px;
      button {
        top: 9px;
      }
    }
    .nav-container {
      background-color: #fff;
      margin-bottom: 10px;
      .nav-main,
      .nav-meta {
        margin: 0;
        border: 0 none;
        display: block;
        li {
          width: 100%;
          border: 0 none;
          margin: 0;
          a {
            text-align: left;
          }
          + li {
            border-top: 1px solid #efefef;
          }
        }
      }
      .nav-meta {
        border-top: 1px solid #efefef;
        li {
          text-align: left;
          a {
            padding: 15px 24px;
            color: $blue;
            width: 100%;
            &:hover {
              background-color: $blue;
              color: $white;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .nav-main,
  .nav-meta,
  .searchform,
  .my-products,
  .nav-container {
    display: block !important;
  }
}
