#member-area {
	.col-md-3 {
		padding: 0;
	}
	.col-md-9 {
		padding-left: 40px;
	}
	#member-area-nav {
		.navbar-collapse {
			padding: 0;
			.navbar-nav {
				float: none;
				li {
					float: none;
					position: static;
					width: auto;
				}
			}
		}
	}
}

#member-area-single {
	.Tx-Formhandler, .tx-felogin-pi1, h1, h2, h3 {
		width: 600px;
		margin: 0 auto;
	}
	.Tx-Formhandler {
		margin-top: 20px;
	}
	.tx-felogin-pi1 {
		.bg-danger {
			padding: 3px 6px;
		}
		form {
			margin-top: 20px;
		}
	}
}
