// convert pixel to  ems
@function pem($pxval, $base: $font-size-base) {
	@return #{$pxval / $base}em;
}

// Delete Button confim overlay
.deleteButtonConfirm {
	.actions {
		position: relative;
		.tooltip-actions {
			position: absolute;
			background-color: $white;
			border: 1px solid $border-color;
			padding: 0 10px;
			height: 54px;
			width: 180px;
			line-height: 50px;
			top: 50%;
			right: 0;
			margin-top: -27px;
			@include box-shadow(0 0 15px #AAA);
			.lab {
				position: relative;
				margin-right: 5px;
				color: #999;
				top: 2px;
				.fa {
					margin-right: 5px;
				}
			}
		}
	}
	.action {
		border: 0;
		background: none;
		font-size: 18px;
		color: $blue-special;
		@include transition-property(color);
		@include transition-duration(250ms);
		&:hover {
			color: $orange-special;
			@include transition-property(color);
			@include transition-duration(250ms);
		}
	}
}
