.menu-arrow {
	&:before {
		content: '\f105';
		font-family: FontAwesome;
		color: $orange-special;
		font-size: 12px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		left: 15px;
		top: 11px;
	}
}

.nav-cont {
	position: absolute;
	@media (max-width: $screen-sm-max) {
		position: inherit;
	}
	width: 100%;
	top: 135px;
	z-index: 100;
	&.affix {
		position: fixed;
		top: 0;
		z-index: 7990;
	}
}

.nav-wrapper {
	background-color: $white;
	position: relative;
	@media (max-width: $screen-sm-max) {
		position: inherit;
	}
	border: 1px solid $border-color;
	border-top: 1px solid $white;
	height: 52px;
	ul {
		list-style: none outside none;
		margin-left: 0;
		padding-left: 0;
	}
}

.nav_main {
	position: relative;
	margin: 0 auto;
	@include clearfix();
	> li {
		float: left;
		line-height: 50px;
		height: 52px;
		border-left: 1px solid $gray-light;
		border-right: 1px solid $gray-light;
		margin-left: -1px;
		margin-top: -1px;
		> a {
			display: block;
			text-align: center;
			padding: 0 24px;
			font-size: $font-size-large;
			position: relative;
			text-transform: uppercase;
		}
		&:hover {
			background-color: $blue;
			border-color: $blue;
			> a {
				background-color: $blue;
				color: $white;
			}
		}
		&.first {
			border-left: 0;
		}
		&.last {
			border-right: 0;
		}
		&.hassub {
			> ul {
				position: absolute;
				width: 940px;
				left: -999em;
				background-color: $white;
				z-index: 7799;
			}
			.subnav {
				line-height: $line-height-base;
				border: 1px solid $border-color;
				margin-top: 5px;
				&:before {
					content: '';
					position: absolute;
					display: block;
					height: 6px;
					top: -6px;
					left: -1px;
					width: 940px;
					background-color: $blue;
				}
				li {
					a {
						font-size: 16px;
						display: block;
						padding: 8px 20px 8px 25px;
						position: relative;
					}
				}
				.item-mil {
					margin-bottom: 0 !important;
					figure {
						a {
							padding: 0;
						}
					}
					a.title {
						@extend .menu-arrow;
						background-color: $color-wild-sand;
					}
					p {
						padding: 15px;
						color: #444;
					}
				}
			}
			&:hover, &.active {
				background-color: $blue;
				border-color: $blue;
				> a {
					background-color: $blue;
					color: $white;
					&:before {
						top: 100%;
						right: auto;
						margin-right: auto;
						border-bottom: 0 none transparent;
						border-left-color: transparent;
					}
				}
			}
			&.sub-col-1 {
				position: relative;
				.subnav {
					width: 250px;
					&:before {
						width: 250px;
					}
					li {
						a {
							@extend .menu-arrow;
						}
						&.odd {
							> a {
								background-color: $color-wild-sand;
							}
						}
						ul {
							margin-left: 12px;
							li {
								a {
									padding: 4px 20px 4px 30px;
									font-size: $font-size-base;
									&:before {
										top: 6px;
									}
								}
								&.first {
									padding-top: 0;
								}
								&.last {
									padding-bottom: 18px;
								}
							}
						}
					}
				}
				&.active, &.sfhover {
					ul {
						left: -1px;
					}
				}
			}
			&.sub-col-4, &.sub-articles {
				.row {
					margin-left: -1px;
					margin-right: -1px;
					.col {
						@extend .col-md-3;
						padding-left: 1px;
						padding-right: 1px;
						@media (max-width: $screen-sm-max) {
							width: 100%;
						}
					}
				}
			}
			&.sub-col-4 {
				.row {
					.col {
						position: static;
						.item {
							margin-bottom: 5px;
							a {
								@extend .menu-arrow;
							}
							> a {
								background-color: $color-wild-sand;
							}
							ul {
								padding: 0 12px 5px;
								li {
									a {
										padding: 2px 20px 2px 30px;
										font-size: $font-size-base;
										&:before {
											top: 6px;
										}
									}
								}
							}
							&.item-mil {
								position: absolute;
								bottom: 0;
								width: 25%;
								padding-left: 1px;
								padding-right: 1px;
								a {
									font-size: 14px;
									border-bottom: 1px solid $border-color;
									&.login {
										padding-left: 30px;
										border-bottom: 0;
										&:before {
											content: '\f023';
											color: $brand-primary;
											font-size: 18px;
											top: 6px;
											left: 12px;
											@-moz-document url-prefix() {
												top: 4px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.active, &.sfhover {
			ul {
				left: -1px;
			}
		}
	}
}

#searchOverlay {
	position: absolute;
	top: 6px;
	right: 6px;
	height: 37px;
	min-width: 280px;
	background-color: $white;
	.searchFormWrapper, .btnSearch {
		display: table-cell;
	}
	.searchFormWrapper {
		border: 1px solid $border-color;
		border-right: 0;
		width: 100%;
		vertical-align: middle;
	}
	#searchForm {
		width: auto;
		margin-left: 10px;
		input {
			width: 100%;
			border: 0;
			padding: 0 10px 0 0;
			margin: 0;
			color: #000;
		}
	}
	.btnSearch {
		vertical-align: top;
		overflow: hidden;
		.btn {
			height: 37px;
			font-size: $font-size-large;
		}
	}
}



