$pl-widget-width: 396px;

#pl-widget {
	#pl-widget-cont {
		display: none;
		position: absolute;
		right: 0;
		top: 46px;
		width: $pl-widget-width;
		padding: 25px 20px;
		border: 1px solid $border-color;
		border-top: 0;
		background-color: $white;
		font-size: $font-size-base;
		z-index: 200;
		&:before {
			content: '';
			position: absolute;
			display: block;
			height: 6px;
			top: -6px;
			left: -1px;
			width: $pl-widget-width;
			background-color: $orange-special;
		}
		label {
			margin-bottom: 10px;
		}
		.pl-mess {
			margin-bottom: 20px;
			h3 {
				font-size: 22px;
			}
		}
		.configure-button {
			.btn {
				.fa {
					margin-left: 10px;
				}
			}
		}
		.input-btn {
			position: relative;
			@extend .form-control;
			padding: 0;
			.product-list-search {
				padding: 6px;
				border: 0;
				background: none;
				width: 215px;
				display: block;
				@include box-shadow(none);
				outline: none;
			}
			.load {
				background-color: $brand-primary;
				color: $white;
				height: 34px;
				line-height: 34px;
				text-align: center;
				border: 0;
				position: absolute;
				right: -1px;
				top: -1px;
				padding: 0 18px;
				cursor: pointer !important;
				.fa {
					margin-left: 10px;
				}
			}
			label {
				position: absolute;
				display: block;
				width: 34px;
				height: 34px;
				text-align: center;
				right: 105px;
				top: 0;
				.fa {
					&:before {
						line-height: 34px;
					}
				}
			}
		}
		.productSearch {
			.input-btn {
				input {
					width: 100%;
					padding-right: 36px;
				}
				.load {
					padding: 0 11px;
					.fa {
						margin: 0;
					}
				}
			}
		}
		.pl-product-list {
			.pl-widget-item {
				@extend .clearfix;
				position: relative;
				margin-bottom: 12px;
				figure, .desc {
					float: left;
				}
				figure {
					width: 83px;
					img {
						@extend .img-responsive;
						border: 1px solid $gray-border;
					}
				}
				.desc {
					padding: 0 20px;
					width: 240px;
					h5, h4 {
						margin: 0;
					}
					h5 {
						font-size: 14px;
						font-weight: normal;
						margin-bottom: 5px;
					}
					h4 {
						color: $brand-primary;
						font-size: 18px;
						text-transform: uppercase;
						overflow: hidden;
						max-width: 200px;
						display: inline-block;
						text-overflow: ellipsis;
					}
				}
				@extend .deleteButtonConfirm;
				.delete {
					position: absolute;
					width: 30px;
					height: 30px;
					line-height: 30px;
					font-size: 18px;
					top: 50%;
					text-align: center;
				}
			}
			.buttons {
				margin-top: 35px;
				button, a {
					@extend .btn;
					padding: 12px 20px;
					font-size: 16px;
					font-weight: normal;
				}
				.btn-share {
					float: left;
					background-color: $brand-primary;
					color: $white;
					border-color: $brand-primary;
				}
				.btn-request {
					float: right;
					background-color: $orange-special;
					color: $white;
					border-color: $orange-special;
					display: block;
				}
			}
			.more {
				margin-top: 10px;
				margin-left: 103px;
			}
		}
	}
	&.active {
		#pl-widget-cont {
			display: block;
		}
	}
}
