.product-inquiry, .productLists {
	.header {
		margin-bottom: 30px;
	}
	.remark {
		h4 {
			font-weight: bold;
		}
		textarea {
			width: 100%;
			height: 100px;
			padding: 10px;
			border: 1px solid $border-color;
		}
	}
	.buttons-top {
		@extend .clearfix;
		margin-bottom: 10px;
		.btn {
			float: right;
			margin-left: 5px;
		}
	}
	.buttons-bottom {
		@extend .clearfix;
		margin-top: 20px;

		@extend .deleteButtonConfirm;
		.actions .tooltip-actions {
			margin-top: -10px;
			right: auto;
			left: 120px;
		}
	}
	.table {
		tr {
			td {
				.checkbox label {
					top: -14px;
				}
				@extend .deleteButtonConfirm;
				.form-amount {
					text-align: center;
				}
				&.first {
					figure {
						float: left;
						width: 80px;
						margin-right: 20px;
					}
					.desc {
						float: left;
						width: 330px;
						h4, h5 {
							margin-top: 0;
						}
						h5 {
							font-size: $font-size-base;
							font-weight: normal;
							margin-bottom: 10px;
						}
						h4 {
							font-size: 18px;
							color: $blue-special;
							text-transform: uppercase;
							margin-bottom: 20px;
							overflow: hidden;
							max-width: 320px;
							display: inline-block;
							text-overflow: ellipsis;
						}
						.line-item-configuration {
							.btn-show-config {
								font-size: $font-size-base;
								padding: 4px 6px;
								font-weight: normal;
								background-color: #F0F0EE;
								color: $gray-dark;
								cursor: pointer;
								.fa {
									margin-left: 4px;
								}
							}
						}
						table.attributes {
							margin-top: 10px;
							border: 1px solid $gray-border;
							padding: 10px;
							background-color: $gray-back;

							td {
								border: none;
							}
							tr.even {
								background-color: white;
							}

						}
					}
				}
			}
		}
	}
	.alert-filter {
		margin: 30px 0;
		a {
			cursor: pointer;
			text-decoration: underline;
		}
	}
	.toolbar {
		background-color: #F2F2F2;
		padding: 20px;
		margin-bottom: 30px;
		label {
			display: block;
		}
		.bootstrap-select {
			width: 100% !important;
		}
		.checkbox {
			background-color: #F9F9F9;
			padding: 10px;
			margin-bottom: 20px;
		}
	}
}

/*
 * Dialog style
 */
.modal-dialog {
	.modal-body {
		.share-response-detail {
			h3 {
				margin-bottom: 8px;
			}
			h5 {
				span {
					color: $blue-special;
				}
			}
			a {
				@extend .btn;
				display: block;
				background-color: #E6E6E6;
				color: #444;
				@include border-radius(20px);
				padding: 10px;
				margin-top: 20px;
				&:hover {
					background-color: darken(#E6E6E6, 8);
					color: #212121;
				}
			}
		}
	}
	.save-modal {
		.border-line {
			padding-right: 0;
			margin-right: 0;
			border: none;
		}
		.update-select {
			margin-top: 10px;
			.btn.active {
				background: $orange-special;
			}
		}
	}
}

