@import "../twbs-override/variables";
@import "compass/css3";

$s-flap-btn-height: 45px;
$s-flap-btn-height-dif: ($s-flap-btn-height * 2) - 10;

#pull-out {
	position: fixed;
	right: -720px;
	@media (max-width: 720px) {
		left: 100%;
	}
	top: 0;
	z-index: 7777;
	height: 100%;
	width: 720px;
	max-width: 100%;
	.sidebarWrapper {
		position: relative;
		height: 100%;
		width: 100%;
		border-left: 1px solid $gray-border;
		background-color: $white;
	}
	.sidebar-flap {
		position: absolute;
		top: 50%;
		margin-top: -$s-flap-btn-height-dif;
		right: 100%;
		text-align: right;
		button {
			position: relative;
			display: inline-block;
			background-color: $blue-special;
			border: 0;
			margin-bottom: 10px;
			height: $s-flap-btn-height;
			line-height: $s-flap-btn-height;
			color: $white;
			font-size: $font-size-medium;
			padding: 0 0 0 54px;
			white-space: nowrap;
			cursor: pointer;
			.fa {
				position: absolute;
				top: 0;
				left: 0;
				width: 54px;
				height: $s-flap-btn-height;
				background-color: $blue;
				font-size: $font-size-h4;
				text-align: center;
				&:before {
					line-height: $s-flap-btn-height;
				}
			}
			.text {
				display: none;
			}
			&:hover {
				padding: 0 15px 0 70px;
				.text {
					display: block;
				}
			}
			&.active {
				background-color: $white;
				border: 1px solid $border-color;
				border-right: 0;
				color: $blue-special;
				.fa {
					background: none;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.sidebar-content {
		> div {
			padding: 0 30px 30px;
		}
	}
	&.out {
		.sidebar-flap {
			button {
				padding: 0 0 0 54px;
				.text {
					display: none;
				}
			}
		}
	}
}

#toggleProductRequest {
	background-color: $color-red-stage;
}

#panelPfinder, #panelProductRequest {
	display: none;
}

.sidebar-content {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	h1 {
		margin-bottom: 40px;
		margin-top: 60px;
		color: black;
	}
	#panelPfinder .product-code {
		margin-top: 60px;
	}
	h5 {
		color: $color-endeavour;
		margin-top: 25px;
		margin-bottom: 15px;
	}
	label h5 {
		margin: 0 0 10px 0;
	}
	a .fa-angle-right {
		color: $color-red-stage;
	}
	ul {
		padding: 0;
		list-style: none;
	}
}

label i.mandatory {
	&:before {
		color: $color-red-stage;
		font-style: normal;
		line-height: normal;
		content: "*";
		vertical-align: top;
		margin-left: 5px;
	}
}

#panelContactForm {
	position: relative;
	margin-top: 20px;
	h1 {
		padding-top: 60px;
		margin-top: 0;
		margin-bottom: 60px;
	}
	.buttons {
		margin-bottom: 30px;
	}
	.form-horizontal label {
		line-height: 34px;
		margin: 0;
	}
	.checkbox {
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.addressBox {
		margin: -20px -30px 0 0;
		@media (max-width: $screen-sm-max) {
			margin: 0;
		}
		.inner {
			width: 100%;
			background: $color-wild-sand;
			border-top: 4px solid $color-alto;
			padding: 25px;
		}
	}
}
