.subnavi {
  margin-bottom: 40px;
  .bar {
	height: 40px;
	line-height: 28px;
	padding: 6px 0;
	background-color: $color-wild-sand;
	border: 1px solid $gray-border;
	.toggle-dropdown {
	  display: inline-block;
	  padding-right: 10px;
	  padding-left: 50px;
	  position: relative;
	  text-transform: uppercase;
	  color: $gray;
	  border-right: 1px solid $border-color;
	  .i-square {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: -7px;
		left: -1px;
		background-color: $gray;
		text-align: center;
		padding: 14px 0 0 13px;
		@include transition-property(background-color);
		@include transition-duration(250ms);
		.i-bar {
		  background-color: $white;
		  width: 13px;
		  height: 2px;
		  margin-bottom: 3px;
		  display: block;
		}
	  }
	  &.active, &:hover {
		.i-square {
		  background-color: $color-endeavour;
		  @include transition-property(background-color);
		  @include transition-duration(250ms);
		}
	  }
	}
	.breadcrumb {
	  display: inline-block;
	  margin: 0;
	  margin-left: 10px;
	  @extend .list-inline;
	  li {
		padding: 0;
		a {
		  &:after {
			@extend .fa;
			font-family: 'FontAwesome';
			content: '\f105';
			margin-left: 5px;
		  }
		}
	  }
	}
  }
  .subnavi-dropdown {
	display: none;
	min-width: 260px;
	max-width: 300px;
	background-color: $color-wild-sand;
	z-index: 10;
	position: absolute;
	border-top: 4px solid $color-endeavour;
	.cont {
	  padding: 20px;
	  border: 1px solid $gray-border;
	  border-top: 0;
	  ul {
		@extend .list-unstyled;
		li {
		  position: relative;
		  padding: 2px 0;
		  a {
			display: inline-block;
			padding-left: 12px;
			@extend .menu-arrow;
			&:before {
			  top: 1px;
			  left: 0;
			}
		  }
		  ul {
			padding-left: 12px;
		  }
		}
	  }
	}
  }
}
