<!-- ###TEMPLATE_FORM1### begin -->
	<form action="###REL_URL###" id="###formID###" method="post" class="###formValuesPrefix###">
		###master_hidden_uid###
		###master_hidden_email###
		###master_select_salutation_salutation###
		###master_input_firstname###
		###master_input_lastname###
		###master_input_telephone###
		###master_input_company###
		###master_input_address###
		###master_input_postal_code###
		###master_input_city###
		###master_select_country_country###

		###master_submit###
	</form>
<!-- ###TEMPLATE_FORM1### end -->

<!-- ###TEMPLATE_SUBMITTEDOK### begin -->
	<h2>Your data was changed</h2>
	<div class="well">
		Salutation: ###value_salutation###<br>
		Firstname: ###value_firstname###<br>
		Lastname: ###value_lastname###<br>
		Telephone: ###value_telephone###<br>
		Username: ###value_username###<br>
		Company: ###value_company###<br>
		Address:<br>
		###value_address###<br>
		###value_postal_code### ###value_city###<br>
		Country: ###value_country###<br>
	</div>
<!-- ###TEMPLATE_SUBMITTEDOK### end -->
