<!-- ###TEMPLATE_FORM1### begin -->
	<form action="###REL_URL###" id="###formID###" method="post" class="###formValuesPrefix###">
		###master_hidden_uid###
		###master_input_type_password;password###
		###master_input_type_password_confirmation;password###

		###master_submit###
	</form>
<!-- ###TEMPLATE_FORM1### end -->

<!-- ###TEMPLATE_SUBMITTEDOK### begin -->
	<h2>Password Changed!</h2>
<!-- ###TEMPLATE_SUBMITTEDOK### end -->
