<!-- ###TEMPLATE_FORM1### begin -->
	<div data-ng-controller="FormController" formname="###formValuesPrefix###" formuid="###form_uid###">
		<form id="###formValuesPrefix###" method="post" name="###formValuesPrefix###" class="form-register" data-ng-submit="processForm()" novalidate>
			<div class="well">
				###master_input_type_email;email###
				###master_input_type_password;password###
				###master_input_type_password_confirmation;password###
			</div>


			<h3>###LLL:label_personal_data###</h3>
			###master_select_salutation_salutation###
			###master_input_firstname###
			###master_input_lastname###
			###master_input_telephone###
			###master_input_company###
			###master_input_address###
			###master_input_postal_code###
			###master_input_city###
			###master_select_country_country###

			###master_checkbox_agb###
			###master_checkbox_newsletter###

			###master_submit###
		</form>
	</div>
<!-- ###TEMPLATE_FORM1### end -->

<!-- ###TEMPLATE_SUBMITTEDOK### begin -->
	<h2>Your Registration</h2>
	<div class="well">
		Salutation: ###value_salutation###<br>
		Firstname: ###value_firstname###<br>
		Lastname: ###value_lastname###<br>
		Email: ###value_email###<br>
		Telephone: ###value_telephone###<br>
		Username: ###value_username###<br>
		Company: ###value_company###<br>
		Address:<br>
		###value_address###<br>
		###value_postal_code### ###value_city###<br>
		Country: ###value_country###<br>
	</div>
<!-- ###TEMPLATE_SUBMITTEDOK### end -->

<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### begin -->
This User has registered for the website:

Salutation: ###value_salutation###
Firstname: ###value_firstname###
Lastname: ###value_lastname###
Email: ###value_email###
Telephone: ###value_telephone###
Username: ###value_username###
Company: ###value_company###
Address:
###value_address###
###value_postal_code### ###value_city###
Country: ###value_country###
<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### end -->

<!-- ###TEMPLATE_EMAIL_USER_PLAIN### begin -->
Your Registration:

Salutation: ###value_salutation###
Firstname: ###value_firstname###
Lastname: ###value_lastname###
Email: ###value_email###
Telephone: ###value_telephone###
Username: ###value_username###
Company: ###value_company###
Address:
###value_address###
###value_postal_code### ###value_city###
Country: ###value_country###

Activate mail: ###value_authCodeUrl###

AGB: ###value_agb###
<!-- ###TEMPLATE_EMAIL_USER_PLAIN### end -->
