<table class="table" >
	<tr>
		<td>
			<f:translate key="tx_baumerserial_domain_model_shipment.commission_number" />
		</td>
		<td>
			{shipment.commissionNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_baumerserial_domain_model_shipment.part_number" />
		</td>
		<td>
			{shipment.partNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_baumerserial_domain_model_shipment.serial_number" />
		</td>
		<td>
			{shipment.serialNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_baumerserial_domain_model_shipment.invoice_number" />
		</td>
		<td>
			{shipment.invoiceNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_baumerserial_domain_model_shipment.description" />
		</td>
		<td>
			<f:format.nl2br>{shipment.description}</f:format.nl2br>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_baumerserial_domain_model_shipment.invoice_date" />
		</td>
		<td>
			{shipment.invoiceDate -> f:format.date()}
		</td>
	</tr>
</table>
