@import "compass";
@import "../twbs-override/variables";

.customers {
  margin-top: 0;
  section, .sidebar {
	padding: 60px 0;
  }
  .sidebar {
	height: 100%;
	margin-right: 10px;
	border-right: 1px solid $gray-light;
	nav {
	  ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
		  margin-bottom: 1px;
		  position: relative;
		  &.active {
			a {
			  background-color: $gray-light;
			  border-color: $blue;
			  color: $text-color;
			}
			&:before, &:after {
			  content: '';
			  position: absolute;
			  display: block;
			  left: -38px;
			  width: 0;
			  height: 0;
			  border-style: solid;
			}
			&:before {
			  top: 0;
			  border-width: 0 29px 29px 0;
			  border-color: transparent $gray-light transparent transparent;
			}
			&:after {
			  bottom: 0;
			  border-width: 0 0 29px 29px;
			  border-color: transparent transparent $gray-light transparent;
			}
		  }
		  a {
			font-size: 16px;
			text-transform: uppercase;
			display: block;
			height: 58px;
			line-height: 58px;
			white-space: nowrap;
			color: $gray-dark;
			padding: 0 20px 0 10px;
			text-align: right;
			border-right: 4px solid transparent;
			margin-left: -10px;
			@include transition-property(color);
			@include transition-duration(250ms);
			.fa {
			  margin-left: 5px;
			}
			&:hover {
			  color: $text-color;
			  border-color: $blue;
			  @include transition-property(color);
			  @include transition-duration(250ms);
			}
		  }
		  &:last-child {
			margin-bottom: 0;
		  }
		}
	  }
	}
  }

  .newsletter-message {
	input[type=checkbox] {
	  visibility: hidden;
	  position: absolute;
	}
	input[type=checkbox]:checked + label {
	  background-color: lighten($brand-success, 20);
	  color: darken($brand-success, 20);
	  @include transition-property(all);
	  @include transition-duration(300ms);
	  &:after {
		content: '\f00c';
		font-family: 'FontAwesome';
		line-height: 30px;
		text-align: center;
		font-size: $font-size-large;
	  }
	}
	label {
	  position: relative;
	  display: block;
	  padding: 20px 20px 20px 60px;
	  background-color: $gray-light;
	  cursor: pointer;
	  @include transition-property(all);
	  @include transition-duration(300ms);
	  &:before, &:after {
		content: '';
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 50%;
		left: 20px;
		margin-top: -15px;
	  }
	  &:before {
		background-color: #fff;
	  }
	}
  }

  .box-top-actions {
	margin-bottom: 20px;
  }

  .box {
	margin-bottom: 60px;
	.box-table, .box-header {
	  display: table;
	  .cell-left, .cell-right, .cell-middle {
		display: table-cell;
		vertical-align: middle;
		padding: 12px 15px;
	  }
	  .cell-left {
		width: 100%;
		border: 1px solid $border-color;
		border-right: 0;
	  }
	}
	.box-header {
	  font-size: $font-size-large;
	  background-color: lighten($gray-light, 5);
	  .cell-left {
		font-size: $font-size-large;
		text-transform: uppercase;
		a {
		  display: inline-block;
		  position: relative;
		  color: $text-color;
		  padding-left: 22px;
		  .fa {
			position: absolute;
			top: 1px;
			left: 0;
		  }
		}
	  }
	}
	.box-cont {
	  border: 1px solid $border-color;
	  border-top: 0;
	  padding: 20px;
	  .box-actions {
		padding-top: 15px;
		margin-top: 15px;
		border-top: 1px solid $border-color;
		&:after {
		  content: '';
		  clear: both;
		  display: block;
		}
		.btn {
		  float: right;
		}
	  }
	}
	.box-table {
	  margin: 4px 0;
	  background-color: #fff;
	  @include transition-property(background-color);
	  @include transition-duration(250ms);
	  .cell-left {
		.title {
		  font-size: $font-size-medium;
		  margin-bottom: 0;
		  line-height: 1.3;
		  small {
			font-size: $font-size-medium;
			color: $gray-dark;
		  }
		}
		.subtitle {
		  color: $gray-dark;
		  margin-bottom: 5px;
		  font-size: $font-size-base;
		}
	  }
	  &:hover {
		background-color: $gray-light;
		@include transition-property(background-color);
		@include transition-duration(250ms);
	  }
	}
  }

  .address {
	.box {
	  margin-bottom: 30px;
	  .box-header {
		.btn {
		  &.active {
			@include box-shadow(none);
			color: #fff;
			background-color: $brand-success;
			border-color: $brand-success;
			cursor: default;
		  }
		}
	  }
	}
  }

  .newsletter {
	.newsletter-message {
	  margin-bottom: 40px;
	}
	.box-checkbox {
	  margin-bottom: 40px;
	  .title {
		font-size: $font-size-large;
		text-transform: uppercase;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $border-color;
	  }
	  .row {
		> div {
		  .cont {
			padding: 0 5px;
		  }
		}
	  }
	  .col-middle {
		border: 1px solid lighten($border-color, 10);
		border-top: 0;
		border-bottom: 0;
	  }
	  .checkbox {
		padding: 4px 10px;
		&.checkbox-header {
		  padding: 10px;
		  background-color: $gray-light;
		}
	  }
	}
  }

}
