@import "compass";
@import "../twbs-override/variables";

.fair-page {
  padding-bottom: 40px;
  .row-filter {
	margin-bottom: 35px;
  }
  .row-grid {
	hr.sep {
	  margin: 20px 60px 40px 60px;
	}
	.figure {
	  display: block;
	  width: 100%;
	  height: 140px;
	  background-color: $gray-light;
	  background-position: center center;
	  background-repeat: no-repeat;
	  text-indent: -9999px;
	  margin-bottom: 15px;
	}
	h3, h4 {
	  margin-bottom: 5px;
	}
	.date {
	  margin-bottom: 10px;
	  color: $gray-dark;
	}
  	address {
	  margin-bottom: 20px;
	}
	.categories {
	  margin-bottom: 5px;
	  a {
		color: #444;
		display: inline-block;
		&:after {
		  content: ', ';
		}
		&:last-child {
		  &:after {
			content: '';
		  }
		}
	  }
	}
  }
}
