@import "../twbs-override/variables";
@import "compass";
@import "../includes/banner-slider";

.home {
	.bar-elements {
		margin: 20px -5px 50px -5px;
		> div {
			padding-left: 5px;
			padding-right: 5px;
		}
		a, button {
			text-align: left;
			position: relative;
			display: block;
			height: 90px;
			background-color: $gray-light;
			border: 1px solid $border-color;
			padding: 22px 12px 22px 70px;
			color: #000;
			h2 {
				font-size: ceil(($font-size-base * 1.4));
				margin-bottom: 4px;
			}
			h3 {
				font-size: $font-size-h5;
			}
			.fa {
				position: absolute;
				width: 54px;
				height: 44px;
				line-height: 42px;
				background-color: $color-alto;
				color: #fff;
				left: 0;
				top: 50%;
				margin-top: -22px;
				font-size: $font-size-h3;
				text-align: center;
			}
			&.blue {
				color: #fff;
				background-color: $blue-special;
				border-color: $blue-special;
				.fa {
					background-color: $blue;
				}
			}
		}
	}
	.section {
		margin-bottom: 50px;
		.title, h2, h3, h4 {
			color: $blue;
			font-size: ceil(($font-size-base * 1.45));
			margin-bottom: 20px;
		}
		.row {
			margin: 0 -5px 0 -5px;
			> div {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		article {
			figure {
				position: relative;
				margin-bottom: 12px;
				.fa {
					position: absolute;
					display: block;
					background-color: rgba(#fff, 0.5);
					color: #fff;
					width: 56px;
					height: 44px;
					line-height: 44px;
					text-align: center;
					bottom: 20px;
					left: 0;
					font-size: floor(($font-size-base * 2.5));
					&.bg-green {
						background-color: $color-atlantis;
					}
				}
				a {
					display: block;
				}
			}
			.hgroup {
				margin-bottom: 10px;
				h3 {
					font-size: ceil(($font-size-base * 1.45));
					margin-bottom: 5px;
				}
				h5 {
					font-weight: bold;
				}
			}
			p {
				margin-bottom: 20px;
				line-height: 1.6;
			}
		}
		.box-gray {
			margin-bottom: 5px;
			display: block;
			background-color: $gray-light;
			border: 1px solid $border-color;
			padding: 15px;
			color: #706f6f;
			figure {
				margin-bottom: 10px;
			}
			h4 {
				color: $blue-special;
				margin-bottom: 5px;
			}
			span {
				display: block;
			}
		}
	}
}
