@import "compass";
@import "../twbs-override/variables";

.job-list {
  padding-bottom: 40px;
  .sep {
    margin-bottom: 40px;
  }
  .row-bottom {
    margin-bottom: 35px;
    .item {
      background-color: $gray-light;
      padding: 20px;
      h3 {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $border-color;
      }
    }
  }
  .row-jobs {
    article {
      position: relative;
      padding: 20px;
      border: 1px solid $border-color;
      margin-bottom: 30px;
      @include transition-property(border-color);
      @include transition-duration(400ms);
      .mark {
        position: absolute;
        top: -5px;
        right: 10px;
        background-color: $blue;
        width: auto;
        height: 42px;
        padding: 0 10px;
        line-height: 42px;
        text-align: center;
        color: #fff;
        font-size: ceil(($font-size-base * 1.1));
        &:after {
          content: '';
          position: absolute;
          right: -5px;
          top: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 0 0 5px;
          border-color: transparent transparent transparent darken($blue, 20);
        }
      }
      .cat {
        display: inline-block;
        color: $gray-dark;
        margin-bottom: 5px;
        padding-right: 100px;
      }
      h3 {
        font-size: ceil(($font-size-base * 1.35));
        margin-bottom: 5px;
        line-height: 1.2;
      }
      h4 {
        margin-bottom: 0;
        font-size: $font-size-base;
      }
      &:hover {
        border-color: darken($border-color, 20);
        @include transition-property(border-color);
        @include transition-duration(400ms);
      }
    }
  }
}
