@import "compass";
@import "../twbs-override/variables";

.job-page {
  padding-bottom: 40px;
  .banner {
    margin: 0 -10px 30px -10px;
  }
  .header {
    h2 {
      font-size: $font-size-h4;
    }
  }
  blockquote {
    padding: 30px 20px;
    margin-bottom: 30px;
    background-color: $gray-light;
    .fa {
      color: lighten($gray-dark, 40);
    }
  }
  .subtitle, .box h5 {
    color: $blue;
  }
  .subtitle {
    margin-bottom: 20px;
    small {
      color: $blue;
      margin-left: 5px;
    }
  }
  .box {
    margin-bottom: 25px;
    ul {
      padding-left: 0;
      list-style: none;
      li {
        position: relative;
        padding-left: 10px;
        &:before {
          content: '';
          width: 5px;
          height: 5px;
          background-color: $blue;
          position: absolute;
          left: 0;
          top: 7px;
        }
      }
    }
  }
  .box-info {
    padding: 20px;
    background-color: $gray-light;
  }
  .buttons {
    float: right;
  }
}
