@import "compass";
@import "../twbs-override/variables";

.languages-page {

  .switch-languages {
	font-size: $font-size-medium;
	margin-bottom: 30px;
	strong {
	  margin-right: 5px;
	}
	a {
	  &:after {
		content: '|';
		color: $border-color;
		margin: 0 5px;
	  }
	  &:last-child {
		&:after {
		  display: none;
		}
	  }
	}
  }

  .box-languages {
	margin-bottom: 40px;
	h2 {
	  margin-top: 0;
	  margin-bottom: 20px;
	  padding-bottom: 15px;
	  border-bottom: 1px solid $border-color;
	  font-size: $font-size-h3;
	}
	.row {
	  .col {
		float: left;
		width: 20%;
		padding-left: 10px;
		padding-right: 10px;
	  }
	}
  }
  .box-flag {
	position: relative;
	padding-bottom: 20px;
	.box-flag-header {
	  border: 1px solid lighten($border-color, 10);
	  padding: 0 10px;
	  img, h3 {
		display: inline;
		vertical-align: middle;
	  }
	  h3 {
		font-size: $font-size-large;
		margin-left: 5px;
	  }
	}
	.box-flag-content {
	  display: none;
	  position: absolute;
	  width: 100%;
	  padding: 10px;
	  border: 1px solid $border-color;
	  margin-top: -1px;
	  background-color: #fff;
	  h5 {
		font-size: $font-size-base;
	  }
	  nav {
		a {
		  display: block;
		  margin-bottom: 4px;
		  &:before {
			content: '\f105';
			font-family: 'FontAwesome';
			color: $orange-special;
			margin-right: 4px;
		  }
		}
	  }
	}
	&:hover {
	  .box-flag-header {
		border-color: $border-color;
	  }
	  .box-flag-content {
		display: block;
		z-index: 100;
	  }
	}
  }
}
