@import "compass";
@import "../twbs-override/variables";

.media-library {
  padding-bottom: 40px;
  .header {
	h2 {
	  line-height: 1.6;
	  margin-bottom: 20px;
	  small {
		display: block;
		color: $gray-dark;
	  }
	}
  }
  .embed-responsive {
	margin-bottom: 35px;
  }
  hr {
	margin-bottom: 60px;
  }
  .video-list, .video-grid {
	margin-bottom: 40px;
	.item-video {
	  .item-cont {
		padding: 10px;
		background-color: #fff;
		@include transition-property(background-color);
		@include transition-duration(300ms);
		&:hover {
		  background-color: $gray-light;
		  @include transition-property(background-color);
		  @include transition-duration(300ms);
		}
	  }
	  figure {
		position: relative;
		margin-bottom: 20px;
		.time {
		  background-color: $gray-darker;
		  background-color: rgba($gray-darker, 0.85);
		  color: #fff;
		  padding: 2px;
		  position: absolute;
		  bottom: 5px;
		  right: 5px;
		}
	  }
	  h3 {
		font-size: $font-size-large;
		margin-bottom: 10px;
		margin-top: 0;
	  }
	  h4 {
		color: $gray-dark;
		font-size: $font-size-base;
	  }
	}
  }
  .video-list {
	.item-video {
	  figure, .cont {
		float: left;
	  }
	  figure {
		width: 35%;
		padding-right: 15px;
		margin-bottom: 0;
		.time {
		  right: 20px;
		}
	  }
	  .cont {
		width: 65%;
	  }
	}
  }
}
