@import "compass";
@import "../twbs-override/variables";

.news-detail{
  padding-bottom: 40px;
  .categories {
    margin-bottom: 5px;
    a {
      color: #444;
      font-size: $font-size-large;
      display: inline-block;
      &:after {
        content: ', ';
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
  .header-image {
    float: left;
    width: 450px;
    margin-right: 25px;
    margin-bottom: 20px;
  }
  .links {
    margin-top: 60px;
    h4 {
      text-transform: uppercase;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $border-color;
      .fa {
        margin-right: 5px;
      }
    }
    nav {
      a {
        display: inline-block;
        padding: 8px 18px;
        border: 1px solid $border-color;
        color: $gray-dark;
        background-color: #fff;
        margin-bottom: 10px;
        @include transition-property(all);
        @include transition-duration(250ms);
        .fa {
          margin-right: 5px;
        }
        &:hover {
          background-color: $gray-light;
          @include transition-property(all);
          @include transition-duration(250ms);
        }
      }
    }
  }
}
