@import "../twbs-override/variables";

.news-list {
  padding-bottom: 40px;
  .row-filter {
	margin-bottom: 35px;
  }
  hr.sep {
	margin: 60px;
  }
  article {
	figure {
	  position: relative;
	  margin-bottom: 15px;
	  a {
		display: block;
		.fa {
		  width: 26px;
		  height: 26px;
		  line-height: 26px;
		  position: absolute;
		  bottom: 8px;
		  right: 8px;
		  font-size: $font-size-large;
		  &:before {
			display: block;
			background-color: $gray-light;
			background-color: rgba($gray-light, 0.75);
			text-align: center;
			color: $blue-special;
		  }
		}
	  }
	}
	h3 {
	  font-size: $font-size-large;
	  margin-bottom: 5px;
	  line-height: 1.25;
	}
	h4 {
	  font-size: $font-size-base;
	  color: $gray-dark;
	  margin-bottom: 15px;
	}
	.categories {
	  margin-bottom: 5px;
	  a {
		color: #444;
		display: inline-block;
		&:after {
		  content: ', ';
		}
		&:last-child {
		  &:after {
			content: '';
		  }
		}
	  }
	}
  }
  .article-list {
	article {
	  margin-bottom: 50px;
	  figure {
		float: left;
		width: 300px;
		margin-right: 20px;
		margin-bottom: 0;
	  }
	  .cont {
		float: left;
		width: 620px;
		h3 {
		  font-size: $font-size-h3;
		}
	  }
	  hr {
		margin-bottom: 10px;
	  }
	}
  }
}
