@import "../twbs-override/variables";

.product-site {
	padding-bottom: 40px;
	.the-content {
		margin-bottom: 50px;
		margin-top: 35px;
	}
	.sidebar {
		padding-left: 20px;
	}
	.row {
		.col-md-8 {
			h2 {
				margin-top: 10px;
				margin-bottom: 35px;
				line-height: 1.2;
			}
		}
	}
	.panel-group {
		margin-top: 35px;
	}
}

.widget {
	padding-bottom: 30px;
	margin-bottom: 10px;
	.w-title {
		font-size: ceil(($font-size-base * 1.4));
		text-transform: uppercase;
		margin-top: 0;
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid $border-color;
		.fa {
			color: $gray-dark;
			margin-right: 5px;
		}
	}
	article {
		position: relative;
		line-height: 1.2;
		margin-bottom: 20px;
		font-size: $font-size-small;
		figure {
			position: relative;
			margin-bottom: 10px;
			a {
				display: block;
			}
			.fa {
				width: 26px;
				height: 26px;
				line-height: 26px;
				position: absolute;
				bottom: 8px;
				right: 8px;
				font-size: $font-size-large;
				&:before {
					display: block;
					background-color: $gray-light;
					background-color: rgba($gray-light, 0.75);
					text-align: center;
					color: $blue-special;
				}
			}
		}
		h4 {
			margin-top: 0;
			margin-bottom: 5px;
		}
		.text {
			margin: 0;
			color: $text-color !important;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.widget-videos {
		figure {
			position: relative;
			margin-bottom: 20px;
			.time {
				background-color: $gray-darker;
				background-color: rgba($gray-darker, 0.85);
				color: #fff;
				padding: 2px;
				position: absolute;
				bottom: 10px;
				right: 10px;
			}
		}
		h3 {
			font-size: $font-size-large;
			margin-bottom: 5px;
		}
		h4 {
			font-size: $font-size-base;
			font-weight: bold;
		}
	}
}

.panel-default {
	.panel-heading {
		padding: 0;
		background: none;
		.panel-title {
			text-transform: uppercase;
			a {
				color: $text-color;
				position: relative;
				display: block;
				padding: 15px;
				&:after {
					content: '\f107';
					color: $color-silver-chalice;
					font-family: 'FontAwesome';
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					position: absolute;
					right: 15px;
					top: 15px;
				}
				&.collapsed {
					&:after {
						content: '\f105';
					}
				}
			}
		}
	}
	> .panel-heading + .panel-collapse {
		> .panel-body {
			background-color: #fff;
			padding: 30px;
		}
	}
	.row-article {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
		article {
			position: relative;
			margin-bottom: 30px;
			figure {
				a {
					display: block;
				}
				margin-bottom: 20px;
			}
			.cont {
				padding-bottom: 45px;
				ul {
					padding-left: 20px;
				}
			}
			.buttons {
				padding: 0 10px;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				.btn {
					float: left;
					width: 50%;
					margin: 0;
				}
			}
		}
	}
}
