@import "compass";
@import "../twbs-override/variables";

.search-page {
  padding-bottom: 40px;
  .header {
	margin-top: 20px;
  }
  .row-filter {
	margin-bottom: 60px;
  }
  .box-search {
	position: relative;
	margin-bottom: 40px;
	padding: 20px;
	background-color: $gray-light;
	&:after {
	  content: '';
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 20px 15px 0 15px;
	  border-color: $gray-light transparent transparent transparent;
	  position: absolute;
	  left: 50%;
	  margin-left: -15px;
	  bottom: -15px;
	}
	.form-group {
	  display: table;
	  margin-bottom: 0;
	  .form-control, .btn {
		display: table-cell;
	  }
	  .form-control {
		width: 848px;
		height: 52px;
		border-right: 0;
		font-size: $font-size-large;
		color: $text-color;
	  }
	  .btn {
		width: 52px;
		height: 52px;
		vertical-align: top;
		font-size: $font-size-large;
		.fa {
		  line-height: 2;
		}
	  }
	}
  }
  .nav-tabs {
	> li {
	  > a {
		font-size: $font-size-large;
		color: lighten($text-color, 30);
		padding: 14px 24px;
		vertical-align: top;
		.fa {
		  font-size: $font-size-large;
		  margin-right: 5px;
		}
		.count {
		  position: relative;
		  background-color: $gray-light;
		  padding: 2px 8px;
		  margin-left: 5px;
		  top: -1px;
		  color: $text-color;
		  font-weight: normal;
		  font-size: $font-size-small;
		}
		&:focus, &:active, &:hover {
		  color: $text-color;
		}
	  }
	  &.active {
		> a {
		  color: $text-color;
		}
	  }
	}
  }

  .tab-pane {
	padding: 30px 20px;
	border: 1px solid $border-color;
	border-top: 0;
  }

  .row-list {
	hr {
	  margin: 20px 0;
	}
	article {
	  padding: 20px;
	  @include transition-property(background-color);
	  @include transition-duration(250ms);
	  figure, .col-right {
		float: left;
	  }
	  figure {
		width: 120px;
		margin-right: 20px;
		img {
		  margin-left: auto;
		  margin-right: auto;
		}
	  }
	  .col-right {
		width: 820px;
	  }
	  .excerpt {
		margin-bottom: 0;
	  }
	  &:last-child {
		margin-bottom: 0;
	  }
	  &:hover {
		background-color: $gray-light;
		@include transition-property(background-color);
		@include transition-duration(250ms);
	  }
	}
  }

  .row-news {
	article {
	  figure {
		position: relative;
		margin-bottom: 15px;
		a {
		  display: block;
		  .fa {
			width: 26px;
			height: 26px;
			line-height: 26px;
			position: absolute;
			bottom: 8px;
			right: 8px;
			font-size: $font-size-large;
			&:before {
			  display: block;
			  background-color: $gray-light;
			  background-color: rgba($gray-light, 0.75);
			  text-align: center;
			  color: $blue-special;
			}
		  }
		}
	  }
	  h3 {
		font-size: $font-size-large;
		margin-bottom: 5px;
		line-height: 1.25;
	  }
	  h4 {
		font-size: $font-size-base;
		color: $gray-dark;
		margin-bottom: 15px;
	  }
	  .categories {
		margin-bottom: 5px;
		a {
		  color: #444;
		  display: inline-block;
		  &:after {
			content: ', ';
		  }
		  &:last-child {
			&:after {
			  content: '';
			}
		  }
		}
	  }
	}
  }

  .row-products {
	article {
	  position: relative;
	  border: 1px solid $gray-border;
	  padding: 15px 15px 0 15px;
	  margin-bottom: 20px;
	  .btn {
		width: 100%;
	  }
	  .buttons {
		height: 120px;
		margin-left: -15px;
		margin-right: -15px;
		text-align: center;
		.cont {
		  position: absolute;
		  width: 100%;
		  bottom: 0;
		  left: 0;
		  .button {
			width: 100%;
			display: block;
			border-top: 1px solid $border-color;
			background-color: #F4F4F4;
			padding: 12px 0;
			@include transition-property(all);
			@include transition-duration(250ms);
			.fa {
			  margin-right: 4px;
			  color: $orange-special;
			  @include transition-property(color);
			  @include transition-duration(250ms);
			}
			&:hover {
			  border-color: $blue-special;
			  background-color: $blue-special;
			  color: #FFF;
			  @include transition-property(all);
			  @include transition-duration(250ms);
			  .fa {
				color: #FFF;
				@include transition-property(color);
				@include transition-duration(250ms);
			  }
			}
		  }
		}
	  }
	  table {
		margin: 0;
		font-size: 14px;
		td,
		th {
		  vertical-align: top;
		  border-top: 1px solid $gray-border;
		  padding: 10px 0;
		  width: 50%;
		}
		td {
		  color: $gray-dark;
		}
		tr:first-child {
		  td,
		  th {
			border: none;
		  }
		}
	  }
	}
  }

}

