@import "../twbs-override/variables";
@import "compass";

.clearfix {
	&:before {
		content: ' ';
		display: table;
	}
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-lg {
	font-size: 1.33333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}

.row {
	margin-left: -10px;
	margin-right: -10px;
	@extend .clearfix;
}


// Contents
@import "../includes/mixins";
@import "../includes/filter-cat-wrapper";
@import "../includes/content-productfilter";
@import "../includes/content-konfigurator";
@import "../includes/product-inquiry";
@import "../includes/sidebar";


