{namespace n=Tx_News_ViewHelpers}
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title>Partials: News List</title>
</head>
<body>
<f:section name="Main">
	<f:if condition="{news}">
		<f:comment>

			3 latest news
			Only shown, when no categories have been selected for filtering

		</f:comment>
		<f:if condition="{demand.categories}">
			<f:else>
				<div class="row">
					<f:for each="{news}" as="article" iteration="i">
						<f:if condition="{i.cycle} < 4">
							<f:render partial="List/SingleArticle" section="Main" arguments="{article:article, settings:settings, class:'col-md-4'}"/>
						</f:if>
					</f:for>
				</div>
				<hr class="sep" />
			</f:else>
		</f:if>
		<f:comment>

			News list according to filters or latest if no filters
			Only shown, when no categories have been selected for filtering

		</f:comment>
		<div class="article-list">
			<f:if condition="{demand.categories}">
				<f:else>
					<f:for each="{news}" as="article" iteration="i">
						<f:if condition="{i.cycle} >= 4">
							<f:render partial="List/SingleArticle" section="Main" arguments="{article:article, settings:settings, class:'clearfix'}"/>
						</f:if>
					</f:for>
				</f:else>
				<f:then>
					<f:for each="{news}" as="article">
						<f:render partial="List/SingleArticle" section="Main" arguments="{article:article, settings:settings, class:'clearfix'}"/>
					</f:for>
				</f:then>
			</f:if>
		</div>
	</f:if>
</f:section>
