{namespace n=Tx_News_ViewHelpers}
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title>Partials: News List Single Item</title>
</head>
<body>
<f:section name="Main">
	<article class="{class}">
		<f:then>
			<figure>
				<f:if condition="{article.falMedia}">
					<f:then>
						<f:for each="{article.falMedia}" as="mediaElement">
							<f:if condition="{mediaElement.originalResource.type} == 2">
								<f:then>
									<n:link newsItem="{article}" settings="{settings}">
										<f:image src="{mediaElement.uid}"
												 treatIdAsReference="1"
												 title="{mediaElement.originalResource.title}"
												 alt="{mediaElement.originalResource.alternative}"
												 width="{settings.list.media.image.width}"
												 height="{settings.list.media.image.height}"
												 class="img-responsive" />
										<span class="fa fa-angle-right"></span>
									</n:link>
								</f:then>
								<f:else>
									<f:render section="DummyImage" arguments="{_all}" />
								</f:else>
							</f:if>
						</f:for>
					</f:then>
					<f:else>
						<f:render section="DummyImage" arguments="{_all}" />
					</f:else>
				</f:if>
			</figure>
		</f:then>
		<div class="cont">
			<f:if condition="{article.categories}">
				<nav class="categories">
					<f:for each="{article.categories}" as="category">
						<f:link.action class="cat" title="{category.title}" arguments="{overwriteDemand:{categories:category.uid}}">
							{category.title}
						</f:link.action>
					</f:for>
				</nav>
			</f:if>
			<h3>
				<n:link newsItem="{article}" settings="{settings}">
					<f:format.raw>{article.title}</f:format.raw>
				</n:link>
			</h3>
			<h4>
				<n:format.date format="{f:translate(key:'dateFormat')}">{article.datetime}</n:format.date>
			</h4>
			<f:if condition="{article.teaser}">
				<f:then>
					<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{article.teaser}</f:format.crop></f:format.html>
				</f:then>
				<f:else>
					<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{article.bodytext}</f:format.crop></f:format.html>
				</f:else>
			</f:if>
		</div>
	</article>
</f:section>
<f:section name="DummyImage">
	<n:link newsItem="{article}" settings="{settings}">
		<f:image src="{settings.list.media.image.fallback}"
				 title="{mediaElement.originalResource.title}"
				 alt="{mediaElement.originalResource.alternative}"
				 width="{settings.list.media.image.width}"
				 height="{settings.list.media.image.height}"
				 class="img-responsive" />
		<span class="fa fa-angle-right"></span>
	</n:link>
</f:section>
