<f:layout name="MemberArea" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"/>

<f:render partial="Page/Header" section="Assets" />
<f:render partial="Page/Header" section="Main" />
<div class="section-primary">
	<div class="container">
		<h1><v:l>member_area.title</v:l></h1>
	</div>
</div>
<div class="container member-area">
	<div class="row">
		<div class="col-md-3">
			<f:render partial="MemberArea/Sidebar" section="Main" />
		</div>
		<div class="col-md-9">
			<f:render section="Main" />
		</div>
	</div>
</div>
<!-- Page footer -->
<f:render partial="Page/Footer" section="Main" />
