<f:layout name="Page" />

<f:render partial="Page/Header" section="Assets" />

<f:render partial="Page/Header" section="Main" />
<f:render section="Main" />
<!-- Page footer -->
<f:render partial="Page/Footer" section="Main" />
