<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
	<head>
		<title>Partials: Page/Footer</title>
	</head>
	<body>

	<f:section name="Main">
		<div class="container newsletter-container">
			<div class="row">
				<div class="col-md-4 col-md-push-4">
					<h3><v:l>general.forms.newsletterHeadline</v:l></h3>
					<form action="{f:uri.page(pageUid:settings.newsletterFormPageUid)}" class="form-horizontal">
						<div class="input-subscription">
							<input autocomplete="off" class="form-control" type="text" name="baumer-newsletter-subscribe[email]" placeholder="{v:l(key:'general.forms.enter_email')}" />
							<button class="btn btn-default"><v:l>general.forms.send</v:l></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer id="footer">
			<div class="container">
				<div class="footer-wrap">
					<a href="//www.baumer.com" class="pull-left">www.baumer.com</a>
					<nav class="pull-right footer-nav">
						<v:page.menu pageUid="{settings.footerPageUid}">
							<ul>
								<f:for each="{menu}" as="subPage">
									<li>
										<f:link.page pageUid="{subPage.uid}">{subPage.title}</f:link.page>
									</li>
								</f:for>
							</ul>
						</v:page.menu>
					</nav>
					<nav class="social-buttons">
						<a href="http://twitter.com/baumergroup" title="Twitter">
							<span class="icon-twitter"></span>
						</a>
						<a href="http://www.facebook.com/BaumerGroup" title="Facebook">
							<span class="icon-facebook"></span>
						</a>
						<a href="http://www.youtube.com/baumergroup" title="Youtube">
							<span class="icon-youtube-alt"></span>
						</a>
					</nav>
				</div>
			</div>
		</footer>

		<!-- OVERLAYS -->
		<f:render partial="Overlays/Contact" section="Main" />
		<f:render partial="Overlays/Login" section="Main" />
		<f:render partial="Overlays/MyProducts" section="Main" />
		<f:render partial="Overlays/Search" section="Main" />
		<!-- /OVERLAYS -->
	</f:section>
	</body>
</html>

