<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
	<head>
		<title>Partials: Page/Header</title>
	</head>
	<body>

		<f:section name="Assets">
			<v:page.header.meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=10.0,initial-scale=1.0" />
			<v:page.header>
				<link rel="apple-touch-icon" sizes="57x57" href="/typo3conf/ext/bourdon/Resources/Public/Icons/apple-touch-icon-57x57.png">
				<link rel="apple-touch-icon" sizes="60x60" href="/typo3conf/ext/bourdon/Resources/Public/Icons/apple-touch-icon-60x60.png">
				<link rel="apple-touch-icon" sizes="72x72" href="/typo3conf/ext/bourdon/Resources/Public/Icons/apple-touch-icon-72x72.png">
				<link rel="apple-touch-icon" sizes="76x76" href="/typo3conf/ext/bourdon/Resources/Public/Icons/apple-touch-icon-76x76.png">
				<link rel="apple-touch-icon" sizes="114x114" href="/typo3conf/ext/bourdon/Resources/Public/Icons/apple-touch-icon-114x114.png">
				<link rel="apple-touch-icon" sizes="120x120" href="/typo3conf/ext/bourdon/Resources/Public/Icons/apple-touch-icon-120x120.png">
				<link rel="apple-touch-icon" sizes="144x144" href="/typo3conf/ext/bourdon/Resources/Public/Icons/apple-touch-icon-144x144.png">
				<link rel="apple-touch-icon" sizes="152x152" href="/typo3conf/ext/bourdon/Resources/Public/Icons/apple-touch-icon-152x152.png">
				<link rel="apple-touch-icon" sizes="180x180" href="/typo3conf/ext/bourdon/Resources/Public/Icons/apple-touch-icon-180x180.png">
				<link rel="icon" type="image/png" href="/typo3conf/ext/bourdon/Resources/Public/Icons/favicon-32x32.png" sizes="32x32">
				<link rel="icon" type="image/png" href="/typo3conf/ext/bourdon/Resources/Public/Icons/favicon-194x194.png" sizes="194x194">
				<link rel="icon" type="image/png" href="/typo3conf/ext/bourdon/Resources/Public/Icons/favicon-96x96.png" sizes="96x96">
				<link rel="icon" type="image/png" href="/typo3conf/ext/bourdon/Resources/Public/Icons/android-chrome-192x192.png" sizes="192x192">
				<link rel="icon" type="image/png" href="/typo3conf/ext/bourdon/Resources/Public/Icons/favicon-16x16.png" sizes="16x16">
				<link rel="manifest" href="/typo3conf/ext/bourdon/Resources/Public/Icons/manifest.json">
				<link rel="mask-icon" href="/typo3conf/ext/bourdon/Resources/Public/Icons/safari-pinned-tab.svg" color="#09497a">
				<link rel="shortcut icon" href="/typo3conf/ext/bourdon/Resources/Public/Icons/favicon.ico">
				<meta name="msapplication-TileColor" content="#ffffff">
				<meta name="msapplication-TileImage" content="/typo3conf/ext/bourdon/Resources/Public/Icons/mstile-144x144.png">
				<meta name="msapplication-config" content="/typo3conf/ext/bourdon/Resources/Public/Icons/browserconfig.xml">
				<meta name="theme-color" content="#09497a">
			</v:page.header>
			<v:page.header content='<!--[if lt IE 9]><link rel="stylesheet" href="typo3conf/ext/baumer/Resources/Public/Style/ie8.css" /><script src="typo3conf/ext/baumer/Resources/Private/Libraries/modernizr/modernizr-built.js"></script><![endif]-->' />

			<v:asset.style
				name="bootstrap-select-css"
				path="EXT:baumer/Resources/Private/Libraries/bootstrap-select/bootstrap-select-built.css" />
			<v:asset.script
				name="baumer-search"
				dependencies="jquery"
				group="headerScripts"
				path="EXT:baumer/Resources/Private/Libraries/swiper/swiper-built.js" />
			<v:asset.script
				name="sticky-head"
				dependencies="jquery"
				group="headerScripts"
				path="EXT:bourdon/Resources/Private/Javascript/header-shrinky-sticky.js" />
			<v:asset.script
				name="toggler"
				dependencies="jquery"
				group="headerScripts"
				path="EXT:bourdon/Resources/Private/Javascript/toggle-all-the-things.js" />
			<v:asset.script
				name="swiper-slider"
				dependencies="jquery"
				group="headerScripts"
				path="EXT:bourdon/Resources/Private/Javascript/slider.js" />
			<v:asset.script
				name="responsivetabs"
				dependencies="jquery,bootstrap"
				group="headerScripts"
				path="EXT:bourdon/Resources/Private/Javascript/responsivetabs.js" />
			<v:asset.style
				name="bourdon"
				standalone="true"
				path="EXT:bourdon/Resources/Public/Style/style.css" />

			<f:comment>

				Title Tag

			</f:comment>
			<v:variable.set name="title_tag">{v:page.info(field:'tx_baumer_title_tag')}</v:variable.set>
			<f:if condition="{title_tag}">
				<f:then>
					<v:page.header.title title="{title_tag}" />
				</f:then>
				<f:else>
					<v:page.header.title title="{v:page.info(field:'title')}" />
				</f:else>
			</f:if>
		</f:section>

        <f:section name="Ga">
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-80716434-1', 'auto');
                ga('send', 'pageview');
            </script>
        </f:section>

		<f:section name="Main">
			<div data-ng-controller="HeaderCtrl">
				<header id="header" class="header clipped">
					<div class="container-fluid header-container">
						<a class="logo" href="{f:uri.page(pageUid:settings.rootPids.int)}" title="{v:l(id:'header.logo_title')}">
							<img src="{f:uri.resource(path: 'Images/bourdon.svg')}" alt="{v:l(id:'header.logo_title')}" />
						</a>
						<a class="search-trigger" title="{v:l(id:'header.search')}" data-open-target="#search-overlay">
							<span class="hidden-xs hidden-sm visible-on-hover"><v:l>header.search</v:l></span>
							<span class="icon-magnifier"></span>
						</a>
						<a class="contact-trigger" title="{v:l(id:'header.contact')}" data-open-target="#contact-overlay">
							<span class="hidden-xs hidden-sm visible-on-hover"><v:l>header.contact</v:l></span>
							<span data-ng-cloak data-ng-class="{'icon-mail': inquiryListCount == 0, 'icon-mail-filled': inquiryListCount > 0, 'change': inquiryListCountChanged}"></span>
							<span data-ng-cloak data-ng-if="inquiryListCount > 0" class="item-counter">{{inquiryListCount}}</span>
						</a>
						<a class="myproducts-trigger" title="{v:l(id:'header.my_products')}" data-open-target="#myproducts-overlay">
							<span class="hidden-xs hidden-sm visible-on-hover"><v:l>header.my_products</v:l></span>
							<span data-ng-cloak data-ng-class="{'icon-star': productListCount == 0, 'icon-star-filled': productListCount > 0, 'change': productListCountChanged}"></span>
							<span data-ng-cloak data-ng-if="productListCount > 0" class="item-counter">{{productListCount}}</span>
						</a>
						<f:security.ifAuthenticated>
							<f:then>
								<v:page.link pageUid="{settings.memberAreaPageUid}" class="login-trigger hidden-xs hidden-sm">
									<span class="hidden-xs hidden-sm visible-on-hover"><v:l>general.overlay.my_products.member_area</v:l></span>
									<span data-ng-cloak data-ng-class="icon-user" class="icon-user"></span>
								</v:page.link>

							</f:then>
							<f:else>
								<a class="login-trigger hidden-xs hidden-sm" title="<v:l>general.overlay.my_products.my_bourdon</v:l>" data-open-target="#login-overlay">
									<span class="hidden-xs hidden-sm visible-on-hover"><v:l>general.overlay.my_products.my_bourdon</v:l></span>
									<span data-ng-cloak data-ng-class="icon-user" class="icon-user"></span>
								</a>
							</f:else>
						</f:security.ifAuthenticated>
						<a class="menu-trigger hidden-lg" title="{v:l(id:'header.menu')}">
							<span class="menu-trigger-wrapper"></span>
						</a>

						<div class="desktop-menu-container visible-lg-block">
							<f:render partial="Page/Navigation" section="Menu" arguments="{class: 'menu-desktop'}"></f:render>
						</div>
					</div>
				</header>
				<nav id="main-menu" class="hidden-lg">
					<a class="close-menu clearfix">
						<span class="pull-left"><v:l>header.close_menu</v:l></span>
						<span class="pull-right icon-close"></span>
					</a>
					<f:render partial="Page/Navigation" section="Menu"></f:render>
					<f:if condition="{settings.enableFeLogin}">
						<ul>
							<li class="sub account">
								<a href="#my-bourdon" title="Kontakt" class="sub"><v:l>header.my_bourdon</v:l></a>
								<ul class="lvl-1">
									<f:security.ifAuthenticated>
										<f:then>
											<v:page.menu pageUid="{settings.memberAreaPageUid}">
												<f:for each="{menu}" as="subPage">
													<li>
														<f:link.page pageUid="{subPage.uid}">{subPage.title}</f:link.page>
													</li>
												</f:for>
												<li><f:link.page pageUid="{page.uid}"  additionalParams="{logintype: 'logout'}"><v:l>general.logout</v:l></f:link.page></li>
											</v:page.menu>
										</f:then>
										<f:else>
											<div class="login-form clearfix">
												<f:form pageUid="{settings.memberAreaPageUid}">
													<div class="form-group">
														<label for="user"><v:l>general.username</v:l>:</label>
														<input type="text" class="form-control" id="user" name="user">
													</div>
													<div class="form-group">
														<label for="pass"><v:l>general.password</v:l>:</label>
														<input type="password" name="pass" class="form-control" id="pass" data-rsa-encryption="">
													</div>

													<div class="felogin-hidden">
														<input type="hidden" name="logintype" value="login">
														<input type="hidden" name="pid" value="{settings.userStorage}">
														<input type="hidden" name="redirect_url" value="">
														<input type="hidden" name="tx_felogin_pi1[noredirect]" value="0">
													</div>
													<div class="form-group form-actions pull-left">
														<button type="submit" class="btn btn-orange"><v:l>general.login</v:l></button>
													</div>
												</f:form>
											</div>
										</f:else>
									</f:security.ifAuthenticated>
								</ul>
							</li>
						</ul>
					</f:if>
				</nav>
			</div>
		</f:section>

	</body>
</html>
