<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<head>
    <title>Partials: Page/Navigation</title>
</head>
<body>
<f:section name="Menu">
    <v:page.menu levels="2" expandAll="true">
        <ul {f:if(condition:class, then:'class="{class->f:format.raw()}"', else: '')}>
            <f:for each="{menu}" as="page">
                <li class="{page.class}">
                    <f:render section="PageLink" arguments="{page: page}"></f:render>
                    <f:if condition="{page.hasSubPages}">
                        <v:page.menu pageUid="{page.uid}" as="subMenu">
                            <ul class="lvl-1">
                                <f:for each="{subMenu}" as="subPage">
                                    <li class="{subPage.class}">
                                        <f:render section="PageLink" arguments="{page: subPage}"></f:render>
                                    </li>
                                </f:for>
                            </ul>
                        </v:page.menu>
                    </f:if>
                </li>
            </f:for>
            <li class="language-menu-lg visible-lg">
                <div class="dropdown">
                    <v:page.languageMenu hideNotTranslated="true" as="languages">
                        <f:if condition="{languages -> f:count()} > 1">
                            <f:then>
                                <f:for each="{languages}" as="language">
                                    <f:if condition="{language.current}">
                                        <button id="languageDropdown" type="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            &nbsp;
                                            {language.label}
                                            <span class="caret"></span>
                                        </button>
                                    </f:if>
                                </f:for>
                                <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                                    <f:for each="{languages}" as="language" key="langId">
                                        <f:for each="{v:iterator.explode(content: settings.allowedLang, glue: ',')}" as="allowedLanguage">
                                            <f:if condition="{langId} == {allowedLanguage}">
                                                <f:if condition="{language.current}">
                                                    <f:else>
                                                        <f:if condition="{language.inactive}">
                                                            <f:else>
                                                                <li>
                                                                    <a href="{language.url -> f:format.raw()}">
                                                                        {language.label}
                                                                    </a>
                                                                </li>
                                                            </f:else>
                                                        </f:if>
                                                    </f:else>
                                                </f:if>
                                            </f:if>
                                        </f:for>
                                    </f:for>
                                </ul>
                            </f:then>
                            <f:else>
                                <span></span>
                            </f:else>
                        </f:if>
                    </v:page.languageMenu>
                </div>
            </li>
            <li class="language-menu-md hidden-lg">
                <v:page.languageMenu as="languages">
                    <f:for each="{languages}" as="language">
                        <f:if condition="{language.current}">
                            <f:else>
                                <f:if condition="{language.inactive}">
                                    <f:else>
                                        <a href="{language.url -> f:format.raw()}">
                                            &nbsp;
                                            {language.label}
                                        </a>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:for>
                </v:page.languageMenu>
            </li>
        </ul>
    </v:page.menu>
</f:section>

<f:section name="PageLink">
    <f:if condition="{page.nav_title}">
        <f:then>{page.nav_title->v:variable.set(name: 'title')}</f:then>
        <f:else>{page.title->v:variable.set(name: 'title')}</f:else>
    </f:if>
    <f:if condition="{page.url}">
        <f:then>
            <f:if condition="{page.urltype} == 5">
                <f:then>
                    <a {page.url->f:format.raw()} title="{title -> f:format.htmlentitiesDecode()}">{title ->
                        f:format.htmlentitiesDecode()</a>
                </f:then>
                <f:else>
                    <a href="{page.url->f:format.raw()}" title="{title -> f:format.htmlentitiesDecode()}">{title ->
                        f:format.htmlentitiesDecode()}</a>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{page.uid} == 445">
                <f:then>
                    <a href="#" title="{title -> f:format.htmlentitiesDecode()}" data-open-target="#contact-overlay">{title ->
                        f:format.htmlentitiesDecode()}</a>
                </f:then>
                <f:else>
                    <f:link.page pageUid="{page.uid}" class="{page.class}" title="{title -> f:format.htmlentitiesDecode()}">
                        {title -> f:format.htmlentitiesDecode()}
                    </f:link.page>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>
</body>
</html>

