<div xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />
<f:section name="Main">
	<script type="text/javascript">
		var CONFIGURATOR_RECORD = {configuratorRecord -> f:format.raw()};
	</script>

	<f:comment><!-- RENDER THE HEAD (image, buttons, etc.) --></f:comment>
	<f:render partial="CsView/ProductDetailsHead" section="Main" arguments="{_all}" />

	<f:comment><!-- IF A CONFIGURATOR IS AVAILABLE, RENDER IT --></f:comment>
	<f:if condition="{record.sapId}">
		<v:render.request vendorName="Baumer" action="configurator" controller="Encoway" extensionName="Baumer" arguments="{csViewRecord: record}" />
	</f:if>

	<f:comment><!-- ASSIGN THE PANES --></f:comment>
	<v:variable.set name="techdata" value="{v:variable.get(useRawKeys:1, name: 'record.data.GroupedAttributes.{settings.configurator.attributes.techdata}')}" />
	<v:variable.set name="downloads" value="{v:variable.get(useRawKeys:1, name: 'record.data.GroupedAttributes.{settings.configurator.attributes.downloads}')}" />
	<v:variable.set name="accessories" value="{v:variable.get(useRawKeys:1, name: 'record.data.GroupedAttributes.{settings.configurator.attributes.accessories}.0')}" />

	<f:comment><!-- RENDER THE TABS --></f:comment>
	<f:render partial="CsView/ProductDetailsTable" section="Main" arguments="{techdata: techdata, downloads: downloads, accessories: accessories}" />

</f:section>
</div>
