<div xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />
<f:section name="Main">
	<f:if condition="{selectorConfig}">
		<script>
			var SELECTOR_CONFIG = {selectorConfig -> f:format.raw()};
			var CS_ATTRIBUTES = {csAttributes -> f:format.raw()};
			var CS_VIEW_ID = '{view.contentServId}';
			var CS_VIEW_LABEL = '{view.label}';
			var CS_SELECTION = {view.productIds -> v:format.json.encode()};
		</script>
	</f:if>
	<div data-ng-controller="SelectorCtrl">
		<div class="productfilter">
			<div class="row">
				<div class="headerWrap col-md-9">
					<h1><v:l>productfinder</v:l></h1>
					<h2 data-ng-cloak>{view.data.Label}</h2>
				</div>
			</div>

			<div data-ng-cloak data-ng-if="!selectorIsAvailable">
				<h1><v:l>csview.selector_not_available</v:l></h1>
			</div>

			<f:render partial="CsView/SelectorFacets" section="Main" arguments="{_all}" />

		</div>

		<div class="toolbar clearfix">
			<div class="productcount pull-left" data-ng-cloak>
				<v:l>productfinder.results_found</v:l>
			</div>
			<div class="toolbar-options">
				<div class="view" data-ng-hide="isSmallDevice">
					<v:l>productfinder.view</v:l>
					<a data-ng-click="switchView('list')" title="{v:l(key:'productfinder.view.list')}" data-ng-class="{clickable: displayView=='grid'}">
						<i class="fa fa-bars" data-ng-class="{active: displayView=='list'}"></i>
					</a>
					<a data-ng-click="switchView('grid')" title="{v:l(key:'productfinder.view.gallery')}" data-ng-class="{clickable: displayView=='list'}">
						<i class="fa fa-th" data-ng-class="{active: displayView=='grid'}"></i>
					</a>
				</div>
				<div class="perpage">
					<v:l>productfinder.products_per_page</v:l>
					<select class="selectpicker" data-ng-change="search()" data-ng-model="itemsPerPage" name="productsperpage" data-ng-init="itemsPerPage = 12">
						<option>6</option>
						<option>12</option>
						<option>48</option>
						<option>96</option>
					</select>
				</div>
			</div>
		</div>

		<f:comment><!-- ===== LIST VIEW ===== --></f:comment>
		<f:render partial="CsView/SelectorList" section="Main" arguments="{_all}" />

		<f:comment><!-- ===== GRID VIEW ===== --></f:comment>
		<f:render partial="CsView/SelectorGrid" section="Main" arguments="{_all}" />

		<div class="text-center">
			<div data-pagination data-ng-hide="totalItems <= itemsPerPage" data-ng-click="search()" data-items-per-page="itemsPerPage" data-boundary-links="true" data-total-items="totalItems" data-ng-model="currentPage"></div>
		</div>
	</div>
</f:section>

</div>
