@import "twbs-override/variables";

$container-width: 960px;

.lt-ie9 {
	.col-md-3, .col-md-9, .col-md-6, .col-md-4, .col-md-5, .col-md-7, .col-md-8,
	.col-sm-3, .col-sm-9, .col-sm-6, .col-sm-4, .col-sm-5, .col-sm-7, .col-sm-8 {
		float: left;
	}
	.col-md-3, .col-sm-3 {
		width: 25%;
	}
	.col-md-4, .col-sm-4 {
		width: 33.33333333%;
	}
	.col-md-5, .col-sm-5 {
		width: 30%;
	}
	.col-md-6, .col-sm-6 {
		width: 50%;
	}
	.col-md-8, .col-sm-8 {
		width: 66.66666667%;
	}
	.col-md-7, .col-sm-7 {
		width: 70%;
	}
	.col-md-9, .col-sm-9 {
		width: 75%;
	}
	.container {
		width: $container-width !important;
	}

	#header {
		.row {
			.logo-box {
				float: left;
				width: 222px;
			}
			.nav-service {
				float: right;
				width: 730px;
			}
		}
	}

	.nav-wrapper {
		border: 1px solid $border-color;
		position: relative;
		.col-md-2 {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.nav_main {
		> li {
			&.hassub {
				> ul {
					border: 1px solid $border-color;
					&.subnav {
						border-top: 0;
					}
					&:before {
						content: '';
						display: block;
						height: 6px;
						background-color: $blue;
						position: relative;
						left: 0;
					}
				}
				&.sub-col-1 {
					ul:before {
						left: -1px;
					}
				}
				&.sub-col-4, &.sub-articles {
					.row {
						.col {
							float: left;
							width: 25%;
						}
					}
				}
			}
			&.active, &.sfhover {
				ul {
					left: -1px;
				}
			}
		}
	}

	/*
	   * table style for ie8
	   */
	.table-striped {
		tbody {
			tr {
				&.odd {
					background-color: $table-bg-accent;
				}
			}
		}
	}

	.toolbar {
		.toolbar-options {
			.sortby, .order {
				.bootstrap-select {
					width: 120px;
				}
			}
			.perpage {
				.bootstrap-select {
					display: inline-block;
					width: 40px;
				}
			}
		}
	}

	#header {
		.nav-service {
			.nav {
				li {
					a {
						.fa {
							display: inline-block;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}

	.fa, .link-arrow-left:before,
	.filterCatWrapper .filterCatHeader a:before,
	.filterCatWrapper .checkbox.checked .check:before {
		font-family: FontAwesome !important;
	}

	.filterCatWrapper .checkbox.checked .check:before {
		top: 0;
	}

	#footer {
		.specials {
			nav {
				ul {
					li {
						a {
							&:before {
								font-family: FontAwesome !important;
							}
						}
					}
				}
			}
		}
		.box-top {
			.row-bottom {
				.the-content {
					nav {
						ul {
							li {
								a {
									&:before {
										font-family: FontAwesome !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.home {
		.section {
			article {
				figure {
					.fa {
						background-color: #89b4d5;
						&.bg-green {
							background-color: $color-atlantis;
						}
					}
				}
			}
		}
	}

	.alert {
		padding-left: 15px;
		.fa {
			display: none;
		}
	}

	.checkbox, .customers .newsletter-message {
		input {
			visibility: visible;
			margin-left: 0;
			position: inherit;
		}
		label {
			&:before, &:after {
				display: none;
			}
		}
	}

	.customers .newsletter-message {
		label {
			display: inline-block;
			padding: 0;
			background: none;
		}
	}

}




