@import "twbs-override/variables";
// Compass + Bootstrap
@import "compass/css3";

$icon-font-path: "../../Private/Libraries/bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap";

// Font awesome
$fa-font-path: "../../Private/Libraries/font-awesome/fonts";
@import "../../../../../../../vendor/components/font-awesome/scss/font-awesome";

// Default stylesheet
@import "includes/default";

// Own Styles
@import "includes/mixins";
@import "includes/font-face";
@import "includes/buttons";
@import "includes/form";
@import "includes/dialog";

@import "includes/footer";
@import "includes/header";
@import "includes/navmain";
@import "includes/subnavi";
@import "includes/pl-widget";
@import "includes/distributor-map";

// The old stuff follows
#row-content {
	background-color: #fff;
	padding: 5px 15px 0 15px;
	box-shadow: 5px 5px 10px 0 #555;
	margin-bottom: 80px;
}

/**
 * Table
 */
th {
	&.sorting:after, &.sorting_asc:after, &.sorting_desc:after {
		font-family: FontAwesome;
		font-weight: normal;
		position: absolute;
		padding-left: 5px;
	}
	&.sorting:after {
		content: '\f0dc';
	}
	&.sorting_asc:after {
		content: '\f0de';
	}
	&.sorting_desc:after {
		content: '\f0dd';
	}
}

/**
 * Loading gear animation
 */
.fa-spin.fa-spin-reverse {
	-moz-animation-direction: reverse;
	-o-animation-direction: reverse;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

.gear-animation {
	position: relative;
	width: 25%;
	margin: auto;
	i {
		display: inline-block;
		font-size: 5em;
		text-align: center;
		position: relative;
		top: -0.5em;
		left: 0;
		-moz-animation-duration: 5s;
		-o-animation-duration: 5s;
		-webkit-animation-duration: 5s;
		animation-duration: 5s;
	}
	i:nth-child(2) {
		font-size: 8em;
		top: 0.4em;
		left: -0.3em;
	}
	i:nth-child(3) {
		font-size: 6em;
		left: -0.6em;
		top: -0.2em;
	}
}

.configurator-unavailable {
	position: relative;
	width: 25%;
	margin: auto;
	i {
		font-size: 7em;
		position: relative;
	}
	i:first-child {
		top: 0.5em;
		left: 0.3em;
	}
	i:nth-child(2) {
		font-size: 15em;
		left: 0;
		position: absolute;
	}
}

.tablesorter,
.tablesorter-pager {
	thead > tr > th {
		position: relative;
		padding-right: 25px;
		&:after {
			font-family: "FontAwesome";
			position: absolute;
			right: 10px;
			top: 50%;
			font-size: 12px;
			content: "\f0dc";
			margin-top: -8px;
		}
		&.headerSortDown:after {
			content: "\f0dd";
		}
		&.headerSortUp:after {
			content: "\f0de";
		}
	}
}

.force-clear {
  clear: both;
}
